body {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    direction: ltr;
}

.select2-container--disabled .select2-selection__arrow {
    display: none;
}

#select2-account-number-container {
    line-height: 2.45;
}

.btn.yellow > i {
    padding-left: 10px;
}

.product-comment-box {
    overflow: hidden;
    max-height: 54px;
    line-height: 18px;
}

.product-comment-box:before {
    content: "";
    float: left;
    width: 5px;
    height: 100%;
}

.product-comment-box > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.product-comment-box:after {
    content: "\02026";
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -18px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

.statistic-block {
    margin-top: 15px;
}

.statistic-block .statistic-cell {
    position: relative;
    margin-bottom: 15px;
    padding: 0;
    color: #fff;
}

.statistic-block .statistic-cell .stat-value {
    padding: 15px 20px 5px;
    text-align: right;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 300;
}

.statistic-block .statistic-cell .stat-label {
    padding: 0 20px;
    text-align: right;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 300;
}

.statistic-block .statistic-cell .stat-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    /*opacity: 0.9;*/
}

.statistic-block .statistic-cell > i {
    position: absolute;
    bottom: 2px;
    left: -19px;
    color: #fff;
    font-size: 110px;
    line-height: 110px;
    opacity: 0.1;
}

.discount-block-product {
    display: block;
    position: initial;
    float: right;
    padding-right: 0;
}

.discount-block-product .mt-element-ribbon {
    background: #e9edef !important;
    position: relative;
}

.discount-block-product .mt-element-ribbon .ribbon {
    background-color: #ed6b75;
    color: #fff;
    left: -10px;
    padding: .5em 1em;
    z-index: 5;
    float: left;
    margin: 10px 0 0 -2px;
    clear: left;
    position: relative;
}

.discount-block-product .mt-element-ribbon .ribbon .ribbon-sub {
    background-color: #ed6b75;
    color: #4f0a0f;
    z-index: -1;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.discount-block-product .mt-element-ribbon .ribbon-content {
    margin: 0;
    padding: 25px;
    clear: both;
    color: #333;
    font-size: 14px;
}

.discount-block-product .mt-element-ribbon .ribbon > .ribbon-sub.ribbon-clip:before {
    border-width: 0 10px 10px 0;
    border-right-color: #222 !important;
    left: 0;
}

.discount-block-product .mt-element-ribbon .ribbon > .ribbon-sub.ribbon-clip:after, .mt-element-ribbon .ribbon > .ribbon-sub.ribbon-clip:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent !important;
    bottom: -10px;
}

.discount-block-product .mt-element-ribbon .ribbon.ribbon-color-danger > .ribbon-sub:after {
    border-color: #a91520 #ed6b75;
}

.discount-block-product .mt-element-ribbon .ribbon>.ribbon-sub.ribbon-clip:after, .mt-element-ribbon .ribbon>.ribbon-sub.ribbon-clip:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent !important;
    bottom: -10px;
}

.discount-block-product .mt-element-ribbon .ribbon>.ribbon-sub:after {
    border-color: #62748f #bac3d0;
}

.discount-block-product .mt-element-ribbon .ribbon.ribbon-color-danger:after {
    border-color: #e73d4a;
}

.discount-block-product .mt-element-ribbon .ribbon.ribbon-border-hor:after {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0;
    right: 0;
}

.discount-block-product .mt-element-ribbon .ribbon:after {
    border-color: #62748f;
}

#table-for-order-document td {
    vertical-align: middle;
}