#store-form-container {
    color: #333;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
#store-form-container div,
#store-form-container form,
#store-form-container input,
#store-form-container button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-right: 0;
}
#store-form-container .help-block {
    margin: 3px 0;
    font-size: 12px;
}
#store-form-container .has-error .help-block {
    color: #a94442;
}
#store-form-container input {
    border: 1px solid #cecece;
    padding: 8px 12px;
}
#store-form-container button {
    color: #fff;
    background-color: #0076A4;
    padding: 8px 12px;
    cursor: pointer;
}
#store-form-container a {
    color: #333; font-size: 13px;
    font-style: oblique;
    text-decoration: underline;
}