/**
 * Scrollbar styling
 */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border: 3px solid #ffffff;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

/* fix layout */
.page-grid {
    padding-bottom: 0;
}
.page-content {
    padding-bottom: 40px;
}
.header:before {
    right: 0;
}
h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.2;
}
h2 {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.2;
}
h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
}
h4 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
}
h5 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2;
}
h6 {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.2;
}
/* Fix fields height */
.form-control,
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    min-height: 4rem;
}
/* Fix Chrome Buttons */
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: inherit;
}
.ui-state-hover {
    background: none!important;
}

/* header logo */
.header-logo {
    margin-top:3px;
}
.header-logo > .logo-image {
    width: 5.5rem;
}
.header-logo > .logo-txt {
    margin-top: -2px;
    font-weight: 400;
    font-size:20px;
    line-height: 20px;
    padding-left: 10px;
}

body.modal-open {
  overflow: visible !important;
}
header .dropdown-popup_companys .dropdown-popup-list {
    max-height: 365px;
    overflow-y: auto;
    overflow-x: hidden;
}
header .dropdown-popup_companys .dropdown-popup-link .company-name-img + * {
    overflow: hidden;
    text-overflow: ellipsis;
}
button:focus {
    outline: 0;
}
a.sidebar-menu-btn:hover {
    text-decoration: none;
}
.sidebar-menu li.active .sidebar-menu-btn,
.sidebar-menu li.active > a {
    color:#4679AE;
    font-weight:400
}
.sidebar-menu .svg-icon {
    fill: currentColor;
}

.select2-container {
    border-radius: 4px !important;
}
.select2-dropdown {
    z-index: 99999;
}
.select2-dropdown {
    border: 1px solid #e2e5eb!important;
    border-radius: 4px!important;
}
.select2-container--krajee-bs4 .select2-results__option[aria-selected] {
    color: #001424 !important;
}
.select2-container--krajee-bs4 .select2-results__option--highlighted[aria-selected] {
    color: #001424 !important;
    background: #f2f3f7!important;
}
.select2-container--krajee-bs4 .select2-results__option[aria-selected="true"] {
    color: #001424;
    background-color: #f2f3f7!important;
}
/* select2 */
.select2-selection {
    border-radius: 4px!important;
}
.select2-container .select2-selection--single {
    border: 2px solid #e2e5eb;
    padding: 10px 24px 10px 10px;
    font-size: 16px;
}

.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow {
    border-left: 0 !important;
    height: 100%;
    width: 30px;
    background-image: url(/images/icon_dropdown.png) !important;
    background-repeat: no-repeat !important;
    background-position: center center;
}
.select2-container--krajee-bs4.select2-container--open .select2-selection--single .select2-selection__arrow {
    opacity: 0;
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow b {
    display: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    color: #001424;
    line-height: 1.2;
}
.select2-container--krajee-bs4 .select2-results > .select2-results__options {
    max-height: 300px;
    overflow-y: auto;
}
.select2-search--dropdown {
    padding: 12px;
}
.select2-container--krajee-bs4 .select2-search--dropdown .select2-search__field {
    height: 40px;
    padding: 7px;
    background: #fff url('search.png') right 10px top 11px no-repeat;
    border: 2px solid #e2e5eb;
    border-radius: 4px!important;
}
.select2-container .select2-selection--single .select2-selection__clear {
    position: absolute;
}
.select2-container--krajee-bs4.select2-container--open:not(.select2-container--disabled) .select2-selection,
.select2-container--krajee-bs4:not(.select2-container--disabled) .select2-selection:focus {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    border: 2px solid #fff;
    transition: none;
}
.select2-container--krajee-bs4:not(.select2-container--disabled) .select2-dropdown {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18) !important;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18) !important;
    transition: none;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 2px solid #e2e5eb;
    padding-top: 3px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #f2f3f7!important;
    color: #001424;
}

.modal-close.close.svg {
    width:20px;
    height:20px;
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 47.971 47.971"><path d="M28.228 23.986L47.092 5.122a2.998 2.998 0 0 0 0-4.242 2.998 2.998 0 0 0-4.242 0L23.986 19.744 5.121.88a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l18.865 18.864L.879 42.85a2.998 2.998 0 1 0 4.242 4.241l18.865-18.864L42.85 47.091c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879a2.998 2.998 0 0 0 0-4.242L28.228 23.986z"></path></svg>');
    background-size: cover;
    fill: currentColor;
}
/* Buttons SVG */
.button-regular > .svg {
    fill: #001424;
    background-repeat: no-repeat;
    background-position: 1px;
    padding:1px 1px 1px 25px;
    display: inline-block;
}
.svg.svg-check {
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:rgb(0,20,36)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 13 10"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.541 9.517a1.753 1.753 0 0 1-2.416 0L.5 6.989a1.608 1.608 0 0 1 0-2.33 1.756 1.756 0 0 1 2.416 0l1.417 1.365 5.75-5.541a1.753 1.753 0 0 1 2.416 0 1.603 1.603 0 0 1 0 2.329L5.54 9.517z"></path></svg>');
}
.svg.svg-clock {
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:rgb(0,20,36)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 14 16"><path d="M9.16 0v.938h-.913v1.078c.868.18 1.69.529 2.427 1.033l1.388-1.426L14 3.613l-1.388 1.425a7.147 7.147 0 0 1 1.142 3.9c0 1.886-.716 3.66-2.015 4.994A6.742 6.742 0 0 1 6.877 16a6.742 6.742 0 0 1-4.863-2.068A7.113 7.113 0 0 1 0 8.938a7.11 7.11 0 0 1 2.014-4.993 6.778 6.778 0 0 1 3.492-1.93V.938h-.914V0h4.569zM6.878 2.814C3.588 2.814.913 5.56.913 8.938s2.675 6.124 5.964 6.124c3.288 0 5.964-2.747 5.964-6.124s-2.676-6.124-5.964-6.124zm0 .938c2.785 0 5.05 2.326 5.05 5.186s-2.265 5.187-5.05 5.187c-2.785 0-5.051-2.327-5.051-5.187 0-2.86 2.266-5.186 5.05-5.186zm0 .937c-2.282 0-4.138 1.906-4.138 4.25 0 2.342 1.856 4.248 4.138 4.248 2.281 0 4.137-1.906 4.138-4.249 0-2.343-1.857-4.25-4.138-4.25zm.456 1.251v2.53h2.463v.937H6.42V5.94h.913zm4.73-2.991l-.658.675a7.092 7.092 0 0 1 .647.664l.657-.675-.647-.664zM7.332.938H6.42v.954a6.942 6.942 0 0 1 .914 0V.938z"></path></svg>');
}
.svg.svg-cancel {
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:rgb(0,20,36)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 47.971 47.971"><path d="M28.228 23.986L47.092 5.122a2.998 2.998 0 0 0 0-4.242 2.998 2.998 0 0 0-4.242 0L23.986 19.744 5.121.88a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l18.865 18.864L.879 42.85a2.998 2.998 0 1 0 4.242 4.241l18.865-18.864L42.85 47.091c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879a2.998 2.998 0 0 0 0-4.242L28.228 23.986z"></path></svg>');
}
.button-regular.button-hover-content-red:hover > .svg.svg-check {
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:rgb(201,0,0)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 13 10"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.541 9.517a1.753 1.753 0 0 1-2.416 0L.5 6.989a1.608 1.608 0 0 1 0-2.33 1.756 1.756 0 0 1 2.416 0l1.417 1.365 5.75-5.541a1.753 1.753 0 0 1 2.416 0 1.603 1.603 0 0 1 0 2.329L5.54 9.517z"></path></svg>');
}
.button-hover-grey:hover {
    color: #001424;
}
.button-grey {
    background-color: #f2f3f7;
}



/* Alert */
div.alert.alert-danger {
   margin-bottom:20px;
}

.date-current.date-picker-wrap {
    padding:0;
    position: relative;
    background-color: #fff;
}
.radio-txt .date-picker-wrap .form-control {
    width: 136px;
    height: 40px;
    padding: 11px 30px 9px 10px!important;
    font-weight: 400;
    text-align: left;
}
.date-current.date-picker-wrap .date-picker-icon {
    top: 10px;
    right: 14px;
}

.select2-results__option.add-modal-produc-new.red {
    color: #4679AE;
}
/* Add Contractor Form, first row empty */
#select2-contractor-companytypeid-results .select2-results__option:first-child,
/* Add Agreement, first row empty */
#select2-upd-agreement-results .select2-results__option:first-child,
#select2-packinglist-agreement-results .select2-results__option:first-child,
#select2-act-agreement-results .select2-results__option:first-child,
#select2-invoice-agreement-results .select2-results__option:first-child {
    min-height:52px;
}
#select2-upd-agreement-results .select2-results__option:nth-child(2),
#select2-packinglist-agreement-results .select2-results__option:nth-child(2),
#select2-act-agreement-results .select2-results__option:nth-child(2),
#select2-invoice-agreement-results .select2-results__option:nth-child(2) {
    color: #4679AE;
    font-weight: bold;
}

/* Add Contractor */
#select2-invoicefacture-consignor_id-results .select2-results__option:first-child,
#select2-invoicefacture-consignee_id-results .select2-results__option:first-child,
#select2-upd-consignor_id-results .select2-results__option:first-child,
#select2-upd-consignee_id-results .select2-results__option:first-child,
#select2-packinglist-consignee_id-results .select2-results__option:first-child,
#select2-packinglist-consignor_id-results .select2-results__option:first-child {
    color: #4679AE;
    font-weight: bold;
}

.select2-results__option > .svg-icon {
    margin-right: 7px;
    margin-top: -1px;
}

.select2-container--krajee .select2-results__option[id$="add-agreement-template"] {
    color: #4679AE;
    font-weight: bold;
}

.product-search-dropdown .select2-results__message {
    display: none;
}
.product-title-clear {
    display: none;
    position: absolute;
    top: 16px;
    right: 20px;
}
#show_example_popup .modal-dialog {
    max-width: 640px;
}
p.help-block {
    margin-bottom: 0;
}
#activate-promo-code-form .help-block,
#send .help-block,
#send-visit-card .help-block,
#paid .help-block,
#product-nds-modal .help-block,
#many-price-modal .help-block,
.help-block-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
#product-production_type > .radio-inline {
    padding-right: 20px;
}
.radio-inline.m-r-10 {
    margin-right: 10px;
}
.selectedDopColumns {
    display: none;
}

#autoinvoiceform-send_to > div.checker {
    position: absolute;
}
#autoinvoiceform-send_to > label.send_to {
    display: block;
    width: 100%;
    padding-left: 30px;
}

/* FIX forms.less */
.checkbox label {padding-left:0;}
.checkbox {margin-top:0;margin-bottom:0;}
/* FIX label.less */
.label {padding:0;font-weight:400;margin-bottom:6px;display:inline-block;}
/* FIX clearfix.less */
.row::before, .row::after {
    content: none;
}

table thead th a.th-title-name {
    color: #9198a0;
    text-decoration: none;
}

.dropdown-search-toggle {
    position: relative;
}
.data-filter-icon-cell {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15px;
    display: table-cell;
    vertical-align: middle;
}
.table-style thead th .dropdown-toggle:after {
    display: none;
}
.check-condition .dropdown-toggle::after,
.check-condition .dropup .dropdown-toggle::after {
    content: none;
}
.check-condition .dropdown-toggle svg.svg-icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Fix uniform elements */
#invoice-form .checkbox_label_left {
    padding-right: 8px;
}
#invoice-form #moreDetails .col-xl-3 .checker {
    position: absolute;
    right: 0;
}
#currency-rate-box .radio {
    position: absolute;
    top: 5px;
}
#currency-rate-box #uniform-radio_currency_rate_ondate.radio {
    top: 13px;
}
#currency-rate-box .radio-txt {
    padding-left: 30px;
}

.button-red_small {
    padding: 13px 15px;
}
.product-unit-name {
    max-width: 120px;
}
/* For <label> */
.block {
    display: block;
}
/* For <radio> */
.inline-block {
    display: inline-block;
}
.radio-label {
    padding-left:0;
}
.scroll-table {
    overflow-x: auto;
}
.scroll-table > .table-wrap {
    overflow:visible;
}

/* Need From BS3 */
.hidden {display:none!important;}

*.no-after:after {content:none !important;}

.fade.in,
.alert.fade.in {
    opacity: 1;
}
.alert .close {
    margin-top:-5px;
}
.little_logo_bank {
    position: absolute;
    right: -35px;
    top: 29px;
}

#moreDetails .form-group .checkbox-label {
    width: 100%;
}
#products_in_order table.table td:first-child {
    padding: 15px;
}
.no-overflow {
    overflow: hidden!important;
}


#product-table-invoice .dropdown-menu::before {
    left: 50%;
}
#product-table-invoice .dropdown-menu::before {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-bottom: -9px;
    background-color: #fff;
    --webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    --box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.form-control[disabled] {
    background-color: #e2e5eb;
}

.popup-dropdown_storage .dropdown-menu {
    width: auto;
}
.modal .button-regular, .modal .button-clr {
    margin-bottom:0;
}
#invoicesendform-sendto_tagsinput {
    min-height: 44px!important;
    height: auto !important;
    display: block;
    padding: 10px 15px;
    padding-right: 40px;
    color: #001424;
    line-height: 1;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 2px #e2e5eb;
    background-color: #ffffff;
}
#invoicesendform-sendto_tagsinput span.tag {
    background: #dbdbdb;
    border: 1px solid transparent;
    border-radius: 50px !important;
    color: #666666;
    font-size: 16px;
}
#invoicesendform-sendto_tagsinput span.tag a {
    color: #666666;
}
#invoicesendform-sendto_addTag {
    float: none;
    clear: both;
}
#invoicesendform-sendto_tag {
    display: block;
    border: 0;
    padding-top: 7px;
    margin: 0;
    font-size: 14px;
    width: 100% !important;
}
.field-invoicesendform-sendto {
    position: relative;
}
.field-invoicesendform-sendto .form-control-shevron {
    cursor: pointer;
    top: 48px;
}
.field-invoicesendform-sendfrom .form-control[disabled] {
    opacity: .6;
    border: solid 2px #e2e5eb;
    background-color: #ffffff;
}

/* Filters */
#cashemoneysearch-is_accounting > label,
#cashordersearch-is_accounting > label,
#cashordersearch-reason_id > label,
#cashordersearch-contractor_id > label,
#cashordersearch-flow_type > label,
#cashemoneysearch-reason_id > label,
#cashemoneysearch-contractor_id > label,
#cashemoneysearch-flow_type > label,
#cashbanksearch-reason_id > label,
#cashbanksearch-contractor_id > label,
#cashbanksearch-flow_type > label {
    display:block;
}
#contractorsearch-activitystatus > label {
    display:block;
}
.cash-filter .dropdown-drop a >span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-settings .column > a.button-regular {
    margin-bottom:10px;
}

.cash-bank-flows-index .table td:first-child > .checker,
.cash-bank-flows-index .table th:first-child > .checker {
    margin-right: 0;
}
span.close[data-dismiss] {
    cursor: pointer;
}
/* fix bankink modals */
.wrap_count .modal .row {
    margin-right: -15px;
    margin-left: -15px;
}
.wrap_count .modal [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}
#vidimus-ajax-form {
    margin-top: 5px;
}
#vidimus-ajax-form .file-name {
    float:left;
}
#vidimus-ajax-form .delete-file {
    float: left;
    display: block;
    margin-left: 10px;
    padding-top: 2px;
}
#banking-module-modal .vidimus-error {
    background-color: rgba(249, 87, 33, 0.1);
    border: none;
    border-radius: 8px;
    color: #001424;
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#banking-module-modal .vidimus-hr {
    margin:0;
}
/* sber */
#sberbank-choose-token .btn-group {
    border: 1px solid #e2e5eb;
    border-radius: 4px;
}
.btn.sberbank-token {
    width: 49px;
    background-color: #4679AE;
    color: #fff;
}
.btn.sberbank-web {
    width: 49px;
    background-color: #fff;
}
.btn.sberbank-token:hover {
    background-color: #335A82;
}
.btn.sberbank-web:hover {
    background-color: #e2e5eb;
}
.w-130 {
    width:130px;
}
/*.btn {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 10px 11px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}*/
.button-regular,
.btn {
    padding: 1.2rem 1rem 1.2rem;
    font-size: 1.4rem;
    line-height: 1.2;
    -webkit-border-radius: 0.4rem;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    font-weight: bold;
}
.color-white,
.color-white:active,
.color-white:focus {
    color: white;
}
.cash-bank-need-clarify {
    color: #e30611;
}
.cash-bank-need-clarify:hover {
    color: #d20611;
}
.button-regular:not([disabled]) {
    cursor:pointer;
}
.hide {
    display: none;
}
.error-summary {
    color: #a94442;
    background-color: #f2dede;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
}
.out-upd_table tbody td:not(:first-child),
.in-upd_table tbody td:not(:first-child),
.out-invoice_facture_table tbody td,
.in-invoice_facture_table tbody td,
.out-packinglist_table tbody td:not(:first-child),
.in-packinglist_table tbody td:not(:first-child),
.in-act_table tbody td:not(:first-child),
.out-act_table tbody td:not(:first-child) {
    padding-left: 15px;
    padding-right: 15px;
}
.grid-view .table-count-list td {
    height: 50px;

}
.table-padding-15 tbody td {
    padding-left: 15px;
    padding-right: 15px;
}
.autoact-rule-box {
    padding-left: 30px;
}
.doc-history-modal .modal-footer {
    border: none;
    justify-content: flex-start;
}
/* fix modal overflow */
.theme-kub.modal-open .header {
    z-index: 999;
}
/* scans */
.upload-area .file-list > .file,
.document-file-scan-container .document-file-list > .file,
.document-file-scan-container .document-scan-list > .scan {
    position: relative;
    margin-bottom: 10px;
    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.upload-area span.icon-close,
.document-file-scan-container span.icon-close {
    cursor: pointer;
    margin-left: 25px;
}
.upload-area span.icon-clip,
.document-file-scan-container span.icon-clip {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
#contractor-status > label {
    margin-right: 10px;
}

#config_items_box label {
    margin-bottom: 0;
}
#config_items_box li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#config_items_box li:first-child {
    padding-top: 0;
}
.product-title-wide-cell {
    width: 250px;
}
td.col_product_group {
    min-width: 100px;
}
.contractor-index #config_items_box {
    width: 270px;
}
.pad0, .table-style tbody td.pad0 {
    padding:0;
}

/* swal */
.swal-button {
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 10px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #001424;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 2px #e2e5eb;
    background-color: #ffffff;
}
.swal-button--confirm:hover {
    background-color: #f2f3f7;
}
.swal-button:focus {
    box-shadow: none;
}
.tooltipster-box {
    border-radius: 4px;
}
.table-style a.link {
    cursor: pointer;
    color: #0097fd!important;
}
#rs-pjax-container th a {
    color: #9198a0!important;
}
.table-style a.link:hover {
    color: #0048aa!important;
}
.table-count-list tbody tr td:first-child {
    padding: 12px 10px;
}
#summary-container, .wrap.wrap_btns {
    margin-bottom:0!important;
}
.dropdown-menu {
    border-radius: 4px;
}
.nav-tabs .nav-link.active .svg-icon {
    color: #4679AE;
}
.dropdown-toggle::after {
    display: none;
}
.nav-tabs .nav-item.show .nav-link {
    color: #4679AE;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid #4679AE;
}
.button-regular.disabled,
.button-regular:disabled {
    background-color: #f2f3f7;
}
.button-regular.disabled:hover,
.button-regular:disabled:hover {
    color: #001424;
    cursor: not-allowed;
}
.button-regular_red.disabled,
.button-regular_red:disabled {
    background-color: #335A82;
    border-color: #335A82;
}
.button-regular_red.disabled:hover,
.button-regular_red:disabled:hover {
    color: #fff;
}
button.company-in-strict-mode,
button.company-in-strict-mode:hover {
    background-color: #f2f3f7;
    cursor: not-allowed;
}

/* First invoice steps */
.mt-element-step .row {
    margin: 0;
    color: #9198a0;
}
.mt-element-step .step-default .mt-step-col.invoice-step {
    padding: 5px;
}
.mt-element-step .step-default .mt-step-col.invoice-step > .col-12 {
    box-sizing: border-box;
    border: 1px solid #e2e5eb;
    border-radius: 4px;
    padding: 10px;
}

.mt-element-step .step-default .mt-step-number {
    font-size: 32px;
    display: inline-block;
    margin: 15px 0 5px 0;
}

.mt-element-step .step-default .mt-step-title {
    border-bottom: 2px solid #9198a0;
    text-transform: uppercase;
    font-size: 14px;
    --font-weight: 100;
    padding-bottom: 10px;
}
.mt-element-step .mt-step-content {
    font-size: 14px;
    padding-top: 15px;
    font-weight: 100;
}

.mt-element-step .step-default .done .mt-step-number {
    color: #00c19b !important;
}
.mt-element-step .step-default .mt-step-col.invoice-step.done > .col-12 {
    border: 1px solid #00c19b;
}
.mt-element-step .step-default .done .mt-step-title {
    border-bottom: 2px solid #00c19b;
}
.addLogoWrap {
    padding: 10px;
    border: 2px dotted #9198a0;
    text-align: center;
}
.addLogo {
    cursor: pointer;
}
.paymentorder-table select,
.paymentorder-table input[type=text] {
    padding: 0 3px;
}
.paymentorder-table input.form-control[type=text] {
    padding-right: 3px;
    background-image: none;
}
.paymentorder-table select.form-control {
    padding-right: 0 !important;
    background-image: none;
}
.paymentorder-table .select2-container .select2-selection--single {
    padding-left: 0;
}
.paymentorder-table .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 3px;
}
.paymentorder-table .va-t {
    vertical-align: top;
}
.paymentorder-table td {
    border: 1px solid black;
    padding: 5px 10px;
}
.paymentorder-view .paymentorder-table td {
    border: 1px solid black;
    padding: 2px 4px;
    font-size: 13px;
}
.paymentorder-table tr td.bor0-l {
    border-left: 0;
    padding-left: 0;
}
.paymentorder-table tr td.bor0-r {
    border-right: 0;
    padding-right: 0;
}
.paymentorder-table tr.bor0-t td,
.paymentorder-table tr td.bor0-t {
    border-top: 0;
}
.paymentorder-table tr.bor0-b td,
.paymentorder-table tr td.bor0-b {
    border-bottom: 0;
}
.bold {
    font-weight: bold;
}
.nowrap {
    white-space: nowrap;
}
.bor1-b {
    border-bottom: 1px solid black;
}
#xls-ajax-form .file-list .file-name,
#xls-ajax-form-2 .file-list .file-name {
    display: inline-block;
    margin-right: 10px;
}
#ofd-module-modal .upload-xls-button-2 {
    float: right;
    margin-left: 20px;
}
.add-to-invoice, .add-to-order {
    cursor: pointer;
}
.update-product table .total-row td {
    padding-top:15px;
}
.modal-header {
    border-bottom: 0;
}
/* Export */
#export-io_type_out_items > label,
#export-io_type_in_items > label,
#export-contractor_items > label,
#exportfiles-outitems > label,
#exportfiles-initems > label {
    padding-right: 10px;
}

.nav-finance .nav-tabs .nav-item.active .nav-link,
.menu-nav-tabs .nav-tabs .nav-item.active .nav-link {
    color: #4679AE;
    font-weight: 700;
    border-color: transparent;
    border-bottom-color: #4679AE;
    background-color: transparent;
}
.menu-nav-tabs .nav-tabs .nav-item.passed .svg-icon {
    color: #4679AE;
}
.nav-finance .nav-tabs .nav-item:first-child {
    padding-left:0;
}
.tax-robot-nav.nav-tabs {
    margin-left: -0.3rem;
    margin-right: 0;
}
.tax-robot-nav.nav-tabs .nav-item {
    padding-left: 0.3rem;
    padding-right: 0;
}
.tax-robot-nav.nav-tabs .nav-item .nav-link {
    display: block;
    margin: 0;
    padding: 0;
    height: 0.3rem;
    background-color: #b5b5b3;
    border-radius: 0;
}
.tax-robot-nav.nav-tabs .nav-item.active .nav-link {
    background-color: #b8e7c2;
}
.tax-robot-nav.nav-tabs .nav-item.passed .nav-link {
    background-color: #4679ae;
}
.date-picker.ico {
    padding-right: 30px;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="rgb(187, 193, 199)" d="M16.667 2.222h1.11c1.228 0 2.223.995 2.223 2.222v13.334A2.222 2.222 0 0 1 17.778 20H2.222A2.222 2.222 0 0 1 0 17.778V4.444c0-1.227.995-2.222 2.222-2.222h1.111v-1.11a1.111 1.111 0 0 1 2.223 0v1.11h8.888v-1.11a1.111 1.111 0 0 1 2.223 0v1.11zM2.222 4.444v13.334h15.556V4.444H2.222zM5 7.778h1.111c.307 0 .556.249.556.555v1.111A.556.556 0 0 1 6.11 10H5a.556.556 0 0 1-.556-.556v-1.11c0-.307.25-.556.556-.556zm0 4.444h1.111c.307 0 .556.249.556.556v1.11a.556.556 0 0 1-.556.556H5a.556.556 0 0 1-.556-.555v-1.111c0-.307.25-.556.556-.556zm4.444-4.444h1.112c.306 0 .555.249.555.555v1.111a.556.556 0 0 1-.555.556H9.444a.556.556 0 0 1-.555-.556v-1.11c0-.307.249-.556.555-.556zm0 4.444h1.112c.306 0 .555.249.555.556v1.11a.556.556 0 0 1-.555.556H9.444a.556.556 0 0 1-.555-.555v-1.111c0-.307.249-.556.555-.556zm4.445 0H15c.307 0 .556.249.556.556v1.11a.556.556 0 0 1-.556.556h-1.111a.556.556 0 0 1-.556-.555v-1.111c0-.307.25-.556.556-.556zm0-4.444H15c.307 0 .556.249.556.555v1.111A.556.556 0 0 1 15 10h-1.111a.556.556 0 0 1-.556-.556v-1.11c0-.307.25-.556.556-.556z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: right 10px center;
}
.employee-salary-table tbody td,
.employee-salary-table thead th {
    border: 1px solid #ddd!important;
}
.bool-switch-label {
    display: inline-block;
    width: 25px;
}
input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"].disabled, input[type="checkbox"].disabled, fieldset[disabled] input[type="radio"], fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}

.hidden_element {
    display: none;
}
/* FIX fixed header */
.wrapper__in {
    min-height: 101vh;
}

.tt-menu .tt-suggestion {
    overflow: hidden;
    text-overflow: ellipsis;
}
.company-name-text {
    color: #001424;
    display: block;
    margin-left: 40px;
}
.company-name-text:hover {
    color: #000;
    text-decoration: none;
}

/* Send Message */
#user-email-dropdown {
    border: 1px solid #ddd;
    display: none;
}
#user-email-dropdown .update-user-email-block {
    width: 81%;
    display: inline-block;
}
#user-email-dropdown .update-user-email-block > input {
    display: inline-block;
    width: 47%;
}
#user-email-dropdown .checkbox {
    display: inline-block;
    width: 81%;
}
#user-email-dropdown .email-actions {
    display: inline-block;
    width: 17%;
    vertical-align: top;
    padding-top: 10px;
}
.open-users > #user-email-dropdown {
    display: block;
}
div.tagsinput span.tag {
    background-color: #f2f3f7;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
}
div.tagsinput span.tag a {
    font-size: 14px;
}
.email-uploaded-files > .template {
    display:none;
}
.loaded-file-name-wrap,
.email-uploaded-files > .one-file {
    overflow: hidden;
    text-overflow: ellipsis;
}
.email-template-buttons > button.link {
    position: absolute;
    top:-25px;
    right:10px;
}
.email-sign-dropdown-menu {
    min-width: 250px;
}
/**
 * Autocomplete style
 */
.autocomplete-suggestions {
    border: solid 2px #e2e5eb;
    border-radius: 4px;
    background: #FFF;
    overflow: auto;
}
.autocomplete-suggestion {
    padding: 6px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.autocomplete-selected {
    background: #F0F0F0;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}
.autocomplete-group {
    padding: 2px 5px;
}
.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
.autocomplete-no-suggestion {
    font-size: 10px;
    color: red;
    padding: 2px 5px;
}
.table-style tfoot td {
    vertical-align: middle;
    padding: 5px;
    border-top: 1px solid #f2f3f7;
}
.range-box-datepicker .datepicker-inline .datepicker {
    min-height: 233px;
}
#doc-date-select {
    position: relative;
}
#doc-date-select .datepicker-inline .datepicker {
    position: absolute;
    top: 0;
    right: 0 !important;
    left: auto !important;
}
#doc-date-select .datepicker-inline .datepicker.active {
    visibility: visible !important;
}
.t-doc-date-select .tooltipster-box .tooltipster-content {
    padding: 0;
}
th.dropdown-filter {
    position: relative;
}
.filter-select2-select-container {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
}
.select2-container.select2-container--grid-filter .select2-dropdown.dropdown-search-data {
    min-width: 100px;
    max-width: 500px;
    right: -11px;
    left: auto;
}
.select2-container.select2-container--grid-filter .select2-dropdown.dropdown-search-data.select2-dropdown--below {
    top: -60px;
}
.select2-container.select2-container--grid-filter .select2-dropdown.dropdown-search-data.select2-dropdown--above {
    top: -40px;
}
.select2-container.select2-container--grid-filter .select2-dropdown.dropdown-search-data .select2-results__option {
    padding: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* FINANCE */
table.flow-of-funds tbody td.hover-checked {
    background-color: rgba(0, 135, 255, 0.1);
}
#chart-sells, #chart-sells .highcharts-container , #chart-sells svg {
    overflow: visible!important;
    z-index: 3!important;
}
#chart-debt, #chart-debt .highcharts-container , #chart-debt svg {
    overflow: visible!important;
    z-index: 2!important;
}
#chart-debt  .highcharts-axis-labels,
#chart-sells .highcharts-axis-labels {
    z-index: -1!important;
}
#chart-sells .highcharts-tooltip span {
    width:250px !important;
    height:160px !important;
    border-radius: 4px!important;
}
#chart-debt .highcharts-tooltip span {
    width:250px !important;
    height:130px !important;
    border-radius: 4px!important;
}
/* chart in tooltip */
.ht-in-footer-table,
.ht-in-table {
    width: 100%;
    font-size: 13px;
    font-family: "Corpid E3 SCd", sans-serif!important;
}
.ht-in-table th {
    padding-bottom: 10px;
}
.ht-in-table td {
    padding-bottom:0.25rem;
}
.ht-in-table .ht-title {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ht-in-table th:last-child,
.ht-in-table td:last-child {
    text-align: right;
}
.ht-in-table .ht-chart-wrap {
    width: 75px;
    height: 16px;
    background-color: #fff;
    border-radius: 3px;
}
.ht-in-table .ht-chart {
    height: 16px;
    border-radius: 3px;
}
.ht-in-table .ht-chart.yellow {
    background-color: #f3b73a;
}
.ht-in-table .ht-chart.green {
    background-color: #69c3a0;
}
.ht-in-footer-table td:first-child {
    width: 50%;
    text-align: left;
}
.ht-in-footer-table {
    margin-top: 10px;
}
.ht-in-footer-table td:last-child {
    width: 50%;
    text-align: right;
}
.ht-caption {
    padding-bottom: 10px;
    font-size: 13px;
    color: #9198a0;
    font-weight: 700;
}
/* table chart */
.ht-table {
    width: 100%;
    font-size: 13px;
    font-family: "Corpid E3 SCd", sans-serif!important;
    margin-bottom:10px;
}
.ht-table td {
    padding-bottom:0.25rem;
}
.ht-table tr.bb td {
    border-bottom: 1px solid #f2f3f7;
}
.ht-table td:last-child {
    text-align: right;
}
.ht-table .gray,
.ht-in-table .gray {
    color: #9198a0;
}
.ht-table .red {
    color: #4679AE;
}
.red-date {
    color: #4679AE;
    border: 1px solid #4679AE;
    border-radius: 4px;
    padding: 0 4px!important;
    text-align: center;
}
.ht-table-2 .ht-chart-wrap {
    width: 110px;
    height: 18px;
}
.ht-table-2 .ht-chart {
    height: 18px;
}
.ht-table-2 .blue {
    background-color: #22b5ff;
}
.ht-table-2 .darkblue {
    background-color: #0079f1;
}
.table-style th > a:hover {
    text-decoration: none;
}
.sortable-row-icon {
    cursor:grab!important;
}
.form-control-number {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    padding: 11px 15px 9px;
    color: #001424;
    height: auto;
    min-height: auto;
    line-height: 1;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 2px #e2e5eb;
    background-color: #ffffff;
    resize: none;
    opacity: .6;
}
.form-control-number:hover:not([disabled]) {
    opacity: 1;
}
.form-control-number:focus {
    outline: none;
    opacity: 1;
    color: #001424;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #0097fd;
}

#invoice-sum {display:table;margin-top:6px;}
#invoice-sum > div {display: table-row;}
#invoice-sum > div > div {display: table-cell;}

.markup_column,
.discount_column,
.markup_column #all_markup_toggle,
.discount_column #all_discount_toggle {
    outline: none;
}

.products-scroll-table {
    overflow-x: auto;
    max-width: 965px;
}

.products-scroll-table .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 7px;
}

.products-scroll-table .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    height: 24px;
    padding: 7px 0 7px;
    border-top: 1px solid #f2f3f7;
}

.products-scroll-table .mCSB_scrollTools .mCSB_draggerContainer {
    margin-left: 7px;
    margin-right: 7px;
}

.products-scroll-table .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 10px;
    background-color: #bbc1c7;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.products-scroll-table .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    height: 10px;
    background-color: #fff;
}
.statistic-period-form button.active {
    background-color: #335A82;
    border-color: #335A82;
    color: #fff;
}
.doc-container {
    font-family: "Open Sans", sans-serif;
}
.select2-container--krajee-bs4 .select2-selection,
.select2-container--krajee-bs4 .select2-selection:focus {
    box-shadow: none !important;
    border: 2px solid #e2e5eb !important;
}

.doc-top-buttons-block {
    position: absolute;
    left:44px;
    top:44px;
    margin-left: 4px;
    z-index: 2;
}
.doc-invoice {
    margin-top: -50px;
    pointer-events: none;
}
.doc-invoice .doc-title.p0ad {
    width: 60%;
    vertical-align: top;
    padding: 60px 0 10px 0;
    font-size: 18px;
    font-weight: bold;
}
.doc-preview div.document-template,
.doc-preview div.document-template div,
.doc-preview div.document-template span,
.doc-preview div.document-template table,
.doc-preview div.document-template tbody,
.doc-preview div.document-template tfoot,
.doc-preview div.document-template thead,
.doc-preview div.document-template tr,
.doc-preview div.document-template th,
.doc-preview div.document-template td {
    font-family: "Corpid E3 SCd", sans-serif;
    font-size: 14px;
}
.doc-preview div.document-template .doc-main-title {
    font-size: 23px;
    font-weight: bold;
}

body > div > input[type=file][name=emailFile],
body > div > input[type=file][name=uploadfile],
body > div > input[type=file][name=file] {
    height: 100% !important;
    width: 100% !important;
}
#config_items_box > li {
    white-space: nowrap;
}
table.table-count-list thead tr th,
table.table-count-list tbody tr td {
    padding-left: 10px;
    text-align: left;
}
.th-title-icon:hover {
    color: #bbc1c7;
}
.sort_asc .icon_asc .th-title-icon,
.sort_desc .icon_desc .th-title-icon {
    color: #0097fd;
}
.th-title.filter {
    cursor: pointer;
}
.th-title-icon-filter {
    font-size: 10px;
}
.th-title.filter.active .th-title-icon-filter {
    color: #0097fd;
}
#invoicesendform-sendto_addTag input,
#invoicesendform-sendcopy_addTag input {
    display: none;
}
#invoicesendform-sendto_tagsinput:hover #invoicesendform-sendto_addTag input,
#invoicesendform-sendcopy_tagsinput:hover #invoicesendform-sendcopy_addTag input {
    display: block;
}
#invoicesendform-sendto_tagsinput #invoicesendform-sendto_addTag input:focus,
#invoicesendform-sendcopy_tagsinput #invoicesendform-sendcopy_addTag input:focus {
    display: block;
}
#invoicesendform-sendto_addTag #invoicesendform-sendto_tag::-webkit-input-placeholder {
    font-style: italic;
}
#invoicesendform-sendto_addTag #invoicesendform-sendto_tag:-moz-placeholder {
    font-style: italic;
}
#invoicesendform-sendto_tag.visible {
    display: block !important;
}
#invoicesendform-sendto_tagsinput {
    padding: 6px 15px 1px 15px;
}

/* fix Datepicker Icon */
#agreement-modal-container .date-picker-icon {
    top: 20px;
}
.tax-robot #company-taxregistrationdate {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    padding: 11px 15px 9px;
    color: #001424;
    height: auto;
    min-height: auto;
    line-height: 1;
    background-color: #ffffff;
    resize: none;
    opacity: .6;
    background-image: unset;
    font-family: "Corpid E3 SCd", sans-serif;
}
.suggestions-wrapper {
    display: block;
}
.tax-robot .invalid-feedback {
    margin-top: 0;
}
.tax-robot .form-control.is-invalid {
    background-image: unset;
}
#summary-container {
    padding-left: 10px;
}
#summary-container .checker{
    margin: 0;
}
.tax-robot #uniform-no_accounts_checkbox {
    vertical-align: top;
}
.tax-robot-bank .column-expense {
    display: none;
}
.tax-robot-calculation .column-income,
.tax-robot-payment .column-income {
    display: none;
}
.table-resume-weight.total-txt td:first-child {
    text-align: left;
}
.table-resume-weight.total-txt {
    line-height: 1.33;
}
.actions-buttons .flex-xl-grow-1 {
    width: 141px !important;
}
.actions-buttons .flex-xl-grow-1 > button {
    max-width: 141px !important;
}
.refresh-contractor-invoice {
    display:block;
    width:30px;
    margin-top:-2px;
}
.tooltipster-sidetip.tooltipster-kub .tooltipster-box {
    border-radius: 4px;
}
.tooltipster-switch-widget .tooltipster-content {
    padding: 0;
    width: 160px;
}
td.text-ellipsis,
td.text-ellipsis > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td.text-ellipsis a {
    display: inline!important;
}
.period-filter-in-grid.select2-container.select2-container--grid-filter .select2-dropdown.dropdown-search-data,
.product-filter-in-grid.select2-container.select2-container--grid-filter .select2-dropdown.dropdown-search-data,
.contractor-filter-in-grid.select2-container.select2-container--grid-filter .select2-dropdown.dropdown-search-data {
    width: 200px!important;
}
.black-link {
    color: #001424;
}
.black-link:hover, .black-link:active, .black-link:focus {
    color: #001424;
    text-decoration: none!important;
}
.red-link, .cash-bank-need-clarify, .cash-bank-need-clarify-link {
    color: #e30611;
}
.red-link:hover, .red-link:active, .red-link:focus,
.cash-bank-need-clarify:hover, .cash-bank-need-clarify:active, .cash-bank-need-clarify:focus,
.cash-bank-need-clarify-link:hover, .cash-bank-need-clarify-link:active, .cash-bank-need-clarify-link:focus {
    color: #d20611;
}
/* end TEMP */
.no-decoration {
    text-decoration: none!important;
}
/* Add Flow - IvoiceListInputWidget */
.checkbox_select2:after {
    width: 19px !important;
    height: 19px !important;
}
.checkbox_select2 {
    display: inline-block;
}

.select2-results__option[aria-selected="true"] .checkbox_select2:after,
.select2-results__option[aria-selected="false"] .checkbox_select2:after
{
    position: absolute;
    top: 13px;
    left: 8px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    content: "\e835";
    color: #e3e5eb;
}
.select2-results__option[aria-selected="true"] .checkbox_select2:after {
    content: "\e834";
    color: #4679AE;
}
.invoice_list_widget_invoices .select2-selection__rendered {
    display: none!important;
}
.invoice_list_widget_invoices .select2-selection--multiple {
    padding: 9px 15px!important;
}
#select2-cashemoneyflows-invoices_list-results .select2-results__option,
#select2-cashorderflows-invoices_list-results .select2-results__option,
#select2-cashbankflowsform-invoices_list-results .select2-results__option {
    position:relative;
    padding-left: 33px;
}
.has-success .select2-container--open .select2-selection, .has-success .select2-container--krajee.select2-container--focus .select2-selection {
    box-shadow: none!important;
}
/* End */
.font-14 {
    font-size: 14px!important;
}
.cash_filters_reset:hover > span,
.cash_bank_filters_reset:hover > span {
    color: #4679AE;
}
.add-vidimus-file {
    cursor: pointer;
}
#user-bank-dropdown .form-edit {
    border-top: 1px solid #f2f3f7;
}
#user-bank-dropdown .form-edit:first-child {
    border-top: none;
}
.custom-control {
    padding-left: 0;
}
.tax-robot-update-payment-order .wrap.wrap_btns {
    margin: 0;
    padding: 6px 12px;
}
div:has(> input.date-picker) {
    position: relative;
}
.table-fixed {
    table-layout: fixed;
}
.hide-extra-link .next,
.hide-extra-link .prev,
.hide-extra-link .first,
.hide-extra-link .last {
    display: none;
}
.cash-filter .form-filter-list label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal-footer {
    border-top: none;
}
.popup-dropdown_storage .dropdown-menu {
    margin-top:25px;
}
.form-check {
    padding-left:0;
}
.align-single-h4 {
    margin-top: 6px;
    margin-bottom: 6px;
}
.table-cash-totals tr.summ,
.table-cash-totals tr.single-string,
.table-cash-totals tr.toggle-string {
    font-weight: 700;
}
.count-card-title {
    height: 24px;
    overflow: visible;
    line-height: 1.27;
    text-transform: none;
}
.nav-pagination li {
    padding-left: 2px;
    padding-right: 2px;
}
.combine_product_table {
    margin: 30px 0;
}
.combine_product_table th,
.combine_product_table td {
    height: 50px;
}
input[type=search]::-webkit-search-cancel-button {
    position:relative;
    right:0px;
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:rgb(170,170,170)" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 47.971 47.971"><path d="M28.228 23.986L47.092 5.122a2.998 2.998 0 0 0 0-4.242 2.998 2.998 0 0 0-4.242 0L23.986 19.744 5.121.88a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l18.865 18.864L.879 42.85a2.998 2.998 0 1 0 4.242 4.241l18.865-18.864L42.85 47.091c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879a2.998 2.998 0 0 0 0-4.242L28.228 23.986z"></path></svg>');
}
/* Product Group Widget */
#select2-product_group_select-results .item-name-input {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    padding: 11px 15px 9px;
    color: #001424;
    height: auto;
    min-height: auto;
    line-height: 1;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 2px #e2e5eb;
    background-color: #ffffff;
    resize: none;
}
#select2-product_group_select-results .icon.icon-check {
    width: 16px;
    height: 16px;
    margin-top: 8px;
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:rgb(0,151,253)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 13 10"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.541 9.517a1.753 1.753 0 0 1-2.416 0L.5 6.989a1.608 1.608 0 0 1 0-2.33 1.756 1.756 0 0 1 2.416 0l1.417 1.365 5.75-5.541a1.753 1.753 0 0 1 2.416 0 1.603 1.603 0 0 1 0 2.329L5.54 9.517z"></path></svg>');
}
#select2-product_group_select-results .icon.icon-close {
    width: 16px;
    height: 16px;
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:rgb(0,151,253)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M13.657 13.657A8 8 0 1 1 2.343 2.343a8 8 0 0 1 11.314 11.314zm-1.05-1.05c2.733-2.735 2.27-6.93-.007-9.207-2.276-2.276-6.486-2.754-9.22-.02-2.734 2.734-2.358 6.883-.008 9.233 2.35 2.35 6.5 2.727 9.234-.007zM6.113 5.171L8 7.057l1.886-1.885.942.942L8.943 8l1.885 1.886-.942.942L8 8.943l-1.886 1.885-.942-.942L7.057 8 5.172 6.114l.942-.942z"></path></svg>');
}
#select2-product_group_select-results .icon.icon-pencil {
    width: 16px;
    height: 16px;
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:rgb(0,151,253)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M10.486 1.966L0 12.452V16h3.548L16 3.548 12.452 0l-1.966 1.966zm-7.48 12.723H1.31v-1.694l.327-.328 1.695 1.695-.328.327zm1.254-1.254L2.565 11.74l7.92-7.92 1.695 1.695-7.92 7.92zm8.847-8.848l-1.694-1.694 1.039-1.039 1.694 1.695-1.039 1.038z"></path></svg>');
}
#select2-product_group_select-results .icon.icon-action-undo {
    width: 16px;
    height: 16px;
    margin-top: 8px;
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:rgb(0,151,253)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M13.657 13.657A8 8 0 1 1 2.343 2.343a8 8 0 0 1 11.314 11.314zm-1.05-1.05c2.733-2.735 2.27-6.93-.007-9.207-2.276-2.276-6.486-2.754-9.22-.02-2.734 2.734-2.358 6.883-.008 9.233 2.35 2.35 6.5 2.727 9.234-.007zM6.113 5.171L8 7.057l1.886-1.885.942.942L8.943 8l1.885 1.886-.942.942L8 8.943l-1.886 1.885-.942-.942L7.057 8 5.172 6.114l.942-.942z"></path></svg>');
}
#select2-product_group_select-results .icon-pencil,
#select2-product_group_select-results .icon-action-undo {
    margin-left: 0.5rem!important;
}
#many-price-form .change_value_units {
    position: absolute;
    right: 15px;
    top: 33px;
}
#many-price-form .change_value {
    position: relative;
    padding-right: 60px;
}
#product-nds-form .control-label {
    font-weight: 700;
}
#summary-container .dropdown-item {
    border-bottom: solid 1px #e2e5eb;
    text-align: center;
}
.ta-c {
    text-align: center;
}
.ta-r {
    text-align: right;
}
.autoact-rule-content .hint-block {
    margin-left: 28px;
}
#autoact-form .form-group,
#autoinvoicefacture-form .form-group {
    margin-bottom: 15px;
}
#autoact-form .form-group > .autoact-rule-label {
    position: relative;
    padding-left: 30px;
}
#autoact-form .form-group > .autoact-rule-label > .radio {
    position: absolute;
    top: 2px;
    left: 0;
}
/*.ladda-button .ladda-spinner:not(:empty) {
    margin-left: 18px;
    margin-right: 15px;
}*/
.w-full {
    width: 100%;
}
.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.supplier-price-block {
    border-bottom: 1px solid #f2f3f7;
}
table.table-price thead tr th,
table.table-price tbody tr td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
#auth-signup-form .invalid-feedback {
    display: block;
}

/* Product Upload Pictures */
.dz-upload-product-image {
    min-height: 105px;
    border: 2px dashed #ddd;
    border-radius: 4px;
}
.dz-upload-product-image:hover,
.dz-upload-product-image:focus,
.dz-upload-product-image:active {
    border-color: #0048aa;
}
.dz-upload-product-image:hover .link,
.dz-upload-product-image:focus .link,
.dz-upload-product-image:active .link {
    color: #0048aa;
}
.dz-upload-product-image .dz-help,
.dz-upload-product-image .dz-drag {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    pointer-events: none;
}
.dz-upload-product-image .dz-drag {
    margin-top: 40px;
}
.dz-upload-product-image .dz-preview {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dz-upload-product-tip {
    width: 100%;
    text-align: center;
    margin-top:15px;
    font-size: 12px;
    color: #aaa;
}
.dz-upload-product-image .dz-details,
.dz-upload-product-image .dz-progress,
.dz-upload-product-image .dz-error-message,
.dz-upload-product-image .dz-success-mark,
.dz-upload-product-image .dz-error-mark {
    display: none;
}
.product-pics .del-pic {
    position: absolute;
    right: 20px;
    bottom: 25px;
}
.btn-status-archive {
    pointer-events: none;
    background-color: #FAC031;
    border-color: #FAC031;
    color: #FFF;
}
.sidebar.sidebar_fixed {
    width: 210px;
}
.form-errors-fixed {
    display: inline-block;
    position: fixed;
    top: 80px;
    right: 10px;
    max-width: 360px;
}
.form-errors-fixed > div.alert:after{
    display: inline-block;
    content: "×";
    padding: 0 5px;
    position: fixed;
    top: 85px;
    right: 15px;
    cursor: pointer;
}
.form-errors-fixed > div.alert + span {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 85px;
    right: 15px;
    cursor: pointer;
}
.jcrop-image-pane, .jcrop-preview-pane {
    border: 2px dashed #e7eafa !important;
}
.select2-container.product-add-select--dropdown > .select2-dropdown.product-search-dropdown {
    width: 300px !important;
}
.pts-text {
    min-height: 20px;
}
.table .va-top th {
    vertical-align: top;
}
table.table-quantity thead tr th,
table.table-quantity tbody tr td {
    padding: 12px 10px;
    text-align: left;
}
.mtm-l {
    margin-top: -12px;
}
.toast-top-right {
    top: 80px !important;
}
.toast-top-right .toast{
    background-color: #202d3e !important;
    color: #fff;
    border-radius: 4px;
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow {
    position: absolute;
    border: none;
    top: 1px;
    right: 1px;
}
.integration-success {
    width: 111px;
    background-color: #26cd58;
    border-color: #26cd58;
    color: #ffffff;
    pointer-events: none;
}
#select2-invoice-nds_view_type_id-container {
    padding-right: 12px!important;
}
#nds_view_type_id-pjax-container .select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow {
    width: 14px;
    background-image: url(/images/icon_dropdown_blue.png) !important;
}
#nds_view_type_id-pjax-container  .select2-container--krajee-bs4 .select2-selection,
#nds_view_type_id-pjax-container .select2-container--krajee-bs4 .select2-selection:focus
{
    padding: 4px 10px;
    border: none !important;
    min-height: auto!important;
}

#select2-invoice-nds_view_type_id-container {
    color: #0097fd;
}
#nds_view_type_id-pjax-container .select2-container--krajee-bs4.select2-container--open .select2-selection--single .select2-selection__arrow {
    opacity: 0;
}

#add-from-exists .store-dropdown {
    border:none;
    color: #0097fd;
    background-color:#fff;
    border-bottom: 2px dotted #001424;
    font-size: 27px;
    line-height: 33px;
}
#add-from-exists .form-filter-list {
    margin-top: 10px;
}
/* Agreement Template */
.agreement-template-words {
    border: 1px solid #f2f3f7;
    padding: 10px;
}
.agreement-template-words p {
    margin:4px 0;
    font-size: 14px;
}
.atw-customer {
    color:#619eff;
    margin-bottom:25px;
}
.atw-contragent {
    color:#969902;
    margin-bottom:25px;
}
.atw-document {
    color:#833a16;
    margin-bottom:25px;
}
.atw-customer strong, .atw-contragent strong, .atw-document strong {
    color:#333;
}
.tox-tinymce {
    border: 2px solid #f2f3f7!important;
    border-radius: 4px!important;
}
.tox-statusbar {
    border-top: 2px solid #f2f3f7!important;
}
#product-table-invoice .template,
#table-for-order-document .template {
    display: none;
}
.order-document-totals td {
    border: none;
}
.dropdown-new {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
}

/* fix inner modals */
.wrap_btns.check-condition.visible {
    -webkit-transform: none!important;
    -ms-transform: none!important;
    transform: none!important;
}

.label > .label-help {
    display: inline-block;
    margin-left: 10px;
    color: #bbc1c7;
    font-size: 16px;
    cursor: pointer;
}
.tax-robot .grid-view tr.flow-row > td:not(.no-update-modal) {
    cursor: pointer;
}
.out-invoice-wrapper {
    width: 642px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    background-color: #fff;
}
.password-input-wrapper {
    position: relative;
}
.password-input-wrapper > input {
    padding-right: 35px;
    background-image: unset !important;
}
.password-input-wrapper > .toggle-password-input-type {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #9198a0;
}
.password-input-wrapper > .to-invisible {
    display: none;
}
.password-input-wrapper > .to-visible {
    display: inline;
}
.password-input-wrapper.pass-visible > .to-invisible {
    display: inline;
}
.password-input-wrapper.pass-visible > .to-visible {
    display: none;
}
.notification-item {
    border-bottom: 1px solid #d4d4d4;
}
.notification-item-header {
    display: flex;
}
.notification-item-header .notification-item-title {
    flex: 1;
}
.notification-item-header .notification-item-switch {
    width: 220px;
}
.notification-item-header .btn {
    background-color: white !important;
    line-height: 1;
}
.notification-item-header .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.notification-item-header .not-passed.active {
    background-color:  #4679AE !important;
    border-color:  #4679AE !important;
    color: white !important;
}
.notification-item-header .passed.active {
    background-color: #26cd58 !important;
    border-color: #26cd58 !important;
    color: white !important;
}
ul.notification-list {
    max-height: 355px;
    overflow-y: auto;
}
ul.notification-list a.notification-link {
    display: flex;
    padding: 10px 20px;
}
ul.notification-list a.notification-link .notif-marker .svg-icon {
    color: #bbc1c7;
}
ul.notification-list a.notification-link .notif-details {
    flex: 1;
}
ul.notification-list a.notification-link .notif-details .notification-message {
    display: inline-block;
    max-height: 44px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.field-paymentorder-taxpayers_status_id {
    text-align: right;
}
.paymentorder-taxpayers_status_id-dropdown {
    width:700px!important;
    left:-635px!important;
}
.paymentorder-operation_type_id-dropdown {
    width:250px!important;
}
.width_date{
    width: 135px;
}
.table-style tbody tr:last-child td {
    border-bottom: 1px solid #f2f3f7;
}
/* CROP ERRORS */
#product-form .field-product-price_for_sell_with_nds .help-block-error,
#product-form .field-product-title .help-block-error {
    white-space: nowrap;
    max-width: 130px;
    overflow: hidden;
}

.button-list-grey {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    font-size: 16px;
    line-height: 1;
    color: #000;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 2px #e2e5eb;
    background-color: #ffffff;
}
.w-44 {
    width: 44px;
}
.button-list-grey:hover, .button-list-grey:focus, .button-list-grey:active {
    color: #000;
}

/* Product Upload Pictures */
.dz-upload-company-image {
    position: relative;
    min-height: 105px;
    border: 2px dashed #ddd;
    border-radius: 4px;
    padding: 0;
}
.dz-upload-company-image:hover,
.dz-upload-company-image:focus,
.dz-upload-company-image:active {
    border-color: #0048aa;
}
.dz-upload-company-image:hover .link,
.dz-upload-company-image:focus .link,
.dz-upload-company-image:active .link {
    color: #0048aa;
}
#progress_printImage,
#progress_chiefSignatureImage,
#progress_logoImage,
#progress_chiefAccountantSignatureImage {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    margin: 0;
    background-color: #fff;
    z-index: 11;
}
.dz-default.dz-message {
    pointer-events: none;
}
#logoImage-image-result,
#chiefSignatureImage-image-result,
#printImage-image-result,
#chiefAccountantSignatureImage-image-result,
#signature_file-image-result {
    position: relative;
}
#logoImage-image-result .del-link,
#chiefSignatureImage-image-result .del-link,
#printImage-image-result .del-link,
#chiefAccountantSignatureImage-image-result .del-link,
#signature_file-image-result .del-link {
    position: absolute;
    bottom: -20px;
    right: 0;
    cursor: pointer;
}
.pos-a {
    position: absolute;
}
.pos-r {
    position: relative;
}
.choose-tariff {
    padding: 16px;
}
#tax-robot-tariff-dropdown {
    min-width: unset;
    padding: 0;
}
form.statistic-period-form input.date-picker-calendar {
    background-color: #fff;
    cursor: pointer;
}
.date-picker-wrap-top .datepicker {
    margin-top: -309px;
}
.dropup-right-align .dropdown-menu {
    margin-left: -98px;
}
.icon.icon-paper-clip {
    display: block;
    width:16px;
    height:15px;
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:black" xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15"><path d="M15.12.915C14.534.306 13.827-.01 13.074 0c-.705.01-1.396.317-1.947.865l-.005.005-7.15 7.456c-.715.741-.715 1.818 0 2.56.347.36.79.557 1.246.557.462 0 .907-.198 1.256-.56l4.941-5.178-.893-.897-4.94 5.176a.52.52 0 0 1-.364.177c-.124 0-.244-.06-.357-.177-.33-.341-.11-.642.001-.757l7.14-7.447c.683-.675 1.557-.661 2.23.036.797.828.575 1.8 0 2.395l-8.127 8.61c-.559.578-1.265.897-1.99.897-.725 0-1.413-.316-1.989-.913-1.348-1.398-.971-3.04 0-4.048l6.16-6.316-.884-.907-6.16 6.318-.003.002C.466 8.655.027 9.664 0 10.698c-.027 1.1.4 2.141 1.237 3.008C2.042 14.541 3.064 15 4.114 15c1.063 0 2.086-.455 2.882-1.28l8.127-8.61c1.17-1.216 1.17-2.98-.003-4.195z"></path></svg>');
    background-size: cover;
    fill: currentColor;
}
.cbx-xs {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 0.6;
    border: 2px solid #001424;
    color: #001424 !important;
    font-weight: 700;
    font-smooth: never;
    -webkit-font-smoothing: none;
}
.cbx-active:hover, .cbx-active:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: inherit!important;
}
.table-sells-list .cbx-block {
    display: inline-block;
    margin-right: 10px;
}
.table-sells-list thead th {
    vertical-align: middle;
    padding: 12px 10px;
}
.table-sells-list tbody tr td {
    padding: 12px 10px;
}
.table-sells-list tbody tr td:first-child {
    font-size: 14px;
    font-weight: 700;
}
.one-block {
    padding: 20px;
    border: solid 2px #e2e5eb;
    border-radius: 8px;
    text-align: center;
}
.one-block .tariff-name {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #9198a0;
}
.dropdown-popup-radius {
    overflow: hidden;
}
.side-menu-logo {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    padding: 0;
    margin-right: 14px;
    top: -1px;
    border: 1px solid #bbc1c7;
    border-radius: 50%;
    overflow: hidden;
    float:left;
}
.side-menu-logo > svg {
    width: 12px;
    height: 12px;
    color: #bbc1c7;
}
.company-name {
    padding: 2px 0 8px;
}
.invoice-autoinvoice + .dropdown-menu {
    min-width: auto!important;
    padding: 0;
    margin: 0;
}
.invoice-autoinvoice + .dropdown-menu > a {
    padding: 16px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #f2f3f7;
    color: #001424;
}
.count-card.wrap {
    margin-bottom: 0;
}
a.dropdown-new {
    text-decoration: none;
    color: #001424;
}
a.dropdown-new svg{
    color: #4679AE;
    margin-right: 10px;
}
.documents-dropdown {
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18) !important;
    border: 1px solid #e2e5eb!important;
    border-radius: 4px!important;
}
.documents-dropdown li > a {
    padding: 16px;
    color: #001424!important;
}
.documents-dropdown li > a:hover {
    background-color: #f2f3f7!important;
}
#user-email-dropdown {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    left: 0;
    right: 0;
    top: 100%;
}
.form-title-link::after {
    display: block;
    border-bottom: 2px dotted #001424 !important;
    border-top: none;
    border-right: none;
    border-left: none;
    margin:0;
    padding:0;
}
#employee-rating-dropdown {
    padding: 0;
}
.page-in.row {
    position: relative;
}
.order-doc-status-set .select2.select2-container,
.order-doc-status-set .select2.select2-container:active,
.order-doc-status-set .select2.select2-container:focus,
.order-doc-status-set .select2-selection.select2-selection--single,
.order-doc-status-set .select2-selection.select2-selection--single:active,
.order-doc-status-set .select2-selection.select2-selection--single:focus {
    border-color: transparent !important;
    outline: none !important;
}
.button-hover-transparent > span.ladda-spinner > div > div > div {
    background-color: #001424 !important;
}
#auth-form-toggle-pjax .nav-item {
    padding-left: 8px;
    padding-right: 8px;
}
.kubbank-tile {
    height: 270px;
    margin: 0;
}
.kubbank-tile:hover {
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.kubbank-tile-head {
    display: flex;
}
.kubbank-tile-content {
    margin-top: 0.75rem;
    color: #6c757d !important;
    font-size: 14px;
    overflow-y: auto;
}


.select2-container--krajee-bs4 .select2-selection--single .select2-selection__placeholder {
    color: #bbc1c7;
}

/** SALE-POINT */
.company-structure .col-4 {
    padding-right:10px;
    padding-left:10px;
}
.sale-point {
    position: relative;
    width: 100%;
    min-height: 44px;
    font-weight: 400;
    font-size: 16px;
    color: #001424;
    height: auto;
    line-height: 1;
    border-radius: 4px;
    border: solid 2px #e2e5eb;
    background-color: #ffffff;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.sale-point .ico {
    width: 40px;
    display: table-cell;
    text-align: center;
    font-size: 26px;
    vertical-align: middle;
}
.sale-point .ico-small {
    width: 20px;
    text-align: center;
    vertical-align: middle;
}
.sale-point .name {
    display: table-cell;
    font-size: 16px;
    color: #001424;
    vertical-align: middle;
    padding-left: 10px;
}
.sale-point .small-name {
    font-size: 14px;
}
.sale-point .employee-list {
    padding-left: 50px;
}
.sale-point .point-title {
    display: table;
    padding: 10px 0;
    border-bottom: 1px solid #f2f3f7;
    overflow: hidden;
}
.sale-point .point-title-single {
    display: table;
    padding: 5px 0;
    overflow: hidden;
}
.sale-point .employee-list .employee-item,
.sale-point .cashbox-list .cashbox-item,
.sale-point .store-list .store-item {
    padding: 10px 0;
    border-bottom: 1px solid #f2f3f7;
    color: #9198a0;
}
.sale-point .store-list .store-item:last-child {
    border-bottom: none;
}
.cashbox-list-modal {
    padding-bottom: 10px;
}
#s2-togall-salepoint-employers {
    display: none;
}

.sale-point:hover .sale-point-actions, .sale-point.active .sale-point-actions {
    display: block;
}
.sale-point-actions {
    display: none;
    position: absolute;
    top:5px;
    right:5px;
}
.cashbox-item-modal {
    padding: 5px 0;
}
/** Header menu */
.indicator.active {
    background-color: #e30611!important;
}
.header .dropdown-user-menu {
    min-width: 11rem;
}
.dropdown-popup_plus {
    width: 400px;
    padding: 20px;
    right: -182px !important;
}

.header-plus-icon {
    font-size: 28px;
    color:#4679AE;
    transition: .2s linear;
}
.dropdown_plus .dropdown-popup::after {
    right: 190px!important;
}
.dropdown_plus.show .header-plus-icon {
    transform: rotate(135deg);
}
.header-plus-list.columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.header-plus-list {
    margin-bottom: 10px;
}
.header-plus-list li {
    padding: 5px 0;
}
.header-plus-list.columns-2 li {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.header-plus-list li.title {
    font-weight: 700;
}
/** End Header menu */

li.active .products-link-txt {
    color: #4679AE;
}
li .notif-marker {
    background-color: #fff;
}
li .notif-marker .svg-icon {
    color: #4679AE;
}
li.active .notif-marker {
    background-color: #4679AE;
}
li.active .notif-marker .svg-icon {
    color: #fff;
}
.suggestions-suggestions {
    overflow-y: scroll;
    max-height: 220px;
}

/* Remote Employee */
.switch-remote-employee .switch {
    margin-top:-7px;
}
.switch-remote-employee .switch-txt {
    display: inline-block;
    width: auto;
}
.switch-remote-employee h4 {
    align-self: center;
}
@media (max-width: 1200px) {
    .switch-remote-employee .switch {
        margin-top:0;
    }
    .switch-remote-employee .switch-txt {
        width: 300px;
    }
    .switch-remote-employee h4 {
        align-self: baseline;
    }
}
.sidebar-menu li.active a.sidebar-menu-btn .svg-icon {
    color: #4679AE;
}

.select2-container--krajee-bs4 .select2-selection--single {
    height: unset;
    line-height: inherit;
}
.select2-container--krajee-bs4 {
    display: inline-block;
}
ul#select2-invoice-nds_view_type_id-results > li {
    padding-right: 0;
}
.tariff-price > del {
    font-size:24px;
    color: red;
}
.tariff-block-wrapper {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

/** Table View Mode */
.table-compact tbody tr td,
.table-compact tbody tr td:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0;
    padding-bottom: 0;
}
.table-compact td,
.grid-view .table-compact td {
    height: 30px;
}
.table-compact .button-regular {
    padding: 0;
    border: none;
    color: #0097fd !important;
}
.table-compact .button-regular:hover {
    color: #0048aa !important;
}
.table-compact div.table-count-cell {
    padding: 0;
    border: none;
}
.table-compact a,
.table-compact label {
    display: inline;
}
.table .contractor-cell,
.table .contact-cell,
.table .agreement-cell,
.table .purpose-cell,
.table .clause-cell,
.table .title-cell
{
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-compact .contractor-cell,
.table-compact .contact-cell,
.table-compact .agreement-cell,
.table-compact .purpose-cell,
.table-compact .clause-cell,
.table-compact .title-cell {
    white-space: nowrap;
}
.table .contractor-cell {
    max-width: 250px;
}
.table .agreement-cell,
.table .contact-cell {
    max-width: 150px;
}
.table .contractor-cell-main {
    min-width: 350px;
    max-width: 450px;
}
.table.table-compact .contractor-cell-main {
    min-width: unset;
    max-width: 250px;
}
.table .purpose-cell,
.table .clause-cell {
    max-width: 100px;
}
.table.table-compact .purpose-cell {
    max-width: 150px;
}
.table.table-compact .clause-cell {
    max-width: 100px;
}
.table .title-cell {
    max-width: 300px;
}
.table-compact td .svg-icon {
    display: none;
}
.table-compact .button-regular .svg-icon + span {
    margin-left:0;
}
.table-compact .button-regular span {
    padding-left:0!important;
}

#product-table-invoice .product-unit-name .select2-selection__rendered,
#product-table-invoice .price-for-sell-nds-name .select2-selection__rendered,
#product-table-invoice .price-for-buy-nds-name .select2-selection__rendered {
    padding-right: 0;
}
#product-table-invoice .product-unit-name .select2-selection,
#product-table-invoice .price-for-sell-nds-name .select2-selection,
#product-table-invoice .price-for-buy-nds-name .select2-selection {
    padding-right: 15px;
}
#product-table-invoice .product-unit-name .select2-selection__arrow,
#product-table-invoice .price-for-sell-nds-name .select2-selection__arrow,
#product-table-invoice .price-for-buy-nds-name .select2-selection__arrow {
    visibility: hidden;
}
#product-table-invoice .product-unit-name:hover .select2-selection__arrow,
#product-table-invoice .price-for-sell-nds-name:hover .select2-selection__arrow,
#product-table-invoice .price-for-buy-nds-name:hover .select2-selection__arrow {
    visibility: visible;
}
a.link {
    cursor: pointer;
    color: #0097fd!important;
}
a.link:hover {
    color: #0048aa!important;
}
.statistic-period-form .button-hover-red.active,
.statistic-period-form .button-hover-red:hover,
.statistic-period-form .button-hover-red:focus,
.statistic-period-form .button-hover-red:active {
    border-color: #4679AE;
    background-color: #4679AE;
}
.statistic-period-form .button-hover-red.active:hover,
.statistic-period-form .button-hover-red.active:focus,
.statistic-period-form .button-hover-red.active:active {
    background-color: #335A82;
    border-color: #335A82;
}
.button-hover-dark:hover {
    border-color: #4679AE;
    background-color: #4679AE;
    color: #FFF;
}
.banking-modal-scroll-down {
    cursor: pointer;
}
.opt-contractor {
    position: relative;
    display: block;
    width:100%;
}
.opt-contractor .name {
    padding:0;
}
.opt-contractor .kpp {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    font-size: 11px;
    font-style: italic;
    color: #999;
    background: #fff;
    padding: 4px 8px;
    margin-top: -2px;
    border-radius: 4px;
}
.select2-results__option--highlighted .opt-contractor .kpp {
    background: #f2f3f7;
}
#statement-request-form .control-label {
    padding: 0;
    font-weight: 400;
    margin-bottom: 6px;
    display: inline-block;
    font-size: 14px;
    color: #9198a0;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow:none;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #335A82;
    border-color: #335A82;
    color: #fff;
}
.tax-robot-container {
    height: 100%;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.tax-robot-container > nav {
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding-bottom: 0.5rem;
}
.tax-robot-container > section,
.tax-robot-container > section #company-update-form,
.tax-robot-container > section #form-ip-params,
#tax-robot-company-form-tab-content,
#tax-robot-company-form-tab-content > .tab-pane.active {
    margin: 0;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#tax-robot-company-form-tab-content > .tab-pane.active .tab-pane-content {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#tax-robot-company-form-tab-content > .tab-pane.active .tab-pane-buttons {
    margin-top: 1.5rem;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#form-ip-params .btn-tax-percent {
    width: 4.4rem;
}
#form-ip-params .btn-tax-percent.active {
    border-color: #4679AE;
}
#form-ip-params .usn_percent-radio-list div.radio {
    display: none;
}
.suggestions-addon {
    left: auto !important;
    right: 1rem !important;
    top: -3.6rem !important;
    height: 2.8rem !important;
    width: 2.8rem !important;
}