html {
    font-size: 3.125vmin;
}
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    font-size: 1.2rem;
    background-color: #fff;
}
body > header {
    height: 4rem;
    padding: 0.5rem 0;
    background-color: #fff;
    border-bottom: 0.1rem solid #e7eafa;
}
body > main {
    height: 100%;
    position: relative;
    overflow: hidden;
}
#main-content-wrap {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#main-content {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
#main-content > footer {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border-top: 0.1rem solid #e7eafa;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
}
#main-content-inner {
    margin: 0;
    padding: 0.5rem;
    overflow-x: hidden;
    position: relative;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#main-content-inner > section {
    position: relative;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#nav-top-menu {
    height: 2.8rem;
}
#nav-top-menu .site-logo-box {
    display: inline-block;
    width: 2.8rem;
    overflow-x: hidden;
    margin-right: 1.5rem;
}
#nav-top-menu .nav-main-menu-btn {
    display: inline-block;
    font-size: 2.8rem;
    color: #9198A0;
    line-height: 2.8rem;
    vertical-align: top;
}
#nav-sidebar-menu {
    position: absolute;
    top: 3.9rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 10000;
}
#sidebar-main-menu-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3.9rem;
    z-index: 10000;
}
#sidebar-main-menu {
    width: 25rem;
    margin: 0 auto 0 0;
    background-color: #fff;
    border-right: 0.1rem solid #e7eafa;
    z-index: 10010;
}
#main-menu-items .sideabar-menu-item {
}
#main-menu-items .sidebar-menu-btn {
    padding-left: 1rem;
}
.column-flex-container {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.button-regular > .fix-left,
.btn > .fix-left {
    position: absolute;
    left: 1rem;
}
.button-regular > .fix-right,
.btn > .fix-right {
    position: absolute;
    right: 1rem;
}
.dropdown-menu {
    font-size: 1.4rem;
}
.dropdown-menu .dropdown-item {
    padding: 1.4rem 2rem;
    line-height: 1;
}
.template-container {
    position: relative;
    height: auto;
    padding: 0;
    overflow-x: auto;
    overflow-y: visible;
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
    top: 0 !important;
    right: 1rem !important;
    width: 1.25rem !important;
}
.select2-results__option {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    line-height: 1;
    border-top: 1px solid #f2f3f7;
}