.vidimus-body {
    padding-bottom: 40px;
}

.vidimus-body .upload-button {
    text-align: right;
}

.vidimus-body btn.disabled {
    opacity: 0.3;
}

.vidimus-body .file-list {
    clear: both;
    padding-left: 14px;
    padding-top: 10px;
    float: left;
}

.vidimus-body .file {
    display: none;
}

#upload-vidimus {
    width: 800px;
    left: 41%;
}

.vidimus-head {
    font-size: 20px;
    font-style: italic;
    margin-top: -20px;
    padding: 10px 10px 20px;
    text-align: center;
}

.vidimus-table-head {
    background-color: #c8c8c8;
    text-align: center;
}

.vidimus-table {
    font-size: 12px;
    clear: both;
    text-align: center;
}

.vidimus-table td {
    text-align: center;
}

.vidimus-error, .xls-error {
    background-color: #ff8795;
    border-radius: 5px !important;
    margin: 0 auto;
    padding: 13px;
    text-align: center;
    width: 100%;
    display: none;
}

.vidimus-hr {
    display: none;
    width: 100%;
}

.amount-error {
    color: #4679AE;
}

.amount-success {
    color: green;
}

.cash-bank-need-clarify {
    color: #4679AE;
}

.vidimus-table .in {
    background: rgba(0, 0, 0, 0) url("/images/green_arrow.png") no-repeat scroll center 6px / 80% 75%;
    display: inline-block;
    height: 18px;
    width: 12px;
}

.vidimus-table .out {
    background: rgba(0, 0, 0, 0) url("/images/red_arrow.png") no-repeat scroll center 6px / 80% 75%;
    display: inline-block;
    height: 17px;
    width: 12px;
}

.vidimus-table .new-contractor {
    color: red;
    font-style: italic;
}

.vidimus-loader {
    background: rgba(0, 0, 0, 0) url("/images/ajax-loading.gif") repeat scroll 0 0;
    clear: both;
    height: 45px;
    margin: 0 auto;
    width: 45px;
    display: none;
}

.vidimus-close {
    float: right;
}

.vidimus-type {
    border-bottom: 1px dashed rgb(0, 0, 0);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 59%;
    cursor: pointer;
}

.vidimus-type-item {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #a6a6a6;
    border-radius: 3px !important;
    overflow: visible;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: left;
    width: 162px;
    z-index: 99999;
}

.vidimus-type-item div {
    padding: 3px;
}

.vidimus-type-item div:hover {
    background: #c8c8c8;
    cursor: pointer;
}

.red-vidimus {
    color: #4679AE;
    border-bottom-color: #4679AE;
}

.vidimus-cancel {
    float: right;
}

.vidimus-diblicate {
    color: #FF0000;
    font-style: italic;
}

@media (max-width: 992px) {
    #upload-vidimus {
        left: 10% !important;
    }
}

#progressBox {
    width: 100% !important;
}

.vidimus-body .progress {
    width: 100%;
}

#progressBox .progress-bar {
    background-color: #337ab7;
    background-image: -webkit-linear-gradient(top, #337ab7 0, #286090 100%);
    background-image: -o-linear-gradient(top, #337ab7 0, #286090 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#286090));
    background-image: linear-gradient(to bottom, #337ab7 0, #286090 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
}

.vidimus-type-item {
    margin-bottom: 20px;
    max-height: 188px;
    overflow: auto;
}

.vidimus-body {
    overflow: auto !important;
    padding-bottom: 60px !important;
}

.vidimus-table-wrap {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.vidimus-table {
    margin: 0;
}

.vidimus-body .fa-times-circle {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #5b9bd1;
    font-size: 13px;
}

#vidimus-table .btn.blue {
    color: #fff !important;
    background: #4276a4 !important;
}

.vidimus-head {
    padding-top: 20px !important;
}

.vidimus-table-head td {
    color: #333333;
    font-size: 14px !important;
    font-weight: 700 !important;
    padding: 10px !important;
    border-right: 1px solid rgb(221, 221, 221) !important;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
    min-width: 70px !important;
}

.vidimus-table-head td:first-child {
    border-left: 1px solid rgb(221, 221, 221) !important;
    min-width: auto !important;
}

.vidimus-table-head {
    background-color: #fff !important;
    text-align: left !important;
}

.vidimus-table .vidimus-table-head td {
    text-align: left !important;
}

.type-cell {
    width: 140px !important;
}

.vidimus-type {
    max-width: 70px !important;
}

.vidimus-select-label {
    border-bottom: 1px dashed #212529;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    cursor: pointer;
}
.vidimus-select-label.red-vidimus {
    color: red;
    border-bottom-color: red;
}

.vidimus-select-popup {
    margin: -6px -14px;
    cursor: pointer;
}

.vidimus-select-item {
    padding: 2px 5px;
    cursor: pointer;
}

.vidimus-select-item:hover {
    background-color: #c8c8c8;
}
.vidimus-table td:first-child {
    padding-left: 4px;
}
.vidimus-table-head td {
    color: #9198a0;
    border-top: none!important;
}
.vidimus-table-head td:first-child {
    border-left: none!important;
}
.vidimus-table-head td:last-child {
    border-right: none!important;
}