body{
    color: #333333;
    font-family: Arial, sans-serif;
}

table {
    border-spacing: 0;
    border-collapse: collapse !important;
}

table tbody th {
    padding: 0;
}

.txt-9{
    font-size: 9pt;
    font-family: Arial, sans-serif;
    padding-top: 10px;
}

.txt-9-b{
    font-size: 9pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.p-center{
    padding: 20px;
    /*padding-top: 40px;*/
    width: 675px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

.p-center-album{
    /*padding-top: 40px;*/
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

.page-content-in{
    overflow: hidden;
    zoom: 1;
    /*padding-top: 10px;*/
}

.col-md-12{
    width: 992px;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.m-t-md {
    margin-top: 5px;
}

.table-bordered {
    border-collapse: collapse;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table-no-margin {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

table.va-bottom td {
    vertical-align: bottom;
}

.t-p{
    margin-bottom: 0;
}

td{
    border: 1px solid #000000;
    padding: 2px 4px;
    font-size: 9pt;
}

.pad-pdf-p-album td{
    border: 1px solid #000000;
    padding: 1px 2px;
    line-height: 1.15;
}

th{
    border: 1px solid #000000;
    padding: 2px 4px;
    font-size: 9pt;
}

hr{
    color: #000000;
    margin: 0 0 5px 0;
}

h3{
    font-size: 14pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.heading th{
    font-size: 12pt;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
}

.border-n td{
    border: none;
}

.txt-b{
    font-family: Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    padding: 10px 4px;
}

.txt-b2{
    font-family: Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
}

.txt-t{
    font-family: Arial, sans-serif;
    font-size: 9pt;
}


.pad-pdf-p{
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.pad-pdf-p-album{
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.no-b td{
    border:none;
    padding: 5px 4px;
}

.no-border,
.no-border td{
    border:none;
}

.heading th{
    font-family: Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
}


.b-none,
.b-none tr,
.b-none th,
.b-none td {
    border: none;
}

.t-b td{
    padding-right: 0;
}

.m-l{
    margin: 0;
    padding: 0;
}

.line-hr{
    width: 100%;
    height: 2px;
    background: #000000;
}

.line-hr-sm{
    width: 100%;
    height: 1px;
    background: #000000;
}

.m-hr{
    margin: 10px 0 10px 0
}

.m-t-m{
     /*margin-top: -7px;*/
    margin-top: 0;
}

.m-t{
    margin-top: -35px;
}

.ver-top{
    vertical-align: top;
}

.ver-bottom{
    vertical-align: bottom;
}

.toc-table{
    font-family: Arial, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    width: 300px;
}

.txt-paym-order{
    font-family: Arial, sans-serif;
    font-size: 9pt;
    margin: 3px 0 0 0;
}

.txt-paym-order-sm{
    font-family: Arial, sans-serif;
    font-size: 8pt;
    margin:  10px 0 0 0;
}

.txt-font-8{
    font-family: Arial, sans-serif;
    font-size: 8pt;
}

.pad-top-paym-order{
    padding-top: 80px;
}

.no-border-top{
    border-top: none;
}

.no-border-buttom{
    border-bottom: none;
}

.no-border-left{
    border-left: none;
}

.no-border-right{
    border-right: none;
}

.form-unif{

}

.font-size-5{
    font-family: Arial, sans-serif;
    font-size: 5pt;
}

.font-size-6{
    font-family: Arial, sans-serif;
    font-size: 6pt;
}

.font-size-6-bold{
    font-family: Arial, sans-serif;
    font-size: 6pt;
    font-weight: bold;
}

.font-size-8{
    font-family: Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
}

.font-size-7{
    font-family: Arial, sans-serif;
    font-size: 7pt;
    font-weight: normal;
}

.font-size-7-bold{
    font-family: Arial, sans-serif;
    font-size: 7pt;
    font-weight: bold;
}

.font-size-8-bold{
    font-family: Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
}

.font-size-10-bold{
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

.font-size-8-bold-italic{
    font-family: Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    font-style: italic;
}

.font-size-9{
    font-family: Arial, sans-serif;
    font-size: 9pt;
    font-weight: normal;
}

.font-size-9-bold{
    font-family: Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
}

.font-size-10-bold{
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

.line-h-small{
    line-height: 0.1;
}

.padding-min{
   padding-top: -13px;
}

.pad-pdf-p-album h3{
    line-height: 0.1;
}

.pad-l-r-10{
    padding-left: 10px;
    padding-right: 10px;
}

.width-880{
    width: 880px;
}

.vet-top{
    vertical-align: text-top;
}

.vet-bot{
    vertical-align: text-bottom;
}

@media print{
    @page {
        margin: 17px 0 17px 0;
    }
    /*.page-number{*/
        /*page-break-after: always;*/
    /*}*/
}

.page-number{
    font-family: Arial, sans-serif;
    font-size: 8pt;
    font-style: italic;
    text-align: right;
}


.width-b{
    width: 56%;
}

.width-s{
    width: 36%;
}

.float-l{
    float: left;
}

.float-r{
    float: right;
}

.med{
    display: block;
    padding-left: 409px;
}

.med-p{
    display: block;
    padding-left: 210px;
}

.bor-b {
    border-bottom: 1px solid black!important;
}