h4{
    font-size: 12pt;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

h3{
    font-size: 14pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 7px 0;
}

.page-content-in {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.print-title {
    margin-top: 20px;
    font-size: 12pt;
}

.font-bold {
    font-weight: bold;
}

.pull-right {
    float: right;
}

.t-por th{
    padding: 15px 10px;
    font-size: 12pt;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.t-por td{
    padding: 15px 3px;
    font-size: 12pt;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.line-b{
    display: inline-block;
    vertical-align: top;
    padding-left: 100px;
}

.podp-r tr td{
    border: none;
}

.pad-line{
    /*padding-left: 28px;*/
    font-size: 9pt;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.pad-line2{
    padding-left: 40px;
}

.small-txt td{
    font-size: 8pt;
    font-family: Arial, sans-serif;
    font-weight: normal;
    vertical-align: top;
    padding: 0;
    margin: 0;
}
