.theme-kub_wide .page-grid {
    position: relative;
}

.theme-kub_wide .container-fluid {
    width    : 100%;
    max-width: none;
    max-width: 2560px;
    min-width: 1014px;
}


/* header */
/* ====================== */
/* ====================== */


.theme-kub_wide .header>.container-fluid>.row {
    align-items: center;
}

.theme-kub_wide .header .col-7 {
    -ms-flex        : 0 0 55%;
    -webkit-box-flex: 0;
    -webkit-flex    : 0 0 55%;
    flex            : 0 0 55%;
    max-width       : 55%;
}

.theme-kub_wide .header .col-5 {
    -ms-flex        : 0 0 45%;
    -webkit-box-flex: 0;
    -webkit-flex    : 0 0 45%;
    flex            : 0 0 45%;
    max-width       : 45%;
}

.theme-kub_wide .page-in-content.column > .page-border {
    max-width: 710px;
}

@media (max-width: 1299px) {
    .theme-kub_wide .header .col-7 {
        -ms-flex        : 0 0 60%;
        -webkit-box-flex: 0;
        -webkit-flex    : 0 0 60%;
        flex            : 0 0 60%;
        max-width       : 60%;
    }

    .theme-kub_wide .header .col-5 {
        -ms-flex        : 0 0 40%;
        -webkit-box-flex: 0;
        -webkit-flex    : 0 0 40%;
        flex            : 0 0 40%;
        max-width       : 40%;
    }
}

.theme-kub_wide .header .dropdown.pr-3+.text-right {
    /*margin-left: 20px;*/
}

@media (min-width: 1300px) {
    .theme-kub_wide .header .dropdown.pr-3+.text-right {
        /*margin-left: 50px;*/
    }
}

.theme-kub_wide .header-logo-wrap {
    position     : relative;
    margin-left  : -15px;
    padding-left : 15px;
    /*padding-right: 15px;*/
    /*width        : 250px;*/
}


.theme-kub .header .hamburger-wrap {
    position: absolute;
    right   : 30px;
    top     : 100%;
}

.theme-kub.theme-kub_wide .header .hamburger-wrap {
    right   : 14px;
}

@media (min-width: 1095px) {
    .theme-kub .header .hamburger-wrap {
        margin-top: -10px;
    }
}

/* ==================== */
/* ==================== */



/* sidebar */
/* ==================== */
/* ==================== */

.theme-kub .page-sidebar {
    position: fixed;
    top     : 0;
    height  : 100vh;
    --z-index : 999;
    z-index: 3; /* fix calendar overflow */

    width    : 240px;
    flex     : 0 1 auto;
    max-width: none;
}


.theme-kub .page-sidebar__sticky {
    position  : absolute;
    top: 89px;
    left: 15px;
    right: 15px;
    bottom: 0;

    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
  scrollbar-width: none;

    padding-top: 22px;
    transition: bottom linear .2s;
}


@media (min-width: 1095px) {
    .theme-kub .page-sidebar__sticky {
        top: 69px;
    }
}

.theme-kub .page-sidebar__sticky::-webkit-scrollbar {
    display: none;
}

.theme-kub .page-sidebar.page-sidebar_on_scroll_correction .page-sidebar__sticky {
    bottom: 95px;
}

.theme-kub .sidebar {
    top   : auto !important;
    bottom: auto !important;
}

.theme-kub .page-sidebar .sidebar-menu-collapse {
    position: static;
}

.theme-kub .page-sidebar .sidebar-menu-collapse-in {
    position: static;
}

.theme-kub .page-sidebar .sidebar {
    width: 100%;
}

.theme-kub .sidebar-menu-list {
    padding-left: 45px;
}

.theme-kub .sideabar-menu-item {
    width: 100%;
    border-color: #e2e5eb;
}

.theme-kub .sideabar-menu-item:last-child {
    width        : 100%;
    border-bottom: none;
}

.theme-kub .page-sidebar .sidebar-menu-btn {
    padding-left: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.theme-kub .side-menu-logo {
    float: none;
    flex-shrink: 0;
}

.theme-kub .sidebar-menu-icon {
    flex-shrink: 0;
}

.theme-kub .sidebar-menu-btn-txt {
    float: none;
    flex-shrink: 0;
    word-break: break-all;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
}

.theme-kub .sidebar-menu-angle {
    float: none;
    flex-shrink: 0;
    word-break: break-all;
}



.theme-kub .sidebar-menu-list li.sideabar-menu-item-in {
    width: 100%;
}

/* =========================== */
/* =========================== */



/* page content */
/* =========================== */
/* =========================== */

.theme-kub .page-content {
    width       : 100%;
    flex        : 0 0 100%;
    max-width   : 100%;
    padding-left: 255px;
}

.theme-kub.theme-kub_sidebar_collapsed .page-content {
    padding-left: 92px;
}

@media (min-width: 1200px) {
    .theme-kub_wide .page-content {
        flex        : 0 0 100%;
        width       : 100%;
        max-width   : 100%;
    }
    .theme-kub_wide.theme-kub_sidebar_collapsed .page-content {
        padding-left: 102px;
    }
}

.theme-kub_wide .wrap_btns {
    max-width: none;
}

/* =========================== */
/* =========================== */



/* collapsed sidebar */
/* ===================================== */
/* ===================================== */

.theme-kub.theme-kub_sidebar_collapsed .page-sidebar {
    width           : 72px;
    padding-left    : 0;
    padding-right   : 0;
}

.theme-kub.theme-kub_sidebar_collapsed .page-sidebar__sticky {
    padding-top: 17px;
    padding-right: 0;
    left: 0;
    right: 0;
}

.theme-kub.theme-kub_sidebar_collapsed .hamburger-wrap {
    right: 17px;
}

.theme-kub.theme-kub_sidebar_collapsed .hamburger-wrap+.sidebar .sideabar-menu-item:first-child .sidebar-menu-head {
    padding-top: 10px;
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-btn-txt {
    position: relative;
    display : none;
}

.theme-kub.theme-kub_sidebar_collapsed .header-logo-wrap .hamburger-wrap {
    right: 188px;
}

.theme-kub.theme-kub_wide.theme-kub_sidebar_collapsed .header-logo-wrap .hamburger-wrap {
    right: 172px;
}

@media (max-width: 1199px) {
    .theme-kub.theme-kub_sidebar_collapsed .header-logo-wrap .hamburger-wrap {
        right: 188px;
    }
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar {
    width   : 72px;
    overflow: visible;
}

.theme-kub.theme-kub_sidebar_collapsed .sideabar-menu-item,
.theme-kub.theme-kub_sidebar_collapsed .sideabar-menu-item-in {
    position        : relative;
    width           : 100%;
    padding: 0;
    min-height: 43px;
}

.theme-kub.theme-kub_sidebar_collapsed .sideabar-menu-item:hover>.sidebar-menu-head:not(#itemextra1),
.theme-kub.theme-kub_sidebar_collapsed .sideabar-menu-item-in:hover>.sidebar-menu-head {
    z-index: 3;
    background-color: #e9ebee;
}

.theme-kub.theme-kub_sidebar_collapsed .sideabar-menu-item .sidebar-menu-head,
.theme-kub.theme-kub_sidebar_collapsed .sideabar-menu-item-in .sidebar-menu-head {
    padding: 10px 0;
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-collapse,
.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-collapse-in:not(#itemextra1Content) {

    position: fixed;
    z-index : 2;

    display   : block !important;
    height    : auto !important;
    max-height: none !important;

    opacity         : 0;
    visibility      : hidden;
    transition      : none !important;
    transform       : none;
    background-color: #e9ebee;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.200066);
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-body {
    position: relative;
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-list {
    width  : 230px;
    padding: 0 20px 10px 20px;

    height: 100%;
}

@media (min-width: 1200px) {
    .theme-kub_wide.theme-kub_sidebar_collapsed .sidebar-menu-list {
        width: 250px;
    }
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-submenu-list {
    width  : auto;
    padding: 0 !important;
}

@media (min-width: 1200px) {
    .theme-kub_wide.theme-kub_sidebar_collapsed .sidebar-submenu-list {
        width: auto;
    }
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-title {
    padding    : 10px 20px 0px;
    font-weight: 700;
    font-size  : 18px;
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-head:hover .sidebar-menu-icon,
.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-head:not(#itemextra1):hover .sidebar-menu-angle {
    color: #4679AE;
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-head:not(#itemextra1):hover .sidebar-menu-angle {
    transform : rotate(0);
}

.theme-kub.theme-kub_sidebar_collapsed .sideabar-menu-item:hover>.sidebar-menu-collapse {
    opacity   : 1;
    visibility: visible;
}

.theme-kub.theme-kub_sidebar_collapsed .sideabar-menu-item-in:hover>.sidebar-menu-collapse-in {
    opacity   : 1 !important;
    visibility: visible !important;
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-btn {
    padding-left   : 25px;
    padding-right  : 8px;
}

.theme-kub.theme-kub_sidebar_collapsed #itemextra1 .sidebar-menu-btn .sidebar-menu-angle {
    font-size: 16px;
    display: block !important;
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-btn svg,
.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-btn .side-menu-logo {
    margin: 0 !important;
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-append {
    display: none;
}

.theme-kub.theme-kub_sidebar_collapsed .sidebar-menu-angle {
    font-size: 10px;
}

/* ===================================== */
/* ===================================== */



/* Hamburger */
/* ======================================== */
/* ======================================== */


.hamburger {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 16px;
    height         : 16px;
    border         : 1px solid #4679AE;
    border-radius  : 5px;
    margin-top     : 18px;


    font-size     : 0;
    cursor        : pointer;
    text-transform: none;

    background-color: #fff;
    overflow        : visible;
}

.hamburger:hover {
    background-color: #4679AE;
}

.hamburger.is-active:hover .hamburger-inner,
.hamburger.is-active:hover .hamburger-inner:before,
.hamburger.is-active:hover .hamburger-inner:after {
    background-color: #fff;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #4679AE;
}

.hamburger-box {
    width   : 5px;
    height  : 5px;
    display : block;
    position: relative;
}

.hamburger-inner {
    display         : block;
    top             : 50%;
    margin-top      : -2px;
    background-color: transparent !important;
    width           : 0 !important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width                     : 7px;
    height                    : 1px;
    background-color          : #4679AE;
    border-radius             : 4px;
    position                  : absolute;
    transition-property       : transform;
    transition-duration       : 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: 0;
}

.hamburger-inner::after {
    bottom: -3px;
}


.hamburger--arrow.is-active .hamburger-inner::before {
    transform: translate3d(-1px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
    transform: translate3d(-1px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.theme-kub.theme-kub_sidebar_collapsed .hamburger {
    transform       : rotate(180deg);
    background-color: #4679AE;
}

.theme-kub.theme-kub_sidebar_collapsed .hamburger .hamburger-inner,
.theme-kub.theme-kub_sidebar_collapsed .hamburger .hamburger-inner::before,
.theme-kub.theme-kub_sidebar_collapsed .hamburger .hamburger-inner::after {
    background-color: #fff;
}

/* ======================================== */
/* ======================================== */


/* footer */
/* ======================================= */
/* ======================================= */

.theme-kub_wide .footer {
    position        : relative;
    background-color: #e9ebee;
    z-index         : 100;
}

/* ======================================= */
/* ======================================= */


/* others */

.tooltipster-in-modal {
    z-index: 99999 !important;
}

/* ======================================= */
/* ======================================= */