#taxrobot-start-modal .modal-dialog  {
    height: 88%;
    margin: 6vh auto;
}
#taxrobot-start-modal .modal-content  {
    min-height: 100%;
}
#taxrobot-start-modal .modal-body {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
#taxrobot-start-modal .button-regular {
    padding-left: 20px;
    padding-right: 20px;
}
#taxrobot-start-modal .input-group-btn {
    display: -ms-flexbox !important;
    display: flex !important;
}
#taxrobot-start-modal .input-group-btn .btn {
    align-items: baseline;
}
#taxrobot-start-modal .input-group-btn .glyphicon {
    margin-right: 5px;
}
#taxrobot-start-modal .taxrobot-start-header {
    margin-bottom: 30px;
}
#taxrobot-start-modal .taxrobot-start-header h4 {
    margin: 0;
}
#taxrobot-start-modal .taxrobot-start-content {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}
#taxrobot-start-modal .taxrobot-start-content > hr {
    display: none;
}
#taxrobot-start-modal .return-button {
    margin: 30px 0 0 ;
}
#taxrobot-start-modal .return-button button {
    min-width: 130px;
}
#taxrobot-start-modal .min-w-130 {
    min-width: 130px;
}
#taxrobot-start-modal .items-form {
    display: inline-block;
    padding: 0 15px;
    margin: 0 0 20px;
}
#taxrobot-start-modal .taxrobot-start-btn {
    height: auto;
    display: block;
    width: 100%;
    font-weight: normal;
}
#taxrobot-start-modal #banking-module-pjax .modal-header,
#taxrobot-start-modal #banking-module-pjax .modal-title,
#taxrobot-start-modal #banking-module-pjax .modal-close,
#taxrobot-start-modal #banking-module-pjax .banking-cancel,
#taxrobot-start-modal #banking-module-pjax .hide-in-banking,
#taxrobot-start-modal #banking-module-pjax .return-button,
#taxrobot-start-modal #banking-module-pjax .hide-in-banking,
#taxrobot-start-modal #banking-module-pjax .cancel,
#taxrobot-start-modal #banking-module-pjax .back {
    display: none !important;
}
#taxrobot-start-modal .wait-image {
    position: relative;
    width: 100%;
    padding-top: 40%;
    margin: 0 auto;
    background-image: url(/images/declaration_for_10_min.png);
    background-position: center;
    background-size: 150%;
}