.jcrop-cropper-table {
    width: 100%;
    position: relative;
}
.jcrop-cropper-table td {
    position: relative;
    vertical-align: top;
}

.jcrop-image-pane,
.jcrop-preview-pane {
    background-color: white;
    padding: 3px;
    border: 1px solid rgba(0,0,0,.4);
    margin: -1px;
}

.jcrop-preview-wrapper {
    position: relative;
}

.jcrop-preview-container {
    position: relative;
    overflow: hidden;
}
.jcrop-preview-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.company_img img {
    max-height: 70px;
    width: 100%;
}
.company_img_dummy {
    height: 70px;
    border: solid 1px #e5e5e5;
    box-sizing: border-box;
}
table.company-image-preview {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
table.company-image-preview td {
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}
#chiefAccountantSignatureImage-image-result table.company-image-preview td {
    height: 60px;
}
table.company-image-preview td img {
    max-width: 100%;
    max-height: 100%;
}
.company-image-edit {
    margin-top: 10px;
}