@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ob4jiv');
	src:url('../fonts/icomoon.eot?ob4jiv#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ob4jiv') format('truetype'),
		url('../fonts/icomoon.woff?ob4jiv') format('woff'),
		url('../fonts/icomoon.svg?ob4jiv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.ico-question:before {
  content: "\e900";
}
.ico-video:before {
  content: "\e901";
}
.ico-Send-smart-pls:before {
  content: "\e902";
}
.ico-Cancel-smart-pls:before {
  content: "\e903";
}
.ico-Denied-smart-pls:before {
  content: "\e904";
}
.ico-Save-smart-pls:before {
  content: "\e905";
}
.ico-Paid-smart-pls:before {
  content: "\e906";
}
.ico-attach-1:before {
  content: "\e907";
}
.ico-attach-2:before {
  content: "\e908";
}
.ico-attach-3:before {
  content: "\e909";
}
.ico-mastercard-smart-pls:before {
  content: "\e90a";
}
.ico-visa-smart-pls:before {
  content: "\e90c";
}
.ico-qiwi-smart-pls:before {
  content: "\e90d";
}
.ico-attach-4:before {
  content: "\e90b";
}

.fs{
	font-size: 1.4em;
	vertical-align: middle;
}
.fa-2x {
	font-size: 1.35em !important;
}
