.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.svg-icon_grey {
  color: #bbc1c7;
}

.svg-icon_font_size_50 {
  font-size: 50px;
}

.svg-icon_font_size_40 {
  font-size: 40px;
}

.svg-icon_font_size_27 {
  font-size: 27px;
}

.svg-icon_font_size_12 {
  font-size: 12px !important;
}

.svg-icon.red {
  color: #e30611 !important;
}

.svg-icon.white {
  color: #fff !important;
}

.svg-icon_reverse {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.svg-icon_rotate_90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.svg-icon_rotate_90_negative {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.svg-icon-add path {
  color: #fff;
}

@font-face {
  font-family: 'Corpid E3 SCd';
  src: url("../fonts/subset-CorpidE3SCd-Regular.woff2") format("woff2"), url("../fonts/subset-CorpidE3SCd-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corpid E3 SCd';
  src: url("../fonts/subset-CorpidE3SCd-Bold.woff2") format("woff2"), url("../fonts/subset-CorpidE3SCd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Corpid E3 SCd';
  src: url("../fonts/subset-CorpidE3SCd-Light.woff2") format("woff2"), url("../fonts/subset-CorpidE3SCd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: "Corpid E3 SCd", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: #001424;
  background-color: #F2F3F7;
  min-width: 1007px;
}

body.scroll-hidden {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.width-100 {
  width: 100px !important;
}

.width-120 {
  width: 120px !important;
}

.width-130 {
  width: 130px !important;
}

.width-160 {
  width: 160px !important;
}

.min-width-100 {
  min-width: 100px !important;
}

.h-120 {
  height: 120px;
}

.no-border {
  border: none !important;
}

.no-border-right {
  border-right: none !important;
}

.border-bottom {
  border-bottom: 1px solid #f2f3f7 !important;
}

.border-color-grey-light {
  border-color: #f2f3f7;
}

.collapsed .svg-icon-collapse {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.highlighted {
  position: relative;
  z-index: 99999;
  background-color: #f2f3f7;
  border: solid 1px #e30611 !important;
  color: #e30611;
}

.red-light:before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  right: -1px;
  bottom: -2px;
  background-color: rgba(227, 6, 17, 0.25);
}

.red-light_2:before {
  background-color: rgba(227, 6, 17, 0.2);
}

.red-light_3:before {
  background-color: rgba(227, 6, 17, 0.15);
}

.red-light_4:before {
  background-color: rgba(227, 6, 17, 0.1);
}

.red-light_5:before {
  background-color: rgba(227, 6, 17, 0.05);
}

.green-light:before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  right: -1px;
  bottom: -2px;
  background-color: rgba(38, 205, 88, 0.25);
}

.green-light_2:before {
  background-color: rgba(38, 205, 88, 0.2);
}

.green-light_3:before {
  background-color: rgba(38, 205, 88, 0.15);
}

.green-light_4:before {
  background-color: rgba(38, 205, 88, 0.1);
}

.green-light_5:before {
  background-color: rgba(38, 205, 88, 0.05);
}

.background-grey {
  background-color: #f2f3f7;
}

.border-radius-4 {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.ml-1-negative {
  margin-left: -0.25rem !important;
}

.ml-2-negative {
  margin-left: -0.5rem !important;
}

.ml-3-negative {
  margin-left: -1rem !important;
}

.ml-4-negative {
  margin-left: -1.5rem !important;
}

.ml-4-negative {
  margin-left: -3rem !important;
}

.mr-1-negative {
  margin-right: -0.25rem !important;
}

.mr-2-negative {
  margin-right: -0.5rem !important;
}

.mr-3-negative {
  margin-right: -1rem !important;
}

.mr-4-negative {
  margin-right: -1.5rem !important;
}

.mr-4-negative {
  margin-right: -3rem !important;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.container-fluid {
  min-width: 1007px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid_large {
  max-width: 1635px;
  min-width: 1500px;
}

.column {
  padding-left: 15px;
  padding-right: 15px;
}

.row_indents_s {
  margin-left: -5px;
  margin-right: -5px;
}

.row_indents_s > * {
  padding-left: 5px;
  padding-right: 5px;
}

.row_indents_sm {
  margin-left: -6px;
  margin-right: -6px;
}

.row_indents_sm > * {
  padding-left: 6px;
  padding-right: 6px;
}

.row_indents_m {
  margin-left: -10px;
  margin-right: -10px;
}

.row_indents_m > * {
  padding-left: 10px;
  padding-right: 10px;
}

.collapse.show .bank-form-wrap {
  opacity: 1;
  visibility: visible;
}

.lazy-box {
  position: relative;
}

.lazy-box:after {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.lazy-box-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.lazy-loading:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  -webkit-animation: scaleout 1.2s infinite ease-in-out;
  animation: scaleout 1.2s infinite ease-in-out;
  mix-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.9);
}

.lazyload,
.lazy-lazyloading {
  opacity: 0;
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  transition: linear .2s;
}

.lazyload,
.lazyloaded {
  opacity: 1;
}

.button-clr {
  padding: 0;
  border: none;
  background-color: transparent;
}

.button-clr:focus {
  outline: none;
}

.button {
  display: inline-block;
}

.add-button {
  padding: 14px 16px;
  line-height: 20px;
}

.add-button:hover {
  color: #e30611;
  text-decoration: none;
}

.add-button-icon {
  position: relative;
  top: -1px;
  font-size: 16px;
  color: #e30611;
}

.add-button-icon + .add-button-txt {
  margin-left: 8px;
}

.add-button-txt {
  font-size: 16px;
  font-weight: 700;
  color: #e30611;
  letter-spacing: -0.23px;
}

.button-list {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  font-size: 16px;
  line-height: 1;
  color: #000;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #e2e5eb;
  background-color: #ffffff;
}

.button-list:hover {
  color: #000;
  text-decoration: none;
}

.button-list:not(.collapsed) {
  background-color: #e30611;
  border-color: #e30611;
  color: #fff;
}

.button-list:not(.collapsed):hover {
  background-color: #c90000;
  border-color: #c90000;
}

.button-regular {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 10px 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #001424;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #e2e5eb;
  background-color: #ffffff;
}

.button-regular .svg-icon {
  position: relative;
  font-size: 16px;
}

.button-regular .svg-icon + span {
  margin-left: 8px;
}

.button-regular .svg-icon_shevron {
  font-size: 12px;
}

.button-regular .svg-icon_absolute {
  font-size: 12px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.button-regular:hover {
  text-decoration: none;
  color: #001424;
}

.button-regular_red {
  border-color: #e30611;
  background-color: #e30611;
  color: #fff;
}

.button-regular_red:hover {
  background-color: #c90000;
  border-color: #c90000;
  color: #fff;
}

.button-regular_padding_medium {
  padding-left: 15px;
  padding-right: 15px;
}

.button-regular_padding_bigger {
  padding-left: 20px;
  padding-right: 20px;
}

.button-regular_padding_large {
  padding-left: 25px;
  padding-right: 25px;
}

.button-regular.text-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.button-regular_width_360 {
  width: 360px;
}

.button-regular_border_transparent {
  border-color: transparent;
}

.button-regular_border_width_1 {
  border-width: 1px;
}

.button-regular_border_bottom_grey {
  border: none;
  border-bottom: 2px solid #e2e5eb;
}

.button-hover-red:hover {
  background-color: #c90000;
  border-color: #c90000;
  color: #fff;
}

.button-hover-dark:hover {
  background-color: #001424;
  border-color: #001424;
  color: #fff;
}

.button-hover-content-red:hover {
  color: #c90000;
}

.button-hover-content-red:hover .svg-icon {
  color: #c90000;
}

.button-hover-transparent:hover {
  background-color: #f2f3f7;
}

.button-hover-grey:hover {
  border-color: #e2e5eb;
  background-color: #e2e5eb;
  color: #bac1c8;
}

.button-width {
  width: 127px;
}

.button-width-medium {
  width: 90px;
}

.button-width_123 {
  width: 123px;
}

.button-disabled {
  background-color: #e2e5eb;
  border-color: #e2e5eb;
  color: #bac1c8;
}

.button-disabled:hover {
  cursor: default;
  border-color: #e2e5eb;
  background-color: #e2e5eb;
  color: #bac1c8;
}

.button-red {
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  color: #fff;
  line-height: 1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e30611;
}

.button-red:hover {
  color: #fff;
  text-decoration: none;
}

.button-red_small {
  padding: 15px;
}

.button-grey-light {
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  color: #bac1c8;
  line-height: 1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e2e5eb;
}

.button-grey-light:hover {
  text-decoration: none;
  color: #bac1c8;
}

.button-edit {
  display: inline-block;
}

.button-regular-more .button-txt + .svg-icon {
  margin-left: 10px;
}

.button-regular-more .svg-icon {
  color: #bbc1c7;
  font-size: 12px;
}

.button-dotted {
  border: 2px dotted #0097fd;
}

.button-hover-dark:hover {
  background-color: #001424;
  border-color: #001424;
  color: #fff;
}

.indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #E30611;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 0;
}

.input-hidden {
  position: absolute;
  top: 0;
  left: -9999px;
  opacity: 0;
  visibility: hidden;
}

.form-control {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  padding: 11px 15px 9px;
  color: #001424;
  height: auto;
  min-height: auto;
  line-height: 1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #e2e5eb;
  background-color: #ffffff;
  resize: none;
  opacity: .6;
}

.form-control.placeholder {
  color: #bbc1c7;
}

.form-control:-moz-placeholder {
  color: #bbc1c7;
}

.form-control::-moz-placeholder {
  color: #bbc1c7;
}

.form-control:-ms-input-placeholder {
  color: #bbc1c7;
}

.form-control::-webkit-input-placeholder {
  color: #bbc1c7;
}

.form-control::-webkit-search-decoration, .form-control::-webkit-search-cancel-button, .form-control::-webkit-search-results-button, .form-control::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-control::-webkit-inner-spin-button, .form-control::-webkit-calendar-picker-indicator, .form-control::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

.form-control:hover:not([disabled]) {
  opacity: 1;
}

.form-control:hover:not([disabled]) + .svg-icon {
  opacity: 1;
}

.form-control:focus {
  outline: none;
  opacity: 1;
  color: #001424;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #0097fd;
}

.form-control:focus.placeholder {
  opacity: 0;
  visibility: hidden;
}

.form-control:focus:-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}

.form-control:focus::-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}

.form-control:focus:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.form-control:focus::-webkit-input-placeholder {
  opacity: 0;
  visibility: hidden;
}

.form-control:focus + .svg-icon {
  opacity: 1;
}

.form-control.error {
  border-color: #e30611;
  opacity: 1;
}

.form-control.error + .svg-icon {
  opacity: 1;
}

.form-control.error:focus {
  border-color: #0097fd;
}

.form-control.succes {
  color: #001424;
  opacity: 1;
}

.form-control.succes + .svg-icon {
  opacity: 1;
}

.form-control.date-picker, .form-control.date-picker-range {
  opacity: 1;
}

.form-control.date-picker:focus, .form-control.date-picker-range:focus {
  border-color: #e2e5eb;
}

.form-control_small {
  width: 130px;
}

.form-control_count {
  width: 87px;
}

.form-control_red {
  color: #e30611;
}

.form-control_placeholder_red.placeholder {
  color: #e30611;
}

.form-control_placeholder_red:-moz-placeholder {
  color: #e30611;
}

.form-control_placeholder_red::-moz-placeholder {
  color: #e30611;
}

.form-control_placeholder_red:-ms-input-placeholder {
  color: #e30611;
}

.form-control_placeholder_red::-webkit-input-placeholder {
  color: #e30611;
}

.form-control_width_60 {
  width: 60px;
}

.form-control_width_110 {
  width: 110px;
}

.form-control_width_140 {
  width: 140px;
}

.form-control_width_240 {
  width: 240px;
}

.form-control_width_430 {
  width: 430px;
}

.form-control[disabled] {
  opacity: .6;
  border: solid 2px #e2e5eb;
  background-color: #ffffff;
}

.form-control[disabled].disabled {
  background-color: #eff0f4;
  border-color: #eff0f4;
  opacity: 1;
  color: #e30611;
}

.form-control-shevron {
  color: #bbc1c7;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.form-control-box {
  position: relative;
}

.form-control-box .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e2e5eb;
  color: #001424;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.form-control-box .form-control.placeholder {
  color: #bbc1c7;
}

.form-control-box .form-control:-moz-placeholder {
  color: #bbc1c7;
}

.form-control-box .form-control::-moz-placeholder {
  color: #bbc1c7;
}

.form-control-box .form-control:-ms-input-placeholder {
  color: #bbc1c7;
}

.form-control-box .form-control::-webkit-input-placeholder {
  color: #bbc1c7;
}

.form-control-box .form-control + .svg-icon {
  opacity: .6;
}

.form-control-box .form-control:focus {
  border-color: transparent;
  border-bottom-color: #0097fd;
}

.form-control-box .form-control.error {
  border-bottom-color: #e30611;
}

.form-control-box .form-control.error:focus {
  border-bottom-color: #0097fd;
}

.form-control-box .svg-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 14px;
  color: #bbc1c7;
}

.form-control-wrap .form-control[value] {
  opacity: 1;
  border-color: #e2e5eb;
  background-color: #e2e5eb;
  color: rgba(51, 51, 51, 0.56);
}

.form-control-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.form-control-link {
  border: 2px dotted #9198a0;
  color: #0097fd;
}

.label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #9198a0;
}

.label_alternative {
  color: #001424;
  font-size: 16px;
}

.checkbox {
  position: relative;
  display: inline-block;
}

.checkbox_right .checkbox-label {
  padding-right: 30px;
  width: 100%;
}

.checkbox_right .checkbox-pseudo {
  position: absolute;
  left: auto;
  right: 0;
  top: 1px;
  margin-right: 0;
}

.checkbox_right .checkbox-pseudo + .checkbox-txt, .checkbox_right .checkbox-pseudo + .checkbox-txt-bold {
  margin-left: 0;
}

.checkbox_transparent .checkbox-icon {
  color: #e30611;
}

.checkbox_transparent .checkbox-input:checked + label .checkbox-pseudo {
  background-color: #fff;
  border-color: #e2e5eb;
}

.checkbox_transparent .checkbox-input:checked + label .checkbox-icon {
  opacity: 1;
  visibility: visible;
}

.checkbox_dark .checkbox-icon {
  color: #001424;
}

.checkbox_plus .checkbox-input:checked + label .checkbox-pseudo {
  background-color: #fff;
  border-color: #000;
}

.checkbox_plus .checkbox-input:checked + label .checkbox-pseudo:before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.checkbox_plus .checkbox-input:checked + label .checkbox-pseudo:after {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
}

.checkbox_plus .checkbox-pseudo {
  border-color: #000;
}

.checkbox_plus .checkbox-pseudo:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 8px;
  width: 2px;
  background-color: #000;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.checkbox_plus .checkbox-pseudo:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8px;
  height: 2px;
  background-color: #000;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.checkbox-input + label .checkbox-txt-bold {
  position: relative;
  top: -2px;
}

.checkbox-input:checked + label .checkbox-pseudo {
  background-color: #e30611;
  border-color: #e30611;
}

.checkbox-input:checked + label .checkbox-icon {
  opacity: 1;
  visibility: visible;
}

.checkbox-label {
  position: relative;
  margin: 0;
  padding-left: 18px;
  min-width: 18px;
  min-height: 18px;
}

.checkbox-pseudo {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #e2e5eb;
  background-color: #ffffff;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.checkbox-pseudo + .checkbox-txt, .checkbox-pseudo + .checkbox-txt-bold {
  margin-left: 8px;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.checkbox-txt {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.checkbox-txt-bold {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  color: #001424;
}

.radio {
  position: relative;
  display: inline-block;
}

.radio_dot .radio-pseudo:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #e2e5eb;
}

.radio_dot .radio-input:checked + label .radio-pseudo {
  border-color: #fff;
}

.radio_red .radio-input:checked + label .radio-pseudo {
  background-color: #e30611;
}

.radio_dark .radio-input:checked + label .radio-pseudo {
  background-color: #001424;
}

.radio_join .button-regular {
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.radio_join .radio-input:checked + .button-regular {
  background-color: #e30611;
  border-color: #e30611;
  color: #fff;
}

.radio_join + .radio_join .button-regular {
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
}

.radio-input:checked + label .radio-pseudo {
  border: 5px solid #e30611;
}

.radio-label {
  position: relative;
  min-width: 18px;
  min-height: 18px;
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin: 0;
}

.radio-pseudo {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px #e2e5eb;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
  background-color: #ffffff;
  font-size: 0;
}

.radio-pseudo + .radio-txt, .radio-pseudo + .radio-txt-bold {
  margin-left: 6px;
}

.radio-txt, .radio-txt-bold {
  display: inline-block;
  color: #001424;
  margin: 0;
}

.radio-txt .form-control, .radio-txt-bold .form-control {
  width: 75px;
  display: inline-block;
  font-weight: 700;
  text-align: right;
}

.radio-txt-bold {
  font-weight: 700;
}

.switch {
  position: relative;
  line-height: 1;
}

.switch-input:checked + label .switch-pseudo:after {
  background-color: #26cd58;
  left: 15px;
}

.switch-label {
  position: relative;
  padding-left: 34px;
  margin: 0;
  min-width: 34px;
  min-height: 20px;
}

.switch-pseudo {
  position: absolute;
  left: 0;
  top: 1px;
  display: inline-block;
  width: 34px;
  height: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: solid 2px #e2e5eb;
  background-color: #ffffff;
}

.switch-pseudo:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 3px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #d0d8e5;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.switch-txt-bold {
  font-weight: 700;
}

.nav-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-pagination li {
  font-size: 16px;
  text-align: center;
  color: #6e7782;
  padding-left: 9px;
  padding-right: 9px;
}

.nav-pagination li.active a {
  border-color: #e30611;
  color: #e30611;
}

.nav-pagination li.active a:hover {
  text-decoration: none;
}

.nav-pagination a {
  display: block;
  padding: 6px 11px 5px;
  border: solid 1px transparent;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #6e7782;
}

.nav-pagination a:hover {
  color: #e30611;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #e30611;
  border-color: #e30611;
  color: #fff;
}

.date-picker-wrapper {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  padding: 15px;
  z-index: 9999;
  border: none;
  margin-top: 5px;
  font-family: "Corpid E3 SCd", sans-serif;
}

.date-picker-wrapper .month-wrapper {
  border: none;
  padding: 0;
}

.date-picker-wrapper .footer {
  display: none;
}

.date-picker-wrapper .gap {
  width: 15px;
  background-color: transparent;
  border-color: transparent;
}

.date-picker-wrapper .gap .gap-line .gap-1 {
  border-color: transparent;
  background-color: transparent;
}

.date-picker-icon {
  color: #bbc1c7;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 2;
  cursor: pointer;
}

.date-picker-wrap .form-control {
  padding-left: 10px;
  padding-right: 30px;
}

.date-picker-wrapper .month-wrapper table th.month-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: -0.23px;
  color: #0097fd;
}

.date-picker-wrapper .drp_top-bar {
  display: none;
}

.date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev {
  color: #0097fd;
  font-size: 16px;
}

.date-picker-wrapper table .caption .next {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.date-picker-wrapper table .caption .prev {
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.date-picker-wrapper .month-wrapper table td, .date-picker-wrapper .month-wrapper table th {
  font-size: 12px;
  line-height: 27px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  color: #9198a0;
}

.date-picker-wrapper .month-wrapper table td:first-letter, .date-picker-wrapper .month-wrapper table th:first-letter {
  text-transform: uppercase;
}

.date-picker-wrapper .month-wrapper table td {
  padding: 0;
}

.date-picker + .date-picker-icon + .date-picker-wrapper .month-wrapper table .day.toMonth.valid.tmp {
  background-color: transparent;
}

.date-picker-wrapper .month-wrapper table .day {
  padding: 0;
  width: 27px;
  line-height: 27px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #001424;
}

.date-picker-wrapper .month-wrapper table .day:hover {
  color: #e30611;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.valid {
  color: #001424;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.valid.checked {
  background-color: #f2f3f7;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.valid.checked.first-date-selected, .date-picker-wrapper .month-wrapper table .day.toMonth.valid.checked.last-date-selected {
  background-color: #e30611 !important;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.valid.checked.real-today {
  background-color: #f2f3f7;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.valid.hovering {
  background-color: transparent;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.valid.hovering.tmp {
  background-color: #f2f3f7;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.valid.hovering.tmp.real-today {
  color: #001424;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.valid.real-today {
  background-color: transparent;
  color: #0097fd;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.valid:hover {
  color: #e30611;
}

.date-picker-wrapper .date-range-length-tip {
  background-color: #001424;
  color: #fff;
  padding: 3px;
  margin-top: -10px;
}

.date-picker-wrapper .date-range-length-tip:after {
  border-top-color: #001424;
}

.date-picker-wrap {
  position: relative;
}

.date-picker-wrap_left .datepicker-inline {
  position: absolute;
  top: auto !important;
  bottom: 0 !important;
  left: auto !important;
  right: 100% !important;
  margin-bottom: 0px;
  margin-right: 156px;
  margin-bottom: -28px;
}

.date-picker-wrap_left .datepicker--pointer {
  left: 100% !important;
  margin-left: -6px;
  bottom: 35px;
}

.date-picker-wrap_left_max .datepicker-inline {
  margin-right: 284px;
}

.date-picker-wrap_left_max .datepicker--pointer {
  display: none;
}

.date-picker-wrap_view-top .datepicker {
  top: auto !important;
  bottom: 100% !important;
}

.date-picker-wrap_view-top .datepicker--pointer {
  bottom: auto;
  top: calc(100% - 4px);
}

.datepicker-inline.visible .datepicker {
  opacity: 1;
  visibility: visible;
}

.datepicker {
  top: 100% !important;
  left: 0 !important;
  right: auto !important;
  bottom: auto !important;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 240px;
  border: none;
  padding: 15px 10px;
  font-family: "Corpid E3 SCd", sans-serif;
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.18) !important;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.18) !important;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s linear .1s;
  -o-transition: .2s linear .1s;
  transition: .2s linear .1s;
}

.datepicker.visible {
  opacity: 1;
  visibility: visible;
}

.datepicker--nav {
  border: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 15px;
}

.datepicker--pointer {
  border: none;
}

.datepicker--nav-action svg {
  width: 1em;
  height: 1em;
}

.datepicker--nav-action path {
  fill: inherit;
  stroke: inherit;
  stroke-width: 0;
}

.datepicker--nav-title {
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: -0.23px;
  color: #001424;
}

.datepicker--nav-title i {
  color: #001424;
}

.datepicker--nav-title:hover {
  background-color: transparent;
  color: #0097fd;
}

.datepicker--days-names {
  margin-bottom: 10px;
}

.datepicker--nav-action {
  font-size: 16px;
  color: #0097fd;
  width: 1em;
  height: 1em;
}

.datepicker--nav-action:hover {
  background-color: transparent;
  color: #e30611;
}

.datepicker--nav-action[data-action="prev"] {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.datepicker--nav-action[data-action="next"] {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.datepicker--content {
  padding: 0;
}

.datepicker--day-name {
  text-transform: none;
  font-size: 12px;
  font-weight: 700;
  color: #9198a0;
}

.datepicker--day-name:first-letter {
  text-transform: uppercase;
}

.datepicker--cell {
  height: 27px;
  font-size: 14px;
  font-weight: 700;
  color: #001424;
  text-align: center;
}

.datepicker--cell.-weekend-.-current- {
  color: #0097fd;
}

.datepicker--cell.-focus- {
  color: #e30611;
  background-color: transparent;
}

.datepicker--cell.-selected- {
  background-color: #e30611;
  color: #fff;
}

.datepicker--cell.-selected-:hover {
  background-color: #e30611;
  color: #fff;
}

.datepicker--cell.-selected-.-current- {
  background-color: #e30611;
  color: #fff;
}

.datepicker--cell.-selected-.-current-:hover {
  background-color: #e30611;
  color: #fff;
}

.date-picker-box {
  width: auto;
}

.date-picker-box .svg-icon {
  right: auto;
  left: 70px;
  margin-top: 1px;
  color: #001424;
}

.date-picker-box .svg-icon.position-applyed {
  left: 20px;
}

.date-picker-box .form-control {
  width: auto;
  padding-right: 40px;
  padding-left: 50px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.date-picker-box .form-control.placeholder {
  text-align: center;
  color: #001424;
}

.date-picker-box .form-control:-moz-placeholder {
  text-align: center;
  color: #001424;
}

.date-picker-box .form-control::-moz-placeholder {
  text-align: center;
  color: #001424;
}

.date-picker-box .form-control:-ms-input-placeholder {
  text-align: center;
  color: #001424;
}

.date-picker-box .form-control::-webkit-input-placeholder {
  text-align: center;
  color: #001424;
}

.date-picker-box .form-control:focus + .svg-icon {
  left: 20px;
}

.date-picker-box .form-control.dark {
  background-color: #001424;
  border-color: #001424;
}

.date-picker-box .form-control.dark + .svg-icon {
  color: #fff;
}

.date-picker-box:hover .form-control {
  background-color: #001424;
  border-color: #001424;
  color: #fff;
}

.date-picker-box:hover .form-control.placeholder {
  color: #fff;
}

.date-picker-box:hover .form-control:-moz-placeholder {
  color: #fff;
}

.date-picker-box:hover .form-control::-moz-placeholder {
  color: #fff;
}

.date-picker-box:hover .form-control:-ms-input-placeholder {
  color: #fff;
}

.date-picker-box:hover .form-control::-webkit-input-placeholder {
  color: #fff;
}

.date-picker-box:hover .form-control + .svg-icon {
  color: #fff;
}

.date-picker-box_special {
  width: 100%;
}

.date-picker-box_special .form-control {
  width: 100%;
  padding-right: 30px;
}

.date-picker-box_special .svg-icon {
  left: 60px;
}

.date-picker-box_special .date-picker-wrapper {
  left: auto !important;
  right: 0 !important;
}

.inputFile {
  position: relative;
  display: inline-block;
}

.inputFile_transparent .inputFile-btn {
  background-color: transparent;
}

.inputFile-label {
  cursor: pointer;
  margin: 0;
}

.inputFile-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #e2e5eb;
  background-color: #ffffff;
}

.inputFile-btn:hover {
  background-color: #f2f3f7;
}

.inputFile-icon {
  font-size: 16px;
  color: #001424;
}

.alert-warning {
  background-color: rgba(249, 87, 33, 0.1);
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #001424;
}

.alert-warning .svg-icon {
  font-size: 22px;
}

.paid {
  background-color: #26cd58;
  border-color: #26cd58;
  color: #fff;
}

.paid:hover {
  background-color: #26cd58;
  border-color: #26cd58;
  color: #fff;
}

.expaired {
  background-color: #ea1f49;
  border-color: #ea1f49;
  color: #fff;
}

.expaired:hover {
  background-color: #ea1f49;
  border-color: #ea1f49;
  color: #fff;
}

.sidebar {
  overflow-y: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar_fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.sidebar-scroll {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar-title {
  margin-left: -8px;
  margin-right: -8px;
}

.sidebar-title .column {
  padding-left: 8px;
  padding-right: 8px;
}

.custom-scroll {
  overflow-y: auto;
}

.custom-scroll .mCSB_scrollTools {
  width: 3px;
}

.custom-scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #e2e5eb !important;
  width: 100%;
}

.custom-scroll .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.custom-scroll-table {
  overflow-x: auto;
  max-width: 1015px;
}

.custom-scroll-table .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 7px;
}

.custom-scroll-table .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 24px;
  padding: 7px 0 7px;
  border-top: 1px solid #f2f3f7;
}

.custom-scroll-table .mCSB_scrollTools .mCSB_draggerContainer {
  margin-left: 7px;
  margin-right: 7px;
}

.custom-scroll-table .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 10px;
  background-color: #bbc1c7;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.custom-scroll-table .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  height: 10px;
  background-color: #fff;
}

.scroll-table-other {
  max-width: none;
  width: 100%;
}

.scroll-table-other .table {
  width: 960px;
}

.scroll-table-other .mCSB_scrollTools .mCSB_draggerContainer {
  margin-right: 0;
  margin-left: 0;
}

.scroll-table-other .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 20px;
}

.scroll-table-other .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  border-top: none;
}

.tax-collapse-btn {
  border-top: 1px solid #F2F3F7;
  padding: 8px 0 0;
}

.tax-collapse {
  border-top: 1px solid #F2F3F7;
}

.warning-box {
  border-right: 1px solid #f2f3f7;
}

.warning-box:nth-child(3n) {
  border-right-color: transparent;
}

.nstSlider-wrap {
  position: relative;
}

.nstSlider {
  width: 200px;
  height: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e2e5eb;
}

.nstSlider .rightGrip, .nstSlider .leftGrip {
  background-color: #e30611;
  color: #fff;
  width: 22px;
  height: 22px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.nstSlider .rightGrip:focus, .nstSlider .leftGrip:focus {
  outline: none;
}

.nstSlider .rightGrip:after, .nstSlider .leftGrip:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.leftGrip-in {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-bottom: 5px;
  color: #001424 !important;
}

.symbol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.symbol-square, .symbol-circle {
  display: block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 6px;
}

.symbol-square_blue, .symbol-circle_blue {
  background-color: #4e9fb0;
}

.symbol-square_yellow, .symbol-circle_yellow {
  background-color: #f3b73b;
}

.symbol-square_blue_transparent, .symbol-circle_blue_transparent {
  border: 2px solid #4e9fb0;
  background-color: transparent;
}

.symbol-square_yellow_transparent, .symbol-circle_yellow_transparent {
  border: 2px solid #f3b73b;
  background-color: transparent;
}

.symbol-square_green, .symbol-circle_green {
  background-color: #67c3a0;
}

.symbol-square_grey, .symbol-circle_grey {
  background-color: #979797;
}

.symbol-square_grey-light, .symbol-circle_grey-light {
  background-color: #e2e5eb;
}

.symbol-square_green_transparent, .symbol-circle_green_transparent {
  background-color: transparent;
  border: 2px solid #3a8f6f;
}

.symbol-line {
  display: block;
  width: 10px;
  height: 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #001424;
  margin-right: 6px;
}

.symbol-circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.sumbol-descr {
  font-size: 12px;
  color: #9198a0;
  font-weight: 300;
}

.line-progress {
  position: relative;
  width: 332px;
  height: 18px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  background-color: #f2f3f7;
}

.line-progress-scale {
  -webkit-border-radius: 14px;
  border-radius: 14px;
  background-image: -webkit-gradient(linear, left top, right top, from(#cbf44f), to(#26cd58));
  background-image: -webkit-linear-gradient(left, #cbf44f, #26cd58);
  background-image: -o-linear-gradient(left, #cbf44f, #26cd58);
  background-image: linear-gradient(to right, #cbf44f, #26cd58);
}

.line-progress-prize {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #bbc1c7;
}

.line-progress-prize img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.line-progress-prize.colored {
  background-color: #26cd58;
}

.logo {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
}

.logo:hover {
  text-decoration: none;
}

.logo:hover .logo-img {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.logo-img {
  width: 32px;
  height: 32px;
  margin-right: 6px;
  -webkit-transition: linear .4s;
  -o-transition: linear .4s;
  transition: linear .4s;
}

.logo-txt {
  display: inline-block;
  vertical-align: middle;
  color: #E30611;
  font-weight: 700;
}

.notification-list li:last-child a {
  border-bottom: none;
}

.notification-link {
  display: block;
  white-space: nowrap;
  padding: 20px 23px;
  color: #001424;
  border-bottom: 1px solid #f2f3f7;
}

.notification-link:hover {
  color: #001424;
  text-decoration: none;
  background-color: rgba(242, 243, 247, 0.3);
}

.notification-img {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 38px;
  display: inline-block;
  vertical-align: top;
}

.notification-img + span {
  display: inline-block;
  margin-left: 10px;
}

.notif-marker {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
}

.notif-marker + span {
  display: inline-block;
  margin-left: 10px;
}

.notif-marker .svg-icon {
  font-size: 36px;
  color: #fff;
}

.notif-marker_dark {
  background-color: #001424;
}

.notif-marker_red {
  background-color: #e30611;
}

.notif-marker_grey {
  background-color: #bbc1c7;
}

.notification-message {
  display: inline-block;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.23px;
  color: #001424;
}

.notification-time {
  font-size: 14px;
  letter-spacing: -0.2px;
  color: #bbc1c7;
}

.all-notifications {
  display: block;
  text-align: center;
  padding: 15px 20px 14px;
  border-top: 1px solid #f2f3f7;
  background-color: #fbfbfc;
}

.products-list-title {
  font-weight: 700;
  color: #001424;
  text-align: center;
  margin-bottom: 10px;
}

.products-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.products-list li {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.products-list-link {
  display: block;
  padding: 15px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.23px;
  text-align: center;
  color: #001424;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.products-list-link .products-link-img + span, .products-list-link .notif-marker + span {
  display: block;
  margin-left: 0;
  margin-top: 10px;
}

.products-list-link:hover {
  text-decoration: none;
  border-color: #f2f3f7;
  color: #001424;
}

.products-link-img {
  display: inline-block;
  width: 44px;
}

.products-link-txt {
  display: block;
}

.dropdown_wallet {
  padding-right: 12px;
}

.dropdown_wallet .dropdown-btn-icon {
  font-size: 17px;
  position: relative;
  top: -2px;
}

.dropdown_wallet .dropdown-btn {
  font-weight: 700;
}

.dropdown_products .dropdown-btn-icon {
  font-size: 24px;
}

.dropdown.show .form-filter-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-color: transparent;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
}

.dropdown.show .form-control-shevron {
  -webkit-transform: translate(0, -50%) rotate(180deg);
  -ms-transform: translate(0, -50%) rotate(180deg);
  transform: translate(0, -50%) rotate(180deg);
}

.dropdown.show .dropdown-btn, .dropdown.show .dropdown-btn-icon, .dropdown.show .dropdown-btn-shevron {
  color: #E30611;
}

.dropdown_view-top .form-filter-drop {
  top: auto !important;
  bottom: 100% !important;
}

.dropdown_tr-settings {
  position: static;
}

.dropdown_tr-settings .dropdown-menu {
  position: absolute;
  bottom: 100% !important;
  top: auto !important;
  right: 10px !important;
  width: 900px;
  margin: 0 0 10px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
}

.dropdown-menu-in {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-menu-paddings {
  padding: 20px;
}

.dropdown-btn {
  position: relative;
  color: #001424;
}

.dropdown-btn:focus {
  outline: none;
}

.dropdown-btn:hover .dropdown-btn-icon {
  color: #E30611;
}

.dropdown-btn:hover .dropdown-btn-shevron {
  color: #e30611 !important;
}

.dropdown-btn-shevron {
  font-size: 14px;
  color: #bbc1c7;
}

.dropdown-btn-icon {
  color: #9198A0;
  font-size: 18px;
}

.dropdown-btn-icon + .dropdown-btn-txt {
  display: inline-block;
  margin-left: 5px;
}

.dropdown-btn-txt + .svg-icon {
  margin-left: 10px;
}

.dropdown-btn-indicator {
  position: absolute;
  top: -3px;
  right: -2px;
}

.dropdown-btn-img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.dropdown-popup {
  top: 100% !important;
  left: auto !important;
  right: 0 !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  padding: 0;
  border: none;
  margin-top: 15px;
  -webkit-box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.dropdown-popup:after {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 10px;
  border-bottom: 11px solid #fff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.dropdown-popup_companys {
  right: -25px !important;
}

.dropdown-popup_companys:after {
  right: 21px;
}

.dropdown-popup_notifications {
  width: 380px;
  right: -70px !important;
}

.dropdown-popup_notifications:after {
  right: 68px;
}

.dropdown-popup_products {
  width: 400px;
  padding: 20px;
  right: -70px !important;
}

.dropdown-popup_products:after {
  right: 71px;
}

.dropdown-popup_more {
  width: 400px;
  padding: 20px;
  right: -70px !important;
}

.dropdown-popup_more:after {
  right: 65px;
}

.dropdown-popup-in {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.dropdown-popup-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #f2f3f7;
  color: #001424;
  line-height: 1.25;
  font-weight: 400;
}

.dropdown-popup-link .svg-icon {
  font-size: 18px;
  color: #bbc1c7;
}

.dropdown-popup-link:hover {
  text-decoration: none;
  color: #001424;
  background-color: rgba(242, 243, 247, 0.3);
}

.dropdown-popup-link.active {
  color: #E30611;
  font-weight: 700;
}

.dropdown-popup-link.active .dropdown-popup-radius {
  border-color: #E30611;
}

.dropdown-popup-link.active .svg-icon {
  color: #E30611;
}

.dropdown-popup-link_add {
  color: #9198a0;
}

.dropdown-popup-link_add .dropdown-popup-radius {
  font-size: 30px;
  color: #fff;
  background-color: #BBC1C7;
}

.dropdown-popup-link_add .dropdown-popup-radius span {
  position: relative;
  top: -2px;
}

.dropdown-popup-link_add .dropdown-popup-txt {
  color: #9198a0;
  font-size: 14px;
}

.dropdown-popup-link_add:hover {
  color: #9198a0;
}

.dropdown-popup-radius {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #bbc1c7;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.dropdown-popup-radius + * {
  display: block;
  margin-left: 12px;
  white-space: nowrap;
}

.company-name-img {
  width: 40px;
  height: 40px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.company-name-img + * {
  display: block;
  margin-left: 12px;
  white-space: nowrap;
}

.dropdown-popup-head {
  padding: 15px 20px;
  font-size: 16px;
  letter-spacing: -0.23px;
  border-bottom: 1px solid #f2f3f7;
}

.dropdown-user-name {
  color: #001424;
  font-weight: 700;
  white-space: nowrap;
}

.dropdown-user-mail {
  color: #bbc1c7;
}

.dropdown-user-mail:hover {
  color: #bbc1c7;
}

.dropdown-popup-foot {
  border-top: 1px solid #f2f3f7;
}

.dropdown-list-link {
  display: block;
  padding: 14px 20px;
  letter-spacing: -0.23px;
  color: #001424;
}

.dropdown-list-link:hover {
  color: #c90000;
  text-decoration: none;
}

.dropdown-more .dropdown-menu {
  left: auto !important;
  right: 0 !important;
}

.dropdown-more.show .svg-icon-shevron {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dropdown-view {
  width: 90px;
}

.dropdown-view .svg-icon {
  color: #e30611;
  font-size: 12px;
}

.dropdown-view .svg-icon_grey {
  color: #e2e5eb;
}

.dropdown-settings .dropdown-popup {
  left: 0 !important;
  right: auto !important;
}

.dropdown-settings .dropdown-popup:after {
  left: 10px !important;
  right: auto !important;
}

.dropdown-settings .dropdown-menu {
  margin-top: -10px;
}

.dropdown-settings .checkbox-txt {
  white-space: nowrap;
}

.dropdown-settings .checkbox-label {
  white-space: nowrap;
}

.dropdown-popup-title {
  padding: 10px 15px;
  border-bottom: 1px solid #f2f3f7;
  font-size: 16px;
  font-weight: 700;
  color: #001424;
  white-space: nowrap;
}

.dropdown-sub-title {
  font-size: 16px;
  font-weight: 700;
  color: #001424;
}

.dropdown-padding {
  padding: 10px 15px 15px;
}

.dropdown-padding-small {
  padding: 10px 15px;
}

.dropdown-view .dropdown-menu {
  min-width: auto;
  top: auto !important;
  bottom: 100% !important;
}

.dropdown-form-wrap {
  padding: 0 20px 20px;
}

.dropdown-form-wrap .row {
  margin-left: -2px;
  margin-right: -2px;
}

.dropdown-form-wrap .column {
  padding-left: 2px;
  padding-right: 2px;
}

.dropdown-price_width_160 .dropdown-menu {
  width: 135px;
}

.dropdown-price.show .button-list {
  border-color: #0097fd;
}

.dropdown-price.show .button-list .svg-icon {
  color: #0097fd;
}

.dropdown-price {
  display: inline-block;
}

.dropdown-price .dropdown-btn {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  color: #0097fd;
  cursor: pointer;
  position: relative;
}

.dropdown-price .dropdown-btn:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 2px;
  border-bottom: 2px dotted #001424;
}

.dropdown-price .dropdown-btn:hover {
  color: #0097fd;
}

.dropdown-price .dropdown-popup {
  top: auto !important;
  left: 50% !important;
  bottom: 100% !important;
  margin-bottom: 10px;
  -webkit-transform: translate(-50%, 0) !important;
  -ms-transform: translate(-50%, 0) !important;
  transform: translate(-50%, 0) !important;
}

.dropdown-price .dropdown-popup:after {
  border-bottom: none;
  border-top: 11px solid #fff;
  top: 100%;
  bottom: auto;
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.dropdown-price .dropdown-btn-shevron {
  font-size: 10px;
}

.dropdown-price .products-list-title {
  padding: 10px;
  margin: 0;
}

.dropdown-price .checkbox-txt {
  font-weight: 400;
}

.dropdown-price.show .dropdown-btn {
  color: #0097fd;
}

.dropdown-price-title {
  font-weight: 700;
  color: #001424;
  padding: 10px;
}

.dropdown-price-title_border {
  border-bottom: 1px solid #f2f3f7;
}

.dropdown-price-title_sub {
  padding: 5px 10px 0;
}

.dropdown-price-content {
  padding: 10px;
}

.dropdown-price-link {
  padding: 10px;
  width: 50%;
  border-top: 1px solid #f2f3f7;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.23px;
  text-align: center;
  color: #9198a0;
}

.dropdown-price-link:hover {
  color: #0097fd;
}

.dropdown-price-link + .dropdown-price-link {
  border-left: 1px solid #f2f3f7;
}

.popup-dropdown .dropdown-menu {
  left: 0 !important;
  top: 100% !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  margin: 15px 0 10px;
  padding: 0;
  border-color: transparent;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  color: #001424;
}

.popup-dropdown .dropdown-menu:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15px;
  bottom: 100%;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: -9px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
}

.popup-dropdown_position-shevron .dropdown-menu {
  top: 30px !important;
  right: -5px !important;
  left: auto !important;
}

.popup-dropdown_position-shevron .dropdown-menu:before {
  left: auto;
  right: 20px;
}

.popup-dropdown_storage .dropdown-menu {
  width: 200px;
  top: 25px !important;
  left: -10px !important;
}

.popup-dropdown_storage .dropdown-menu:before {
  left: 89px;
}

.popup-dropdown_filter .dropdown-menu {
  width: 456px;
  top: 25px !important;
  left: 50% !important;
  margin-left: 18px;
  -webkit-transform: translate(-50%, 0) !important;
  -ms-transform: translate(-50%, 0) !important;
  transform: translate(-50%, 0) !important;
}

.popup-dropdown_filter .dropdown-menu:before {
  left: 50%;
}

.popup-dropdown_filter.show.show .svg-icon-shevron {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.popup-dropdown_filter_small .dropdown-menu {
  width: 240px;
}

.popup-dropdown_table-settings .dropdown-menu {
  width: 225px;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0) !important;
  -ms-transform: translate(-50%, 0) !important;
  transform: translate(-50%, 0) !important;
  margin-top: -10px;
}

.popup-dropdown_table-settings .dropdown-menu:before {
  left: 50%;
  margin-left: -11px;
}

.popup-dropdown_calendar .dropdown-menu {
  width: 560px;
  right: -15px !important;
  left: auto !important;
  top: 30px !important;
}

.popup-dropdown_calendar .dropdown-menu:before {
  left: 367px;
}

.popup-dropdown_calendar .popup-dropdown-in {
  padding: 6px 12px;
}

.popup-dropdown_calendar .row {
  margin-left: -6px;
  margin-right: -6px;
}

.popup-dropdown_calendar .column, .popup-dropdown_calendar [class*="col-"] {
  padding: 6px;
  margin: 0 !important;
}

.popup-dropdown_right .dropdown-menu {
  left: auto !important;
  right: -13px;
}

.popup-dropdown_right .dropdown-menu:before {
  left: auto;
  right: 10px;
}

.popup-dropdown.show .button-regular[data-toggle="dropdown"] {
  color: #e30611;
}

.popup-dropdown.show .button-regular[data-toggle="dropdown"] .svg-icon {
  color: #e30611;
}

.popup-dropdown.itemsSelected .button-regular[data-toggle="dropdown"] {
  background-color: #e30611;
  border-color: #e30611;
  color: #fff;
}

.popup-dropdown.itemsSelected .button-regular[data-toggle="dropdown"] .svg-icon {
  color: #fff;
}

.popup-dropdown-in {
  position: relative;
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.popup-dropdown-title {
  padding: 11px 16px;
  font-size: 16px;
  font-weight: 700;
  color: #001424;
}

.popup-devider {
  margin: 0;
  border: none;
  border-bottom: 1px solid #f2f3f7;
}

.popup-content {
  padding: 0 16px 0;
  border-bottom: 1px solid transparent;
}

.dropdown-drop {
  position: relative;
}

.dropdown-drop.visible .button-regular {
  color: #c90000;
}

.dropdown-drop.visible .button-regular .svg-icon {
  color: #c90000;
}

.dropdown-drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.dropdown-drop-menu.visible {
  opacity: 1;
  visibility: visible;
}

.dropdown-drop-menu_view-top {
  top: auto;
  bottom: 100%;
}

.company-name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  color: #001424;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7eafa;
  margin-bottom: 10px;
}

.company-name-icon {
  width: 22px;
  height: 22px;
  margin-right: 14px;
  position: relative;
  top: -1px;
}

.total-txt {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #9198a0;
}

.total-txt strong {
  color: #333;
  margin-left: 8px;
}

.total-txt-foot {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #001424;
}

.total-txt-foot strong {
  font-weight: 700;
}

.copy {
  line-height: 1.5;
  color: #9198a0;
}

.bullet {
  list-style: none;
  padding-left: 10px;
}

.bullet li {
  position: relative;
  padding-left: 20px;
}

.bullet li:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #001424;
}

.bullet_color_grey li:before {
  background-color: #9198a0;
}

.list-clr {
  padding: 0;
  margin: 0;
  list-style: none;
}

.important {
  color: #e30611;
}

h2 {
  font-size: 27px;
  color: #001424;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  color: #001424;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.small-text {
  font-size: 12px;
  line-height: 1.5;
  color: #001424;
}

.title-small {
  font-size: 17px;
  line-height: 23px;
  font-weight: 700;
  color: #001424;
}

.date-current {
  color: #333;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 9px;
}

.small {
  font-size: 14px;
  line-height: 1.29;
  color: #bbc1c7;
}

.txt-grey {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #bbc1c7;
}

.text-grey-light {
  color: #bbc1c7 !important;
}

.text-grey {
  color: #9198a0 !important;
}

.text-grey-dark {
  color: #6e7782 !important;
}

.text-red {
  color: #e30611 !important;
}

.text-blue {
  color: #0097fd !important;
}

.text-dark {
  color: #001424 !important;
}

.text-dark-alternative {
  color: #333 !important;
}

.text-black {
  color: #000 !important;
}

.text-orange {
  color: #f95721 !important;
}

.text-green {
  color: #26cd58 !important;
}

.about-card {
  padding: 15px 11px;
  border: 1px solid #e7eafa;
  font-size: 14px;
  font-weight: 400;
}

.about-card_letter {
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #001424;
  background-color: #fff;
  margin-bottom: 20px;
}

.about-card-item {
  margin-bottom: 10px;
}

.about-card-item:last-child {
  margin-bottom: 0;
}

.nowrap {
  white-space: nowrap;
}

.sub-title {
  font-size: 20px;
}

.devider {
  border: none;
  border-bottom: 1px solid #f2f3f7;
  margin: 20px 0;
}

.weight-300 {
  font-weight: 300 !important;
}

.weight-400 {
  font-weight: 400 !important;
}

.weight-700 {
  font-weight: 700 !important;
}

.text_size_8 {
  font-size: 8px !important;
}

.text_size_10 {
  font-size: 10px !important;
}

.text_size_12 {
  font-size: 12px !important;
}

.text_size_14 {
  font-size: 14px !important;
}

.text_size_16 {
  font-size: 16px !important;
}

.text_size_20 {
  font-size: 20px !important;
}

.text_size_40 {
  font-size: 40px !important;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1-38 {
  line-height: 1.38;
}

.line-height-1-5 {
  line-height: 1.5;
}

.list-numeric {
  list-style-type: decimal;
}

.list-square {
  list-style-type: square;
}

.list-circle {
  font-weight: 400;
  padding-left: 20px;
  list-style: none;
}

.list-circle li {
  position: relative;
  line-height: 1.3;
  margin-bottom: 8px;
}

.list-circle li br {
  line-height: 1;
}

.list-circle li:before {
  content: '';
  position: absolute;
  left: -15px;
  top: 7px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #9198a0;
}

.list-plus {
  padding-left: 20px;
  list-style: none;
}

.list-plus li {
  position: relative;
  line-height: 1.3;
  margin-bottom: 8px;
}

.list-plus li br {
  line-height: 1;
}

.list-plus li:before {
  content: '+';
  position: absolute;
  left: -15px;
  top: 0;
  font-weight: 700;
  color: #e30611;
  width: 10px;
  height: 10px;
}

.earning-value {
  font-weight: 300;
  white-space: nowrap;
  font-size: 20px;
}

.earning-descr {
  font-weight: 700;
  color: #9198a0;
  font-size: 13px;
}

.earning-symbol {
  font-size: 16px;
}

.menu-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav .dropdown.show .dropdown-btn {
  color: #E30611;
}

.menu-nav .dropdown.show .dropdown-btn .svg-icon {
  color: #E30611;
}

.menu-nav-item {
  position: relative;
  padding: 25px 20px 24px;
  padding: 11px 20px 10px;
}

.menu-nav-item:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 20px;
  right: 20px;
  height: 2px;
  background-color: #E30611;
  opacity: 0;
  visibility: hidden;
}

.menu-nav-item.active .menu-nav-link {
  color: #E30611;
  font-weight: 700;
}

.menu-nav-item.active:after {
  opacity: 1;
  visibility: visible;
}

.menu-nav-item .dropdown-btn:hover {
  color: #E30611;
}

.menu-nav-item .dropdown-btn:hover:after {
  border-color: #E30611;
}

.menu-nav-link {
  display: block;
  color: #001424;
}

.menu-nav-link:hover {
  text-decoration: none;
  color: #E30611;
}

.form-title {
  font-size: 27px;
  line-height: 33px;
  color: #001424;
}

.form-title-icon {
  font-size: 14px;
  color: #bbc1c7;
  margin-left: 8px;
}

.form-title-link {
  position: relative;
  color: #0097fd;
}

.form-title-link:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  border-bottom: 2px dotted #001424;
}

.form-title-link:hover {
  color: #0097fd;
  text-decoration: none;
}

.form-title-dropdown .form-filter-drop {
  min-width: auto;
  width: 136px;
  text-align: center;
  top: 100% !important;
  right: auto !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0) !important;
  -ms-transform: translate(-50%, 0) !important;
  transform: translate(-50%, 0) !important;
  margin-top: 20px;
  border-right: 8px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-title-dropdown .form-filter-drop:before {
  content: '';
  position: absolute;
  bottom: 100%;
  margin-bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 2;
  border-bottom: 11px solid #fff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.form-title-dropdown .form-filter-drop .form-filter-list {
  position: relative;
  z-index: 1;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  overflow: hidden;
}

.form-title-dropdown .form-filter-drop a {
  font-size: 16px;
  letter-spacing: -0.23px;
  color: #001424;
}

.form-title-dropdown .form-filter-drop a:hover {
  color: #0097fd;
  background-color: #fff;
}

.form-edit .form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-right: 40px;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.form-edit textarea {
  border: none;
  font-size: 16px;
  line-height: 1.5;
  padding-right: 15px;
}

.form-edit .svg-icon_close {
  font-size: 12px;
}

.form-edit_alternative {
  position: relative;
}

.form-edit_alternative .form-control {
  border-top: none;
  padding-right: 60px;
}

.form-edit-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.form-edit-result {
  font-size: 16px;
  line-height: 1.5;
  padding: 30px 40px 15px 15px;
  white-space: nowrap;
}

.form-edit-group {
  padding-top: 30px;
}

.form-edit-group.hide, .form-edit-result.hide {
  display: none;
}

.form-edit-group.show, .form-edit-result.show {
  display: block;
}

.form-edit-btns {
  position: absolute;
  right: 15px;
  top: 8px;
}

.form-edit-btns_position_right_center {
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.bank-form-notify {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #f2f3f7;
}

.bank-form-wrap {
  position: relative;
  margin-top: -40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.modal-backdrop {
  background-color: transparent;
  display: none;
}

.modal {
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 99999;
}

.modal .form-group {
  margin-bottom: 30px;
}

.modal-close {
  position: absolute;
  right: -35px;
  top: 0;
  font-size: 20px;
  color: #fff;
  opacity: 1 !important;
}

.modal-close:hover {
  color: #fff;
  opacity: .8 !important;
}

.modal-content {
  padding: 30px;
  border: none;
}

.modal-title {
  margin-bottom: 30px;
}

.modal-close:focus {
  outline: none;
}

.nav-tabs-row {
  position: relative;
  z-index: 2;
}

.nav-tabs {
  border-bottom-color: #f2f3f7;
}

.nav-tabs .nav-link {
  border-bottom: 2px solid transparent;
}

.nav-tabs .nav-link .svg-icon {
  color: #bbc1c7;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  color: #e30611;
  border-color: transparent;
}

.nav-tabs .nav-link.active {
  color: #e30611;
  font-weight: 700;
  border-color: transparent;
  border-bottom-color: #e30611;
  background-color: transparent;
}

.nav-tabs .nav-link.active .svg-icon {
  color: #bbc1c7;
}

.nav-tabs .nav-link.checked {
  color: #001424;
}

.nav-tabs .nav-link.checked .svg-icon {
  color: #e30611;
}

.nav-tabs .nav-link.checked:hover {
  color: #e30611;
}

.nav-tabs .nav-link.checked:hover .svg-icon {
  color: #bbc1c7;
}

.nav-tabs_border_transparent {
  border-bottom-color: transparent;
}

.nav-tabs_border_bottom_grey {
  border-bottom-color: #e2e5eb;
}

.nav-tabs_indents_else .nav-item {
  padding-left: 12px;
  padding-right: 28px;
}

.nav-tabs_indents_alternative .nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-item {
  padding-left: 0;
  padding-right: 40px;
}

.nav-link {
  display: block;
  padding: 11px 0;
  font-size: 16px;
  color: #001424;
}

.tab-content > .active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tab-pane {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sideabar-menu-item {
  border-bottom: 1px solid #e7eafa;
  padding: 10px 0;
}

.sideabar-menu-item:first-child {
  padding-top: 5px;
}

.sidebar-menu-btn {
  position: relative;
  width: 100%;
  font-size: 16px;
  color: #001424;
  display: block;
  text-align: left;
  padding-right: 20px;
}

.sidebar-menu-btn:not(.collapsed) {
  font-weight: 700;
  color: #e30611;
}

.sidebar-menu-btn:not(.collapsed) .sidebar-menu-icon {
  color: #e30611;
}

.sidebar-menu-btn:not(.collapsed) .sidebar-menu-angle {
  -webkit-transform: translate(0, -50%) rotate(0);
  -ms-transform: translate(0, -50%) rotate(0);
  transform: translate(0, -50%) rotate(0);
  color: #e30611;
}

a.sidebar-menu-btn .sidebar-menu-angle {
  display: none;
}

a.sidebar-menu-btn:not(.collapsed) {
  font-weight: 400;
  color: #001424;
}

a.sidebar-menu-btn:not(.collapsed) .sidebar-menu-icon {
  color: #bbc1c7;
}

a.sidebar-menu-btn:not(.collapsed) .sidebar-menu-angle {
  -webkit-transform: translate(0, -50%) rotate(-90deg);
  -ms-transform: translate(0, -50%) rotate(-90deg);
  transform: translate(0, -50%) rotate(-90deg);
  color: #bbc1c7;
}

a.sidebar-menu-btn:not(.collapsed):hover {
  color: #e30611;
  text-decoration: none;
}

a.sidebar-menu-btn:not(.collapsed):hover .svg-icon {
  color: #e30611;
}

a.sidebar-menu-btn.active {
  color: #e30611;
  font-weight: 700;
}

a.sidebar-menu-btn.active .sidebar-menu-icon {
  color: #e30611;
}

.sidebar-menu-icon {
  position: relative;
  top: -1px;
  color: #bbc1c7;
  font-size: 22px;
  margin-right: 14px;
}

.sidebar-menu-angle {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-90deg);
  -ms-transform: translate(0, -50%) rotate(-90deg);
  transform: translate(0, -50%) rotate(-90deg);
  font-size: 14px;
  color: #bbc1c7;
}

.sidebar-menu-list {
  padding-left: 40px;
}

.sidebar-menu-list li {
  max-width: 170px;
}

.sidebar-menu-list a {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.63;
  color: #001424;
}

.sidebar-menu-list a:hover {
  text-decoration: none;
  color: #e30611;
}

.sidebar-menu-list a.active {
  color: #e30611;
  font-weight: 400;
}

.link {
  color: #0097fd;
  display: inline-block;
}

.link:hover {
  color: #0048aa;
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link_hover_blue:hover {
  color: #0097fd;
}

.link_nowrap {
  white-space: nowrap;
}

.link_bold {
  font-weight: 700;
}

.link_collapse .link-shevron {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.link_collapse.collapsed .link-shevron {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.link_title {
  position: relative;
}

.link_title:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 2px;
  border-bottom: 2px dotted #000;
}

.link_title .svg-icon {
  font-size: 14px;
  color: #bbc1c7;
  margin-left: 8px;
}

.link_font-14 {
  font-size: 14px;
}

.link_decoration_none:hover {
  text-decoration: none !important;
}

.link_dark {
  color: #001424;
}

.link_dark:hover {
  color: #001424;
  text-decoration: underline;
}

.link-border-dotted {
  border-bottom: 1px dotted #000;
}

.link-border-dotted:hover {
  border-bottom-color: transparent;
  color: #0097fd;
}

.link-txt + .svg-icon {
  margin-left: 5px;
}

.link-shevron {
  font-size: 12px;
}

.link-shevron_right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.wrap {
  padding: 25px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
}
/*
.wrap:last-child {
  margin-bottom: 0;
}
*/
.wrap_padding_none {
  padding: 0;
}

.wrap_padding_small {
  padding: 16px;
}

.wrap_count {
  padding: 12px 12px 0;
}

.wrap_count .row {
  margin-left: -6px;
  margin-right: -6px;
}

.wrap_count [class*="col-"] {
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrap_count .count-card {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.wrap_count .date-picker-wrap {
  margin-bottom: 12px;
}

.wrap_count .button-regular {
  margin-bottom: 12px;
}

.wrap_count .button-regular:last-child {
  margin-bottom: 0;
}

.wrap_count .dropdown:last-child .button-regular {
  margin-bottom: 0;
}

.wrap_btns {
  min-width: 725px;
  max-width: 1015px;
  padding: 6px 12px;
}

.wrap_btns > .row {
  margin-left: -6px;
  margin-right: -6px;
}

.wrap_btns > .row > .column {
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.wrap_btns .checkbox-pseudo {
  left: -2px;
}

.wrap_btns.fixed {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 99;
  border: 1px solid #f2f3f7;
}

.wrap_btns:not(.check-condition) {
  -webkit-box-ordinal-group: 14;
  -webkit-order: 13;
  -ms-flex-order: 13;
  order: 13;
}

.wrap_btns.check-condition {
  -webkit-box-ordinal-group: 13;
  -webkit-order: 12;
  -ms-flex-order: 12;
  order: 12;
  position: absolute !important;
  margin-top: 0;
}

.wrap_btns.check-condition.visible {
  position: -webkit-sticky !important;
  position: sticky !important;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.wrap_btns:nth-last-child(2) {
  margin-top: 12px;
}

.wrap.check-condition {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 999;
}

.wrap.visible .dropdown-more .dropdown-menu {
  top: auto !important;
  bottom: 100% !important;
}

.check-condition {
  opacity: 0;
  visibility: hidden;
}

.check-condition.visible {
  opacity: 1;
  visibility: visible;
}

.invoice-detail {
  padding: 30px 13px;
}

.tooltip-box {
  display: inline-block;
  line-height: 1;
}

.tooltip-box_side-margins {
  margin-left: 10px;
  margin-right: 10px;
}

.tooltip-box_position_right {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.tooltip-question-icon {
  color: #bbc1c7;
  font-size: 18px;
}

.tooltip-inner {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  color: #001424;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #fff;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #fff;
}

.tooltip.show {
  opacity: 1;
}

.filter-search-control {
  padding-right: 40px;
}

.filter-search-clean {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #bbc1c7;
  font-size: 14px;
}

.form-filter {
  position: relative;
}

.form-filter-control {
  width: 100%;
  display: block;
  padding: 10px 15px;
  padding-right: 40px;
  color: #001424;
  height: auto;
  min-height: auto;
  line-height: 1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #e2e5eb;
  background-color: #ffffff;
}

.form-filter-control.placeholder {
  color: #bbc1c7;
}

.form-filter-control:-moz-placeholder {
  color: #bbc1c7;
}

.form-filter-control::-moz-placeholder {
  color: #bbc1c7;
}

.form-filter-control:-ms-input-placeholder {
  color: #bbc1c7;
}

.form-filter-control::-webkit-input-placeholder {
  color: #bbc1c7;
}

.form-filter-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #e2e5eb;
}

.form-filter-drop {
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  z-index: 999;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  border: none;
  margin: 1px 0 0;
  padding: 0;
}

.form-filter-drop_angle:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-bottom: 11px solid #fff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.form-filter-drop-head {
  padding: 12px;
  background-color: rgba(242, 243, 247, 0.3);
}

.form-filter-list li {
  position: relative;
  border-top: 1px solid #f2f3f7;
}

.form-filter-list li:first-child {
  border-top: none;
}

.form-filter-list li .button-edit {
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.form-filter-list li .svg-icon:not(.checkbox-icon) {
  font-size: 16px;
  color: #bbc1c7;
  margin-left: 10px;
}

.form-filter-list a {
  position: relative;
  display: block;
  padding-right: 40px;
  padding: 16px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.23px;
  color: #001424;
  background-color: #fff;
}

.form-filter-list a:hover {
  background-color: #f2f3f7;
  text-decoration: none;
}

.product-dropdown .dropdown-menu {
  width: 205px;
  top: 40px !important;
  right: -5px !important;
  left: auto !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.product-dropdown .dropdown-menu:before {
  left: auto;
  right: 10px;
}

.product-dropdown .form-filter-list {
  text-align: center;
}

.product-dropdown.show .svg-icon_shevron {
  -webkit-transform: translate(0, -50%) rotate(-180deg);
  -ms-transform: translate(0, -50%) rotate(-180deg);
  transform: translate(0, -50%) rotate(-180deg);
}

.th-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.th-title-name {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.1;
}

.th-title-btns {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  vertical-align: middle;
  line-height: 0;
  margin-left: 10px;
}

.th-title-btn {
  line-height: 0;
}

.th-title-btn.active .th-title-icon {
  color: #0097fd;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.th-title-icon {
  font-size: 7px;
  color: #bbc1c7;
}

.th-title-icon:hover {
  color: #0097fd;
}

.th-title-icon_reverse {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.th-title-icon-filter {
  font-size: 14px;
  color: #bbc1c7;
}

.table-settings {
  margin-top: -10px;
}

.table-settings button {
  margin-bottom: 10px;
}

.table-settings .form-control {
  margin-bottom: 10px;
}

.table-settings .form-group {
  margin-bottom: 0;
}

.table-settings .sub-title {
  margin-bottom: 10px;
}

.table-settings-view {
  margin-top: -10px;
}

.table-settings-view .nav-pagination li {
  margin-bottom: 10px;
}

.table-settings-view .form-group {
  margin-bottom: 10px;
}

.table-style {
  border: none;
}

.table-style thead tr:nth-child(2) th {
  border-top: 1px solid #f2f3f7;
}

.table-style thead th {
  padding: 15px;
  border: none;
  border-right: 1px solid #f2f3f7;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: #9198a0;
}

.table-style thead th:last-child {
  border-right-color: transparent;
}

.table-style tbody td {
  vertical-align: middle;
  padding: 5px;
  border-top: 1px solid #f2f3f7;
  border-right: 1px solid #f2f3f7;
}

.table-style tbody td:last-child {
  border-right-color: transparent;
}

.table-style_2 thead th {
  border-bottom: 1px solid #f2f3f7;
  padding-top: 5px;
  padding-bottom: 5px;
}

.table-style_2 tbody tr:first-child td {
  padding-top: 15px;
}

.table-style_2 tbody td {
  border-top: none;
  padding: 8px 15px;
}

.table-count tbody td:nth-child(2) {
  width: 376px;
}

.table-count tbody td:last-child {
  width: 130px;
}

.table-count-cell {
  padding: 10px;
}

.table-count-cell_nowrap {
  white-space: nowrap;
}

.table-count-icon {
  color: #9198a0;
}

.table-count-icon_small {
  font-size: 14px;
}

.table-goods thead tr th {
  vertical-align: middle;
}

.table-goods tbody tr td:nth-child(2) {
  width: 250px;
}

.table-title {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.57;
  color: #9198a0;
  position: relative;
  padding-right: 10px;
}

.table-title .svg-icon {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #bbc1c7;
  font-size: 10px;
}

.table-title:hover {
  color: #9198a0;
}

.table-count-list thead tr th {
  vertical-align: middle;
  padding: 12px 10px;
}

.table-count-list thead tr th:first-child {
  line-height: 1;
}

.table-count-list tbody tr td {
  position: relative;
}

.table-count-list tbody tr td:first-child {
  text-align: left !important;
  padding-left: 10px;
  line-height: 1;
}

.table-count-list tbody tr td:hover .table-action {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.table-count-list_collapse_none {
  border-collapse: separate;
}

.table-collapse tr[data-toggle="collapse"] {
  cursor: pointer;
}

.table-collapse td {
  width: 20%;
}

.table-collapse td:first-child {
  width: 43%;
}

.table-collapse td:last-child {
  width: 37%;
  padding-right: 0 !important;
}

.table-collapse td:last-child .button-clr {
  padding-right: 0 !important;
}

.table-collapse-btn {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  line-height: 18px;
}

.table-collapse-btn .svg-icon-menu {
  font-size: 14px;
}

.table-collapse-btn .svg-icon-triangle {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 14px;
}

.table-collapse-btn.active .table-collapse-icon:before {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
}

.table-collapse-btn.active .table-collapse-icon:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.table-collapse-btn.active .svg-icon-triangle {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.table-collapse-btn.active .button-regular {
  border-color: #e30611;
}

.table-collapse-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #001424;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 0;
}

.table-collapse-icon:before, .table-collapse-icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #001424;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.table-collapse-icon:before {
  width: 8px;
  height: 2px;
}

.table-collapse-icon:after {
  width: 2px;
  height: 8px;
}

.highlighted-tr:hover td {
  background-color: #f2f3f7;
  border-color: #f2f3f7;
}

.table-action {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 20, 36, 0.7);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.count-card {
  padding: 20px 15px 20px 20px;
  border: solid 1px #e2e5eb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.count-card hr {
  margin: 20px 0 10px;
  border-top: 2px solid #fac031;
}

.count-card_red .count-card-main {
  color: #e30611;
}

.count-card_red hr {
  border-color: #e30611;
}

.count-card_green .count-card-main {
  color: #00c19b;
}

.count-card_green hr {
  border-color: #00c19b;
}

.count-card_yellow .count-card-main {
  color: #deb90d;
}

.count-card_yellow hr {
  border-color: #deb90d;
}

.count-card_turquoise .count-card-main {
  color: #00b9c5;
}

.count-card_turquoise hr {
  border-color: #00b9c5;
}

.count-card_grey .count-card-main {
  color: #aaaba9;
}

.count-card_grey hr {
  border-color: #aaaba9;
}

.count-card-main {
  font-size: 32px;
  font-weight: 300;
  color: #fac031;
}

.count-card-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.57;
  color: #9198a0;
  text-transform: uppercase;
  margin-bottom: auto;
}

.count-card-foot {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.83;
  color: #9198a0;
}

.doc-title {
  font-size: 17px;
  font-weight: 700;
  color: #001424;
}

.loaded-file {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.loaded-file-icon {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 50px;
  color: #bbc1c7;
  margin-right: 10px;
}

.loaded-file-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loaded-file-name {
  width: 120px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loaded-file-size {
  color: #bbc1c7;
  vertical-align: middle;
}

.invoice-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(51, 51, 51, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  transition: linear .2s;
  overflow: hidden;
}

.invoice-wrap .form-group {
  margin-bottom: 20px;
}

.invoice-wrap.visible {
  opacity: 1;
  visibility: visible;
}

.invoice-wrap.visible .invoice-wrap-in {
  right: 0;
}

.invoice-wrap.stub .invoice-wrap-foot:before {
  opacity: 1;
  visibility: visible;
}

.invoice-wrap-in {
  position: relative;
  margin-left: auto;
  right: -100%;
  top: 0;
  width: 503px;
  padding: 25px 30px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  -webkit-transition: linear .6s;
  -o-transition: linear .6s;
  transition: linear .6s;
}

.invoice-wrap-close {
  position: absolute;
  top: 10px;
  right: 20px;
}

.invoice-wrap-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.invoice-wrap-scroll {
  overflow-y: auto;
  padding-right: 30px;
}

.invoice-wrap-foot {
  position: relative;
}

.invoice-wrap-foot:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9995;
  width: 100%;
  background-color: #fff;
}

.header_fixed .container-fluid {
  border-bottom: 1px solid #e2e5eb;
}

.header .container-fluid {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #fff;
  border-bottom: 1px solid transparent;
}

.header_v3 .menu-nav-item:after {
  top: 100%;
  margin-top: 12px;
}

.header-logo {
  margin-right: 5px;
}

.header-others-row {
  margin-left: -8px;
  margin-right: -8px;
}

.header-others-column {
  padding-left: 8px;
  padding-right: 8px;
}

.header-others-column_wallet {
  padding-right: 20px;
}

.footer {
  padding: 15px 0;
  margin-top: auto;
  border-top: 1px solid #e7eafa;
}

.page-grid {
  padding: 20px 0 40px;
}

.page-sidebar {
  width: 100%;
  max-width: 25%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.page-content {
  position: relative;
  width: 100%;
  max-width: 75%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

.page-head {
  margin-top: -10px;
}

.page-head h1,
.page-head h2,
.page-head h3,
.page-head h4,
.page-head h5,
.page-head h6 {
  margin-bottom: 10px;
}

.page-head .button-regular {
  margin-bottom: 10px;
}

.page-in-sidebar {
  width: 100%;
  max-width: 30%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.page-in-sidebar .button-regular {
  margin-bottom: 12px;
}

.page-in-sidebar_absolute {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}

.page-in-content {
  width: 100%;
  max-width: 70%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}

.page-border {
  border: 1px solid #e7eafa;
  padding: 0 16px 16px;
}

.page-border .button-list {
  margin-top: -1px;
}

.page-border_min-height_234 {
  min-height: 234px;
}

.page-border_dotted {
  border-style: dotted;
}

.page-border_dashed {
  border-style: dashed;
}

.page-border_grey {
  border-color: #e2e5eb;
}

.page-border_width_2 {
  border-width: 2px;
}

.column-61 {
  max-width: 61%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 61%;
  -ms-flex: 0 0 61%;
  flex: 0 0 61%;
}

.column-39 {
  max-width: 39%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 39%;
  -ms-flex: 0 0 39%;
  flex: 0 0 39%;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper__in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

@media only screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 840px;
  }
  .modal-dialog_width-535 {
    max-width: 535px;
  }
  .modal-dialog_width-600 {
    max-width: 600px;
  }
  .modal-dialog_width-624 {
    max-width: 624px;
  }
  .modal-dialog-large {
    max-width: 920px;
  }
}

@media only screen and (min-width: 992px) {
  body.scroll-hidden {
    padding-right: 17px;
  }
  .earning-value {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-fluid_large {
    min-width: 1500px;
  }
  .earning-value {
    font-size: 40px;
  }
  .earning-descr {
    font-size: 16px;
  }
  .earning-symbol {
    font-size: 20px;
  }
  .menu-nav-item:after {
    top: 100%;
    margin-top: 12px;
  }
  .count-card-column {
    max-width: 20%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }
  .count-card-column .count-card-main {
    font-size: 20px;
  }
  .count-card-column .count-card-title {
    text-transform: none;
    line-height: 1.3;
    margin-top: 3px;
  }
  .count-card-column_tabs {
    width: auto;
    max-width: none;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
  .count-card-column_tabs .count-card {
    width: 175px;
  }
  .count-card-column_tabs .count-card-main {
    font-size: 32px;
  }
  .page-sidebar {
    max-width: 20%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }
  .page-content {
    max-width: 80%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
  }
  .page-in-sidebar {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 1231px) {
  .dropdown-popup_more {
    right: -15px !important;
  }
  .dropdown-popup_more:after {
    right: 10px;
  }
}

@media only screen and (max-width: 1199px) {
  .line-progress {
    width: 250px;
  }
  .dropdown_tr-settings .dropdown-menu {
    margin: 0 0 20px;
    width: 800px;
  }
  .popup-dropdown_calendar .dropdown-menu {
    width: 500px;
    right: auto !important;
    left: 250px !important;
  }
  .popup-dropdown_calendar .dropdown-menu:before {
    left: 20px;
  }
  .wrap {
    padding: 15px;
  }
  .wrap_count {
    padding: 12px 12px 0;
  }
  .wrap_btns {
    padding: 6px 12px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
