.tariff_group_box {
    position: relative;
    border: 1px solid transparent;
}
.tariff_group_box.checked {
    border-color: #4679ae;
}
.tariff_subgroup:not(.checked) {
    display: none;
}
.tariff_item:not(.checked) {
    display: none;
}
.subscribe-tariff-box .tariff-rules {
    min-height: 24px;
}
.field-paymentform-durationmonth .durationmonth_item {
    margin-right: 15px;
}
.field-paymentform-durationmonth div.radio {
    margin-right: 5px;
}
.tariff-price {
    font-size: 24px;
}
.bor-t {
    border-top: 1px solid #e5e5e5;
}
.cp {
    cursor: pointer;
}
.color-g {
    color: #9198a0;
}
.price_per_item {
    font-size: 18px;
}
.descr_title {
    font-weight: bold;
}
.tariff_pay_btn:not(.active) .tariff-pay-btn {
    display: none;
}
.tariff_pay_btn.active .tariff-not-selected {
    display: none;
}