@import url('font-icomoon/css/style.css');
/* here you can put your own css to customize and override the theme */
.radio_form {
    margin-right: 20px;
}

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

.page-content {
    /*min-height: 500px !important;*/
}

.btn._block {
    display: block;
}

._nopad {
    padding: 0;
}

._info-panel {
    margin-bottom: 15px;
}

._info-panel .btn {
    color: #333333;
    font-size: 12px;
    min-width: 162px;
}

._info-panel .btn._auto {
    min-width: 50px;
}

._info-panel .btn small {
    color: #999999;
}

._period-select {
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
    margin-left: 15px;
}

._period-select .dropdown-toggle {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #999999;
    color: #333333;
    display: inline-block;
    padding: 5px 40px 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

._period-select .dropdown-toggle .arrow:before {
    float: right;
    width: 10px;
    text-align: center;
    margin-top: -1px;
    margin-left: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    margin-right: -25px;
}

._period-select .dropdown-toggle:hover {
    text-decoration: none;
}

._period-select.dropdown > .dropdown-menu:before, ._period-select .dropdown-toggle > .dropdown-menu:before, ._period-select .btn-group > .dropdown-menu:before {
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    content: "";
    display: inline-block !important;
    left: 9px;
    position: absolute;
    right: auto;
    top: -8px;
}

._period-select.dropdown > .dropdown-menu, ._period-select .dropdown-toggle > .dropdown-menu, ._period-select .btn-group > .dropdown-menu {
    margin-top: 0;
}

._period-select .dropdown-menu {
    width: 100%;
    border: 1px solid #dddddd;
    padding: 0;
    margin: 0;
    background: none repeat scroll 0 0 #eeeeee;
}

._period-select .dropdown-menu li {
    padding: 4px 0;
    text-align: center;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

._period-select.dropdown > .dropdown-menu:after, ._period-select .dropdown-toggle > .dropdown-menu:after, ._period-select .btn-group > .dropdown-menu:after {
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    content: "";
    display: inline-block !important;
    left: 10px;
    position: absolute;
    right: auto;
    top: -7px;
}

._panel {
    box-shadow: none;
    filter: none;
    font-size: 14px;
    outline: medium none !important;
    padding: 7px 14px;
    text-shadow: none;
    margin-bottom: 25px;
}

._panel label {
    color: #ffffff;
}

.darkblue {
    background: #4276a4;
}

.page-header-date {
    display: block;
    float: left;
    height: 46px;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    color: #ffffff;
}
.page-header-date b {
    font-weight: normal;
    font-size: 22px;
    margin-right: 20px;
    vertical-align: sub;
}

.table.customers_table > thead > tr > th {
    vertical-align: top;
}

li.header_icons i {
    color: #6ba1d1;
    display: inline-block;
    font-size: 21px;
    padding: 11px 10px 9px;
    text-align: center;
    width: 1.25em;
    cursor: pointer;
}

.page-container {
    padding-bottom: 35px !important;
}

.page-footer-inner a {
    padding-left: 35px;
    color: #c9dae9;
}

/*.col-md-3 {*/
/*width: 30%;*/
/*}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 35px;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #4276a4;
}

._info-panel .col-md-1 {
    width: 4%;
}

._info-panel .yellow.btn {
    background-color: #dfba49;
}

._info-panel .red.btn {
    background-color: #f3565d;
}

._info-panel .green.btn {
    background-color: #45b6af;
}

._info-panel .hint {
    font-size: 14px;
    line-height: 22px;
}

.radio-list > label.radio-inline:last-child {
    margin-right: 25px;
}

.portlet.box.darkblue {
    border: 1px solid #4276a4;
    border-top: 0;
}

.page-header.navbar {
    background-color: #2d5f8b;
}

.dropdown-menu .menu_item {
    display: inline-block;
    font-size: 12px;
    margin: 4px 0;
    width: 115px;
}

.dropdown-menu.with_pads {
    width: 250px;
}

.dropdown-menu.with_pads li {
    padding: 0 10px;
}

.dropdown-menu.with_pads li.title {
    text-transform: uppercase;
}

.dashboard-stat.blue-madison {
    background-color: #578ebe;
}

.dashboard-stat.blue-madison .visual > i {
    color: #ffffff;
    opacity: 0.1;
}

.dashboard-stat.blue-madison .more {
    background-color: #4884b8;
    color: #ffffff;
}

.dashboard-stat._yellow {
    background-color: #dfba49;
}

.dashboard-stat._yellow .more {
    background-color: #d4af46;
    color: #ffffff;
}

.dashboard-stat._red {
    background-color: #f3565d;
}

.dashboard-stat._red .more {
    background-color: #e25157;
    color: #ffffff;
}

.dashboard-stat._green {
    background-color: #45b6af;
}

.dashboard-stat._green .more {
    background-color: #43a9a2;
    color: #ffffff;
}

.dashboard-stat._yellow .visual > i, .dashboard-stat._red .visual > i, .dashboard-stat._green .visual > i {
    color: #ffffff;
    opacity: 0.1;
}

.dashboard-stat._yellow .details .number, .dashboard-stat._red .details .number, .dashboard-stat._green .details .number {
    color: #ffffff;
}

.dashboard-stat._yellow .details .desc, .dashboard-stat._red .details .desc, .dashboard-stat._green .details .desc {
    color: #ffffff;
    opacity: 1;
}

.page-header.navbar .page-logo {
    background: #4276a4;
}

.tools.tools_button.col-md-9.col-sm-9._nopad_tabl {
    padding: 0!important;
    line-height: 46px;
}

/*
.page-header.navbar .top-menu .navbar-nav > li.dropdown.header_icons > .dropdown-toggle {
	padding: 0 10px 2px 0;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.header_icons > .dropdown-toggle > i {
	font-size: 23px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle{
    padding: 12px 10px 14px;
}
.page-header.navbar .top-menu .logout-btn{
    padding: 11px 10px 10px !important;
}
#header_notification_bar{
    height: 43px;
}
#header_notification_bar .icon-bell{
    font-size: 19px;
}
#header_notification_bar a .badge{
    top: 7px !important;
}
*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
    padding: 13px 10px 8px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i {
    font-size: 20px !important;
}

.page-header.navbar .dropdown-toggle {
    height: 46px;
}

.dropdown .icon-logout {
    font-size: 19px !important;
}

.dashboard-stat .details .number .rur {
    font-family: 'PT Sans', serif;
}

.btn-calendar {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.daterangepicker .ranges {
    width: 170px !important;
}

label, .edit-customer label {
    text-align: left !important;
}

.create-counterparty .control-label, .edit-customer .control-label, .edit-profile .control-label {
    font-weight: bold;
}

.contragent-label {
    padding-left: 0 !important;
}

.create-counterparty .type-radio, .edit-customer .type-radio {
    /* margin-left: 15px;*/
    padding-left: 0;
}

.marg-top-none .form-group {
    margin-bottom: -5px;
}

.pad-none {
    padding: 0 10px;
}
.portlet.box > .portlet-title {
    padding: 0 4px;
}
.export-progressbar .progress-bar {
    padding: 0;
}

.create-counterparty .decline,
.in-invoice .decline,
.page-good .decline,
.create-out-invoice .decline,
.payment-order .decline,
.edit-profile .decline {
    margin-right: 103px !important;
}

.label-type {
    padding-left: 15px !important;
}

.label-width {
    width: 212px;
}

.edit-profile .label-width {
    width: 201px;
}

.profile-setup .label-width {
    width: 215px;
}
.inp_one_line_prof {
    width: 65%!important;
    display: inline-block;
    margin-right: 25px!important;
}
.contr_lab_left + select {
    width: 66%;
    display: inline-block;
    margin-right: 10px!important;
}

.create-out-invoice .label-width {
    width: 140px;
}

.small-boxes .label-width {
    width: 90px;
}

.form-group-taxation .col-md-4, .form-group-status .col-md-4, .form-group-type .col-md-4, .form-group-type_account .col-md-4 {
    width: 160px;
    padding-left: 0;
}

.form-group-type_account .type-radio .col-md-4 {
    margin-left: -56px;
}

.title-for-add-buyer {
    font-size: 21px;
    display: inline-block;
    width: 70%;
    margin: -10px 0;
    text-align: right;
}
.link-more-information span {
    text-align: center;
    display: block;
    margin: 0 auto 15px;
    max-width: 335px;
    cursor: pointer;
    font-style: italic;
    color: grey;
    text-decoration: underline;
}
.link-more-information span:hover {
    text-decoration: none;
}
.sw-bl-more-info {
    clear: both;
    overflow: hidden;
}


@media (min-width: 1024px) {
    .field-width {
        width: 42%;
        padding-right: 15px;
        /*padding-left: 0;*/
    }
    .add-byuer .field-width {
        width: 66.66666667%;
        padding-right: 0;
        padding-left: 25px;
    }
    .add-byuer .radio-list.inp_one_line-contractor {
        padding: 0;
        margin: 0;
    }
    .small-boxes .field-width {
        width: 60%;
    }
}

/*@media (min-width: 1024px) {*/
    /*.field-w {*/
        /*width: 55% !important;*/
    /*}*/
/*}*/

@media (min-width: 1280px) {
    .field-width {
        width: 55%;
    }

    .small-boxes .field-width {
        width: 67%;
    }
    .menu-toggler.sidebar-toggler {
        display: none!important;
    }
}

@media (min-width: 1280px) {
    .out-invoice .block-left {
        width: 58%;
    }

    /*.out-invoice .control-panel {*/
        /*width: 42%;*/
    /*}*/
}
@media (min-width: 1344px) {
    .m-r-sm.growth_currency {
        margin-right: 55px!important;
    }
    .rate {
        position: absolute;
        right: 0;
    }
}


@media (min-width: 1366px) {
    .field-width {
        width: 60%;
    }

    .small-boxes .field-width {
        width: 72%;
    }
}

@media (min-width: 1440px) {
    .field-width {
        width: 61%;
    }
    .partially_hide_username {
        width: auto!important;
    }
}

@media (min-width: 1492px) {
    .field-width {
        width: 66%;
        padding-right: 15px;
    }

    .small-boxes .field-width {
        width: 70%;
        padding-right: 15px;
    }

    .box-details .label-width {
        width: 34%;
    }

    .small-boxes .label-width {
        width: 30%;
    }
}

.edit-customer .control-label span {
    font-weight: normal;
}

.edit-customer__info .form-group .type-radio .radio-inline,
.box-name .match-with-leader {
    height: 34px;
}

.create-counterparty .form-actions button[type="submit"],
.edit-customer .form-actions,
.create-out-invoice .form-actions,
.text-white {
    color: white;
}

.edit-customer .form-actions .btn-cancel {
    margin-right: 10px;
}

.small-boxes .checkbox-inline {
    padding-left: 15px !important;
}

.small-boxes .box-leader .portlet-body {
    /*padding-top: 52px;*/
}

.heading th {
    vertical-align: middle !important;
}

/*.documents_table tr td:nth-child(2),*/
/*.documents_table tr td:nth-child(6),*/
/*.documents_table tr td:nth-child(7) {*/
    /*color: blue;*/
/*}*/

.red-alert {
    color: red!important;
}

.add-to-invoice button[type="submit"], #send button[type="submit"] {
    margin-right: 15px;
}

.add-to-invoice .checkbox-inline, #send .row .checkbox-inline {
    padding-left: 5px !important;
}

.sub-menu-documents {
    display: block;
}

.sub-menu-documents li a {
    padding-left: 65px !important;
}

.customer .customer-info, .out-document .customer-info {
    border: 1px solid #4276a4;
}

.icon-pencil {
    color: white;
}

.modal-dialog-middle {
    margin-top: 15%;
}

.customer-info .portlet-title {
    margin-bottom: 0px;
    border-bottom: none !important;
    padding-left: 8px;
}

.customer-info .portlet-title .caption,
.customer-characteristic,
.create-out-invoice .caption,
.create-out-invoice .control-label,
.bold-text {
    font-weight: bold !important;
}

.customer-info .portlet-title .caption {
    font-size: 21px;
}

.customer-info table td, out-invoice table td {
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    border-top: none !important;
}

.customer-info .actions {
    padding: 0 !important;
}

.back-to-customers {
    display: block;
    margin-bottom: 5px;
    margin-top: -13px;
}

.link-to-edit {
    background: url('.../assets/img/pencil.png') no-repeat;
    width: 10px !important;
    height: 10px !important;
}

.uneditable {
    color: #999999;
}

.customer-align {
    margin-left: -15px;
}

tr.heading th.dropdown-filter .dropdown-menu {
    /*    left: -18px;*/
    width: 100%;
    margin-top: 0;
}

tr.heading th.dropdown-filter .dropdown-menu-invoice {
    min-width: 137px;
}

tr.heading th.dropdown-filter .dropdown-toggle {
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
}

.payment-order #accounts-list tr td:first-child {
    text-align: center;
}

.payment-order #accounts-list #search {
    float: right;
    height: 34px;
    width: 171px;
}

.back-sort {
    background: url("assets/img/sort.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    z-index: 100000;
}

.sort-icon {
    position: absolute;
    top: 12px;
    right: 5px;
}

.control-panel {
    color: white;
}
.control-panel .btn:hover {
    color: white;
}

.control-panel .status-panel .btn {
    cursor: default;
    margin-left: 10px;
}

.control-panel .document-panel {
    clear: both;
    width: 293px;
    margin-bottom: 10px;
}

.control-panel .document-panel .btn {
    width: 292px;
    margin-top: 10px;
}

.control-panel .icon {
    margin-right: 10px;
    font-size: 15px;
}

.out-document .table-resume td, .create-out-invoice .table-resume td {
    border: none;
}

.out-document .table-resume {
    margin-bottom: 0 !important;
}

.out-document .customer-info .caption {
    /*width: 88%;*/
    line-height: 27px;
}

.action-buttons .btn {
    /*width: 100px!important;*/
    padding-left: 0;
    padding-right: 0;
    /*	padding-left: 10px;*/
    color: white;
}

.action-buttons .default {
    color: black;
}

.confirm-modal .form-body,
#delete .form-body {
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
}

.confirm-modal .form-actions .btn,
#delete .form-actions .btn {
    width: 80px;
    color: white;
}

.btn-status {
    width: 179px;
    margin-left: 10px !important;
}

.create-out-invoice #account-number,
.out-act #account-number,
.payment-order #payment-order-number,
.payment-order #payment-order-vat,
.payment-order #payment-order-next,
.payment-order #payment-order-date {
    display: inline-block;
    width: 130px;
    margin-left: 5px;
    margin-right: 5px;
    /*height: 100%;*/
    vertical-align: middle;
    zoom: 1;
}

.payment-order #payment-order-date {
    width: 98px;
}

.payment-order #payment-order-vat {
    width: 160px;
}

.payment-prder-input-short {
    width: 170px !important;
}

.payment-order textarea {
    width: 96%;
    margin-left: 10px;
    margin-top: 10px;
}

.payment-order select {
    margin: 0 auto;
    height: 30px;
}
#connection-to-account .form-group{
    display: inline-block;
}
#relation-invoice-span{
    display: none;
}
.payment-order input {
    height: 24px;
    display: inline-block;
    width: 98%;
}

.payment-order #payment-order-code,
.payment-order #payment-order-next {
    width: 40px;
}

.payment-order #payment-order-type,
.payment-order #payment-order-smth {
    width: 72px;
    height: 30px;
}

.payment-order .btn-add {
    margin-top: 8px;
}

.create-out-invoice #under-date {
    width: 130px;
}

.create-out-invoice .icon-close {
    margin-top: 7px;
    font-size: 20px;
    cursor: pointer;
}

.create-out-invoice .account_table td:first-child {
    text-align: center;
}

.create-out-invoice .btn-group .btn {
    width: 240px;
    margin-bottom: 5px;
}

.create-out-invoice .account_table tr td:nth-child(7),
.table-resume tr td {
    text-align: right;
}

.out-act_table tr td:nth-child(5),
.out-act_table tr td:nth-child(6) {
    text-align: right;
}

.out-invoice_table tr td:nth-child(6),
.out-invoice_table tr td:nth-child(7) {
    text-align: right;
}

.out-act .control-panel .btn-account {
    width: 179px;
}

.out-act .action-buttons .layout-left {
    width: 10%;
    min-height: 1px;
    float: left;
}

.out-act .action-buttons .layout-center {
    width: 60%;
    float: left;
}

.out-act .action-buttons .layout-right {
    width: 30%;
    float: right;
}

.out-act .control-panel {
    width: 320px;
    float: right;
}

.out-act .control-panel.no-r {
    width: 320px;
    float: right;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.action-buttons .btn-cancel {
    margin-right: 10px;
}

@media (max-width: 1279px) {
    .out-tn .wide_table {
        overflow-x: auto;
    }
}

.out-sf .wide_table {
    overflow-x: auto;
}

.out-sf .wide_table table {
    width: 1500px;
}

.serveces-search {
    margin-top: 4px;
    margin-right: -5px;
    margin-bottom: 4px;

}

.dropdown-filter {
    position: relative;
    /*
        background:url('../../assets/img/sort.png');
        background-size: 17px;
        background-repeat: no-repeat;
        background-position: center right 5px;
    */
}

th:focus {
    outline: 0;
}

.fa-filter {
    position: absolute;
    top: 31%;
    right: 3px;
    color: #b8b8b8;
}

.fa-filter.active {
    color: black;
}

.btn-signed {
    padding: 0;
    line-height: 17px;
    white-space: pre-line;
}

@media (min-width: 1280px) {
    .page-good .control-label {
        width: 265px;
    }
}

.edit-profile .details .left-column .label-width {
    width: 80px;
}

.edit-profile .details .left-column .form-group:last-child .label-width {
    width: 370px;
}

.edit-profile .details .left-column .form-group:last-child .field-width {
    width: 120px;
}

.box-adress .match-with-leader {
    margin-top: 3px !important;
}

.box-adress .match-with-leader .checker {
    margin-right: 10px !important;
}

@media (max-width: 1142px) {
    .box-adress .match-with-leader {
        font-size: 10px;
        padding-left: 0;
        margin-top: 6px !important;
    }

    .box-adress .match-with-leader .checker {
        margin-right: 5px !important;
    }
}

.edit-profile__info .label-width {
    width: 320px;
}

.edit-profile__info .type-radio {
    width: 58%
}

.edit-profile__info .type-radio .col-md-4 {
    width: 100px;
    padding-left: 0;
    padding-right: 0;
}

.edit-profile__info .type-radio .col-md-4 .radio-inline {
    padding-left: 0;
}

.align-center {
    text-align: center;
}

.promo-org {
    margin-left: 20px;
    font-size: 14px !important;
}

.info-list {
    color: #5b9bd1;
    font-size: 16px;
}

.info-page .pager a {
    width: 240px;
}

.box-fio .label-width {
    width: 112px;
}

.box-fio .field-width {
    width: 200px;
}

.box-fio .column {
    width: 300px;
    float: left;
    padding-left: 15px;
}
.box-fio .column2 {
    width: 300px;
    float: left;
    padding-left: 25px;
}

.box-fio .initial-label {
    width: 185px;
}

.box-fio .initial-field {
    width: 70px;
}

.tools .expand {
    transform: rotate(-90deg);
}

.out-invoice .customer-info {
    min-height: 118px;
}

.good-service table td {
    text-align: left;
}
.payment-order .document_date div{
    margin-bottom: 0!important;
    margin-left: 25px;
}
.payment-order .data-block {
    margin-right: 50px;
    text-align: center
}

.payment-order .data-block__data {
    width: 100px;
    height: 30px;
    border-bottom: 1px solid #cecece;
}

.payment-order .summery {
    line-height: 30px;
}

.payment-order .summery__sum {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid #cecece;
}

.payment-order .portlet-body {
    /*    padding-left: 5px;*/
}

.height-30 {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}

.height-60 {
    height: 60px;
    padding-left: 5px;
    padding-top: 5px;
}

.height-90 {
    height: 90px;
    padding-left: 5px;
    padding-top: 5px;
}

.payment-order__table {
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
}

.table .left-block {
    /*    border-right: 2px solid #cecece;*/
}

.payment-order .customer-info .caption {
    width: 70%;
}

.payment-order .enter-data {
    width: 76px;
    height: 32px;
    margin-right: 30px;
}

.payment-order .enter-data .form-control {
    border: none;
}
.payment-order .enter-data .jq-selectbox__select-text {
    display: none;
}
.payment-order .enter-data .changed .jq-selectbox__select-text {
    display: block;
}
.payment-order .enter-data .jq-selectbox__select-text {
    width: 20px !important;
}

.payment-order .border-bootom-right {
    border-bottom: 2px solid #cecece;
    border-right: 2px solid #cecece;
}

.payment-order .width-100 {
    width: 100%;
}

.payment-order .width-70 {
    width: 70%;
}

.payment-order .width-60 {
    width: 60%;
}

.payment-order .width-50 {
    width: 50%;
}

.payment-order .width-40 {
    width: 40%;
}

.payment-order .width-30 {
    width: 30%;
}

.payment-order .border-bootom {
    border-bottom: 2px solid #cecece;
}

.payment-order .border-left {
    border-left: 2px solid #cecece;
}

.payment-order .border-right {
    border-right: 2px solid #cecece;
}

.payment-order .border-top {
    border-top: 2px solid #cecece;
}

.created-by {
    color: #999999;
    margin-top: 20px;
    text-align: center;
}

.in-invoice {

}

.create-payment-order input {
    display: inline-block;
}

.title-buttons .btn {
    width: 130px;
}

.good-info {
    width: 238px;
}

.good-info td:first-child {
    width: 120px;
}

.load-in-invoice .label-width {
    width: 156px;
}

.load-in-invoice .form-group-type_account .type-radio .col-md-4 {
    margin-left: -38px;
}

.page-content .control-panel-edit {
    width: auto;
}

.invoice-download-btn {
    margin-left: 8px !important;
    width: 200px !important;
}

.in-sfs .documents_table tr td:last-child,
.cash-movements-table tr td:nth-child(7),
.movements-table .account-mark {
    color: blue;
}

.cash-flow-table tr td:first-child,
.cash-flow-table tr:last-child {
    font-weight: bold;
}

.cash-flow-table tr td:first-child {
    font-size: 14px;
}

.bank-widget {
    padding-right: 0;
}

.bank-widget .details {
    padding-right: 0;
}

.bank-widget .details .number {
    padding-top: 10px;
    font-size: 24px;
}

.bank-movements-table tr td:last-child {
    text-align: center;
}

.bank-movements-table tr td:last-child span {
    cursor: pointer;
}

.btn-group > .btn:hover {
    z-index: auto;
}

.cash-order-type {
    float: left;
    width: 130px;
    margin-right: 30px;
    font-weight: bold;

}

.create-cash-order .label-width {
    width: 160px;
}

.cash-order .control-panel {
    width: 190px;
}

.cash-order div#edit-cash-order {
    border: 1px solid #2d5f8b;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 25px;
}

.cash-order div#edit-cash-order .label-width {
    width: 158px;
    font-weight: bold;
    margin-left: 7px;
}
.min_wid_picker {
    min-width: 120px;
}

.cash-order div#edit-cash-order .caption {
    font-weight: bold;
}

.cash-order form#edit-cash-order {
    border: 1px solid #2d5f8b;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 25px;
}

.cash-order form#edit-cash-order .label-width {
    width: 158px;
    font-weight: bold;
}

.edit-emloyee .label-width {
    width: 210px !important;
    font-weight: bold;
}

.cash-order form#edit-cash-order .caption {
    font-weight: bold;
}

#fire-date {
    position: relative;
}

.table-goods #datatable_ajax_wrapper tbody tr td {
    text-align: right;
}

.table-goods #datatable_ajax_wrapper tbody tr td:first-of-type {
    text-align: left;
}

.red-nds {
    color: red;
}

.border-space {
    width: 200px !important;
}

.table-link-info {
    position: absolute;
    bottom: 30px;
    left: 24px;
}
.table-link-info-1 {
    margin: -12px 0 8px 8px;
    display: block;
}

.text-right {
    text-align: right;
}

.text-right input {
    text-align: right;
}

.table-center-pull span {
    margin-top: 14px;
}

.table-center-pull a {
    display: block;
    margin-top: 12px;
    margin-left: 17px;
}

.tools .title-center {
    margin-top: 2px;
}

.icon-refresh-center::before {
    position: absolute;
    top: 10px;
    left: 1px;
    bottom: 0;
    right: 0;
    margin: auto;
}

.col-md-new-5 {
    /*width: 20% !important;*/
    min-width: 25%;
}

.col-md-new-5 ._yellow,
.col-md-new-5 ._green,
.col-md-new-5 ._red {
    height: 122px;
}

.col-md-new-5 ._yellow .details,
.col-md-new-5 ._green .details,
.col-md-new-5 ._red .details {
    width: 88%;
}

.pull-center {
    margin-left: 40%;
}

.col-md-new-two {
    width: 42%;
    padding-right: 0;
}

.col-md-new-two .col-md-4 {
    width: 42%;
    padding-right: 0;
}

.col-md-new-two-left {

}

.col-md-new-two-left .col-md-1 {
    width: 47% !important;
    padding-right: 0;
}

.col-md-new-two-left .col-md-4 {
    padding-left: 0;
}

/* Home page */

.home-page .col {

}

.col-new1 {
    background-color: red;
    height: 400px;
}

.col-new2 {
    background-color: yellow;
    height: 400px;
}

.widget-home {
    border: 1px solid #dddddd;
    margin-bottom: 25px;
}

.widget-home .heading {
    position: relative;
    color: #0000ff;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
}

.widget-home .heading h5 {
    font-family: 'Calibri Bold', 'Calibri';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #0000ff;
    margin-left: 20px;
}

.widget-home .heading .slide-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 5px;
    display: block;
}

.width-60p,
.width-18p,
.width-6p {
    display: inline-block;
}

.width-60p {
    width: 60%;
}

.width-18p {
    width: 18%;
}

.width-6p {
    width: 6%;
}

.color-expense {
    width: 15px;
    height: 15px;
    display: block;
    margin: 2px auto 0;
    border: 1px solid #dddddd;

}

.color-1 {
    background: #7f0f7e;
}

.color-2 {
    background: #fecb2e;
}

.color-3 {
    background: #136bfb;
}

.color-4 {
    background: #ca0814;
}

.color-5 {
    background: #0f7f12;
}

.color-6 {
    background: #2dfffe;
}

.widget-expense table .heading {
    color: #333333;
}

.widget-expense tbody th {
    font-weight: normal
}

.widget-expense .gray {
    background-color: #eeeeee !important;
}

.widget-expense .gray th {
    font-weight: bold;
}

.latest-actions-name {
    padding: 2px 10px;
    margin-left: 10px;
    border: 1px solid #bbbbbb;
    background-color: #189aca;
    color: #ffffff;
}

.widget-latest-actions li {
    margin: 20px 0;
}

.widget-latest-actions .form-group {
    margin: 0;
}

.widget-latest-actions .feeds {
    overflow: hidden;
}

.widget-latest-actions .open {
    max-height: 3000px;
}
.open {
    display: block!important;
}

.widget-info {
    margin: 0 20px 30px;
    font-family: "Open Sans", sans-serif;
}

.widget-result span {
    font-family: 'Calibri Bold', 'Calibri';
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #008000;
    display: block;
    margin: 10px 0 10px 20px;
}

.widget-funding .black {
    display: inline-block;
    margin: 6px 40px 0 0;
    float: right;
    width: 106px;
    height: 23px;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
    padding: 0;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
}

.widget-funding .table-funding {
    display: block;
    width: 96%;
    margin: 0 auto 20px;
    border: 1px solid #bbbbbb;
}

.widget-funding .heading {
    color: #333333;
}

.widget-funding tbody th {
    font-weight: normal;
}

.widget-latest-actions .black {
    display: inline-block;
    margin: 6px 10px 0 0;
    float: right;
    width: 106px;
    height: 23px;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
    padding: 0;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
}

.widget-latest-actions .date {
    font-size: 13px;
    color: #333333;
    text-align: left;
    line-height: normal;
    font-weight: bold;
}

.widget-latest-actions ul {
    padding: 0;
}

.widget-latest-actions li {
    list-style: none;
}

.widget-latest-actions time {
    font-family: 'Calibri Italic', 'Calibri';
    font-weight: 400;
    font-style: italic;
    color: #666666;
    text-align: right;
}

.widget-pagination {
    text-align: center;
    margin: 45px 0 28px;
    display: block;
}

.home-arrow-left {
    position: absolute;
    bottom: 35px;
    left: 26px;
    width: 42px;
    height: 32px;
    border: 1px solid #bbbbbb;
    list-style: none;
}

.home-arrow-left i:before {
    position: absolute;
    top: 8px;
    left: 16px;
}

.home-arrow a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-arrow-right {
    position: absolute;
    bottom: 35px;
    right: 26px;
    width: 42px;
    height: 32px;
    border: 1px solid #bbbbbb;
    list-style: none;
}

.home-arrow-right i:before {
    position: absolute;
    top: 8px;
    left: 19px;
}

.widget-money span {
    list-style: none;
    font-family: 'Calibri Regular', 'Calibri';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}

.widget-money .col-md-5 {
    width: 80px;
    padding-right: 0;
}

.widget-money .col-md-4 {
    padding: 0;
    text-align: right;
}

.widget-money .col-md-6 {
    padding: 0;
}

.widget-money .summ {
    padding-top: 20px;
}

.widget-money .summ span {
    font-weight: bold;
}

.widget-money .body {
    /*padding-left: 20px;*/ /*перепроверить!!!*/
    padding: 10px 0 12px 0;
}

.widget-money .portlet-body {
    height: 100%;
}

.widget-curse .col {
    font-family: 'Calibri Regular', 'Calibri';
    font-weight: 400;
    font-size: 14px;
    list-style: none;
    margin: 10px 0;
}

.widget-curse .col-md-10 {
    padding: 0;
}

.widget-curse .green {
    color: green;
    padding-left: 8px;
}

.widget-curse .pull-right.m-r-sm.rate {
    min-width: 45px;
    text-align: right;
}

.widget-curse .fa-caret-up.green {
    padding-left: 0;
}

.widget-curse .red {
    color: red;
}

.widget-calendar tbody {
    padding-left: 10px;
    display: block;
}

.widget-calendar tbody tr td {
    border: none;
    text-align: left;
}

.widget-calendar .day {
    text-align: center;
    font-family: 'Calibri Bold', 'Calibri';
    font-weight: 700;
    line-height: 25px;
    font-style: normal;
    font-size: 36px;
    color: #333333;
}

.widget-calendar .month {
    font-family: 'Calibri Bold', 'Calibri';
    font-weight: 400;
    font-size: 13px;
    font-family: 'Calibri Regular', 'Calibri';
    font-weight: 400;
    line-height: 13px;
    color: #333333;
}

.widget-calendar span {
    font-family: 'Calibri Regular', 'Calibri';
    font-weight: 400;
    font-style: normal;
    color: #666666;
    text-align: left;
    vertical-align: top;
}

.widget-calendar .home-arrow-right {
    right: 30px;
    bottom: 35px;
}

.widget-calendar .home-arrow-left {
    left: 30px;
    bottom: 35px;
}

.widget-coming .portlet-body {
    height: 100%;
}

.collapse {
    visibility: inherit;
}

.home-button {
    padding-bottom: 20px;
}

.widget-home .actions {
    margin-right: 20px;
}

.portlet-body #donut .legend {
    display: none;
}

.btn-wid-30 {
    width: 30% !important;
}

.padding-left-10 {
    padding-left: 10px;
}

.repots-bottom-buttons {
    width: 100%;
    padding: 8px;
}

.create-funding {
    height: 115px;
}

.create-funding .modal-field {
    padding-bottom: 50px;
}

.buttons-fixed.absolute {
    position: absolute;
    width: 800px;
    bottom: 50px;
    right: 23%;
}

.buttons-fixed-right.absolute {
    position: absolute;
    width: 800px;
    bottom: 50px;
    right: 20px;
}

.widget-home-popup ul {
    min-width: 120px;
    padding: 10px 0;
}

.widget-home-popup li {
    margin: 0;
}

.btn.default.doc-gray-button {
    width: 23%;
    margin-right: 0;
}
.btn_no_right {
    margin-right: 0!important;
    margin-bottom: 21px!important;
}
.row .btn.default.doc-gray-button{
	width: calc(25% - 30px) !important;
	/*margin-right: 15px;*/
    margin-right: 0;
    min-width: 156.5px;
    font-size: 13px;
}
.row .btn.default.doc-gray-button.btn_row {
    width: 100%!important;
}

.buttons-content-padding {
    padding: 25px 20px 60px 20px !important;
}

.button-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.in-invoice .form-group {
    padding-bottom: 30px;
}

.btn-link {
    width: 30px;
    height: 27px;
    padding: 3px 10px;
    display: inline-block;
    vertical-align: top;
}

.btn-link:hover {
    background: #4276a4;
}

.uppercase {
    text-transform: uppercase;
}

.input-calendar {
    display: inline-block;
}

.page-content {
    position: relative;
}

.page-content-in {
    overflow: hidden;
    zoom: 1;
    padding-top: 10px;
}

.row.action-buttons {
    clear: both;
}

.row.action-buttons.absolute {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.info-button {}

.button-bottom-page {
    width: 12.5%;
    text-align: center;
}

.button-bottom-page .btn {
    width: 100%;
}

.input-calendar {
    width: 125px;
    vertical-align: bottom;
}

.white {
    color: #ffffff;
    font-weight: bolder;
}

.white:hover {
    color: #ffffff;
}

/*.icon-order-info {
	width: 33px;
	height: 27px;

}
.icon-order-info .icon {
	position: relative;
}
.icon-order-info .icon::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 33px;
	height: 27px;
	background: url(../assets/img/1426693844_info-128.png) center center no-repeat;

}
*//*html {*/
/*position: relative;*/
/*min-height: 100%;*/
/*}*/
/*body {*/
/* Margin bottom by footer height */
/*margin-bottom: 35px;*/
/*background-color: #fff;*/
/*height: auto;*/
/*min-height: 100%;*/
/*}*/
/*.page-footer {*/
/*position: absolute;*/
/*bottom: 0;*/
/*width: 100%;*/
/* Set the fixed height of the footer here */
/*height: 35px;*/
/*background-color: #4276a4;*/
/*}*/
/*.page-sidebar.navbar-collapse {*/
/*background: none repeat scroll 0 0 #4276a4;*/
/*bottom: 0;*/
/*left: 0;*/
/*position: absolute;*/
/*top: 0;*/
/*}*/

/** FORM */

form .form-group p {
    padding: 0 15px;
}

form .control-label.checkbox-inline {
    padding-left: 20px;
}

.form-horizontal .radio-list .radio {
    padding-top: 0;
}

.form-horizontal .radio > span {
    margin-top: 0;
}

/*div.required label:after {
    content: "*";
    color: red;
}*/
div.required label.control-label:after {
    content: "*";
    color: red;
}

div.required .not-required label:after {
    content: " ";
    color: inherit;
}
/** Invoice facture */

.invoice-facture-status .btn-status {
    display: none;
}

.invoice-facture-status.invoice-facture-status-1 .btn-status.status-1,
.invoice-facture-status.invoice-facture-status-2 .btn-status.status-2,
.invoice-facture-status.invoice-facture-status-3 .btn-status.status-3 {
    display: block;
}

.report-padding-file-input {
    padding-left: 5px !important;
}

/** MODAL */
.modal {
    width: auto;
}

.modal .modal-dialog {
    margin: 0;
    width: auto!important;
}

.delete-report-doc {
    color: #000000;
}

.delete-report-doc:hover {
    color: #000000;
    text-decoration: none;
}

/** GRID VIEW */

tr.heading th {
    padding: 10px !important;
}

tr.heading th.sorting,
tr.heading th.dropdown-filter {
    padding: 0 !important;
}

tr.heading th.sorting a {
    color: #333333;
    display: inline-block;
    line-height: 1em;
    padding: 10px 14px 10px 10px;
    text-decoration: none;
    width: 100%;
}

table.dataTable thead .sorting .asc {
    background: url('../plugins/datatables/media/images/sort_asc.png') no-repeat center right;
}

table.dataTable thead .sorting .desc {
    background: url('../plugins/datatables/media/images/sort_desc.png') no-repeat center right;
}


/** INVOICE FORM */

#product-table-invoice .template {
    display: none;
}

/** FILE UPLOADING */

.fileUpload {
    /*margin: 10px;*/
    overflow: hidden;
    position: relative;
    display: block;
    text-align: center !important;
    cursor: pointer;
}

.fileUpload input.upload {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    height: 0;/*100%;*/
    width: 0;/*100%;*/
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.fileUploadExisted {
    margin-right: 10px;
}
.form-horizontal .radio{
    padding-top: 3px;
}
.portlet-body_ins .help-block{
    padding-left: 15px;
}
.error-summary{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.error-summary p {
    font-size: 17px;
}
#w1-filters th a{

    color: #333333;
    display: inline-block;
    /*height: 100%;*/
    /*line-height: 40px;*/
    padding-left: 10px;
    text-decoration: none;
    width: 100%;

}
#datatable_ajax_wrapper-filters th{
    color: #333333;
    /*padding-left: 10px !important;*/
}
#w1-filters th,
#datatable_ajax_wrapper-filters th{
    /*vertical-align: top !important;*/
}
.btn__ins{
    margin-top: -5px;
    padding: 8px 10px 7px 10px;
}
.form__ins .form-group {
    margin: 0 10px 0 0 !important;
    vertical-align: top;
}
.form__ins .cash-order-type {
    margin: 0 !important;
}
.form__ins .control-label {
    margin-right: 10px;
}

@media (min-width: 1440px){
    .form__ins-2 .field-width{
        width: 54%;
    }
}

@media (min-width: 1366px){
    .form__ins-2 .field-width{
        width: 54%;
    }
}

@media (min-width: 1280px){
    .form__ins-2 .field-width{
        width: 54%;
    }
}

@media (min-width: 1366px){
    .box-details__ins .field-width {
        width: 55%;
    }
}





.lastItemMrgRight0 .radio-inline:last-child{
	margin-right: 0 !important;
}
.width182{
	width: 182px !important;
}

.widthe-i{
    width: initial !important;
}

.width179{
    width: 179px !important;
}

.smallWidthTd th:nth-child(2), .smallWidthTd th:nth-child(3) {
	word-break: break-all;
}
.buttonGrayWidth25-30 {
	width: calc(25% - 30px);
	margin-right: 15px;
}
.m-t-0{
	margin-top: 0 !important;
}
.fontSizeSmall{
	font-size: 21px !important;
}
[class^=cash] .fontSizeSmall{
    font-size: 22px !important;
}
.m-l-12{
	margin-left: 12px !important;
}
.m-b-0{
	margin-bottom: 0 !important;
}
.status_nowrap td:nth-child(5){
	white-space: nowrap;
}
.m-l{
	margin-left: 15px !important;
}
.m-l-n{
    /*margin-left: -15px !important;*/
}
.m-l-n-pd{
    margin-left: 5px !important;
}
.col-md-p{
    float: left;
    padding: 0 50px 0 17px;
}
.width125{
	width: 125px;
}
.width317{
	width: 317px !important;
	margin-left: 0 !important;
}
.width100{
	width: 100% !important;
}
.width-inp input,
.width-inp select {
    width: 100%;
}
.m-t-n{
	margin-top: -15px !important;
}
.m-b{
	margin-bottom: 15px !important;
}
.m-r-n{
	margin-right: -15px !important;
}
.another{
	display: block;
	margin-left: -15px;
	width: calc(100% + 30px);
	margin-bottom: 20px;
}
.m-t-n-lg{
    margin-top: -30px !important;
}
.input-cont.inp_pad input {
    margin-left: 10px;
}
.form-group-m-b-0 .form-group{
    margin-bottom: 0 !important;
}
.p-t-10{
    padding-top: 10px !important;
}
.p-b-10{
    padding-bottom: 10px !important;
}
.line-height-1em th{
    line-height: 1em !important;
}
.nowrap-normal .dropdown a{
    white-space: normal !important;
}
.font-size-20{
    font-size: 20px !important;
}
.menu-settings a{
    height: 46px;
    padding-top: 13px;
}
.m-l-n-md{
    margin-left: -20px !important;
}
.m-r-sm{
    margin-right: 5px !important;
}
.m-l-sm{
    margin-left: 5px !important;
}
.m-l-n-xs{
    margin-left: -1px !important;
}
.p-t-7{
    padding-top: 7px !important;
}
.p-b-7{
    padding-bottom: 7px !important;
}
.m-t-8{
    margin-top: 8px !important;
}
.m-l-n-sm{
    margin-left: -5px !important;
    padding: 0px 15px 0 5px;
}
#reportrange.m-r-10{
    margin-right: 10px !important;
}
.m-l-10{
    margin-left: 10px !important;
}
.m-b-10{
    margin-bottom: 10px !important;
}
.m-t-10{
    margin-top: 10px !important;
}
.m-t{
    margin-top: 15px !important;
}
.m-l-n-lg{
    margin-left: -30px !important;
}
.widget-money .portlet-body .body .row .m-r {
    margin-right: 0!important;
}
.m-r{
    margin-right: 15px !important;
}
.m-r-md{
    margin-right: 20px !important;
}



.font-size_18{
    font-size: 18px !important;
}
.fa-copy-in,
.fa-copy-out{
    font-size: 10px !important;
    position: relative;
    margin-left: -18px !important;
}
.fa-copy-in::before,
.fa-copy-out::before{
    position: absolute;
    top: 0;
    left: 6px;
}
.fa-pencil-wrench{
    position: relative;
    margin-left: -25px !important;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: -2px;
    left: -1px;
}
.fa-tasks-folder{
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.flaticon-wallet31{
    position: relative;
}
.flaticon-wallet31::after{
    content: "e";
    display: block;
    position: absolute;
    top: 1px;
    left: 2px;
    font-size: 12px;
}


.btn-invoice .auto-width{
    width: auto !important;
}
.btn-invoice .m-t-4{
    margin-top: 4px !important;
}
.btn-invoice .m-r{
    margin-right: 15px !important;
}

.font-bold{
    font-weight: 700 !important;
}

.top-vertical{
    vertical-align: top !important;
}


.absolut-title{
    position: absolute;
    top: -5px;
    left: 10px;
    color: #4276a4;
}
.width-179{
    width: 179px !important;
}


.shadow-t{
    box-shadow: 0 -1px 0 #fff;
}
.jq-selectbox__dropdown{
    width: calc(100vw - 300px) !important;
}
.jq-selectbox__dropdown li{
    white-space: normal !important;
}
#add-new, #accounts-list{
     margin-top: 0 !important;
}

.pad{
    margin-top: -220px !important;
}

#add-invoice-to-payment-order{
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    float: right;
    margin-right: 25px !important;
}

.col-md-12_5{
    width: 12.5% !important;
    display: inline-block;
}
.col-md-12_5 button{
    width: 100% !important;
}

.home-button .btn{
    margin-right: 0 !important;
}


.p-center{
    padding: 20px;
    padding-top: 40px !important;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}


.underline{
    text-decoration: underline;
}
.m-t-80{
    margin-top: 80px !important;
}
.m-b-60{
    margin-bottom: 60px !important;
}
.m-b-xl{
    margin-bottom: 40px !important;
}

.b-b{
    border-bottom: 1px solid #000;
}
.m-b-lg{
    margin-bottom: 30px !important;
}
.img-sign{
    display: inline-block;
    min-width: 200px;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    margin-top: 20px;
}
.width-212{
    width: 212px !important;
}
.portlet-body .b-shadow-hide{
    box-shadow: 0 20px 0 26px #fff;
}

.m-t-xl{
    margin-top: 40px !important;
}
.text-middle{
    vertical-align: middle !important;
}

.b-b-pseud, .b-r-pseud{
    position: relative;
}
.b-b-pseud::after{
    content: '';
    display: block;
    border-bottom: 1px solid #ddd;
    width: calc(100% + 16px);
    position: absolute;
    bottom: -1px;
    left: -8px;
}
.b-r-pseud::after{
    content: '';
    display: block;
    border-right: 1px solid #ddd;
    height: calc(100% + 8px);
    position: absolute;
    right: 0;
    top: -8px;
}
.p-r{
    padding-right: 15px !important;
}
.uppercase{
    text-transform: uppercase;
}
.m-b-md{
    margin-bottom: 20px !important;
}
.m-t-md{
    margin-top: 20px !important;
}
.text-top{
    vertical-align: top;
}
.m-l-xl{
    margin-left: 40px !important;
}
.print-title{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 23px;
}
.m-r-lg{
    margin-right: 30px !important;
}
/*.pdf-shadow{*/
    /*box-shadow: 0 0 0 1000px #fff;*/
/*}*/


.inline-block{
    display: inline-block;
}
[class*='-pseudo'], [class*='tn-']{
    position: relative;
    min-height: 20px;
}
[class*='-pseudo']::after{
    display: block;
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
.sign-pseudo, .fio-pseudo{
    min-width: 100px !important;
}
.sign-pseudo::after{
     content: '(подпись)';
 }
.fio-pseudo::after{
    content: '(ф.и.о.)';
}
.rekv-pseudo{
    min-width: 330px !important;
}
.rekv-pseudo::after{
    content: '(реквизиты свидетельства о государственной регистрации индивидуального предпринимателя)';
    bottom: -32px;
}
.date-pseudo::after{
    content: 'Дата';
}
.pay-pseudo::after{
    content: 'Вид платежа';
}
.org-gruz-pseudo::after{
    content: 'организация-грузоотправитель, адрес, телефон, факс, банковские реквизиты';
}
.pay-pseudo::after{
    content: 'Вид платежа';
}
.structure-pseudo::after{
    content: 'структурное подразделение';
}
.org-pseudo::after{
    content: 'организация, адрес, телефон, факс, банковские реквизиты';
}
.doc-pseudo::after{
    content: 'договор, заказ-наряд';
}
.propis-pseudo::after{
    content: 'прописью';
}



.m-l-lg{
    margin-left: 30px !important;
}
.min-height-60{
    min-height: 60px;
}
.min-height-60.b-b-cecece{
    border-bottom: 1px solid #cecece;
}
.p-t-40{
    padding-top: 40px !important;
}
[class*='b-tn']{
    border: 2px solid #000;
}
.b-tn-l{
    border-right: none;
}
[class*='tn-']::before{
    position: absolute;
    display: block;
    top: -19px;
    left: -1px;
    width: calc(100% + 2px);
    border: 1px solid #000;
    border-bottom: none;
}
.tn-number-label::before{
    content: 'Номер документа';
    border-right: none;
}
.tn-date-label::before{
    content: 'Дата составления';
}
.tn-number-label, .tn-date-label{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    min-width: 130px;
}
.prilog{
    display: inline-block;
    min-width: 300px;
}
.prilog_big{
    min-width: 500px;
}
.prilog_sm, .dol-pseudo{
    min-width: 100px;
}
.dol-pseudo::after{
    content: 'должность';
}
.b-2{
    height: 40px;
    margin-top: -20px;
    border: 2px solid #000;
}
.b-2-t{
    border-top: none;
}
.width-1500{
    width: 1500px !important;
}
.b-r{
    border-right: 1px solid #000;
}
.m-t-lg{
    margin-top: 30px !important;
}
.podp-pseudo::after{
    content: 'подпись';
}
.podp-ras-pseudo::after{
    content: 'расшифровка подписи';
}
.m-r-25{
    margin-right: 25px !important;
}
.kem-pseudo::after{
    content: 'кем, кому (организация, должность, фамилия, и.о.)';
}
.b-l-r-space{
    border-right: 20px solid #fff;
    border-left: 20px solid #fff;
}
.width-plus-15{
    width: calc(100% + 15px);
}
.b-l{
    border-left: 1px solid #000;
}
.code-table td{
    height: 18px;
}
.code-table td:last-child{
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 1px solid #000;
}
.code-table td[rowspan='2']{
    height: 36px;
}
.code-table tr:first-child td:last-child{
    border-top: 2px solid #000;
}
.code-table tr:last-child td:last-child{
    border-bottom: 2px solid #000;
}
.tn-code::before{
    content: 'Коды';

}
.m-t-n-258{
    margin-top: -258px !important;
}

.b-l-t-b{
    border-left: 1px solid;
    border-top: 1px solid;
    padding-left: 5px;
}
.b-l-t-b.b-p-l{
    padding-left: 18px;
}
.p-t-5{
    padding-top: 5px !important;
}
.p-b-0{
    padding-bottom: 0 !important;
}
.table.th-bg-none tr.heading th{
    background: none !important;
}
.height-50{
    height: 50px;
    line-height: 20px;
}
.b-b-cecece-2{
    border-bottom: 2px solid #cecece;
}
.payment-order .data-block__data.data-block__data_big{
    width: 160px;
}
.pp-rec{
    margin-top: 6px;
    border: 1px solid #cecece;
    padding: 2px 10px;
}
.pp-sq{
    border: 1px solid #cecece;
    height: 30px;
    width: 30px;
}
.nowrap{
    white-space: nowrap;
}
.m-l-n-sm{
    margin-left: -5px !important;
    padding: 0px 15px 0 5px;
}

/*Change bootstrap tooltip*/
.tooltip.top .tooltip-inner {
    background: lightgray;
}
.tooltip.top .tooltip-arrow {
    border-top-color: lightgray;
}
.tooltip{
    white-space: nowrap;
}


#header_notification_bar .dropdown-menu-list{
    overflow-y: auto !important;
}

.vert-middle-pos{
    position: relative;
    top: 9px;
}
.logo_cont{
/*    height: 80px;*/
    margin-bottom: 1em;
    width: calc(25% - 22px);
    overflow: hidden;
    position: relative;
}
.logo_cont img{
/*    position: absolute;*/
    width: 100%;
}


/*Home page widgets*/

.widget-pagination.pagination-widget-latest-actions {
    list-style: none;
}


/*Common*/
.clr {
    clear: both;
}


.tax-calendar{
    position: relative;
}
.tax-calendar li{
    bottom: 0 !important;
}
.tax-calendar-p-r td:last-child{
    padding-right: 25px !important;
}
.tax-calendar li{
    display: none;
}
.tax-calendar li:first-child, .tax-calendar li:last-child{
    display: block;
}
.breakall-td td:last-child{
    word-break: break-all;
}
#login-form .checkbox{
    margin-left: 20px;
}
.m-t-sm{
    margin-top: 5px !important;
}
span.m-t-sm button {
    margin-top: 5px !important;
}

.details-title{
    width: 110px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}
.pos-t{
    position: relative;
    top: -32px;
}
.m-r-n-60{
    margin-right: -60px !important;
}
.m-r-n-65{
    margin-right: -65px !important;
}
.m-r-n-83{
    margin-right: -83px !important;
}
.m-r-n-73{
    margin-right: -73px !important;
}
.pos-l{
    margin-left: -25px;
    width: 453px;
}


.td-p-0 td{
    padding: 0 !important;
}
table th.b-l-b-0, table td.b-l-b-0{
    border-left: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
}
.pade-number{
    text-align: right;
    font-style: italic;
}
.b-b-ddd{
    border-bottom: 1px solid #ddd !important;
}
.p-l-r-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.p-r-100{
    padding-right: 100px !important;
}
.height-42{
    height: 42px !important;
}
span.height-42{
    display: inline-block;
}
.height-60{
    height: 60px !important;
}
.text-bottom{
    vertical-align: bottom;
}
.offset-2-m-l-n-10{
    margin-left: calc(16.66666667% - 10px) !important;
}
.font-size-10{
    font-size: 10px !important;
}
.m-r-10{
    margin-right: 10px !important;
}
table td.b-r-b-0{
    border-right: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
}
.width-1460{
    width: 1460px !important;
}
.m-t-2{
    margin-top: 2px !important;
}
.height-40{
    height: 40px !important;
}
span.height-40{
    display: inline-block;
}
.height-22{
    height: 22px !important;
}
.height-57{
    height: 57px !important;
}
.pos-t-n-38{
    position: relative;
    top: -38px;
}
.td-p-t-b-0 td{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.th-p-t-b-0 th{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.m-t-n-xl{
    margin-top: -40px !important;
}
.p-t{
    padding-top: 15px !important;
}
.m-l-8{
    margin-left: 8px !important;
}
.m-l-10{
    margin-left: 10px !important;
}
.m-r-10{
    margin-right: 10px !important;
}
.m-l-32{
    margin-left: 32px !important;
}
.m-r-32{
    margin-right: 32px !important;
}
.m-r-8{
    margin-right: 8px !important;
}
.th-font-w-norm th{
    font-weight: 400 !important;
}
.m-l-80{
    margin-left: 80px !important;
}
.b-l-ddd{
    border-left: 1px solid #ddd !important;
}
.table-b th, .table-b td{
    border: 1px solid #000 !important;
}
.m-l-0{
    /*margin-left: 0 !important;*/
    left: 20px;
    cursor: pointer;
}
.m-l-1{
    /*margin-left: 0 !important;*/
    left: 20px;
    cursor: pointer;
}
.m-t-n-10{
    margin-top: -10px !important;
}
.min-w1500 {
    min-width: 1500px;
}
.min-h37 {
    min-height: 37px;
}
#add-flow-form .form-group.row.block_left.width_50 label {
    width: 120px;
    line-height: 2;
    margin-left: -5px;
    text-align: right!important;
}
.col-md-8.width-col-7 {
    width: 58.33333333%!important;
}

@media print{
    .print-act{
        clear: both;
    }
    .p-center.width-990-print{
        width: 990px;
    }
}

.p-r{
    margin-right: 20px;
}

.col-r{
    width: 135px;
}

/*.form-horizontal .m_r{*/
    /*margin-right: 20px; !important;*/
/*}*/

@media (max-width: 1258px) {
    .m_b{
        margin-top: 10px;
    }
}

.m_b{
    padding: 6px 8px;
}

/** Strict mode **/
.strict-mode-link,
.strict-mode-link:hover {
    color: #f3565d;
}

.strict-mode-popover {
    background: #f3565d;
    color: #ffffff;
}
.popover.left > .arrow:after {
    border-left-color: #f3565d;
}

/** Subscribe reminder **/
.subscribe-reminder .actions.row {
    margin: 0;
}

.subscribe-reminder p {
    font-size: 16px;
}

.subscribe-reminder.reminder-color-default .modal-content {

}
.subscribe-reminder.reminder-color-warning .modal-content {
    background-color: #ff0000;
}


.p-o{
    padding-left: 0;
}

.btn-w{
    color: white;
}
/*
перепроверить!!!
.pad-e-b{
    padding-left: 0;
}*/

.pad-e-p{
    padding: 7px 0 0 0!important;
}

.m-m-f{
    margin-left: -25px !important;
    width: 93px !important;
}

.sel-w{
    line-height:2;
}
.table_marg {
    margin-bottom: 10px;
}
.form-group_width input, .form-group_width select, .form-body_width input, .form-body_width select {
    width: 100%;
}
.form-body_width lable {
    margin-bottom: 5px;
}
.correct-width-table tr.heading th.sorting a {
    padding: 10px 8px;
}
.home-page .portlet.blk_wth_srch > .portlet-title > .tools {
    /*padding: 4px 5px 0px 0;*/
    padding: 4px 0px 0px 0;
    max-width: 74%;
    max-height: 42px;
}
.portlet.box.blk_wth_srch > .portlet-title > .caption {
    padding: 2px 0 6px 0;
    min-width: 26%;
}
.page-good .portlet.box > .portlet-title > .caption {
    width: 20%!important;
}
.col-md-9.pull-right.serveces-search {
    max-width: 79%!important;
}
.btn_marg_down {
    margin-bottom: -2px;
}
.btn_pad_down {
    padding-top: 1px;
}
.portlet.box > .portlet-title > .capt_non {
    padding: 10px 0;
}



@media (max-width: 1279px) {
    .m-m-f-r{
        margin-left: 0!important;
        width: 93px !important;
    }
}

@media (max-width: 991px) {
    .m-m-f{
        margin-left: 0 !important;
    }
    .home-page .portlet > .portlet-title > .tools .radio-inline:last-child {
        padding-right: 0px;
    }
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px;
    }
    .mrg_bottom {
        margin-bottom: 25px!important;
    }
    .dashboard-stat .details {
        width: 155px;
    }
    .add-byuer .inp_one_line {
        width: 60%;
    }
    .inp_one_line {
        float: right;
        /*width: 70%;*/
        width: 66.666667%;
    }
    .inp_one_line_company {
        float: right;
        width: 55%!important;
        margin-right: 15px!important;
    }
    .inp_one_line_company .form-control.m-l-n {
        width: 100%;
    }
    .inp_one_line_company-tabl {
        float: right;
        width: 67%!important;
    }
    .inp_one_line_min {
        float: right;
        width: 74.5%;
    }
    .inp_one_line_left {
        float: left;
        width: 70%;
    }
    .inp_one_line_min > .radio-list {
        margin-left: 0px!important;
    }
    .inp_one_line-contractor {
        float: right;
        width: 66%;
        margin-right: 15px;
    }
    .radio-vertical-in-line {
        padding-left: 65px;
    }
    .radio-vertical-in-line label.radio-inline {
        padding-left: 0;
        margin-left: 0;
    }
    .inp_one_line-product {
        float: right;
        width: 65%;
    }
    #cash-order .inp_one_line-product {
        width: 100%;
    }
    .one_line_date_dismissal {
        overflow: hidden;
        width: 100%;
        margin-top: 25px;
    }
    .one_line_date_dismissal label {
        margin-left: 0px!important;
    }
    .checkbox-width {
        width: 73%!important;
        padding: 0!important;
    }
    .margin991{
        margin-bottom: 30px;
    }
    .second_stage_radiobutton .radio-inline {
        padding-left: 0!important;
    }
    .p-b-10 {
        margin-right: 3px;
    }
    #add-new.modal.fade.t-p-f.modal_scroll_center {
        margin-top: 1%!important;
        right: 10%;
    }
    .form-control {
        margin: 0 auto;
    }
    .form-body_sml .form-control {
        margin: 0;
        width: 100%;
    }
    .contr_lab_left + select {
        width: 65.5%;
        display: inline-block;
        margin-right: 10px!important;
    }
    #range-ajax-button .mrg_bottom {
        margin-bottom: 5px!important;
    }
    .radio-inline.width120.marg_left.mrg_lf_checkbox {
        min-width: 171px;
    }
/*    .marg_left {
        margin-left: -7px!important;
    }
    .marg_left_nds {
        margin-left: -6px!important
    }*/
}
.width-next-input + div.inp_one_line-product {
    width: 58.3333%;
}
.suggestions-wrapper {
    position: absolute!important;
}
.col-sm-8.col-md-8.inp_one_line.width-inp.inp_one_line-product input[type="radio"] {
    width: inherit;
}
.overfl_text_hid {
    table-layout: fixed;
}
.overfl_text_hid tr td:nth-child(2), .overfl_text_hid tr td:nth-child(5), .overfl_text_hid tr td:nth-child(6), .table.table-striped.table-bordered.table-hover.dataTable.documents_table.overfl_text_hid tr td:nth-child(5) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.has-error .twitter-typeahead .tt-input {
    border-color: #ebccd1;
}
.has-error .twitter-typeahead .tt-input:focus {
    border-color: #dca7b0;
    box-shadow: none;
}
.col-md-5.inp_one_line_min.details button {
    color: #fff;
    border: none;
    background: #FFB848;
    padding: 10px 15px;
    line-height: 1;
    font-size: 14px;
}
.invoice-production-type-block.form-group.form-group-type_account #company-nds {
    padding-left: 207px;
}
.cont-add-logo {
/*    display: inline-block;
    min-width: 100%;*/
}
.checkbox-add-logo {
    display: block;
    clear: both;
}
.addLogo {
    color: #4276A4;
    cursor: pointer;
}
.width-input-fio {
    width: 150px!important;
}
.inp_one_line-contractor > label {
    margin-left: 15px;
}

@media (max-width: 1279px) and ( min-width: 992px){
    .f-l {
        float: none !important;
        width: 41.8% !important;
        display: inline-block;
        vertical-align: top;
        margin-top: 17px;
    }
    .f-l-l{
        float: none !important;
        width: 316px !important;
        display: inline-block;
        vertical-align: top;
        margin-top: 17px;
    }
    .inp_one_line-contractor > label {
        margin-left: 15px;
    }

    .customer_info_wrapper.col-lg-7.col-w-lg-8.widthe-i_md {
        width: 56%!important;
    }
    .customer_info_wrapper.col-lg-7.col-w-lg-8.widthe-i_md + .col-lg-5.col-w-lg-4.col-md-5.control-panel.margin991 {
        width: 44%!important;
    }


    .page-header-fixed.page-quick-sidebar-over-content.home-page.page-sidebar-closed .page-logo {
        width: 45px !important;
        padding-right: 10px;
    }
    .page-header-fixed.page-quick-sidebar-over-content.home-page.page-sidebar-closed .page-logo a {
        display: none;
    }
    .page-sidebar-menu.page-sidebar-menu-light.metismenu.page-sidebar-menu-closed li a {
        height: 45px;
        overflow: hidden;
    }
}
.alert.alert-danger br:first-child {
    display: none;
}
.offset-marg {
    margin-left: 33.3%;
}
label.ogrn-input-width + div {
    width: 66.66666667%!important;
}
.col-md-9.surname-input .col-sm-7.col-md-7 {
    width: 100%;
    padding-right: 2px;
}

.nav-item_accordeon.active_menu ul {
    display: block!important;
}
.nav-item_accordeon:hover ul, .nav-item_accordeon ul {
    overflow: hidden;
}
.forProduct .addColumns,
.addColumns.long-message-input {
    width: 250px;
    display: block;
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
}
.addColumns.long-message-input {
    width: 410px;
    clear: both;
}
.forProduct .addColumns:hover,
.addColumns.long-message-input:hover {
    text-decoration: none;
}
.portlet-body .company_img .portlet.align-center img {
    max-width: 185px;
    width: auto;
}

.portlet-body .form-group #company-printimage.js_filetype {
    width: 218px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cont-checkbox-logo {
    min-height: 50px;
    display: block;
    clear: both;
}
.cont-checkbox-logo + .portlet.pull-right {
    margin-top: -60px;
}
.fio-inputs-inline {
    padding: 0 3px 0 7px;
}
.cont-fio-inputs-inline {
    padding: 0 8px;
}
.mini-cont-ur-addres {
    padding: 0 7px;
}

@media ( min-width: 1908px){
    .col-md-w{
        width: 22%;
        /*float: left;*/
        padding-left: 15px;
    }
}

@media ( max-width: 1800px){
    .col-md-w{
        width: 21.7%;
        /*float: left;*/
        padding-left: 15px;
    }
}

@media ( max-width: 1640px){
    .col-md-w{
        width: 21.4%;
        /*float: left;*/
        padding-left: 15px;
    }
}

@media ( max-width: 1491px){
    .col-md-w{
        width: 16.2%;
        /*float: left;*/
        padding-left: 15px;
    }
}

@media ( max-width: 1439px){
    .col-md-w{
        width: 15%;
        /*float: left;*/
        padding-left: 15px;
    }
}

@media ( max-width: 1365px){
    .col-md-w{
        width: 9.8%;
        /*float: left;*/
        padding-left: 15px;
    }
}

@media (max-width: 992px){
    .col-md-w{
        width: 100%;
        /*float: left;*/
        padding-left: 15px;
        padding: 0;
    }
    .radio-padding {
        padding-left: 15px;
    }
    .width-input-fio {
        width: 90px!important;
        margin-left: -5px!important;
    }
    .invoice-production-type-block.form-group.form-group-type_account .col-md-2.control-label.width-179 {
        float: left;
    }
    .limited_mode {
        width: 120px;
        padding-right: 5px;
        padding-left: 5px;
        line-height: 14px;
    }
    .page-header-date {
        padding-left: 10px;
        padding-right: 10px;
    }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
        padding: 13px 5px 8px;
    }
}

@media (max-width: 1365px) and ( min-width: 1279px){
    .p-f {
       padding: 6px 5px;
    }
}

@media screen and (max-width: 1279px) and (min-width: 1267px) and (-webkit-min-device-pixel-ratio:0) {
    /* Safari only override */
    ::i-block-chrome,.field-w {
        width: 55% !important;
    }
}

@media screen and (max-width: 1279px) and (min-width: 1267px) and (-webkit-min-device-pixel-ratio:0) {
    /* Safari only override */
    ::i-block-chrome,.field-w {
        width: 55.2% !important;
    }
}


@media screen and (max-width: 1279px) and (min-width: 1267px) and (-webkit-min-device-pixel-ratio:0) {
    /* Safari only override */
    ::i-block-chrome, .f-l-l{
        float: left !important;
        width: 93px !important;
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
    }

    ::i-block-chrome,.m-m-f-r{
        margin-left: -25px!important;
        width: 93px !important;
    }

    ::i-block-chrome,.f-l {
        float: left !important;
        width: 9.8% !important;
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
    }

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari only override */
    ::i-block-chrome,.m-popover{
        top: 1px !important;
        display: block !important;
        margin-right: 62px !important;
    }
    ::i-block-chrome,.m-popover .arrow{
        margin-right: 13px !important;
        z-index: 10;
    }
    ::i-block-chrome,.m-s{
        margin-left: 20px;
    }
}

/*@media screen and (max-width: 1267px) and (min-width: 989px) and (-webkit-min-device-pixel-ratio:0) {*/
    /*/!* Safari only override *!/*/
    /*::i-block-chrome,.f-l {*/
        /*float: none !important;*/
        /*width: 41.8% !important;*/
        /*display: inline-block;*/
        /*vertical-align: top;*/
        /*margin-top: 17px;*/
    /*}*/
    /*::i-block-chrome,.f-l-l{*/
        /*float: none !important;*/
        /*width: 316px !important;*/
        /*display: inline-block;*/
        /*vertical-align: top;*/
        /*margin-top: 17px;*/
    /*}*/
/*}*/

.btn-link:hover, .btn-link:focus{
    background-color: #4276a4;
}

.t-col{
    color: #ffffff;
}

.btn:hover, .btn:focus, .btn.focus{
    color: #ffffff;
}

.btn:hover{
    color: #ffffff;
}

.m-popover{
    top: 1px !important;
    display: block !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .btn-ie{
        font-size: 12.5px !important;
    }
    .i-m{
        margin-left: -40px !important;
    }
}

:root .btn-ie{
    font-size: 12.5px !important;
}

.sc-m{
    bottom: 0 !important;
    border: none;
    box-shadow: none;
    background: none;
}

input[type="radio"]:hover{
    cursor: pointer;
}

.pad-n{
    padding: 0 12px !important;
}

.widthe-100{
    width: 100% !important;
}

.pad-7{
    padding: 7px;
}

.no-margin{
    margin: 0 !important;
}
.no_mrg_bottom, .no_mrg_bottom .form-group, .no_mrg_bottom .form-group .checkbox {
    margin-bottom: 0!important;
}



@media (min-width: 1620px) {
    .col-w-lg-7{
        width: 58.33333333%;
    }

    .col-w-lg-5{
        width: 41.66666667%;
    }

    .col-w-lg-8{
        width: 66.66666667%;
    }

    .col-w-lg-9{
        width: 75%;
    }

    .col-w-lg-4{
        width: 31.66666667% !important;
    }
}

@media (max-width: 1166px) and (min-width: 992px) {
    .display-n{
        display: block;
        margin-bottom: 10px;
    }
    .dashboard-stat .details .desc {
        position: absolute;
        width: 140px;
        right: 10px;
    }
    .p-b-10 {
        margin-right: 16px;
    }
    .limited_mode {
        line-height: 46px;
        padding-left: 10px;
        padding-right: 10px;
        width: 300px;
    }
    .page-header-date {
        padding-left: 20px;
        padding-right: 10px;
    }
    .name_organiz_md {
        width: 55%;
    }
    .control-label.col-md-1.m-m-f.control-label_no-marg {
        margin-left: 0!important;
    }
    .inp_one_line_min {
        float: right;
        width: 75.1%;
    }
    .col-md-2.control-label.width-179 + .inp_one_line_min {
        padding-left: 0;
    }
}
@media (max-width: 1279px) and (min-width: 992px) {
    .col-md-w.col-md-2.f-l.sel-w .form-control, .col-md-5 .form-control.m-l-n {
        width: 100%;
    }
}

@media (min-width: 640px) and (max-width: 842px){
    .bg_payment .title label {
        height: 70px;
    }
    .bg_payment .title {
        width: 94%;
    }
    .bg_payment {
        min-height: 165px;
    }
}
@media (min-width: 842px) and (max-width: 991px){
    .bg_payment .title label {
        height: 51px;
    }
    .bg_payment .title {
        width: 95%;
    }
    .bg_payment {
        min-height: 165px;
    }
}

@media (min-width: 991px) and (max-width: 1077px){
    .bg_payment .title label {
        height: 70px;
    }
    .bg_payment .title {
        width: 95%;
    }
    .bg_payment {
        min-height: 165px;
    }
    .col-md-w.col-md-2.f-l.sel-w .form-control, .col-md-5 .form-control.m-l-n {
        width: 100%;
    }
}
@media (min-width: 1077px) and (max-width: 1360px) {
    .bg_payment .title {
        width: 96.5%;
    }
    .bg_payment {
        min-height: 160px;
    }
}
@media (min-width: 760px) and (max-width: 1200px) {
    .capt_non {
        display: none!important;
    }
}
@media (min-width: 760px) and (max-width: 862px) {
    .capt_non {
        display: none!important;
    }
    .partially_hide_username {
        width: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width: 863px) and (max-width: 1130px) {
    .capt_non {
        display: none!important;
    }
    .partially_hide_username {
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 1131px) {
    .partially_hide_username {
        width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .container-passport-series,
    .container-passport-number {
        width: 31%;
    }
    .container-passport-series label {
        width: 53%;
    }
    .container-passport-number label {
        width: 25%;
    }
    .passport-issued label {
        width: 27%;
    }
    .container-passport-series .inp_one_line.width-inp {
        width: 45%;
    }
    .container-passport-number .inp_one_line.width-inp {
        width: 56%;
    }
    .passport-issued .inp_one_line.width-inp {
        width: 70%;
    }
    .date-issue {
        margin-left: -35px;
    }
    .date-issue label {
        width: 45%;
    }
    .date-issue .inp_one_line.width-inp {
        width: 50%;
    }
    .subdivision-code label {
        width: 60%;
    }
    .subdivision-code .inp_one_line.width-inp {
        width: 37%;
    }
}

.capt_non + .tools {
    padding: 7px 5px 7px 0!important;
}
.capt_non + .tools .radio_form label.radio-inline {
    vertical-align: sub;
    padding-left: 10px!important;
}
@media (min-width: 1360px) {
    .bg_payment .title {
        width: 97%;
    }
    .bg_payment {
        min-height: 150px;
    }
}
@media (min-width: 1650px) {
    .bg_payment .title {
        width: 97.6%;
    }
    .bg_payment {
        min-height: 140px;
    }
    .inp_one_line_min {
        margin-left: 15px;
    }
}

.check_posit label {
    padding: 12px 0 0px 0;
}
.check_group_posit label {
    display: block;
    font-weight: 500;
}
.check_group_posit div {
    padding-left: 24px;
    margin-bottom: 5px;
    line-height: 26px;
}
.check_group_posit label .checker {
    padding: 0;
}
.check_group_posit div label {
    display: inline-block;
    margin-right: 20px;
    font-weight: 100;
}
.load_button {
    padding: 15px 0 0 10px!important;
    margin: 0 -10px;
    border-top: 1px solid #4276a4;
}
.load_button button {
    background-color: #4276A4;
    color: #fff;
    border: none;
    border-width: 0;
    padding: 5px 10px;
    font-size: 14px;
    outline: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

.dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before,
.dropdown > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .btn-group > .dropdown-menu:after {
    left: 85px;
}
tr.heading th.dropdown-filter .dropdown-menu.dropdown-list {
    left: -70px;
    overflow-y: scroll;
}

.dropdown-menu.dropdown-list li {
    max-height: 300px;
    /* overflow-y: scroll;
    width: 103.5%; */
}
.dropdown-menu.dropdown-list li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-bottom-page-lg {
    width: 12.45%;
    text-align: center;
}
.edit-profile__info input.m-l-n {
   /* margin-left: -15px !important;*/
}
.edit-profile__info .form-group .col-md-5 {
    padding: 0;
}
.form-group .radio-list {
    margin: 0;
}
.modal.fade.in, .modal.container.fade.in, .modal.modal-overflow.fade.in {
    top: 21%!important;
    left: 10%;
    right: 14%;
    width: 680px;
    bottom: auto;
}
.mrg_bottom {
    margin-bottom: 5px;
}
.modal-scrollable .confirm-modal.modal {
    width: 500px;
    margin-top: -210px!important;
}


@media (min-width: 1400px) {
    .wimax_input {
        width: 48%!important;
        float: left!important;
    }
    .search_cont {
        width: 800px!important;
        /*margin-right: -11px!important;*/
    }
}

@media (min-width: 1200px) {
    .action-buttons .button-bottom-page-lg .widthe-100{
        width: 100%;
    }
    .wimax_input {
        width: 36%;
        /*display: inline-block;*/
        float: left;
    }
    .list_recip {
        margin-top: 10px;
    }
    .inp_one_line_min {
        margin-left: 15px;
    }
    .search_cont {
        width: 650px;
        /*margin-right: -6px;*/
    }
    .home-page .portlet.blk_wth_srch > .portlet-title > .tools {
        margin-right: -5px;
    }
}

@media (min-width: 1072px) and (max-width: 1200px){
    .wimax_input {
        width: 25%;
        /*display: inline-block;*/
        float: left;
    }
    .list_recip {
        margin-top: 10px;
    }
    .search_cont {
        width: 550px;
        /*margin-right: -11px;*/
    }
}
@media (min-width: 992px) and (max-width: 1071px){
    .wimax_input {
        width: 18%;
        /*display: inline-block;*/
        float: left;
    }
    .list_recip {
        margin-top: 10px;
    }
    .search_cont {
        width: 500px;
        /*margin-right: -6px;*/
    }
}


@media (min-width: 992px) and (max-width: 1260px){
    .container-passport-series,
    .container-passport-number {
        width: 32%;
    }
    .container-passport-series label {
        width: 55%;
    }
    .container-passport-number label {
        width: 35%;
    }
    .container-passport-series .inp_one_line.width-inp {
        width: 45%;
    }
    .container-passport-number .inp_one_line.width-inp {
        width: 55%;
    }
    .passport-issued {
        width: 66%;
    }
    .passport-issued label {
        width: 25%;
    }
    .passport-issued .inp_one_line.width-inp {
        width: 67%;
    }
    .date-issue {
        margin-left: -35px;
        width: 38%;
    }
    .date-issue label {
        width: 40%;
        padding-top: 0px!important;
        margin-bottom: 10px!important;
        margin-left: -4px;
        margin-right: 4px;
    }
    .date-issue .inp_one_line.width-inp {
        width: 60%;
    }
    .date-issue .inp_one_line.width-inp input {
        margin-top: 0px;
    }
    .subdivision-code {
        width: 37%;
        margin-left: -55px;
    }
    .subdivision-code label {
        width: 55%;
        padding-top: 0!important;
        margin-top: -4px;
    }
    .subdivision-code .inp_one_line.width-inp {
        width: 42%;
    }
}


@media (min-width: 842px) and (max-width: 991px){
    .wimax_input {
        width: 28%;
        /*display: inline-block;*/
        float: left;
    }
    .growth_currency {
        margin-right: 55px!important;
    }
    .rate {
        position: absolute;
        right: 0;
    }
    .search_cont {
        width: 570px;
        /*margin-right: -6px;*/
    }
}
@media (min-width: 767px) and (max-width: 841px){
    .wimax_input {
        width: 19%;
        /*display: inline-block;*/
        float: left;
    }
    .search_cont {
        width: 510px;
        /*margin-right: -6px;*/
    }
    .home-page .portlet.blk_wth_srch > .portlet-title > .tools {
        margin-right: -3px;
    }
}

@media (min-width: 992px) and (max-width: 1112px){
    .growth_currency {
        float: left!important;
    }
    .rate {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .money-cl_menu {
        min-width: 68%;
    }
}
@media (min-width: 1113px) and (max-width: 1343px){
    .money-cl_menu {
        min-width: 52%;
    }
}
@media (min-width: 768px) and (max-width: 1015px){
    .list_recip {
        margin-top: 10px;
    }
}
@media (min-width: 767px) and (max-width: 1080px){
    .form-group.field-cashorderflows-number.required .col-md-6.inp_one_line-product input,
    .form-group.field-cashorderflows-date.required .col-md-6.inp_one_line-product .input-icon.input-calendar input{
        max-width: 150px!important;
    }
    .form-group.field-cashorderflows-number.required .col-md-6.inp_one_line-product,
    .form-group.field-cashorderflows-flow_type.required .col-md-6.inp_one_line-product,
    .form-group.field-cashorderflows-date.required .col-md-6.inp_one_line-product {
        width: auto!important;
    }
}

@media (min-width: 767px) and (max-width: 840px){
    .page_head_hide-text1, .page_head_hide-text2 {
        width: 15%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width: 841px) and (max-width: 991px){
    .page_head_hide-text1, .page_head_hide-text2 {
        width: 22%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width: 992px) and (max-width: 1060px){
    .page_head_hide-text2 {
        width: 22%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .out-act .control-panel .btn-account {
        width: 165px;
    }
    .cash-order .control-panel {
        width: 180px;
    }
}
@media (min-width: 890px) and (max-width: 1267px){
    .page_head_hide-text1 {
        width: 22%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width: 992px) and (max-width: 1005px) {
    .list_recip {
        margin-top: 10px;
    }
    .home-page .portlet.blk_wth_srch > .portlet-title > .tools {
        max-width: 75%;
    }
    .portlet.box.blk_wth_srch > .portlet-title > .caption {
        min-width: 24.5%!important;
    }
}
@media (min-width: 768px) and (max-width: 782px) {
    #add-flow-form .form-group.row.block_left.width_50 label {
        text-align: left!important;
    }
}

.error_msg {
    line-height: 16px!important;
    margin-bottom: 12px;
}
.payment-order .portlet.customer-info .actions .btn.darkblue.btn-sm.btn-ie .icon-pencil {
    font-size: 14px;
}


@media (min-width: 768px) and (max-width: 991px) {
    .error_msg {
        line-height: 16px!important;
        margin-bottom: 12px;
        margin-right: 15px;
        max-width: 24%;
    }
    .min-width-container-passport label {
        width: 30%;
        margin: 5px 0;
        padding-bottom: 7px;
    }
    .width_50 {
        width: 50%;
    }
    .block_left.width_50 label,
    .block_left.width_50 .col-md-5 {
        float: left;
    }
    .block_left.width_50 .col-md-8 {
        overflow: hidden;
    }
    .float_left {
        float: left;
    }
}

.search_cont {
    text-align: right;
    overflow: hidden;
    float: right;
}
.search_cont:after {
    clear: both;
}
.wimax_radiogroup {
    width: 275px;
    margin-right: 25px;
    /*display: inline-block;*/
    float: left;
    padding-top: 7px;
}
.wimax_button {
    width: 110px;
    /*display: inline-block;*/
    float: left;
    padding-top: 5px;
}
.contr_lab_left {
    width: 215px;
    float: left;
    padding-top: 6px;
}

.modal-scrollable .modal .btn {
    width: 100px!important;
}
.modal-scrollable .modal-body .button-add-marked {
    min-width: 184px;
}
.modal-scrollable .modal-content .table.table-striped {
    font-size: 14px;
}


.table.table-striped.table-bordered.table-hover.dataTable.documents_table.status_nowrap.overfl_text_hid td:last-child,
.table.table-striped.table-bordered.table-hover.dataTable.documents_table.status_nowrap.overfl_text_hid td:nth-last-child(2){
    text-align: center
}

.butt_pad {
    padding-top: 5px;
}
.calend_hov_non .month:hover, .calend_hov_non .day:hover, .calend_hov_non .year:hover, .calend_hov_non .next:hover, .calend_hov_non .prev:hover {
    background: rgba(0, 0, 0, 0);
    cursor: default;
}
.no-margin-l {
    margin-left: 0 !important;
}
.row.no-margin-l {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.twitter-typeahead .tt-menu span.tt-suggestion.tt-selectable {
    min-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*.create-out-invoice .btn-group .btn-add-line-table {
    width: 40px;
    margin: -15px 0 5px 12px;
    padding: 5px 0px;
}*/
.button-width-table {
    margin: 0;
    width: 100%;
    text-align: center;
}
.button-width-table .btn-group.pull-right {
    float: none!important;
}
.button-width-table .btn-add-line-table {
    margin: 0!important;
    width: 100%!important;
    padding: 5px 0;
}
.create-out-invoice .btn-group .btn-add-line-table i {
    font-size: 23px;
}
.bg-add-buyer {
    background-color: #ffb848;
    color: #fff;
}
.suggestions-suggestions {
    overflow-y: scroll;
    max-height: 115px;
}
.twitter-typeahead .tt-menu {
    overflow-y: scroll;
    max-height: 90px!important;
}
.bord-right {
    border-right: none!important;
}
.last-line-table .button-add-line {
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    background-color: #fff!important;
}
.progress.progress-striped.active.export-progressbar {
    display: block!important;
}
.progress.export-progressbar {
    display: none!important;
}
ul.form-control {

}
ul.form-control li {

}
.bank-logo {
    display: flex;
}
.cont-img_bank-logo {
    width: 25%;
    border: 1px solid #cccccc;
    margin: 5px
}
.cont-img_bank-logo img {
    width: 100%;
}

@media (min-width: 992px){
    .out-act .col-md-5 {
        width: 41.66666667%;
    }
    /*.margin991 {
        margin-bottom: 30px;
    }*/
    .contr_lab_left + select {
        width: 66%;
        display: inline-block;
        margin-right: 10px!important;
    }
    .input-marg-right {
        margin-right: -5px;
    }

    .modal.fade.in, .modal.container.fade.in, .modal.modal-overflow.fade.in {
        top: 21%!important;
        left: 47%;
        right: 20%;
        bottom: auto;
        width: 680px;
        margin-top: 0!important;
    }
    .form-group .field-company-company_type_id .col-md-w.col-md-2.f-l.sel-w {
        padding: 0;
    }
    #add-new.modal.fade.t-p-f.modal_scroll_center {
        right: 19%;
        top: 3%!important;
    }
    .col-md-3.home-button .btn.default.pull-right.btn-calendar.auto-width.p-t-7.p-b-7.portlet.mrg_bottom {
        min-width: 180px;
        width: 100%!important;
    }
}
@media (min-width: 991px) {
    .marg_left {
        margin-left: -14px!important;
        float: left!important;
    }
    .marg_left_nds {
        margin-left: 16px!important
    }
    .radio-inline.width120.marg_left.mrg_lf_checkbox {
        margin-left: 15px!important;
        min-width: 139px;
    }
    .portl_min_inp .col-md-6 label, .portl_min_inp .col-md-6 .col-md-4.field-width.inp_width_mini {
        width: 100%;
        padding-bottom: 5px;
    }
}

.overflow-x{
    overflow-x: auto;
}
.modal_subscribe {
    margin-top: -25%!important;
}
.contractor-index .row .btn_select_days {
    margin-right: 0!important;
}
.btn_in_table {
    width: 90px;
}
.portlet-body.portlet_button {
    height: 50px;
    padding-top: 15px!important;
}
.lab_width_inline {
    width: 335px;
}
.inp_width_mini {
    width: 65%;
}

.datepicker-switch, .prev, .next, .month, td.day {
    cursor: pointer;
    text-align: center;
}
.datepicker-switch:hover, .prev:hover, .next:hover, .month:hover, td.day:hover, .year:hover {
    background: #eee;
}
.datepicker-months, .datepicker-years {
    max-width: 190px;
}
td span.month, td span.year  {
    display: inline-block;
    width: 33%;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}
td span.year.old, .old.day, td span.year.new, .new.day {
    color: #999;
}
.popover.left {
    margin-left: -17px;
}
.alert-danger.alert.fade.in button.close {
    display: none;
}
.username.username-hide-on-mobile.partially_hide_username + i.fa.fa-angle-down {
    vertical-align: text-bottom;
}
.username.username-hide-on-mobile.partially_hide_username + i.fa.fa-angle-down:before {
    display: inline-block;
    overflow: hidden;
}
#complete-registration-modal .modal-header, #complete-registration-modal .modal-footer, #complete-registration-modal .modal-body {
    border: none;
    text-align: center;
}
#complete-registration-modal .modal-header button {
    display: none;
}
.col-md-6.m-l-n.field-cashemoneyflows-is_accounting .checkbox {
    z-index: 10;
    display: inline-block;
}
.modal-content .modal-body .video-container {
    max-width: 640px;
    margin: 0 auto;
}
.modal-content .modal-body .video-container iframe {
    float: none;
}
.video-container iframe {
    max-width: 640px;
    max-height: 360px;
    width: 100%;
    float: right;
}
.block_left{
    float: left;
    margin-left: 5px;
}
.width_100{
    width: 100px;
}
.width_date{
    width: 130px;
}
.modal-header h1 {
    text-align: center;
    margin: 0;
}
.add-modal-contractor {

}

.field-bank-logoimage .jq-file__browse {
    display: inline-block;
    width: 150px;
}

.field-bank-logoimage .jq-file.changed .jq-file__name {
    width: 250px;
    display: inline-block;
}

.field-bank-logoimage .jq-file {
    width: 500px;
}

.description-bank {
    padding-bottom: 15px;
}

.license-bank {
    padding-bottom: 15px;
}


.cash-btn-select-days.btn.default.pull-right {
    width: 100%!important;
    max-width: 100%!important;
}

.nav-item .fa-copy-in {
    margin-right: 7px!important;
}

#add-document-popup .form-control, #block-modal-new-product-form .form-control{
    width:  100%;
}

.pay-service {
    color: #fff;
    border-bottom: 1px solid red;
}
.dropdown-toggle:hover .pay-service{
    color: #fff;
    border-bottom: 1px solid transparent;
}

.report-edit-form .form-control{
    width: 100%!important;
}
.report-edit-form .caption{
   padding-right: 10px!important;
}

.report-padding-file-input {
    padding-left: 8px!important;
}

.cont-img_bank-logo img{
   padding-right: 0!important;
}

.cont-img_bank-logo {    
    padding: 5px;
    width: 25%;
    margin: 0!important;
    border: 0!important;
}
.cont-img_bank-logo img{
    border: 1px solid #cccccc!important;
    width: 100%!important;
    padding: 0!important;
}


.modal-body .table-container .dataTables_wrapper table{
    min-width: auto!important;
}

.margin-bottom-n {
    margin-bottom: 0!important;
}

@media (max-width: 1200px) {

    
    .product-table-wrapper{
        overflow: auto;
    }
    .products-table table{
        min-width: 700px;
    }
}
@media (max-width: 979px) {

    .product-table-wrapper{
        overflow: auto;
    }
    .products-table table{
        min-width: 700px;
    }

    .modal-scrollable .modal.fade.in {
        top: 4%!important;
    }

    .modal-scrollable .confirm-modal.modal {
        margin-top: 0!important;
    }
    
    .portlet.box.darkblue .portlet-title {
        position: relative;
    }
    .portlet.box.darkblue .portlet-title .tools{
        position: absolute;
        right:  3px;
        top: 0;
    }

    #export-list .table-container .dataTables_wrapper table thead tr th{
        font-size:  12px;
    }


    .invoice-table .dropdown-filter {
        width: 90px!important;
    }
    .invoice-table thead tr th:first-child {
        width: 82px!important;
    }
    .invoice-table thead tr th:nth-child(2) {
        width: 50px!important;
    }
    .invoice-table thead tr th:nth-child(3) {
        width: 50px!important;
    }
    .invoice-table thead tr th:nth-child(4) {
        width: 77px!important;
    }
    .invoice-table .btn {
        font-size: 12px!important;
    }
}

.no-paid-table tr td {
    text-align: left!important;
}
.no-paid-table tr td .empty{
    text-align: center!important;
}

#export-list .table-container .dataTables_wrapper {
    overflow: hidden!important;
}


#export-list .table-container .dataTables_wrapper table{
    max-width: 100%!important;
    min-width: auto!important;
}

.padding-right-5 {
    position: relative;
    left: -5px;
}

#select2-invoice-contractor_id-results .select2-results__option:first-child {
    background: #ffb848;
    color: #fff;
}
#select2-invoice-contractor_id-results .select2-results__option:first-child:hover{
    background: #337ab7;
    color: #fff;
}

.row .btn.default.doc-gray-button {
    font-size: 14px;
}

.add-to-invoice .form-body .form-group.row {
    margin-bottom: 15px!important;
}
.add-to-invoice .form-body .form-group.row .form-group {
    margin-bottom: 0!important;
}


.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .nav-item_accordeon {
        width:  256px!important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .nav-item_accordeon > a > i{
        margin-right: 30px!important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .nav-item_accordeon .title{
        padding-left: 0!important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .nav-item_accordeon > a > i.fa-arrow-circle-down{
        margin-left: -40px!important;
        width: 10px!important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .nav-item_accordeon > a > i.fa-arrow-circle-up{
        margin-left: -40px!important;
        width: 10px!important;
}

@media (max-width: 1024px) {
    .accounts-list .dataTables_wrapper {
        overflow: auto;
    }
    .dataTables_wrapper .invoice-table {
        min-width: 940px;
    }
}
@media (max-width: 1200px) {
    .upload-area .file-link {
        display: inline-block;
        max-width: 280px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }
}
