div.document-template {
    position: relative;
    font-size: 12px;
    -webkit-print-color-adjust: exact !important;
}
div.document-template,
div.document-template div,
div.document-template span,
div.document-template table,
div.document-template tbody,
div.document-template tfoot,
div.document-template thead,
div.document-template tr,
div.document-template th,
div.document-template td {
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
    vertical-align: baseline;
    text-align: left;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
}
div.document-template:before,
div.document-template:after,
div.document-template div:before,
div.document-template div:after,
div.document-template span:before,
div.document-template span:after,
div.document-template table:before,
div.document-template table:after,
div.document-template tbody:before,
div.document-template tbody:after,
div.document-template tfoot:before,
div.document-template tfoot:after,
div.document-template thead:before,
div.document-template thead:after,
div.document-template tr:before,
div.document-template tr:after,
div.document-template th:before,
div.document-template th:after,
div.document-template td:before,
div.document-template td:after {
    content: '';
    content: none;
}
div.document-template.invoice-facture-template {
    font-size: 10.6px;
}
div.document-template.upd-template,
div.document-template.upd-template div,
div.document-template.upd-template b,
div.document-template.upd-template span,
div.document-template.upd-template table,
div.document-template.upd-template tbody,
div.document-template.upd-template tr,
div.document-template.upd-template th,
div.document-template.upd-template td {
    font-size: 9px;
}
/**
 * Table
 */
div.document-template table {
    border-collapse: collapse;
    border-spacing:0;
    width: 100%;
}
div.document-template th,
div.document-template td {
    border: 0px solid transparent;
}
div.document-template th.bor,
div.document-template td.bor {
    border: 1px solid black;
}
div.document-template th.bor-l,
div.document-template td.bor-l {
    border-left: 1px solid black;
}
div.document-template th.bor-r,
div.document-template td.bor-r {
    border-right: 1px solid black;
}
div.document-template th.bor-t,
div.document-template td.bor-t {
    border-top: 1px solid black;
}
div.document-template .bot-b > th,
div.document-template .bot-b > td,
div.document-template th.bor-b,
div.document-template td.bor-b {
    border-bottom: 1px solid black;
}
div.document-template th.bor2,
div.document-template td.bor2 {
    border: 2px solid black;
}
div.document-template th.bor2-l,
div.document-template td.bor2-l {
    border-left: 2px solid black;
}
div.document-template th.bor2-r,
div.document-template td.bor2-r {
    border-right: 2px solid black;
}
div.document-template th.bor2-t,
div.document-template td.bor2-t {
    border-top: 2px solid black;
}
div.document-template th.bor2-b,
div.document-template td.bor2-b {
    border-bottom: 2px solid black;
}
div.document-template th.bor0-t,
div.document-template td.bor0-t {
    border-top-width: 0px !important;
    border-top-color: transparent !important;
}
div.document-template th.bor0-b,
div.document-template td.bor0-b {
    border-bottom-width: 0px !important;
    border-bottom-color: transparent !important;
}
div.document-template th.bor0-l,
div.document-template td.bor0-l {
    border-left-width: 0px !important;
    border-left-color: transparent !important;
}
div.document-template th.bor0-r,
div.document-template td.bor0-r {
    border-right-width: 0px !important;
    border-right-color: transparent !important;
}
div.document-template th,
div.document-template td {
    vertical-align: middle;
    padding: 2px 4px;
}
/**
 * Text
 */
div.document-template th.v-al-t,
div.document-template td.v-al-t {
    vertical-align: top;
}
div.document-template th.v-al-b,
div.document-template td.v-al-b {
    vertical-align: bottom;
}
div.document-template th {
    font-weight: bold;
    text-align: center;
}
div.document-template thead.no-bold > tr > th,
div.document-template thead > tr.no-bold > th,
div.document-template thead > tr th.no-bold {
    font-weight: normal;
}
div.document-template .doc-title {
    font-size: 18px;
    font-weight: bold;
}
div.document-template .doc-main-title {
    font-size: 23px;
    font-weight: bold;
}
div.document-template .font-b {
    font-weight: bold;
}
div.document-template .font-sm {
    font-size: 10px;
}
div.document-template .font-xs {
    font-size: 8px;
}
div.document-template .text-r {
    text-align: right;
}
div.document-template .text-c {
    text-align: center;
}
/**
 * Padding
 */
div.document-template .pad-0 {
    padding: 0;
}
div.document-template .pad-5 {
    padding: 5px;
}
div.document-template .pad-10 {
    padding: 10px;
}
div.document-template .pad-15 {
    padding: 15px;
}
div.document-template .pad-20 {
    padding: 20px;
}
div.document-template .pad-t-0 {
    padding-top: 0px;
}
div.document-template .pad-t-5 {
    padding-top: 5px;
}
div.document-template .pad-t-10 {
    padding-top: 10px;
}
div.document-template .pad-t-15 {
    padding-top: 15px;
}
div.document-template .pad-t-20 {
    padding-top: 20px;
}
div.document-template .pad-b-0 {
    padding-bottom: 0px;
}
div.document-template .pad-b-5 {
    padding-bottom: 5px;
}
div.document-template .pad-b-10 {
    padding-bottom: 10px;
}
div.document-template .pad-l-5 {
    padding-left: 5px;
}
div.document-template .pad-l-10 {
    padding-left: 10px;
}
div.document-template .pad-l-15 {
    padding-left: 15px;
}
div.document-template .pad-l-20 {
    padding-left: 20px;
}
div.document-template .pad-r-5 {
    padding-right: 5px;
}
div.document-template .pad-r-10 {
    padding-right: 10px;
}
div.document-template .pad-r-15 {
    padding-right: 15px;
}
div.document-template .pad-r-20 {
    padding-right: 20px;
}
div.document-template tr.pad-t-5 > th,
div.document-template tr.pad-t-5 > td {
    padding-top: 5px;
}
div.document-template tr.pad-t-10 > th,
div.document-template tr.pad-t-10 > td {
    padding-top: 10px;
}
div.document-template tr.pad-t-15 > th,
div.document-template tr.pad-t-15 > td {
    padding-top: 15px;
}
div.document-template tr.pad-t-20 > th,
div.document-template tr.pad-t-20 > td {
    padding-top: 20px;
}
div.document-template tr.pad-b-5 > th,
div.document-template tr.pad-b-5 > td {
    padding-bottom: 5px;
}
div.document-template tr.pad-b-10 > th,
div.document-template tr.pad-b-10 > td {
    padding-bottom: 10px;
}
div.document-template table,
div.document-template tbody,
div.document-template thead,
div.document-template tfoot,
div.document-template tr {
    padding: 0;
}
/**
 * Margin
 */
div.document-template .mar-t-5 {
    margin-top: 5px;
}
div.document-template .mar-t-10 {
    margin-top: 10px;
}
div.document-template .mar-t-15 {
    margin-top: 15px;
}
div.document-template .mar-t-20 {
    margin-top: 20px;
}
div.document-template .mar-b-5 {
    margin-bottom: 5px;
}
div.document-template .mar-b-10 {
    margin-bottom: 10px;
}
div.document-template .mar-b-15 {
    margin-bottom: 15px;
}
div.document-template .mar-b-20 {
    margin-bottom: 20px;
}
div.document-template .fs-9 {
    font-size: 9px !important;
}
/**
 * Font-size
 */
div.document-template tr.font-size-6 td,
div.document-template tr td.font-size-6 {
    font-family: Arial, sans-serif;
    font-size: 6pt!important;
}
div.document-template tr.font-size-7 td,
div.document-template tr td.font-size-7 {
    font-size: 7pt!important;
}
div.document-template tr.font-size-8 td,
div.document-template tr td.font-size-8 {
    font-size: 8pt!important;
}
div.document-template tr.font-size-9 td,
div.document-template tr td.font-size-9 {
    font-size: 9pt!important;
}
div.document-template tr.font-size-10 td,
div.document-template tr td.font-size-10 {
    font-size: 10pt!important;
}