.scrollable-table-container,
.scrollable-table-wrap {
    position:relative;
    margin:auto;
    overflow:hidden;
}
.scrollable-table-bar,
.scrollable-table-content {
    width:100%;
    overflow:auto;
}
.scrollable-table-container .scrollable-table-content > table {
    width:100%;
}
.scrollable-table-clone {
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
}
.scrollable-table-clone th:not(.fixed-column),
.scrollable-table-clone td:not(.fixed-column) {
    visibility: hidden;
    border-color: transparent;
    border: none!important;
}
.scrollable-table-clone th.fixed-column,
.scrollable-table-clone td.fixed-column {
    background: #fff;
    visibility: visible;
    pointer-events: all;
}