
.tooltipster-sidetip.tooltipster-dark .tooltipster-box{
    border-radius: 4px !important;
    border:1px solid  #565656;
    background: #565656;
}
.tooltipster-sidetip.tooltipster-dark .tooltipster-content{
    color:#fff;
    padding-bottom: 5px;
}
.tooltipster-sidetip.tooltipster-dark .tooltipster-arrow{
    height:9px;
    margin-left:-9px;
    width:18px;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-dark.tooltipster-right .tooltipster-arrow{
    height:18px;
    margin-left:0;
    margin-top:-9px;
    width:9px;
}
.tooltipster-sidetip.tooltipster-dark .tooltipster-arrow-background{
    border:9px solid transparent;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-bottom .tooltipster-arrow-background{
    border-bottom-color: #565656;
    top:1px;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-left .tooltipster-arrow-background{
    border-left-color: #565656;
    left:-1px;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-right .tooltipster-arrow-background{
    border-right-color: #565656;
    left:1px;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-top .tooltipster-arrow-background{
    border-top-color: #565656;
    top:-1px;
}
.tooltipster-sidetip.tooltipster-dark .tooltipster-arrow-border{
    border:9px solid transparent;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-bottom .tooltipster-arrow-border{
    border-bottom-color: #565656;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-left .tooltipster-arrow-border{
    border-left-color: #565656;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-right .tooltipster-arrow-border{
    border-right-color: #565656;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-top .tooltipster-arrow-border{
    border-top-color: #565656;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-bottom .tooltipster-arrow-uncropped{
    top:-9px;
}
.tooltipster-sidetip.tooltipster-dark.tooltipster-right .tooltipster-arrow-uncropped{
    left:-9px;
}
