
.tooltipster-sidetip.tooltipster-mts .tooltipster-box{
    border-radius:4px;
    border:1px solid #202d3e;
    background:#202d3e;
}
.tooltipster-sidetip.tooltipster-mts .tooltipster-content{
    color:#fff;
}
.tooltipster-sidetip.tooltipster-mts .tooltipster-arrow{
    height:9px;
    margin-left:-9px;
    width:18px;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-mts.tooltipster-right .tooltipster-arrow{
    height:18px;
    margin-left:0;
    margin-top:-9px;
    width:9px;
}
.tooltipster-sidetip.tooltipster-mts .tooltipster-arrow-background{
    border:9px solid transparent;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-bottom .tooltipster-arrow-background{
    border-bottom-color:#202d3e;
    top:1px;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-left .tooltipster-arrow-background{
    border-left-color:#202d3e;
    left:-1px;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-right .tooltipster-arrow-background{
    border-right-color:#202d3e;
    left:1px;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-top .tooltipster-arrow-background{
    border-top-color:#202d3e;
    top:-1px;
}
.tooltipster-sidetip.tooltipster-mts .tooltipster-arrow-border{
    border:9px solid transparent;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-bottom .tooltipster-arrow-border{
    border-bottom-color:#202d3e;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-left .tooltipster-arrow-border{
    border-left-color:#202d3e;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-right .tooltipster-arrow-border{
    border-right-color:#202d3e;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-top .tooltipster-arrow-border{
    border-top-color:#202d3e;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-bottom .tooltipster-arrow-uncropped{
    top:-9px;
}
.tooltipster-sidetip.tooltipster-mts.tooltipster-right .tooltipster-arrow-uncropped{
    left:-9px;
}