
.tooltipster-sidetip.tooltipster-user-help .tooltipster-box{
    border-radius: 4px !important;
    border:1px solid #202d3e;
    background:#202d3e;
}
.tooltipster-sidetip.tooltipster-user-help .tooltipster-content{
    color:#fff;
    padding-bottom: 5px;
}
.tooltipster-sidetip.tooltipster-user-help .tooltipster-arrow{
    height:9px;
    margin-left:-9px;
    width:18px;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-user-help.tooltipster-right .tooltipster-arrow{
    height:18px;
    margin-left:0;
    margin-top:-9px;
    width:9px;
}
.tooltipster-sidetip.tooltipster-user-help .tooltipster-arrow-background{
    border:9px solid transparent;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-bottom .tooltipster-arrow-background{
    border-bottom-color:#202d3e;
    top:1px;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-left .tooltipster-arrow-background{
    border-left-color:#202d3e;
    left:-1px;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-right .tooltipster-arrow-background{
    border-right-color:#202d3e;
    left:1px;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-top .tooltipster-arrow-background{
    border-top-color:#202d3e;
    top:-1px;
}
.tooltipster-sidetip.tooltipster-user-help .tooltipster-arrow-border{
    border:9px solid transparent;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-bottom .tooltipster-arrow-border{
    border-bottom-color:#202d3e;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-left .tooltipster-arrow-border{
    border-left-color:#202d3e;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-right .tooltipster-arrow-border{
    border-right-color:#202d3e;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-top .tooltipster-arrow-border{
    border-top-color:#202d3e;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-bottom .tooltipster-arrow-uncropped{
    top:-9px;
}
.tooltipster-sidetip.tooltipster-user-help.tooltipster-right .tooltipster-arrow-uncropped{
    left:-9px;
}


.tooltipster-sidetip.tooltipster-user-help .tooltipster-content{
    position: relative;
    overflow: hidden;
    font-size: 14px;
    line-height: 1;
    font-family: "Corpid E3 SCd", sans-serif;
}
.tooltipster-sidetip.tooltipster-user-help .tooltipster-content .user-help-stop{
    display: inline-block;
    width: 10px;
    position: absolute;
    right: 2px;
    top: -4px;
    font-family: sans-serif;
    line-height: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.tooltipster-base.tooltipster-user-help.tooltipster-fade.tooltipster-show {
    pointer-events: auto;
}
.tooltipster-base.tooltipster-user-help .user-help-footer {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    min-width: 200px;
    margin-top: 10px;
}
.tooltipster-base.tooltipster-user-help .user-help-footer .user-help-skip {
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0 5px 2px;
}