.bank-list-item .bank-description {
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    min-height: 64px;
}
.bank-list-item .bank-description.bank-description-collaps {
    height: 64px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.upload-1C-show {
    display: none;
}
body > div > input[type=file][name=uploadfile],
body > div > input[type=file][name=file] {
    height: 100% !important;
    width: 100% !important;
}