
@font-face {
    font-family: 'Corpid E3 SCd';
    src: url("../fonts/subset-CorpidE3SCd-Regular.woff2") format("woff2"), url("../fonts/subset-CorpidE3SCd-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Corpid E3 SCd';
    src: url("../fonts/subset-CorpidE3SCd-Bold.woff2") format("woff2"), url("../fonts/subset-CorpidE3SCd-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Corpid E3 SCd';
  src: url("../fonts/subset-CorpidE3SCd-Light.woff2") format("woff2"), url("../fonts/subset-CorpidE3SCd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  position: relative;
  font-family: "Corpid E3 SCd", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #001424;
}
.cursor-pointer,
.cursor_pointer {
  cursor: pointer;
}
.date-picker.ico {
  padding-right: 30px;
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="rgb(187, 193, 199)" d="M16.667 2.222h1.11c1.228 0 2.223.995 2.223 2.222v13.334A2.222 2.222 0 0 1 17.778 20H2.222A2.222 2.222 0 0 1 0 17.778V4.444c0-1.227.995-2.222 2.222-2.222h1.111v-1.11a1.111 1.111 0 0 1 2.223 0v1.11h8.888v-1.11a1.111 1.111 0 0 1 2.223 0v1.11zM2.222 4.444v13.334h15.556V4.444H2.222zM5 7.778h1.111c.307 0 .556.249.556.555v1.111A.556.556 0 0 1 6.11 10H5a.556.556 0 0 1-.556-.556v-1.11c0-.307.25-.556.556-.556zm0 4.444h1.111c.307 0 .556.249.556.556v1.11a.556.556 0 0 1-.556.556H5a.556.556 0 0 1-.556-.555v-1.111c0-.307.25-.556.556-.556zm4.444-4.444h1.112c.306 0 .555.249.555.555v1.111a.556.556 0 0 1-.555.556H9.444a.556.556 0 0 1-.555-.556v-1.11c0-.307.249-.556.555-.556zm0 4.444h1.112c.306 0 .555.249.555.556v1.11a.556.556 0 0 1-.555.556H9.444a.556.556 0 0 1-.555-.555v-1.111c0-.307.249-.556.555-.556zm4.445 0H15c.307 0 .556.249.556.556v1.11a.556.556 0 0 1-.556.556h-1.111a.556.556 0 0 1-.556-.555v-1.111c0-.307.25-.556.556-.556zm0-4.444H15c.307 0 .556.249.556.555v1.111A.556.556 0 0 1 15 10h-1.111a.556.556 0 0 1-.556-.556v-1.11c0-.307.25-.556.556-.556z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: right 10px center;
}
.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.hidden {
  display: none;
}
.label {
    color: #9198a0;
}
.th-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
table thead th a.th-title-name {
  color: #9198a0;
  text-decoration: none;
}
table thead tr.heading th {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: #9198a0;
  vertical-align: middle;
}
table thead tr.heading th a.th-title-name {
  color: #9198a0;
  text-decoration: none;
}

.th-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.th-title-name {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.1;
}

.th-title-btns {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  vertical-align: middle;
  line-height: 0;
  margin-left: 10px;
}

.th-title-btn {
  line-height: 0;
}

.th-title-btn.active .th-title-icon {
  color: #0097fd;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.th-title-icon {
  font-size: 7px;
  color: #bbc1c7;
}

.th-title-icon:hover {
    color: #bbc1c7;
}

.th-title-icon_reverse {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.th-title-icon-filter {
  font-size: 14px;
  color: #bbc1c7;
}
.button-clr,
.button-clr:focus {
  padding: 0;
  border: none;
  background-color: transparent;
}
.sort_asc .icon_asc .th-title-icon,
.sort_desc .icon_desc .th-title-icon {
  color: #0097fd;
}
.th-title.filter {
  cursor: pointer;
}
.th-title-icon-filter {
  font-size: 10px;
}
.th-title.filter.active .th-title-icon-filter {
  color: #0097fd;
}
th.dropdown-filter {
    position: relative;
}
.select2-container {
    border-radius: 4px !important;
}
.filter-select2-select-container {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
}
.select2-container--krajee-bs4 {
    display: inline-block;
}
.select2-container--krajee-bs4 .select2-selection--single {
    height: unset;
    line-height: inherit;
}
/*.select2-container--krajee-bs4 .select2-selection, .select2-container--krajee-bs4 .select2-selection:focus {
    box-shadow: none !important;
    border: 2px solid #e2e5eb !important;
}*/
.select2-container--krajee-bs4.select2-container--open:not(.select2-container--disabled) .select2-selection,
.select2-container--krajee-bs4:not(.select2-container--disabled) .select2-selection:focus {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    border: 2px solid #fff;
    transition: none;
}
.select2-container.select2-container--grid-filter .select2-dropdown.dropdown-search-data {
    min-width: 100px;
    max-width: 500px;
    right: -11px;
    left: auto;
}
.select2-container.select2-container--grid-filter .select2-dropdown.dropdown-search-data.select2-dropdown--below {
    top: -60px;
}
.datepicker .datepicker-days table tr td,
.datepicker .datepicker-days table tr th {
  width: 2rem;
  height: 1.9rem;
}
.form-control-block {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
.form-control-block-sm {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
.link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.link:hover {
    color: #0056b3;
    text-decoration: underline;
}
.data_is_loading {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('../img/Spinner-1s-200px.svg');
  background-position: center center;
  background-size: contain;
}
.form-control {
    font-weight: 400;
    color: #001424;
    border: solid 2px #e2e5eb;
    background-color: #ffffff;
    resize: none;
    opacity: .6;
}
.form-control:focus {
  outline: none;
  opacity: 1;
  color: #001424;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #0097fd;
}

/**
 * Select2 style
 */
.select2-container {
    border-radius: 3px;
}
.select2-dropdown {
    border: 1px solid #e2e5eb;
    border-radius: 3px;
}
.select2-results__option {
    border-top: 1px solid #f2f3f7;
}
.select2-container--krajee-bs4 .select2-results__option[aria-selected] {
    color: #001424;
}
.select2-container--krajee-bs4 .select2-results__option--highlighted[aria-selected] {
    color: #001424;
    background: #f2f3f7;
}
.select2-container--krajee-bs4 .select2-results__option[aria-selected="true"] {
    color: #001424;
    background-color: #f2f3f7;
}
.select2-selection {
    border-radius: 3px;
}
.select2-container .select2-selection--single {
    border: 2px solid #e2e5eb;
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow {
    border-left: 0;
    height: 100%;
    width: 30px;
    background-image: url(/images/icon_dropdown.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.select2-container--krajee-bs4.select2-container--open .select2-selection--single .select2-selection__arrow {
    opacity: 0;
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow b {
    display: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    color: #001424;
}
.select2-container--krajee-bs4 .select2-results > .select2-results__options {
    max-height: 300px;
    overflow-y: auto;
}
.select2-search--dropdown {
    padding: 12px;
}
.select2-container--krajee-bs4 .select2-search--dropdown .select2-search__field {
    background: #fff url('search.png') right 10px top 7px no-repeat;
    border: 2px solid #e2e5eb;
    border-radius: 3px;
}
.select2-container--krajee-bs4.select2-container--open:not(.select2-container--disabled) .select2-selection,
.select2-container--krajee-bs4:not(.select2-container--disabled) .select2-selection:focus {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    border: 2px solid #fff;
    transition: none;
}
.select2-container--krajee-bs4:not(.select2-container--disabled) .select2-dropdown {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
    transition: none;
    border-color: #e2e5eb;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 2px solid #e2e5eb;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #f2f3f7;
    color: #001424;
}

/**
 * Date input style
 */
.date-picker.ico {
    padding-right: 30px;
    background-image: url(data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="rgb(187, 193, 199)" d="M16.667 2.222h1.11c1.228 0 2.223.995 2.223 2.222v13.334A2.222 2.222 0 0 1 17.778 20H2.222A2.222 2.222 0 0 1 0 17.778V4.444c0-1.227.995-2.222 2.222-2.222h1.111v-1.11a1.111 1.111 0 0 1 2.223 0v1.11h8.888v-1.11a1.111 1.111 0 0 1 2.223 0v1.11zM2.222 4.444v13.334h15.556V4.444H2.222zM5 7.778h1.111c.307 0 .556.249.556.555v1.111A.556.556 0 0 1 6.11 10H5a.556.556 0 0 1-.556-.556v-1.11c0-.307.25-.556.556-.556zm0 4.444h1.111c.307 0 .556.249.556.556v1.11a.556.556 0 0 1-.556.556H5a.556.556 0 0 1-.556-.555v-1.111c0-.307.25-.556.556-.556zm4.444-4.444h1.112c.306 0 .555.249.555.555v1.111a.556.556 0 0 1-.555.556H9.444a.556.556 0 0 1-.555-.556v-1.11c0-.307.249-.556.555-.556zm0 4.444h1.112c.306 0 .555.249.555.556v1.11a.556.556 0 0 1-.555.556H9.444a.556.556 0 0 1-.555-.555v-1.111c0-.307.249-.556.555-.556zm4.445 0H15c.307 0 .556.249.556.556v1.11a.556.556 0 0 1-.556.556h-1.111a.556.556 0 0 1-.556-.555v-1.111c0-.307.25-.556.556-.556zm0-4.444H15c.307 0 .556.249.556.555v1.111A.556.556 0 0 1 15 10h-1.111a.556.556 0 0 1-.556-.556v-1.11c0-.307.25-.556.556-.556z"></path></svg>);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: right 10px center;
}

/**
 * Buttons style
 */
button,
button:active,
button:focus {
    outline: none !important;
    decoration: none !important;
    box-shadow: none !important;
}
.btn-kub-primary {
    border-color: #4679ae;
    background-color: #4679ae;
    color: #fff;
    font-weight: bold;
}
.btn-kub-primary:hover {
    background-color: #335a82;
    border-color: #335a82;
    color: #fff;
    font-weight: bold;
}
.btn-kub-secondary {
    color: #001424;
    border: solid 2px #e2e5eb;
    background-color: #ffffff;
    font-weight: bold;
}
.btn-kub-secondary:hover {
    border-color: #4679ae;
    background-color: #4679ae;
    color: #fff;
}

/**
 * Scrollbar styling
 */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border: 3px solid #ffffff;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
.tooltip-question-icon {
    color: #bbc1c7;
    font-size: 18px;
}

/**
 * Date-picker style
 */
.datepicker table tr td,
.datepicker table tr th {
    color: #001424;
    text-align: center;
}
.datepicker .datepicker-days table tr td,
.datepicker .datepicker-days table tr th {
    height: 27px;
    font-size: 14px;
    font-weight: 700;
    color: #001424;
    text-align: center;
}
.datepicker table tr th.dow {
    text-transform: none;
    font-size: 12px;
    font-weight: 700;
    color: #9198a0;
}
.datepicker table tr td.day {
    height: 27px;
    font-size: 14px;
    font-weight: 700;
    color: #001424;
    text-align: center;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #dedede;
}
.datepicker table tr td.old:hover,
.datepicker table tr td.new:hover {
    color: #c5c5c5;
}
.datepicker table tr td.today.day {
    color: #4EB5E6;
    background-color: transparent;
    border-color: transparent;
}
.datepicker table tr td.today.day:hover {
    background-color: transparent;
    border-color: transparent;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
    color: #fff;
    background-color: #4679ae;
    border-color: #4679ae;
}
.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active.focus {
    color: #fff;
    background-color: #4679ae;
    border-color: #4679ae;
}

.datepicker table tr th.prev,
.datepicker table tr th.next {
    font-size: 16px;
    color: #0097fd;
    width: 1em;
    height: 1em;
}
.datepicker table tr th.prev > svg {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.datepicker table tr th.next > svg {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.datepicker table tr th.prev:hover,
.datepicker table tr th.next:hover  {
    background-color: transparent;
    color: #4679ae;
}

[aria-invalid="true"] ~ .invalid-feedback {
    display: block;
}

.modal.show > .modal-dialog {
    width: 90%;
    max-width: 840px;
}

.modal-title {
    font-weight: bold;
}

.w-120p {
    width: 120px;
}

.br-w-2 {
    border-width: 2px;
}
