/**
 *Open Sans
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('OpenSans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('OpenSans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('OpenSans/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('OpenSans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

/**
 * PT Sans
 */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('PT_Sans/PT_Sans-Web-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('PT_Sans/PT_Sans-Web-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url('PT_Sans/PT_Sans-Web-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: url('PT_Sans/PT_Sans-Web-BoldItalic.ttf') format('truetype');
}

/**
 * Segoe
 */
@font-face {
  font-family: "Segoe Print";
  font-style: normal;
  font-weight: normal;
  src: url("Segoe/segoe.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI Black";
  font-style: normal;
  font-weight: normal;
  src: url("Segoe/SegoeUIBlack.ttf") format("truetype");
}

/**
 * Corpid
 */
@font-face {
  font-family: 'Corpid E3 SCd';
  src: url("Corpid/subset-CorpidE3SCd-Regular.woff2") format("woff2"), url("Corpid/subset-CorpidE3SCd-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corpid E3 SCd';
  src: url("Corpid/subset-CorpidE3SCd-Bold.woff2") format("woff2"), url("Corpid/subset-CorpidE3SCd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Corpid E3 SCd';
  src: url("Corpid/subset-CorpidE3SCd-Light.woff2") format("woff2"), url("Corpid/subset-CorpidE3SCd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
