@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 16px;
	font-style: normal;
	margin-left: 3px;
}

.flaticon-truck:before {
	content: "\f100";
}

.flaticon-trolley:before {
	content: "\f101";
}

.flaticon-wallet31:before {
	content: "\f102";
}

.flaticon-cart:before {
	content: "\f103";
}

.flaticon-truck-1:before {
	content: "\f104";
}

.flaticon-trolley-1:before {
	content: "\f105";
}

.flaticon-caution:before {
	content: "\f106";
}

.flaticon-id-card:before {
	content: "\f107";
}

.flaticon-calculator:before {
	content: "\f108";
}

.flaticon-new:before {
	content: "\f109";
}

.flaticon-bottom:before {
	content: "\f10a";
}

.flaticon-addition:before {
	content: "\f10b";
}

.flaticon-growth:before {
	content: "\f10c";
}