[type="checkbox"]:checked + span:not(.lever):before,
[type="checkbox"]:checked + label:before {
    border-right: 2px solid rgb(227,6,19);
    border-bottom: 2px solid rgb(227,6,19);
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid rgb(227,6,19);
    background-color: rgb(227,6,19);
}

[type="radio"]+span:before, [type="radio"]+span:after {
    width: 18px;
    height: 18px;
}

[type="radio"]:checked+span:after {
    background-color: #fff;
}

[type="radio"]:checked+span:after {
    border: 5px solid rgb(227,6,19);
}

[type="radio"].with-gap:checked+span:after {
    background-color: rgb(227,6,19);
}

[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid rgb(227,6,19);
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #9e9e9e;
  -webkit-box-shadow: 0 1px 0 0 #9e9e9e;
          box-shadow: 0 1px 0 0 #9e9e9e;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #9e9e9e;
}
