@font-face {
    font-family: Cor_Bold;
    src: url(res/fonts/Corpid_Bold.ttf);
}

@font-face {
    font-family: Cor_Light;
    src: url(res/fonts/Corpid_Light.ttf);
}

@font-face {
    font-family: Cor_Reg;
    src: url(res/fonts/Corpid_Reg.ttf);
}

html {
    position: relative;
    min-height: 100%;

    overflow-x: auto;
}

html,
body{
	font-family: Cor_Reg;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	background-color: #f2f3f7!important;
    color: #001424;
}

body.theme_mts{
    margin: auto;
    width: auto;
    min-width: 1024px;
    color: #001424;
    background-color: #f2f3f7;
}

body.theme_mts a{
    color: #0097fd;
}
body.theme_mts a:hover{
    color: #0048aa;
}

.mts_container {
    min-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media (min-width: 1042px) {
  .mts_container {
    width: 1024px;
  }
}
@media (min-width: 1298px) {
  .mts_container {
    width: 1280px;
  }
}
@media (min-width: 1458px) {
  .mts_container {
    width: 1440px;
  }
}

menu{
	background-color: #fff;
	margin: 0;
	padding: 0;
	display: block;
    height: 68px;
    position: fixed;
    top: 0px;
    width: 100%;
	z-index: 999;
}

menu div{
	height: 100%;
}

menu .logo{
    position: absolute;
    top: 0;
	left: 15px;
    padding-top: 15px;
}

menu .logo>a{
    font-size: 24px;
    color: #e30611;
    font-family: Cor_Light;
    text-decoration: none;
    font-weight: 700;
    padding: 0;
}

menu .logo>a>i{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(res/img/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

menu div.main_nav{
    margin: 0 270px 0 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

menu div.main_nav>div{
    display: inline-block;
}

menu div.main_nav a{
    white-space: nowrap;
}

menu div.main_nav a i{
    color: #bbc1c7;
}

menu div.ser_company_list .dropdown-menu a{
    white-space: nowrap;
    padding: 16px 0 23px;
    font-size: 16px;
    color: #001424;
    font-family: Cor_Light;
    text-decoration: none;
    font-weight: 700;
}
menu div.ser_company_list .dropdown-menu a:hover{
    color: #E30611;
}
menu div.ser_company_list .dropdown-menu a i {
    display: inline-block;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}
menu div.ser_company_list .dropdown-menu a i.comp_1 {
    background-image: url(res/img/comp_logo_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: -15px;
    margin-right: 12px;
}
menu div.ser_company_list .dropdown-menu li:nth-child(1) a i.comp_1 {
    background-image: url(res/img/comp_logo_2.png);
}
menu div.ser_company_list .dropdown-menu a i.comp_add {
    background-image: url(res/img/comp_logo_add.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: -15px;
    margin-right: 12px;
}

menu .side_nav{
    position: absolute;
    top: 0;
    right: 15px;
	width: 240px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
}

menu div div a{
	display: block;
	height: 100%;
	padding-top: 25px;
	font-size: 16px;
	color: #001424;
	font-family: Cor_Light;
	text-decoration: none;
	font-weight: 700;
}

.triangle_bottom{
	display: inline-block;
	width: 14px;
	height: 8px;
	background-image: url(res/img/triangle_bottom.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 6px;
}


menu>div> div a:hover{
	color: #E30611;
}

menu a:hover .triangle_bottom{
	background-image: url(res/img/triangle_bottom_act.svg);
}
menu .main_nav a.active{
	color: #E30611;
	border-bottom: 2px solid #E30611;
	font-family: Cor_Bold;
}

#non_active{
	color: #001424;
	font-family: Cor_Light;
	border-style: none;
}

.third_part_menu{
	list-style: none;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    width: 398px;
    border-radius: 8px!important;
    position: absolute;
    box-shadow: 0px 0px 4px #00000078;
    left: -280px;
    top: 64px;
	padding-top: 0px;
	height: 0px;
	transition: height ease .3s;
	overflow: hidden;
}

.third_part_menu:before{
	content: "▲";
    display: block;
    font-size: 20px;
    position: absolute;
    text-shadow: 0px -2px 2px #0000004a;
    color: #fff;
    transform: scaleX(1.8);
    top: -23px;
    left: 276px;
}

.third_part_menu>li>a{
	margin: 0px !important;
    padding: 0px !important;
}

.third_part_menu>li>a:hover{
	text-decoration: none;
}

.third_part_menu>li:nth-child(1), .third_part_menu>li:nth-child(4){
	font-size: 16px;
	font-family: Cor_Bold;
	color: #001424;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.third_part_menu>li:nth-child(2), .third_part_menu>li:nth-child(3), .third_part_menu>li:nth-child(5){
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 6px;
    padding-right: 6px;
}

.third_part_menu>li:nth-child(3){
	margin-top: 6px;
}

.third_part_menu>li:nth-child(2)>a, .third_part_menu>li:nth-child(3)>a, .third_part_menu>li:nth-child(5)>a{
	display: inline-block;
	width: 118px;
	height: 118px;
	border-radius: 4px!important;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.third_part_menu>li:nth-child(2)>a:nth-child(1){
	border: 1px solid #bbc1c747;
}

.third_part_menu>li>a>i:nth-child(1){
	display: block;
	width: 44px;
	height: 44px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 36px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.third_part_menu>li:nth-child(2)>a:nth-child(1)>i:nth-child(1){
	background-image: url(res/img/logo.svg);
}

.third_part_menu>li:nth-child(2)>a:nth-child(2)>i:nth-child(1){
	background-image: url(res/img/black.svg);
}

.third_part_menu>li:nth-child(2)>a:nth-child(3)>i:nth-child(1){
	background-image: url(res/img/silver.svg);
}

.third_part_menu>li:nth-child(3)>a:nth-child(1)>i:nth-child(1){
	background-image: url(res/img/black.svg);
}

.third_part_menu>li:nth-child(3)>a:nth-child(2)>i:nth-child(1){
	background-image: url(res/img/red.svg);
}

.third_part_menu>li:nth-child(5)>a:nth-child(1)>i:nth-child(1){
	background-image: url(res/img/logo.svg);
}

.third_part_menu>li:nth-child(5)>a:nth-child(2)>i:nth-child(1){
	background-image: url(res/img/black.svg);
}

.third_part_menu>li:nth-child(5)>a:nth-child(3)>i:nth-child(1){
	background-image: url(res/img/silver.svg);
}

.third_part_menu>li:nth-child(2)>a>i:nth-child(2), .third_part_menu>li:nth-child(3)>a>i:nth-child(2), .third_part_menu>li:nth-child(5)>a>i:nth-child(2){
	color: #001424;
	font-size: 16px;
	font-family: Cor_Light;
	font-style: normal;
	line-height: 18px;
	text-align: center;
}

.third_part_menu>li:nth-child(5){
	margin-bottom: 10px;
}

.third_part_menu_6{
	cursor: default;
}

.dots:hover .third_part_menu{
	height: 468px;
	overflow: unset;
	transition: height ease .3s;
	transition: overflow ease .3s .3s;
}

.second_part_menu{
	list-style: none;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    width: 379px;
    border-radius: 8px!important;
    position: absolute;
    box-shadow: 0px 0px 4px #00000078;
    left: -288px;
    top: 64px;
	padding-top: 0px;
	overflow: hidden;
	height: 0px;
	transition: height ease .3s;
}

.second_part_menu:before{
	content: "▲";
    display: block;
    font-size: 20px;
    position: absolute;
    text-shadow: 0px -2px 2px #0000004a;
    color: #fff;
    transform: scaleX(1.8);
    top: -23px;
    left: 286px;
}

.second_part_menu>li>a>i{
	display: inline-block;
	width: 44px;
	height: 44px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 10px;
	margin-left: 20px;
	margin-bottom: -6px;
}

.second_part_menu>li{
	padding-top: 20px;
    padding-bottom: 11px;
    border: 1px solid #bbc1c747;
}

.second_part_menu>li:nth-child(1)>a>i{
	background-image: url(res/img/second_part_menu_0.png);
	background-size: 87%;
}

.second_part_menu>li:nth-child(2)>a>i{
	background-image: url(res/img/logo.svg);
}

.second_part_menu>li:nth-child(3)>a>i{
	background-image: url(res/img/black.svg);
}

.second_part_menu>li:nth-child(4)>a>i{
	background-image: url(res/img/silver.svg);
}

.second_part_menu>li:nth-child(5)>a>i{
	background-image: url(res/img/red.svg);
	margin-bottom: -26px;
}

.second_part_menu>li>a>span{
	font-family: Cor_Light;
	color: #001424;
	font-size: 16px;
	letter-spacing: -0.23px;
	line-height: 22px;
	display: inline-block;
	font-weight: 700;
}

.second_part_menu>li>a>b{
	font-family: Cor_Light;
	color: #bbc1c7;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.2px;
	margin-left: 74px;
}

.second_part_menu>li:nth-child(6){
	font-family: Cor_Light;
	color: #0097fd;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.23px;
	line-height: 22px;
	text-align: center;
	padding-top: 11px;
}

.second_part_menu>li:nth-child(6):hover{
	color: #0048AA;
}

.second_part_menu>li:hover a{
	text-decoration: none;
}

.second_part_menu>li a{
	display: inline-block;
	width: 100%;
}

.message:hover .second_part_menu{
	height: 534px;
	overflow: unset;
	transition: height ease .3s;
	transition: overflow ease .3s .3s;
}

.dots:hover > a,
.message:hover > a {
    color: #E30611;
}

.forth_part_menu{
	list-style: none;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    width: 230px;
    border-radius: 8px!important;
    position: absolute;
    box-shadow: 0px 0px 4px #00000078;
    right: 0;
    top: 70px;
	padding-top: 0px;
	height: 0px;
	overflow: hidden;
	transition: height ease .3s;
	transition: overflow ease .3s .3s;
}

.forth_part_menu:before{
	content: "▲";
    display: block;
    font-size: 20px;
    position: absolute;
    text-shadow: 0px -2px 2px #0000004a;
    color: #fff;
    transform: scaleX(1.8);
    top: -23px;
    left: 200px;
}

.forth_part_menu>li>a{
	margin: 0px !important;
    padding: 0px !important;
	font-family: Cor_Light;
}

.forth_part_menu>li{
	padding-left: 20px;
}

.forth_part_menu>li:nth-child(1), .forth_part_menu>li:nth-child(4){
	padding-bottom: 14px;
    border-bottom: 1px solid #bbc1c747;
}

.forth_part_menu>li:nth-child(2), .forth_part_menu>li:nth-child(3), .forth_part_menu>li:nth-child(4), .forth_part_menu>li:nth-child(5){
	padding-bottom: 14px;
	padding-top: 14px;
}

.forth_part_menu>li:nth-child(1)>a{
	color: #bbc1c7;
	font-size: 16px;
	padding-top: 14px;

}

.forth_part_menu>li:nth-child(1)>a>b{
	color: #001424;
	font-family: Cor_Bold;
}

.forth_part_menu>li:nth-child(2)>a, .forth_part_menu>li:nth-child(3)>a, .forth_part_menu>li:nth-child(4)>a, .forth_part_menu>li:nth-child(5)>a{
	color: #001424;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

.forth_part_menu>li:nth-child(2):hover>a, .forth_part_menu>li:nth-child(3):hover>a, .forth_part_menu>li:nth-child(4):hover>a, .forth_part_menu>li:nth-child(5):hover>a{
	color: #e30611;
	font-family: Cor_Bold;
}

.forth_part_menu>li:nth-child(1):hover>a{
	text-decoration: none;
}

.avatar:hover .forth_part_menu{
	height: 288px;
	padding-top: 14px;
	overflow: unset;
	transition: height ease .3s;
}

.purse>a{
	display: block;
    height: 100%;
    padding-top: 25px;
    font-size: 16px;
    color: #141d24;
    font-family: Cor_Bold;
    text-decoration: none;
	margin-right: 24px;
}

.purse>a>i{
	display: inline-block;
	width: 21px;
	height: 19px;
	background-image: url(res/img/purse.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 14px;
	margin-bottom: -4px;
}

.purse>a:hover{
	text-decoration: none;
	color: #141d24;
}

.dots>a{
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 22px;
    color: #9198A0;
}

.message>a{
	display: block;
	width: 14px;
	height: 18px;
	margin-right: 22px;
    color: #9198A0;
}

.avatar>a{
	display: block;
	width: 37px;
	height: 37px;
	background-image: url(res/img/avatar.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: -4px;
	margin-top: 17px;
}

.main_holder{
	background-color: #f2f3f7;
	margin-top: 68px;
}

aside{
	margin: 0 15px;
    width: 224px;
    display: inline-block;
	position: fixed;
}

aside>ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

aside>ul>li{
	border-top: 1px solid #e7eafa;
	border-bottom: 1px solid #e7eafa;
}

aside>ul>li:nth-child(1){
	border-top: none;
}


aside>ul>li>a{
	display: inline-block;
    position: relative;
	margin-top: 12px;
	margin-bottom: 12px;
	text-decoration: none;
	color: #001424;
	font-family: Cor_Bold;
	font-size: 16px;
	width: 100%;
    line-height: 20px;
}

aside>ul>li>a>i{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-bottom: -4px;
    transition: all ease .1s;
    margin-left: 11px;
    color: #BBC1C7;
}

aside>ul>li>a>b.arrow{
    display: inline-block;
    width: 8px;
    height: 14px;
    background-image: url(res/img/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 4px;
    right: 0;
    transition: all ease .1s;
}

aside>ul>li>a:focus, a:hover, a:active {
    text-decoration: none;
}

aside>ul>li>a:focus {
    color: #001424;
}

aside>ul>li>ul>li>a {
    font-size: 16px;
    line-height: 20px;
}

.i_0{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(res/img/comp_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 10px;
    margin-bottom: -4px;
    transition: all ease .1s;
    margin-left: 11px;
}

.i_1{
	display: inline-block;
	width: 18px;
	height: 20px;
	background-image: url(res/img/sail.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 10px;
	margin-bottom: -4px;
	transition: all ease .1s;
	margin-left: 15px;
}

.i_2{
	display: inline-block;
	width: 18px;
	height: 20px;
	background-image: url(res/img/buy.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 10px;
	margin-bottom: -4px;
	transition: all ease .1s;
	margin-left: 15px;
}

.i_3{
	display: inline-block;
	width: 20px;
	height: 11px;
	background-image: url(res/img/1C.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 10px;
	margin-bottom: 1px;
	transition: all ease .1s;
	margin-left: 15px;
}

.i_4{
	display: inline-block;
	width: 20px;
	height: 19px;
	background-image: url(res/img/import.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 10px;
	margin-bottom: -3px;
	transition: all ease .1s;
	margin-left: 15px;
}

aside>ul>li>a:hover .i_1{
	background-image: url(res/img/sail_act.svg);
	transition: background-image ease .1s;
}

aside>ul>li>a:hover .i_2{
	background-image: url(res/img/buy_act.svg);
	transition: background-image ease .1s;
}

aside>ul>li>a:hover .i_3{
	background-image: url(res/img/1C_act.svg);
	transition: background-image ease .1s;
}

aside>ul>li>a:hover .i_4{
	background-image: url(res/img/import_act.svg);
	transition: background-image ease .1s;
}

aside>ul>li:not(.active)>ul {
	height: auto;
    max-height: 0;
    overflow: hidden;
	transition: max-height ease 1s;
}
aside>ul>li.active>ul {
    height: auto;
    max-height: 300px;
    transition: max-height ease 1s;
}

aside>ul>li.active>a b.arrow{
    transform: rotate(90deg);
    transition: transform ease 1s;
}

aside>ul>li:not(.active)>a b.arrow{
    transform: rotate(0deg);
    transition: transform ease 1s;
}

aside>ul>li.active>a,
aside>ul>li.active>a i,
aside>ul>li>a:hover,
aside>ul>li>a:hover i {
    color: #E30611;
    text-decoration: none;
    transition: color ease .1s;
}

aside>ul>li.active>a b.arrow,
aside>ul>li>a:hover b.arrow{
	background-image: url(res/img/arrow_act.svg);
	transition: background-image ease .1s;
}

aside>ul>li>ul{
	list-style: none;
	margin-left: 3px;
	overflow: hidden;
}

aside>ul>li>ul>li>a{
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: #001424;
	transition: color ease .1s;
}

aside>ul>li>ul>li.active>a,
aside>ul>li>ul>li>a:hover{
	color: #E30611;
	text-decoration: none;
	transition: color ease .1s;
}

aside>ul>li>ul>li{
	margin-bottom: 3px;
}

aside>ul>li>ul>li:last-child{
	margin-bottom: 21px;
}

main.main_part{
    width: auto;
    margin-left: 250px;
    padding: 12px;
	position: relative;
}
.line {
    width: 100%;
    height: 20px;
    background-color: #f2f3f7;
    bottom: 43px;
    position: fixed;
	z-index: 5;
	border-bottom: 2px solid #e7eafa;
}

.btn.darkblue {
    background-color: #FF0000;
    color: white;
}
.btn.darkblue:hover {
    background-color: #DD0000;
    color: white;
}
.score{
	width: 723px;
	border: 2px solid #f5f5f9;
	margin-left: 16px;
	margin-top: 16px;
	margin-right: 16px;
	display: inline-block;
	padding-bottom: 12px;
}

.score_side{
	width: 271px;
	margin-top: 13px;
}

.head{
	padding-left: 5px;
	font-size: 17px;
	color: #001424;
	font-family: Cor_Light;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 48px;
}

.head_2{
	font-size: 23px;
    color: #001424;
    font-family: Cor_Light;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 6px;
    text-align: center;
}

.info{
	display: inline-block;
	width: 44px;
	height: 44px;
	border-radius: 4px!important;
	border: 2px solid #eaebef;
	margin-right: 8px;
	background-image: url(res/img/info_2.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40%;
	margin-top: -2px;
}

.info:hover{
	background-image: url(res/img/info_2_act.svg);
}

.edit{
	display: inline-block;
	width: 44px;
	height: 44px;
	border-radius: 4px!important;
	border: 2px solid #eaebef;
	background-image: url(res/img/edit.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40%;
	margin-top: -2px;
}

.edit:hover{
	background-image: url(res/img/edit_act.svg);
}

.head_button{
	display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
	margin-left: 5px;
}

.table_1{
	color: #333333;
}

.table_1>table{
	width: 710px;
	margin: 5px;
	font-weight: 400;
}

.table_1>table>tbody>tr{
	padding: 0px;
}

.table_1>table>tbody>tr>td{
	border: 1px solid #000;
	font-size: 12px;
	padding: 0px;
	padding-left: 2px;
}

.tg-m1{
	width: 356px;
    height: 59px;
	vertical-align: text-bottom;
}

.tg-m2{
	width: 115px;
	height: 17px;
}

.tg-m3{
	width: 236px;
	height: 17px;
	border-bottom: none !important;
}

.tg-m4{
	width: 117px;
	height: 43px;
	vertical-align: text-bottom;
}

.tg-m5{
	width: 117px;
	height: 43px;
	border-top: none !important;
	vertical-align: text-bottom;
}

.tg-m10{
	width: 178px;
	height: 19px;
}

.tg-m6{
	width: 178px;
	height: 19px;
}

.tg-m9{
	width: 356px;
	height: 61px;
	vertical-align: text-bottom;
}

#alight{
	vertical-align: top;
	font-size: 12px;
}

.all_info{
	border-top: 2px solid #000;
    margin: auto;
    padding-top: 15px;
    border-bottom: 2px solid #000;
    margin-left: 5px;
    margin-right: 5px;
}

.all_info>table:first-child{
	margin-bottom: 6px;
}

.all_info>table:first-child>tbody>tr>td:first-child{
	padding-left: 7px;
}

.all_info>table:first-child>tbody>tr>td:last-child{
	padding-left: 30px;
    font-weight: 400;
	padding-bottom: 5px;
	font-size: 12px;
}

.all_info>table:nth-child(2){
	width: 710px;
	margin: auto;
	margin-right: 5px;
}

.all_info>table:nth-child(2)>tbody>tr>td{
	border: 1px solid #000;
    font-size: 12px;
	padding: 2px 4px;
}

.tg-center{
	text-align: center;
}

.tg-r{
	text-align: right;
}

.tg-1{
	width: 35px;
	height: 22px;
}

.tg-2{
	width: 360px;
	height: 22px;
}

.tg-3{
	width: 71px;
	height: 22px;
}

.tg-4{
	width: 49px;
	height: 22px;
}

.tg-5{
	width: 92px;
	height: 22px;
}

.tg-6{
	width: 107px;
	height: 22px;
}

.basic_info{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 8px;
}

.basic_info>div:first-child>div{
	font-size: 12px;
	font-family: Cor_Light;
	text-align: right;
	margin-right: 66px;
}

.basic_info>div:last-child>div{
	font-size: 12px;
	font-family: Cor_Bold;
	text-align: right;
}

.all_info>div:nth-child(4){
	font-size: 12px;
    font-family: Cor_Light;
    margin-left: 7px;
	margin-top: 14px;
}

.all_info>div:nth-child(5){
	font-size: 12px;
    font-family: Cor_Bold;
    margin-left: 7px;
	font-weight: 400;
}

.sign{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 40px;
}

.sign>div:first-child{
	font-size: 12px;
    font-family: Cor_Bold;
    margin-left: 7px;
    font-weight: 400;
	margin-right: 155px;
}

.sign>div:nth-child(2), .sign>div:nth-child(3), .sign>div:nth-child(4){
	border-bottom: 1px solid #000;
	font-size: 12px;
	font-weight: 400;
	font-family: Cor_Light;
	width: 153px;
	margin-right: 9px;
	text-align: center;
}

.sign>div:nth-child(4){
	margin-right: 0px;
}


.sign_2{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 9px;
}

.sign_2>div:nth-child(1){
	margin-left: 282px;
}

.sign_2>div:nth-child(2){
	margin-left: 130px;
}

.sign_2>div:nth-child(3){
	margin-left: 100px;
}

.sign_3{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 40px;
}

.sign_3>div:first-child{
	font-size: 12px;
    font-family: Cor_Bold;
    margin-left: 7px;
    font-weight: 400;
	margin-right: 238px;
}

.sign_3>div:nth-child(2), .sign_3>div:nth-child(3){
	border-bottom: 1px solid #000;
	font-size: 12px;
	font-weight: 400;
	font-family: Cor_Light;
	width: 153px;
	margin-right: 9px;
	text-align: center;
}

.sign_3>div:nth-child(3){
	margin-right: 0px;
}

.sign_4{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 9px;
}

.sign_4>div:nth-child(1){
	margin-left: 460px;
}

.sign_4>div:nth-child(2){
	margin-left: 96px;
}

.score_side>div:nth-child(1){
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.score_side>div:nth-child(1)>div{
	color: #001424;
	font-family: Cor_Bold;
	font-size: 18px;
	font-weight: 700;
	padding-top: 6px;
}

.score_side>div:nth-child(1)>a{
	display: block;
	text-align: center;
	width: 121px;
	height: 44px;
	border-radius: 4px!important;
	background-color: #25ce59;
	margin-left: 8px;
	text-decoration: none;
	font-family: Cor_Light;
	color: #fff;
	padding-top: 9px;
}

.score_side>div:nth-child(1)>a>i{
	display: inline-block;
	width: 16px;
	height: 11px;
	background-image: url(res/img/check.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 12px;
}

.score_side>a:nth-child(2), .score_side>a:nth-child(3), .score_side>a:nth-child(4), .score_side>a:nth-child(5){
	display: block;
	width: 95%;
	height: 44px;
	border-radius: 4px!important;
	border: 2px solid #eaebef;
	font-size: 14px;
	color: #001424;
	font-family: Cor_Bold;
	transition: all ease .1s;
}

.score_side>a:nth-child(2):hover, .score_side>a:nth-child(3):hover, .score_side>a:nth-child(4):hover, .score_side>a:nth-child(5):hover{
	color: #e30611;
	text-decoration: none;
	transition: all ease .1s;
}

.score_side>a:nth-child(2):hover>i, .score_side>a:nth-child(3):hover>i, .score_side>a:nth-child(4):hover>i, .score_side>a:nth-child(5):hover>i{
	background-image: url(res/img/plus_2_act.svg);
	transition: all ease .1s;
}

.score_side>a:nth-child(3), .score_side>a:nth-child(4), .score_side>a:nth-child(5){
	margin-top: 8px;
}

.score_side>a:nth-child(2){
	margin-top: 21px;
}

.score_side>a>i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(res/img/plus_2.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 12px;
	margin-left: 18px;
	margin-bottom: -4px;
}

.score_side>a{
	padding-top: 10px;
}

.score_side>div:nth-child(6){
	border: 2px solid #f5f5f9;
	width: 95%;
	height: 174px;
	margin-top: 16px;
}

.score_side>div:nth-child(6)>div{
	padding-left: 18px;
	font-size: 14px;
}

.score_side>div:nth-child(6)>div{
	font-family: Cor_Bold;
	color: #9198a0;
}

.score_side>div:nth-child(6)>div:nth-child(1){
	margin-top: 16px;
}

.score_side>div:nth-child(6)>div:nth-child(2), .score_side>div:nth-child(6)>div:nth-child(3){
	margin-top: 7px;
}

.score_side>div:nth-child(6)>div:nth-child(1)>div, .score_side>div:nth-child(6)>div:nth-child(2)>div, .score_side>div:nth-child(6)>div:nth-child(3)>div{
	display: inline-block;
}

.score_side>div:nth-child(6)>div:nth-child(1)>div>a, .score_side>div:nth-child(6)>div:nth-child(3)>div>a{
	font-size: 16px;
    color: #0097fd;
    font-family: Cor_Bold;
}

.score_side>div:nth-child(6)>div:nth-child(1)>div>a:hover, .score_side>div:nth-child(6)>div:nth-child(3)>div>a:hover{
	text-decoration: none;
	color: #0048AA;
}

.score_side>div:nth-child(6)>div:nth-child(1)>div{
	margin-left: 8px;
}

.score_side>div:nth-child(6)>div:nth-child(2)>div{
	margin-left: 8px;
	color: #001424;
}

.score_side>div:nth-child(6)>div:nth-child(3)>div{
	margin-left: 8px;
}

.score_side>div:nth-child(6)>div>a{
	display: inline-block;
	width: 44px;
	height: 44px;
	border-radius: 4px!important;
	border: 2px solid #e2e5eb;
	margin-top: 11px;
	background-image: url(res/img/download.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40%;
}

.score_side>div:nth-child(6)>div>a:hover{
	background-image: url(res/img/download_act.svg);
}

.score_side>a:nth-child(7){
	font-size: 16px;
	color: #001424;
	font-family: Cor_Bold;
	margin-bottom: 13px;
	display: inline-block;
}

.score_side>a:nth-child(7)>i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(res/img/comment.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 12px;
	margin-bottom: -2px;
}

.score_side>a:nth-child(7):hover{
	text-decoration: none;
}

.score_side>div:nth-child(8)>a:nth-child(1){
	display: inline-block;
    width: 196px;
    height: 44px;
    border-radius: 4px!important;
    border: 2px solid #eaebef;
    font-size: 14px;
    color: #001424;
    font-family: Cor_Bold;
	padding-top: 8px;
	transition: all ease .1s;
}

.score_side>div:nth-child(8)>a:nth-child(1):hover{
	text-decoration: none;
	color: #e30611;
	transition: all ease .1s;
}

.score_side>div:nth-child(8)>a:nth-child(1):hover>i{
	background-image: url(res/img/clock_act.svg);
	transition: all ease .1s;
}

.score_side>div:nth-child(8)>a:nth-child(1)>i{
	display: inline-block;
	width: 14px;
	height: 16px;
	background-image: url(res/img/clock.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 10px;
	margin-left: 14px;
	margin-bottom: -3px;
	transition: all ease .1s;
}

.score_side>div:nth-child(8)>a:nth-child(2){
	display: inline-block;
    width: 16px;
    height: 16px;
	margin-left: 6px;
	background-image: url(res/img/info.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: -5px;
}

main>div#buttons-fixed{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 20px;
	padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px!important;
	background-color: #fff;
	position: fixed;
	bottom: 55px;
	z-index: 999;
}

main>div:last-child>a{
	display: inline-block;
	height: 44px;
	border-radius: 4px!important;
	border: 2px solid #eaebef;
	font-family: Cor_Light;
	font-size: 14px;
	font-weight: 700;
	color: #001424;
	padding-top: 8px;
	margin-right: 8px;
	transition: all ease .1s;
}

main>div:last-child>a:hover{
	color: #e30611;
	transition: all ease .1s;
}

main>div:nth-child(3)>a:nth-child(1){
	width: 131px;
	margin-left: 18px;
}

main>div:nth-child(3)>a:nth-child(1)>i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(res/img/send.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 12px;
	margin-left: 17px;
	margin-bottom: -2px;
}

main>div:nth-child(3)>a:nth-child(2){
	width: 132px;
}

main>div:nth-child(3)>a:nth-child(2)>i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(res/img/print.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 12px;
	margin-left: 17px;
	margin-bottom: -2px;
}

main>div:nth-child(3)>a:nth-child(3){
	width: 130px;
}

main>div:nth-child(3)>a:nth-child(3)>i{
	display: inline-block;
	width: 16px;
	height: 13px;
	background-image: url(res/img/download.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 12px;
	margin-left: 17px;
	margin-bottom: -2px;
}

main>div:nth-child(3)>a:nth-child(4){
	width: 130px;
}

main>div:nth-child(3)>a:nth-child(4)>i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(res/img/copy.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 12px;
	margin-left: 17px;
	margin-bottom: -2px;
}

main>div:nth-child(3)>a:nth-child(5){
	width: 130px;
}

main>div:nth-child(3)>a:nth-child(5)>i{
	display: inline-block;
	width: 16px;
	height: 11px;
	background-image: url(res/img/check_2.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 12px;
	margin-left: 17px;
	margin-bottom: -2px;
}

main>div:nth-child(3)>a:nth-child(6){
	width: 130px;
}

main>div:nth-child(3)>a:nth-child(6)>i{
	display: inline-block;
	width: 13px;
	height: 13px;
	background-image: url(res/img/cancel.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 12px;
	margin-left: 17px;
	margin-bottom: -2px;
}

main>div:nth-child(3)>a:nth-child(7){
	width: 130px;
	margin-right: 13px;
}

main>div:nth-child(3)>a:nth-child(7)>i{
	display: inline-block;
	width: 14px;
	height: 16px;
	background-image: url(res/img/delete.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 12px;
	margin-left: 17px;
	margin-bottom: -2px;
	transition: all ease .1s;
}

main>div:nth-child(3)>a:hover{
	text-decoration: none;
}

main>div:nth-child(3)>a:nth-child(1):hover>i{
	background-image: url(res/img/send_act.svg);
	transition: all ease .1s;
}

main>div:nth-child(3)>a:nth-child(1):hover>i{
	background-image: url(res/img/send_act.svg);
	transition: all ease .1s;
}

main>div:nth-child(3)>a:nth-child(2):hover>i{
	background-image: url(res/img/print_act.svg);
	transition: all ease .1s;
}

main>div:nth-child(3)>a:nth-child(3):hover>i{
	background-image: url(res/img/download_act.svg);
	transition: all ease .1s;
}

main>div:nth-child(3)>a:nth-child(4):hover>i{
	background-image: url(res/img/copy_act.svg);
	transition: all ease .1s;
}

main>div:nth-child(3)>a:nth-child(5):hover>i{
	background-image: url(res/img/check_2_act.svg);
	transition: all ease .1s;
}

main>div:nth-child(3)>a:nth-child(6):hover>i{
	background-image: url(res/img/cancel_act.svg);
	transition: all ease .1s;
}

main>div:nth-child(3)>a:nth-child(7):hover>i{
	background-image: url(res/img/delete_act.svg);
	transition: all ease .1s;
}

footer{
    width: 100%;
	background-color: #f2f3f7;
	height: 44px;
	border-top: 1px solid #e7eafa;
	position: fixed;
    bottom: 0;
    z-index: 100;
}


footer > .footer_left {
	width:224px;
}
footer > .footer_right {
	width:224px;
}


footer > div > div {
    height: 44px;
    --display: flex;
    --flex-direction: row;
    --justify-content: space-between;
	display: inline-block;
}

footer .footer_left {
	color: #9198a0;
	font-family: Cor_Light;
	font-size: 16px;
	margin-top: 10px;
    padding-left: 15px;
	width:260px;
}

footer .footer_left > i {
	font-style: normal;
	margin-left: 17px;
}

footer .footer_middle {
	margin-top: 10px;
}

footer .footer_middle > a {
	color: #0097fd;
	font-family: Cor_Light;
	font-size: 16px;
	font-weight: 700;
}

footer .footer_middle > a:hover {
	color: #0048AA;
	text-decoration: none;
}
footer .footer_middle > a:hover > i {
	background-image: url(res/icons/arrow_blue_2_h.png);
}

footer .footer_middle > a > i {
	display: inline-block;
    margin-left: 2px;
    width: 18px;
    height: 18px;
    background-image: url(res/icons/arrow_blue_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
	margin-bottom: -4px;
}

footer .footer_right{
	color: #9198a0;
	font-family: Cor_Light;
	font-size: 16px;
	margin-top: 10px;
    padding-right: 15px;
	float:right;
}

body>.main_holder>.main_part{
	background-color: #11ffee00;
	margin-top: -3px;
}

.main_part div.child_1{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.main_part div.child_1>div{
	color: #001424;
	font-size: 27px;
	font-weight: 700;
	font-family: Cor_Light;
}
/*
.main_part div.child_1>a{
	display: block;
	width: 123px;
	height: 44px;
	border-radius: 4px!important;
	background-color: #E30611;
	border: none;
	color: #fff;
	padding-top: 8px;
	margin-left: 673px;
    margin-right: 0;
}

.main_part div.child_1>a>i{
	display: inline-block;
    margin-left: 14px;
	margin-right: 12px;
    width: 16px;
    height: 16px;
    background-image: url(res/img/add.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
	margin-bottom: -4px;
}
.main_part div.child_2{
	background-color: #fff;
	width: 992px;
	height: 180px;
	border-radius: 8px!important;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 12px;
	margin-bottom: 12px;
}

.main_part div.child_2>div:nth-child(1),
.main_part div.child_2>div:nth-child(2),
.main_part div.child_2>div:nth-child(3) {
	margin-left: 12px;
	margin-top: 12px;
	border-radius: 4px!important;
	border: 1px solid #e2e5eb;
	width: 235px;
	height: 156px;
}

.sum_1, .sum_2, .sum_3{
	font-family: Cor_Light;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin-top: 21px;
}

.sum_1{
	color: #fac031;
}

.sum_2{
	color: #f3555d;
}

.sum_3{
	color: #00c19b;
}

.text_1, .text_2, .text_3{
	color: #9198a0;
	font-family: Cor_Bold;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	margin-left: 18px;
    margin-top: -6px;
}

.text_bot_1, .text_bot_2, .text_bot_3{
	color: #9198a0;
	font-family: Cor_Bold;
	font-size: 12px;
	line-height: 22px;
	margin-left: 18px;
	width: 85%;
	margin-top: 20px;
	padding-top: 10px;
}

.text_bot_1{
	border-top: 2px solid #fac031;
}

.text_bot_2{
	border-top: 2px solid #f3555d;
}

.text_bot_3{
	border-top: 2px solid #00c19b;
}
/*
.main_part div.child_2>div:nth-child(4)>a{
	display: block;
	width: 226px;
	height: 44px;
	border-radius: 4px!important;
	border: 2px solid #eaebef;
	color: #001424;
	font-size: 14px;
	font-family: Cor_Bold;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 12px;
	font-weight: 400;
	line-height: 20px;
}


.main_part div.child_2>div:nth-child(4)>a:hover{
	text-decoration: none;
	color: #E30611;
}

.main_part div.child_2>div:nth-child(4)>a:nth-child(1):hover>i{
	background-image: url(res/img/cal_act.svg);
}

.main_part div.child_2>div:nth-child(4)>a:first-child{
	margin-top: 12px;
}

.main_part div.child_2>div:nth-child(4)>a:first-child>i{
	display: inline-block;
	margin-right: 12px;
    width: 16px;
    height: 14px;
    background-image: url(res/img/cal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
	margin-bottom: -2px;
}

.main_part div.child_2>div:nth-child(4){
	margin-left: 12px;
}
.main_part div.child_3{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 13px;
	position: unset;
	background-color: #fff0;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 13px;
}

.main_part div.child_3>form>input{
	width: 424px;
	height: 44px;
	border-radius: 4px!important;
	border: 2px solid #eaebef;
	background-color: #ffffff;
	padding-left: 12px;
	font-family: Cor_Light;
	font-size: 16px;
}

.main_part div.child_3>form>button{
	width: 70px;
    height: 42px;
    border-radius: 4px!important;
    background-color: #e30611;
    display: inline-block;
    float: right;
    margin-left: 8px;
    border-style: none;
	color: #fff;
}

.main_part div.child_3>.del,
.main_part div.child_3>.dot{
	display: inline-block;
	width: 44px;
	height: 44px;
	border: 2px solid #eaebef;
	background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
	background-color: #fff;
	border-radius: 4px!important;
}

.main_part div.child_3>.del{
	margin-left: 0px;
	background-image: url(res/img/excel.svg);
	margin-right: 0px;
	background-size: 30%;
}

.main_part div.child_3>.del:hover{
	background-image: url(res/img/excel_act.svg);
}

.main_part div.child_3>.dot{
	margin-left: 8px;
	background-image: url(res/img/dots_2.svg);
	margin-right: 393px;
}

.main_part div.child_3>.dot:hover{
	background-image: url(res/img/dots_2_act.svg);
}
*/
.table_holder{
	background-color: #fff;
    width: 100%;
    border-radius: 8px!important;
    margin-top: 7px;
	overflow-y: hidden;
	overflow-x: auto;
}


.table_holder::-webkit-scrollbar {
	height: 24px;
}
.table_holder::-webkit-scrollbar-thumb{
	height: 10px;
	background-color: #bbc2c8;
	border-radius: 10px!important;
	border: 7px solid #fff;
}
.table_holder::-webkit-scrollbar-track {
	background-color: #fff;
}

.table_holder>table>tbody>tr>th{
	font-family: Cor_Light;
	font-weight: 700;
	color: #9198a0;
	font-size: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 16px;
}

a[class^="tab_filter"]{
	display: inline-block;
	width: 13px;
	height: 13px;
	background-image: url(res/img/filter.png);
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.tab_filter_1{
	margin-left: 40px;
}

.tab_filter_2{
	margin-left: 24px;
}

.tab_filter_3{
	margin-left: 60px;
}

.tab_filter_4{
	margin-left: 64px;
}

.tab_filter_5{
	margin-left: 56px;
}


span[class^="tab_triang"]{
	display: flex;
	flex-direction: column;
	justify-content: center;
	float: right;
}

span[class^="tab_triang"]>a{
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
	display: inline-block;
	width: 8px;
	height: 4px;
}

span[class^="tab_triang"]>a:nth-child(2){
	background-image: url(res/img/tr_btm.png);
	margin-top: 3px;
}

span[class^="tab_triang"]>a:nth-child(1){
	background-image: url(res/img/tr_top.png);
}

.tab_triang_1{
	margin-top: -5px;
    margin-right: 5px;
}

.tab_triang_2{
	margin-top: -5px;
    margin-right: 5px;
}

.tab_triang_3{
	margin-top: 2px;
    margin-right: 5px;
}

.tab_triang_4{
	margin-top: -5px;
    margin-right: 5px;
}

.tab_triang_5{
	margin-top: 2px;
    margin-right: 5px;
}

.tab_triang_6{
	margin-top: 2px;
    margin-right: 5px;
}

.tab_triang_7{
	margin-top: 2px;
    margin-right: 5px;
}
/*
.table_holder>table>tbody>tr>th:nth-child(2){
	width: 98px;
}

.table_holder>table>tbody>tr>th:nth-child(3){
	width: 79px;
}

.table_holder>table>tbody>tr>th:nth-child(4){
	width: 88px;
}

.table_holder>table>tbody>tr>th:nth-child(5){
	width: 136px;
}

.table_holder>table>tbody>tr>th:nth-child(6){
	width: 89px;
}

.table_holder>table>tbody>tr>th:nth-child(7){
	width: 104px;
}

.table_holder>table>tbody>tr>th:nth-child(8){
	width: 110px;
}

.table_holder>table>tbody>tr>th:nth-child(9){
	width: 57px;
}

.table_holder>table>tbody>tr>th:nth-child(10){
	width: 110px;
}

.table_holder>table>tbody>tr>th:nth-child(11){
	width: 110px;
}
*/
.table_holder>table>tbody>tr>th, .table_holder>table>tbody>tr>td{
	border: 1px solid #f2f3f7;
	padding-left: 8px;
}

.table_holder>table>tbody>tr>td{
	font-family: Cor_Reg;
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.td_blue{
	color: #0097fd;
}

.table_holder .add_button {
	display: inline-block;
	width: 95px;
	height: 44px;
	border-radius: 4px!important;
	border: 2px solid #eaebef;
	--margin-left: -5px;
	text-align: center;
	text-decoration: none;
	color: #001424!important;
	font-size: 14px!important;
	font-family: Cor_Bold;
	font-weight: 400;
	padding-top: 9px;
}

.table_holder>table>tbody>tr .add_button:hover{
	color: #e30611!important;
}

input[type="checkbox"]{
	position: absolute;
	width: 0px;
	height: 0px;
}

input[type="checkbox"] + label{
    display: block;
    position: relative;
	margin-top: 0px;
    margin-bottom: -9px;
}

input[type="checkbox"] + label::before{
	content: '';
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 19px;
	height: 19px;
	background-image: url(res/img/check_empty.png);
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

input[type="checkbox"]:checked + label::before{
	background-image: url(res/img/check_full.png);
}
/*
.pag{
	display: block;
	margin-top: 14px;
	margin-bottom: 55px;
}
.main_part>.pag>a{
	display: block;
	width: 32px;
	height: 32px;
	color: #6e7782;
	font-size: 16px;
	border-style: none;
	text-align: center;
	padding-top: 3px;
	margin-top: 5px;
}

.main_part>.pag>a:hover{
	text-decoration: none;
}

.main_part>.pag>a:nth-child(1){
	border-radius: 8px!important;
	border: 1px solid #e30611;
	color: #e30611;
}

.main_part>.pag>div{
	color: #6e7782;
	font-size: 16px;
	font-family: Cor_Light;
	margin-left: 563px;
}

.main_part>.pag>div>select{
	display: inline-block;
	height: 44px;
	width: 90px;
	margin-left: 10px;
	border-radius: 4px!important;
	border: 2px solid #e2e5eb;
	background-color: #fff;
	background-image: url(res/img/triangle_bottom_act.svg);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
	-webkit-appearance: none;
	padding-left: 15px;
	color: #001424;
	font-family: Cor_Reg;
}
*/
/*
.bottom_but>div>label{
	margin-top: 21px;
	margin-right: 25px;
	margin-left: 12px;
}

.bottom_but>div:nth-child(2){
	color: #001424;
	font-size: 14px;
	font-family: Cor_Light;
	padding-top: 20px;
	margin-right: 76px;
}

.bottom_but>div:nth-child(3){
	color: #001424;
	font-size: 14px;
	font-family: Cor_Light;
	padding-top: 20px;
}

.bottom_but>div:nth-child(4){
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
/*
.bottom_but>div:nth-child(4)>a{
	display: block;
	text-align: center;
	border-radius: 4px!important;
    border: 2px solid #eaebef;
    text-decoration: none;
    color: #001424;
    font-size: 14px;
    font-family: Cor_Bold;
    font-weight: 400;
	font-size: 14px!important;
    padding-top: 8px;
	height: 44px;
	margin-right: 12px;
	margin-top: 8px;
}

.bottom_but>div:nth-child(4)>a:nth-child(1){
	width: 105px;
	margin-left: 55px;
}

.bottom_but>div:nth-child(4)>a:nth-child(1)>i{
	display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(res/img/print.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 12px;
    margin-bottom: -2px;
}

.bottom_but>div:nth-child(4)>a:nth-child(2){
	width: 127px;
}

.bottom_but>div:nth-child(4)>a:nth-child(2)>i{
	display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(res/img/send.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 12px;
    margin-bottom: -2px;
}

.bottom_but>div:nth-child(4)>a:nth-child(3){
	width: 127px;
}

.bottom_but>div:nth-child(4)>a:nth-child(3)>i{
	display: inline-block;
    width: 16px;
    height: 11px;
    background-image: url(res/img/check_2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 12px;
    margin-bottom: -2px;
}

.bottom_but>div:nth-child(4)>a:nth-child(4){
	width: 113px;
}

.bottom_but>div:nth-child(4)>a:nth-child(4)>i{
	display: inline-block;
    width: 14px;
    height: 16px;
    background-image: url(res/img/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 12px;
    margin-bottom: -2px;
}

.bottom_but>div:nth-child(4)>a:nth-child(5){
	width: 86px;
	padding-left: 17px;
}

.bottom_but>div:nth-child(4)>a:nth-child(5)>i{
	display: inline-block;
    width: 14px;
    height: 8px;
    background-image: url(res/img/triangle_bottom.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 12px;
	margin-right: 12px;
}

.bottom_but>div:nth-child(4)>a:nth-child(1):hover, .bottom_but>div:nth-child(4)>a:nth-child(2):hover, .bottom_but>div:nth-child(4)>a:nth-child(3):hover, .bottom_but>div:nth-child(4)>a:nth-child(4):hover, .bottom_but>div:nth-child(4)>a:nth-child(5):hover{
	color: #e30611;
}

.bottom_but>div:nth-child(4)>a:nth-child(1):hover i{
	background-image: url(res/img/print_act.svg);
}

.bottom_but>div:nth-child(4)>a:nth-child(2):hover i{
	background-image: url(res/img/send_act.svg);
}

.bottom_but>div:nth-child(4)>a:nth-child(3):hover i{
	background-image: url(res/img/check_2_act.svg);
}

.bottom_but>div:nth-child(4)>a:nth-child(4):hover i{
	background-image: url(res/img/delete_act.svg);
}

.bottom_but>div:nth-child(4)>a:nth-child(5):hover i{
	background-image: url(res/img/triangle_bottom_act.svg);
}
*/

/* MXFI */
input[type="checkbox"]{
	position:relative;
}
table tr th, .table_holder > table tr.heading th.sorting a {
	color: #9198a0;
	font-size:14px;
	font-weight:400;
	font-family: Cor_Reg;
}
table thead .sorting .desc {
	background: url('res/icons/sort_desc.png') no-repeat center right!important;
	background-size: 15px;
}
table thead .sorting {
	background: url('res/icons/sort_both.png') no-repeat center right!important;
	background-color: rgba(0, 0, 0, 0);
	background-size: 15px;
}
table thead .sorting .asc {
	background: url('res/icons/sort_asc.png') no-repeat center right!important;
	background-size: 15px;
}
.table_holder > table th,
.table_holder > table td {
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid #f2f3f7;
}
/* per-page */
.main_part .pag > div {
	color: #6e7782;
	font-size: 16px;
	font-family: Cor_Light;
	display: inline-block;
}
.main_part .pag > div.per-page-text {
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	padding-right: 10px;
}
.main_part .pag > div.per-page-select {
	display: inline-block;
	width: 90px;
}

.main_part .pag > div > select {
	display: inline-block;
	height: 44px;
	width: 90px;
	margin-left: 10px;
	border-radius: 4px!important;
	border: 2px solid #e2e5eb;
	background-color: #fff;
	background-image: url(res/img/triangle_bottom_act.svg);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
	-webkit-appearance: none;
	padding-left: 15px;
	color: #001424;
	font-family: Cor_Reg;
}
/* pagination */
.pag {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 11px;
	padding-left:0;
	margin-bottom: 55px;
}
.main_part .pag .active {
	border-radius: 8px!important;
	border: 1px solid #e30611;
	color: #e30611;
}
.main_part .pag .active a {
	color: #e30611;
}
.main_part .pag > li {
	display: block;
	width: 32px;
	height: 32px;
	color: #6e7782;
	font-size: 16px;
	border-style: none;
	text-align: center;
	padding-top: 3px;
	margin-top: 5px;
}
.main_part .pag > li.prev, .main_part .pag > li.next {
	display: none;
}
/* summary-select */
.bottom_but {
	--display: flex;
	--flex-direction: row;
	--justify-content: flex-start;
	display: block;
	width: 100%;
	height: 60px;
	margin-top: 13px;
	background-color: #fff;
	border-radius: 8px!important;
	position: fixed;
	bottom: 0;
	z-index: 6;
	padding:10px;
}
.bottom_but > div {
	display: inline-block;
}
.bottom_but .actions-many-items {
	float:right;
}
.bottom_but .actions-many-items > a,
.bottom_but .dropup {
	display: block;
	margin-left: 10px;
	float: left;
}
.ico-print {
	background-image: url(res/img/print.svg);
}
.ico-send {
	background-image: url(res/img/send.svg);
}
.ico-check {
	background-image: url(res/img/check_2.svg);
}
.ico-trash {
	background-image: url(res/img/delete.svg);
}
.ico-download {
    background-image: url(res/img/download.svg);
}
.ico-copy {
    background-image: url(res/img/copy.svg);
}
.ico-check_2 {
    background-image: url(res/img/check_2.svg);
}
.ico-cancel {
    background-image: url(res/img/cancel.svg);
}
*:hover>.ico-print {
    background-image: url(res/img/print_act.svg);
}
*:hover>.ico-send {
    background-image: url(res/img/send_act.svg);
}
*:hover>.ico-check {
    background-image: url(res/img/check_2_act.svg);
}
*:hover>.ico-trash {
    background-image: url(res/img/delete_act.svg);
}
*:hover>.ico-download {
    background-image: url(res/img/download_act.svg);
}
*:hover>.ico-copy {
    background-image: url(res/img/copy_act.svg);
}
*:hover>.ico-check_2 {
    background-image: url(res/img/check_2_act.svg);
}
*:hover>.ico-cancel {
    background-image: url(res/img/cancel_act.svg);
}

.bottom_but div.checker-wrap {
	margin-top: 9px;
}

.bottom_but .dropup {
	width: 86px;
}
.bottom_but .total-count-select {
	width:100px;
}

/* _MXFI */

/* BLOCKS */
div.title {
	color: #001424;
	font-size: 27px;
	font-weight: 700;
	font-family: Cor_Light;
}

/* ELEMENTS */
.btn-mts {
	height: 44px;
	border-radius: 4px!important;
	border: none;
	text-decoration: none;
	padding:10px 20px;
	font-family: Cor_Reg !important;
	font-size:14px;
	line-height:20px;
	text-align: center;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.btn-mts > i.material-icons {
	display: inline-block;
	margin-right: 6px;
    vertical-align:middle;
}
.btn-mts > i:not(.material-icons) {
    display: inline-block;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align:middle;
}
.btn-mts > i.plus {
	background-image: url(res/img/add.svg);
}
.btn-mts-red {
	background-color: #E30611;
	color: #fff;
    border: 2px solid transparent;
}
.btn-mts-red:hover, .btn-mts-red:active, .btn-mts-red:focus {
	background-color: #c90000!important;
	color: #fff;
	text-decoration: none;
}
.btn-mts-white {
    background-color: #fff;
	border: 2px solid #eaebef!important;
	color: #001424!important;
}
.btn-mts-white:hover, .btn-mts-white:active, .btn-mts-white:focus {
    background-color: #fff;
	text-decoration: none;
	color: #E30611!important;
}
.btn-mts-white > i.plus {
    background-image: url(res/icons/plus.png);
}
.btn-mts-gray {
	border: 2px solid #eaebef!important;
	color: #001424!important;
}
.btn-mts-gray:hover, .btn-mts-gray:active, .btn-mts-gray:focus {
	text-decoration: none;
	background-color: #f2f3f7;
}
.btn-mts-calendar {
	border: 2px solid #eaebef!important;
	color: #001424!important;
}
.btn-mts-calendar:hover, .btn-mts-calendar:active, .btn-mts-calendar:focus {
	text-decoration: none;
	color: #fff!important;
	background-color: #001424!important;
}
.btn-mts-calendar > i.cal {
	background-image: url(res/icons/calendar.png);
}
.btn-mts-calendar:hover > i.cal, .btn-mts-calendar:focus > i.cal, .btn-mts-calendar:active > i.cal {
	background-image: url(res/icons/calendar_act.png);
}

.small-btn-mts {
	display: inline-block;
	width: 44px;
	height: 44px;
	border: 2px solid #eaebef;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40%;
	background-color: #fff;
	border-radius: 4px!important;
}
.small-btn-mts:hover,
.small-btn-mts:active,
.small-btn-mts:focus {
	background-color: #f2f3f7;
}
.small-btn-mts.del{
	margin-left: 0;
	background-image: url(res/img/excel.svg);
	margin-right: 0;
	background-size: 30%;
}
.small-btn-mts.dot{
	background-image: url(res/img/dots_2.svg);
}

/* checkbox */
div.checker input {
	cursor: pointer!important;

}
div.checker > span {
	width:18px;
	height:18px;
	background-image: url("res/icons/chekbox.png");
	background-position: 0 0 !important;
}
div.checker > span.checked {
	width:18px;
	height:18px;
	background-image: url("res/icons/ckeckbox_act.png");
	background-position: 0 0 !important;
}
div.checker.disabled span, div.checker.disabled.active span {
	background-image: url("res/icons/chekbox_disabled.png");
}
div.checker.disabled span.checked {
	background-image: url("res/icons/ckeckbox_act_disabled.png");
}
.red > div.checker > span.checked {
	background-image: url("res/icons/checkbox_act_red.png");
}
.black > div.checker > span.checked {
	background-image: url("res/icons/checkbox_act_black.png");
}
div.radio span {
	width:18px;
	height:18px;
	background-image: url("res/icons/radio.png");
	background-position: 0 0 !important;
}
div.radio span.checked {
	width:18px;
	height:18px;
	background-image: url("res/icons/radio_act.png");
	background-position: 0 0 !important;
}


/* * * */

.add_btn {
	display: block;
	float:right;
}

div.summary-block-mts {
	background-color: #fff;
	height: 180px;
	border-radius: 8px!important;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 12px;
	margin-bottom: 12px;
}
div.summary-block-mts > div {
	padding:0;
}

.summary-block-mts .sum {
	width: 85%;
	font-family: Cor_Bold;
	font-size: 32px;
	font-weight: 300;
	text-align: right;
	margin-top: 21px;
	margin-left: 18px;
}
.summary-block-mts ._yellow .sum {
	color: #fac031;
}
.summary-block-mts ._red .sum {
	color: #f3555d;
}
.summary-block-mts ._green .sum {
	color: #00c19b;
}
.summary-block-mts .text {
	width: 85%;
	color: #9198a0;
	font-family: Cor_Bold;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	margin-left: 18px;
	margin-top: -6px;
	text-align: right;
}
.summary-block-mts .text_bot {
	width: 85%;
	color: #9198a0;
	font-family: Cor_Bold;
	font-size: 12px;
	line-height: 22px;
	margin-left: 18px;
	margin-top: 20px;
	padding-top: 10px;
}
.summary-block-mts ._yellow .text_bot{
	border-top: 2px solid #fac031;
}

.summary-block-mts ._red .text_bot{
	border-top: 2px solid #f3555d;
}

.summary-block-mts ._green .text_bot{
	border-top: 2px solid #00c19b;
}
.summary-block-mts > div:nth-child(1),
.summary-block-mts > div:nth-child(2),
.summary-block-mts > div:nth-child(3) {
	margin-left: 12px;
	margin-top: 12px;
	border-radius: 4px!important;
	border: 1px solid #e2e5eb;
	height: 156px;
}

.search_form{
	display: block;
	background-color: #fff0;
	padding-top: 0px;
	padding-bottom: 0px;
	width:100%;
}
.search_form > form {
	text-align: right;
}
.search_form > form > input {
	display: inline-block;
}
.search_form > form > button {
	display: inline-block;
	float: right;
	margin-left: 8px;
}

/** ADAPTING */
@media (max-width: 1041px) {
	.bottom_but {
		width: 750px;
		position: absolute;
	}
	.bottom_but .btn-mts > .caption {
		display: none;
	}
}
@media (min-width: 1042px) {
	.search_form > form > input {
		width: 465px;
	}
	.summary-block-mts .sum {
		font-size:20px;
	}
	.bottom_but {
		width: 750px;
		position: fixed;
	}
	.bottom_but .btn-mts > .caption {
		display: none;
	}
}
@media (min-width: 1298px) {
	.search_form > form > input {
		width: 402px;
	}
	.summary-block-mts .sum {
		font-size:26px;
	}
	.bottom_but {
		width: 1006px;
		position: fixed;
	}
	.bottom_but .btn-mts > .caption {
		display: inline;
	}
}
@media (min-width: 1458px) {
	.search_form > form > input {
		width: 482px;
	}
	.summary-block-mts .sum {
		font-size:32px;
	}
	.bottom_but {
		width: 1166px;
		position: fixed;
	}
	.bottom_but .btn-mts > .caption {
		display: inline;
	}
}

/* calendar */
.daterangepicker .ranges {
	width:180px!important;
	font-family: Cor_Reg;
}
.daterangepicker .ranges .range_inputs {
	padding: 12px 0 12px 12px;
}
.daterangepicker .ranges li {
	background: none;
	border:  1px solid #fff !important;;
	padding: 6px 12px;
	margin:0;
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
	background: #f2f3f7 !important;
	border: 1px solid #f2f3f7 !important;
	color: #001424;
}
.daterangepicker .applyBtn {
	height: auto;
	padding: 5px 6px 6px 6px;
	background-color: #E30611;
	color: #fff;
	border-radius: 4px !important;
}
.daterangepicker .cancelBtn {
	height: auto;
	padding: 5px 6px 6px 6px;
	color: #001424;
	border-radius: 4px!important;
	float: right;
	margin-right: 12px;
}
.daterangepicker .applyBtn:hover,
.daterangepicker .applyBtn:active,
.daterangepicker .applyBtn:focus {
	background-color: #c90000!important;
	color: #fff;
	text-decoration: none;
}
.daterangepicker .cancelBtn:hover,
.daterangepicker .cancelBtn:active,
.daterangepicker .cancelBtn:focus {
	color: #001424;
	background-color: #f2f3f7;
}
.daterangepicker .calendar-date {
	border-radius: 4px!important;
}

/* OVERWRITE KUB STYLES */
a {
	color: #0097fd;
}
a:hover, a:focus, a:active {
	color: #0048aa;
}
.modal,
.modal-scrollable {
	border-radius: 12px!important;
}
.btn {
	height: 44px;
	border-radius: 4px!important;
	border: none;
	text-decoration: none;
	padding:10px 20px;
	font-family: Cor_Reg !important;
	font-size:14px;
	line-height:20px;
	text-align: center;
}
.btn.darkblue {
	border: 2px solid #eaebef!important;
	color: #001424!important;
	background-color: #fff;
}
.btn.darkblue:hover, .btn.darkblue:active, .btn.darkblue:focus {
	text-decoration: none;
	background-color: #f2f3f7;
}
.btn-primary {
	background-color: #E30611;
	color: #fff;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #c90000!important;
	color: #fff;
	text-decoration: none;
}
.control-label {
	color: #9198a0;
}
.control-data {
	font-size: 16px;
}
.dropup ul {
	border-radius: 12px!important;
}
#many-delete .form-body {
	font-size:24px;
}
#many-delete .col-xs-6 {
	padding-left: 6px;
	padding-right: 6px;
}
#many-paid-content .control-label {
	padding-top:6px;
}
.daterangepicker td.active {
	background-color: #e30611 !important;
	border-color: #e30611 !important;
	border-radius: 4px !important;
}
.daterangepicker td.active:hover {
	background-color: #c90000 !important;
	border-color: #c90000 !important;
}

.daterangepicker td.in-range {
	background: #f2f3f7!important;
}
.input-icon > i {
	margin-top:14px;
}
input[type="text"].form-control,
input.mts-text-input {
	height: 44px;
	border-radius: 4px!important;
	border: 2px solid #eaebef;
	background-color: #ffffff;
	padding-left: 12px;
	font-family: Cor_Reg;
	font-size: 16px;
}
.input-icon > input[type="text"].form-control {
	padding-left: 33px;
}
.datepicker .active {
	background-color: #e30611 !important;
	border-radius: 4px!important;
	color: #fff;
}
.datepicker .active:hover {
	background-color: #c90000 !important;
	color: #fff;
}
.daterangepicker.dropdown-menu {
	padding-left:0;
	padding-right:0;
}
.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
	margin-left:0;
	margin-right:0;
}

.dropdown-menu {
	font-family: Cor_Reg;
	font-weight: 400;
	border-radius: 8px!important;
}
.dropdown-menu li > a {
	color: #001424;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	color: #001424;
	background-color: #f2f3f7!important;
}

.select2-container {
	border-radius: 4px!important;
}
.select2-dropdown {
	border: 1px solid #e2e5eb!important;
	border-radius: 4px!important;
}
.select2-container--krajee .select2-results__option[aria-selected] {
	color: #001424;
}
.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
	color: #001424;
	background: #f2f3f7!important;
}
.select2-container--krajee .select2-results__option[aria-selected="true"] {
	color: #001424;
	background-color: #f2f3f7!important;
}
/* select2 */
.select2-selection {
	border-radius: 4px!important;
}
.select2-container .select2-selection--single {
	height: 44px;
	border: 2px solid #e2e5eb;
	padding: 8px 24px 8px 12px;
	font-size: 16px;
	font-family: Cor_Reg;
	font-weight: 400;
}
.select2-container--krajee .select2-selection--single .select2-selection__arrow {
	border-left: none;
	height: 16px;
	width:28px;
	background-image: url(res/icons/icon_dropdown.png) !important;
	background-repeat: no-repeat !important;
	margin-top: 18px;
}
.select2-container--krajee .select2-selection--single .select2-selection__arrow b {
	display: none;
}

.btn-sm {
	display: inline-block;
	width: 44px;
	height: 44px;
	border: 2px solid #eaebef;
	background-color: #fff;
	border-radius: 4px!important;
	color: #001424;
}
.btn-sm.pencil {
	background-image: url(res/icons/pencil.png);
	background-repeat: no-repeat;
	background-position: center;
}
.btn-sm:hover,
.btn-sm:active,
.btn-sm:focus {
	background-color: #f2f3f7;
}
/* blocks */
.portlet-title.profile__info {
	background-color: #fff;
	border-radius: 8px!important;
	padding: 18px 30px;
	margin-bottom: 20px;
}
.portlet-title > .caption {
	font-family: Cor_Reg;
	font-weight: 400;
	padding:0;
}
.portlet-title > .caption.big {
	font-size: 27px!important;
	line-height: 36px;
	padding-top: 12px;
}
.portlet > .portlet-title > .caption.promo-org {
	font-size: 16px!important;
	line-height: 24px;
	padding-top: 22px;
}
.portlet.box.gray {
	border: 1px solid #ddd;
}
.profile-form-tabs .accounts-list {
	padding:10px;
}
.profile-form-tabs .portlet {
	margin-bottom:0;
}
/* b1 */
.mts-block {
	background-color: #fff;
	border-radius: 8px!important;
	padding: 18px 30px;
	margin-bottom: 20px;
}
.mts-block > .portlet-title > .big {
	padding-bottom:12px;
}
.profile-form-tabs {
	padding: 18px 10px 10px 10px;
}
/* navs */
.nav-form-tabs.nav-tabs > li > a {
	padding: 10px 4px 11px;
	border: none;
	background-color: #fff;
	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
	margin:0 15px;
	color:#001424;
	text-decoration: none;
}
.nav-form-tabs.nav-tabs > li > a:hover {
	color: #e30611;
}
.nav-form-tabs.nav-tabs > li.active > a, .nav-form-tabs.nav-tabs > li.active > a:hover {
	color: #e30611;
	background: none;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 2px solid #e30611;
}
/* --- */

.tooltipster-box {
	border-color: #979797;
	border-radius: 8px!important;
}
.tooltipster-content {
	padding:15px 10px;
}
#config_items_box {
	padding: 10px 15px;
}
#config_items_box label {
	font-size:14px;
	font-family: Cor_Reg;
	font-weight: 400!important;
}
#config_items_box label:first-child {
	font-size: 16px;
	font-family: Cor_Bold;
	font-weight: 400!important;
}

.modal .table,
.modal-scrollable .table {
	border:none;
}
.modal .table thead > tr > th,
.modal-scrollable .table thead > tr > th {
	background-color: #fff!important;
}
.modal .table tbody > tr > td,
.modal-scrollable .table tbody > tr > td {
	font-size: 16px;
	background-color: #fff!important;
}
.modal tr.heading th.sorting a,
.modal-scrollable tr.heading th.sorting a,
.modal table.dataTable thead th, .modal table.dataTable tfoot th,
.modal-scrollable table.dataTable thead th, .modal-scrollable table.dataTable tfoot th {
	color: #9198a0;
	font-weight: 400;
}
select#grid_items_per_page option:hover {
	box-shadow: 0 0 10px 100px #008200 inset;
}

.dataTable {
	border:none;
}
.dataTable tr.heading > th {
	background-color: #fff!important;
}
.dataTable tbody > tr > td {
	font-size: 16px;
	background-color: #fff!important;
}
.dataTable tr.heading th.sorting a,
.dataTable thead th {
	color: #9198a0;
	font-weight: 400;
}
.table.dataTable thead th, table.dataTable tfoot th {
	font-weight: 400;
}
#form-update-company .form-control {
	width:100%;
}
.buh-info-edit .field-company-has_chief_patronymic {
	padding-left:0;
}
.mts-block .buh-mt {
	margin-top:40px;
}
.mts-block .buh-mt > div:first-child {
	margin-bottom:17px;
}
.mts-block .mt-20 {
	margin-top:20px;
}
.mts-block .form-group,
.mts-block .mb-15 {
	margin-bottom:15px;
}
.mts-block .box-pad-15 {
	padding-top: 7px;
}
.mts-block .company_img_dummy {
	display: table-cell;
	vertical-align: middle;
	height: 100px;
	width: 100%;
	padding: 20px;
}
.mts-block .portlet > .portlet-title {
	border-bottom: none;
}
.mts-block .field-company-ip_certificate_number table label {
	font-weight: 400;
}
.form-actions {
	margin-bottom:80px;
}
.light-box {
	padding: 15px;
	background-color: #fff;
	border-radius: 8px;
}

.pre-view-box {
	border-color: transparent;
}
.pre-view-box table tr th {
	color: #001424;
}
.invoice-view .status-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
.invoice-view .status-box>div {
	display: inline-block;
	white-space: nowrap;
}
.invoice-view .status-box>div.paid_sum {
	height: 44px;
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
}
.invoice-view .other-docs-box .btn-mts {
	font-size: 14px;
	color: #001424;
	font-family: Cor_Bold !important;
	text-align: left;
    justify-content: left;
}
.invoice-view .other-docs-box .btn-mts i.plus-circle {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(res/img/plus_2.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 12px;
}
.invoice-view .other-docs-box .btn-mts:hover i.plus-circle {
	background-image: url(res/img/plus_2_act.svg);
	transition: all ease .1s;
}
.invoice-view .doc-info-box {
	margin-top: 20px;
}
.invoice-view .doc-info-box p {
	margin: 7px 0 0;
	padding: 0;
	font-size: 14px;
	font-family: Cor_Bold;
	color: #9198a0;
}
.invoice-view .doc-info-box p .value-tag {
	color: #001424;
}
.invoice-view .doc-info-box .list-container .file {
	position: relative;
	padding: 0 20px;
}
.invoice-view .doc-info-box .list-container .file .icon.icon-paper-clip {
	position: absolute;
	left: 0;
	top: 5px;
}
.invoice-view .doc-info-box .list-container .file .icon.icon-close {
	position: absolute;
	right: 0;
	top: 5px;
}

.btn.document-file-scan-button  {
	display: none;
}

.btn.document-file-scan-button {
	display: inline-block;
	width: 44px;
	height: 44px;
	border-radius: 4px;
	border: 2px solid #e2e5eb;
	margin-top: 11px;
	padding: 10px;
	color: #001424;
	background-color: #fff;
}
.btn.document-file-scan-button:focus,
.btn.document-file-scan-button:active,
.btn.document-file-scan-button:hover {
	color: #E30611 !important;
	background-color: #fff !important;
}
#buttons-bar-fixed {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 45px;
    z-index: 9999;
    left: 0;
    right: 0;
    background-color: transparent;
}
#buttons-bar-fixed .main_part {
    width: auto;
    margin-left: 250px;
    padding: 0 12px;
    position: relative;
}
#buttons-bar-fixed .action-buttons-box {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.ico-btn {
	width: 44px;
	height: 44px;
	padding: 10px;
	text-align: center;
}
.ico-btn i {
	margin: 0 auto;
}
.contractor-info {
	min-height: 216px;
	margin-top: 20px;
}
.contractor-info td {
	padding: 5px 10px;
}

.contractor-view .nav-form-tabs.nav-tabs > li > a {
	background-color: transparent;
}
#contractor-menu li.dropdown.tab-label-dropdown a.dropdown-toggle {
	border-width: 0;
}
#contractor-menu li.dropdown.tab-label-dropdown.active a.dropdown-toggle {
	border-width: 0;
	color: inherit;
}
.summary-block-item {
	margin-left: 12px;
	margin-top: 12px;
	border-radius: 4px!important;
	border: 1px solid #e2e5eb;
	height: 156px;
}
.contractor-view .summary-block-item.overdue {
	font-size: 14px;
	line-height: 20px;
}
.contractor-view .right-btn-box {
	width: 235px;
	position: absolute;
	top: 0;
	right: 0;
}
.contractor-view .right-btn-box {
	width: 235px;
	position: absolute;
	top: 0;
	right: 0;
}
.contractor-view .actions .btn-mts.ico-btn {
	margin-right: 10px;
}
.contractor-view .right-btn-box .btn-mts {
	position: relative;
}
.contractor-view .right-btn-box .btn-mts i {
	position: absolute;
	left: 20px;
	top: 8px;
}
.contractor-view .right-btn-box .btn-mts i.cal {
	width: 18px;
	height: 18px;
	top: 10px;
}
