
.pattern-view .step-cell-inner {
    position: relative;
    line-height: 12px;
    width: 30px;
    height: 20px;
    text-align: center;
}
.pattern-view .step-cell-inner .bullet {
    font-size: 24px;
    line-height: 8px;
    color: #c04f4c;
}
.pattern-view .step-cell-inner.max .text {
    font-weight: bold;
}
.pattern-view .step-cell-inner.max .bullet {
    color: #44b6ae;
}

#segmentation-grid {
    overflow: auto;
}

.import-xls-button {
    width: 200px!important;
    margin-right: 20px;
    padding: 7px 14px;
}
.table.table-bordered thead > tr.bb > th {
    border-bottom: 1px solid #ddd!important;
}