.payment-type {
    /* background: #f2f2f2;
     padding: 10px 3px;
     height: 100%;
     min-height: 170px;*/
}

.bg_payment {
    background: #f2f2f2;
}

.bg_payment .title {
    margin: 0px 5px;
}

.payment-type-table td:last-child {
    border-right: none;
}

.payment-type .title {
    /*height: 4em;*/
}

.payment-type .title label {
    text-align: center !important;
    padding: 15px 5px;
    width: 100%;
    margin: 5px auto;
    white-space: normal;
}

.payment-type-table {
    /*border-collapse: separate;
    /* border-spacing: 10px; */
    /* margin-top: -10px; */
    /*width: 74%;*/
}

/*.payment-type-table td {
    vertical-align: top;
    height: 100%;
    width: 35.1%;
    border-right: 30px solid #fff;
    background-color: #F2F2F2;
}*/

.payment-type .title button {
    background: #34cc67;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
}

.payment-type_text_container {
    margin: 0% 3.5%;
    font-size: 12px;
    line-height: 18px;
}

.payment-type_text_container label {
    /*margin: 5% 0%;*/
    font-size: 12px;
}

.payment-type_text_container .field-paymentmethodform-createinvoice {
    font-size: 12px;
}

.promo-code-tariff {

}

.subscr-tariff-blk {
    overflow: hidden;
}

.sum_payment_amount p {
    line-height: 30px;
    overflow: hidden;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 10px;
}

.subscribe-tariff button.btn {
    background-color: #DFBA49;
    color: #ffffff;
    padding: 25px 0px;
}

.sum_btn {
    border-width: 0;
    padding: 5px 17px;
    font-size: 20px;
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*margin-left: 148px;*/
    text-shadow: none;
    vertical-align: bottom;
    color: #333333;
    background-color: rgba(69, 182, 175, 0);
}

.sum_btn:hover, .sum_btn:visited, .sum_btn:focus, .sum_btn:active {
    background-color: rgba(69, 182, 175, 0) !important;
    color: #333333 !important;
    border: none;
    outline: none;
    box-shadow: none;
}

.payment-type .btn-success {
    color: white;
    background-color: #45b6af;
    border-color: #3ea49d;
}

.act_promo_code_container {
    margin-top: 15px;
}

.error_msg {
    line-height: 34px;
    float: right;
}

.subscribe-tariff button.bg_but_color {
    background-color: #45B6AF !important;
    color: #fff !important;
}

.sp_weight {
    font-weight: 800;
    font-size: 12px;
}

.pro-cod_input input {
    margin: 0;
    width: 100%;
}

.subscribe-tariff button.color-www {
    background-color: #E4E4E4;
    color: #333333;
}

.pay_img_cont {
    margin-top: 15px;
    margin-right: 45px;
}

.fs-big {
    font-size: 2.1em;
}

.fs-mini {
    font-size: 1.9em;
    /*vertical-align: -webkit-baseline-middle;*/
}

.bg_payment .title {
    display: table;
    padding: 5px 0px;
}

.bg_payment .title label {
    display: table-cell;
    vertical-align: middle;
}

.physical {
    display: none;
}

.subscribe-tariff-payment .form-group {
    margin-right: 0;
    margin-left: 0;
}

.reward-actions-column span {
    font-size: 1.5em;
    line-height: 1.3;
}

.reward-actions-column a span {
    color: #000000;
}

.reward-actions-column a {
    cursor: pointer;
}

.form-create-partner div.required label.control-label:after {
    content: "*";
    color: red;
}

.navbar-company li:hover {
    border-bottom: 3px solid #4276a4;
}

.navbar-company li.active {
    border-bottom: 3px solid #2d5f8b;
}

.navbar-company li {
    height: 39px;
}

.navbar-company li a {
    font-size: 20px;
    top: -5px;
    color: #555;
    background-color: transparent !important;
    background-image: none;
    box-shadow: none;
}

.field-apipartners-api_key .icon-refresh {
    position: absolute;
    right: 38px;
    z-index: 1111;
    top: 7px;
    font-size: 18px;
    cursor: pointer;
}

.wimax_button.spinner-button .ladda-spinner {
    right: -12px!important;
}