/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/
.page-content{
    min-height: 300px !important;
}
.btn._block {
	display: block;
}

._nopad {
	padding: 0;
}

._info-panel {
	margin-bottom: 15px;
}

._info-panel .btn {
	color: #333;
	font-size: 12px;
	min-width: 162px;
}

._info-panel .btn._auto {
	min-width: 50px;
}

._info-panel .btn small {
	color: #999;
}

._period-select {
	margin-bottom: 15px;
	display: inline-block;
	position: relative;
	margin-left: 15px;
}

._period-select .dropdown-toggle {
	background: none repeat scroll 0 0 #eee;
	border: 1px solid #999;
	color: #333;
	display: inline-block;
	padding: 5px 40px 3px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
._period-select .dropdown-toggle .arrow:before {
	float: right;
	width: 10px;
	text-align: center;
	margin-top: -1px;
	margin-left: 5px;
	display: inline;
	font-size: 16px;
	font-family: FontAwesome;
	height: auto;
	content: "\f104";
	font-weight: 300;
	text-shadow: none;
	margin-right: -25px;
}

._period-select .dropdown-toggle:hover {
	text-decoration: none;
}

._period-select.dropdown > .dropdown-menu:before, ._period-select .dropdown-toggle > .dropdown-menu:before, ._period-select .btn-group > .dropdown-menu:before {
	border-bottom: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	content: "";
	display: inline-block !important;
	left: 9px;
	position: absolute;
	right: auto;
	top: -8px;
}

._period-select.dropdown > .dropdown-menu, ._period-select .dropdown-toggle > .dropdown-menu, ._period-select .btn-group > .dropdown-menu {
	margin-top: 0;
}
._period-select .dropdown-menu {
	width: 100%;
	border: 1px solid #ddd;
	padding: 0;
	margin: 0;
	background: none repeat scroll 0 0 #eee;
}
._period-select .dropdown-menu li {
	padding: 4px 0;
	text-align: center;
	border: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
._period-select.dropdown > .dropdown-menu:after, ._period-select .dropdown-toggle > .dropdown-menu:after, ._period-select .btn-group > .dropdown-menu:after {
	border-bottom: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	content: "";
	display: inline-block !important;
	left: 10px;
	position: absolute;
	right: auto;
	top: -7px;
}
._panel {
	box-shadow: none;
	filter: none;
	font-size: 14px;
	outline: medium none !important;
	padding: 7px 14px;
	text-shadow: none;
	margin-bottom: 25px;
}
._panel label {
	color: #fff;
}
.darkblue {
	background: #4276a4;
}
.page-header-date {
	display: block;
	float: left;
	height: 46px;
	line-height: 46px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}

.table.customers_table > thead > tr > th {
	vertical-align: top;
}
li.header_icons i {
	color: #6ba1d1;
	display: inline-block;
	font-size: 21px;
	padding: 11px 10px 9px;
	text-align: center;
	width: 1.25em;
	cursor: pointer;
}
.page-container {
	padding-bottom: 35px !important;
}
.page-footer-inner a {
	padding-left: 35px;
	color: #c9dae9;
}
/*.col-md-3 {*/
	/*width: 30%;*/
/*}*/

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 35px;
}
.page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 35px;
	background-color: #4276a4;
}
._info-panel .col-md-1 {
	width: 4%;
}
._info-panel  .yellow.btn {
	background-color: #dfba49;
}
._info-panel  .red.btn {
	background-color: #f3565d;
}
._info-panel  .green.btn {
	background-color: #45b6af;
}
._info-panel .hint  {
	font-size: 14px;
	line-height: 22px;
}
.radio-list > label.radio-inline:last-child {
	margin-right: 25px;
}
.portlet.box.darkblue {
	border: 1px solid #4276a4;
	border-top: 0;
}
.page-header.navbar {
	background-color: #2d5f8b;
}
.dropdown-menu .menu_item {
	display: inline-block;
	width: 110px;
	font-size: 12px;
}
.dropdown-menu.with_pads {
	width: 250px;
}
.dropdown-menu.with_pads li {
	padding: 4px 10px;
}
.dropdown-menu.with_pads li.title {
	text-transform: uppercase;
}

.dashboard-stat.blue-madison {
	background-color: #578ebe;
}
.dashboard-stat.blue-madison .visual > i {
	color: #ffffff;
	opacity: 0.1;
}
.dashboard-stat.blue-madison .more {
	background-color: #4884b8;
	color: #ffffff;
}

.dashboard-stat._yellow {
	background-color: #dfba49;
}
.dashboard-stat._yellow .more {
	background-color: #d4af46;
	color: #ffffff;
}
.dashboard-stat._red {
	background-color: #f3565d;
}
.dashboard-stat._red .more {
	background-color: #e25157;
	color: #ffffff;
}
.dashboard-stat._green {
	background-color: #45b6af;
}
.dashboard-stat._green .more {
	background-color: #43a9a2;
	color: #ffffff;
}
.dashboard-stat._yellow .visual > i, .dashboard-stat._red .visual > i, .dashboard-stat._green .visual > i {
	color: #ffffff;
	opacity: 0.1;
}
.dashboard-stat._yellow .details .number, .dashboard-stat._red .details .number, .dashboard-stat._green .details .number {
	color: #ffffff;
}
.dashboard-stat._yellow .details .desc, .dashboard-stat._red .details .desc, .dashboard-stat._green .details .desc {
	color: #ffffff;
	opacity: 1;
}
.page-header.navbar .page-logo {
	background: #4276a4;
}
/*
.page-header.navbar .top-menu .navbar-nav > li.dropdown.header_icons > .dropdown-toggle {
	padding: 0 10px 2px 0;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.header_icons > .dropdown-toggle > i {
	font-size: 23px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle{
    padding: 12px 10px 14px;
}
.page-header.navbar .top-menu .logout-btn{
    padding: 11px 10px 10px !important;
}
#header_notification_bar{
    height: 43px;
}
#header_notification_bar .icon-bell{
    font-size: 19px;
}
#header_notification_bar a .badge{
    top: 7px !important;
}
*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle{
    padding: 13px 10px 8px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i{
    font-size: 20px !important;
}
.page-header.navbar .dropdown-toggle{
    height: 46px;
}
.dropdown .icon-logout{
    font-size: 19px !important;
}
.dashboard-stat .details .number .rur {
	font-family: 'PT Sans', serif;
}
.btn-calendar{
    padding-top: 11px!important;
    padding-bottom: 11px!important;
}
.daterangepicker .ranges{
    width: 170px !important;
}
label, .edit-customer label{
    text-align: left !important;    
}
.create-counterparty .control-label, .edit-customer .control-label, .edit-profile .control-label{
    font-weight: bold;
}
.create-counterparty .type-radio, .edit-customer .type-radio{
    margin-left: 15px;
}
.create-counterparty .decline,
.in-invoice .decline,
.page-good .decline,
.create-out-invoice .decline,
.payment-order .decline,
.edit-profile .decline{
    margin-right: 103px !important;
}
.label-width{
    width: 212px;
}
.edit-profile .label-width{
	width: 200px;
}
.profile-setup .label-width{
    width: 220px;
}
.create-out-invoice .label-width{
	width: 140px;
}
 .small-boxes .label-width{
    width: 90px;
}
.form-group-taxation .col-md-4,.form-group-status .col-md-4, .form-group-type .col-md-4, .form-group-type_account .col-md-4{
    width: 160px;
}
.form-group-type_account .type-radio .col-md-4{
	margin-left: -56px;
}
@media (min-width: 1024px){
    .field-width{
        width: 42%;
        padding-right: 15px;
        padding-left: 0;
    }
    .small-boxes .field-width{
        width: 60%;
    }
}
@media (min-width: 1280px){
    .field-width{
        width: 55%;
    }
    .small-boxes .field-width{
        width: 67%;
    }
}
@media (min-width: 1280px){
    .out-invoice .block-left{
        width: 60%;
    }
    .out-invoice .control-panel{
        width: 40%;
    }
}
@media (min-width: 1366px){
    .field-width{
        width: 60%;
    }
    .small-boxes .field-width{
        width: 72%;
    }
}
@media (min-width: 1440px){
    .field-width{
        width: 61%;
    }
}
@media (min-width: 1492px){
    .field-width{
        width: 66%;        
        padding-right: 15px;
    }
    .small-boxes .field-width{
        width: 70%;
        padding-right: 15px;
    }
    .box-details .label-width{
        width: 34%;
    }
    .small-boxes .label-width{
        width: 30%;
    }
}
.edit-customer .control-label span{
    font-weight: normal;
}
.edit-customer__info .form-group .type-radio .radio-inline, 
.box-name .match-with-leader{
    height: 34px;
}
.create-counterparty .form-actions button[type="submit"],
.edit-customer .form-actions,
.create-out-invoice .form-actions,
.text-white {
    color: white;
}
.edit-customer .form-actions .btn-cancel{
    margin-right: 10px;
}
.small-boxes .checkbox-inline{
    padding-left: 15px!important;
}
.small-boxes .box-leader .portlet-body{
    padding-top: 52px;
}
.heading th{
    vertical-align: middle !important;
}
.documents_table tr td:nth-child(2),
.documents_table tr td:nth-child(6),
.documents_table tr td:nth-child(7){
    color: blue;
}
.red-alert{
    color: red;
}
.add-to-invoice button[type="submit"], #send button[type="submit"]{
    margin-right: 15px;
}

.add-to-invoice .checkbox-inline, #send  .row .checkbox-inline{
    padding-left: 5px !important;
}
.sub-menu-documents{
    display: block;
}
.sub-menu-documents li a{
    padding-left: 65px !important;
}
.customer .customer-info, .out-document .customer-info{
    margin-top: 5px;
    border: 1px solid #4276a4;
}
.icon-pencil{
    color: black;
}
.modal-dialog-middle{
    margin-top: 15%;
}
.customer-info .portlet-title{
    margin-bottom: 0px;
    border-bottom: none !important;
    padding-left: 5px;
}
.customer-info .portlet-title .caption,
.customer-characteristic,
.create-out-invoice .caption,
.create-out-invoice .control-label,
.bold-text{
    font-weight: bold !important;
}
.customer-info .portlet-title .caption{
    font-size: 21px;
}
.customer-info table td, out-invoice table td{
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    border-top: none !important;
}
.customer-info .actions{
    padding: 0 !important;
}
.back-to-customers{
    display: block;
    margin-bottom: 5px;
    margin-top: -13px;
}
.link-to-edit{
    background: url('.../assets/img/pencil.png') no-repeat;
    width: 10px !important;
    height: 10px !important;
}
.uneditable {
    color: #999;
}
.customer-align{
	margin-left: -15px;
}
.accounts-list .dropdown-menu{
/*    left: -18px;*/
    width: 100%;
    margin-top: 0;
}
.accounts-list .dropdown-menu-invoice{
    min-width:  137px;
}
.accounts-list .dropdown-menu-bill{
    min-width:  190px;
}
.accounts-list th{
    padding: 0 !important;
}
.accounts-list .sorting{
    padding-left: 10px !important;
}
.accounts-list .dropdown-toggle{
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
}
.payment-order #accounts-list tr td:first-child{
    text-align: center;
}
.payment-order #accounts-list #search{
    float: right;
    height: 34px;
    width: 171px;
}
.back-sort{
	background: url("assets/img/sort.png");
background-size: 20px;
background-repeat: no-repeat;
background-position: center right;
z-index: 100000;
}
.sort-icon{
    position: absolute;
    top: 12px;
    right: 5px;
}
.control-panel{
    color: white;
}
.control-panel .btn.green{
    margin-left: 10px;
}
.control-panel .btn:hover{
	color: white;
}
.control-panel .btn.yellow{
    width: 292px;
    margin-top: 10px;
}
.control-panel .btn-refresh{
    margin-top: 10px;
}
.control-panel .icon{
    margin-right: 10px;
	font-size: 17px;
}
.out-document .table-resume td, .create-out-invoice .table-resume td{
    border: none;
}
.out-document .table-resume {
	margin-bottom: 0 !important;
}
.out-document .customer-info .caption{
	width: 88%;
	line-height: 27px;
}
	
.action-buttons .btn{
	width: 100px;
    padding-left: 0;
    padding-right: 0;
/*	padding-left: 10px;*/
	color: white;
}    
.action-buttons .default{
	color: black;
}
#delete .form-body{
	margin-bottom: 15px;
	text-align: center;
	font-size: 16px;
}
#delete .form-actions .btn{
	width:80px;
	color:white;
}
.btn-status{
	width: 179px;
	margin-left:10px !important;
}
.create-out-invoice #account-number,
.out-act #account-number,
.payment-order #payment-order-number,
.payment-order #payment-order-vat,
.payment-order #payment-order-next,
.payment-order #payment-order-date{
	display: inline-block;
	width: 130px;
	margin-left: 5px;
	margin-right: 5px;
}
.payment-order #payment-order-date{
    width: 98px;
}
.payment-order #payment-order-vat{
    width: 150px;
}
.payment-prder-input-short{
    width: 170px !important;
}
.payment-order textarea{
    width: 96%;
    margin-left: 10px;
    margin-top: 10px;
}
.payment-order select{
    margin: 0 auto;
}
.payment-order input{
    height: 24px;
    display: inline-block;
    width: 98%;
}
.payment-order #payment-order-code,
.payment-order #payment-order-next{
    width: 40px;
}
.payment-order #payment-order-type,
.payment-order #payment-order-smth{
    width: 50px;
    height: 30px;
}
.payment-order .btn-add{
    margin-top: 8px;
}
.create-out-invoice #under-date{
	width: 130px;
}
.create-out-invoice .icon-close{
	margin-top: 7px;
	font-size: 20px;
	cursor: pointer;
}
.create-out-invoice .account_table td:first-child{
	text-align: center;
}
.create-out-invoice .btn-group .btn{
	width: 240px;
	margin-bottom: 5px;
}
.create-out-invoice .account_table tr td:nth-child(7),
.table-resume tr td{
    text-align: right;
}
.out-act_table tr td:nth-child(5),
.out-act_table tr td:nth-child(6){
    text-align: right;
}
.out-invoice_table tr td:nth-child(6),
.out-invoice_table tr td:nth-child(7){
    text-align: right;
}

.out-act .control-panel .btn-account{
    width: 179px;
}
.out-act .action-buttons .layout-left{
    width: 10%;
    min-height: 1px;
    float: left;
}
.out-act .action-buttons .layout-center{
    width: 60%;
    float: left;
}
.out-act .action-buttons .layout-right{
    width: 30%;
    float: right;
}
.out-act .control-panel{
	width: 313px;
	float: right;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.action-buttons .btn-cancel{
    margin-right: 10px;
}
@media (max-width: 1279px){
    .out-tn .wide_table{
        overflow-x: auto;
    }
}
.out-sf .wide_table{
    overflow-x: auto;
}
.out-sf .wide_table table{
    width: 1500px ;
}
.serveces-search{
	margin-top: 3px;
	margin-right: -5px;
}
.dropdown-filter{
    position: relative;
/*
	background:url('../../assets/img/sort.png');
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: center right 5px;
*/
}
th:focus{
    outline: 0;
}
.fa-filter{
    position: absolute;
    top: 31%;
    right: 3px;
    color: #b8b8b8;
}
.fa-filter.active{
    color: black;
}
.btn-signed{
    padding: 0;
    line-height: 17px;
	white-space: pre-line;
}
@media (min-width: 1280px){
	.page-good .control-label{
		width: 265px;
	}
}
.edit-profile .details .left-column .label-width{
	width: 80px;
}
.edit-profile .details .left-column .form-group:last-child .label-width{
	width: 370px;
}
.edit-profile .details .left-column .form-group:last-child .field-width{
	width: 120px;
}

.box-adress .match-with-leader{
    margin-top: 3px !important;
}
.box-adress .match-with-leader .checker{
    margin-right: 10px !important;
}
@media (max-width: 1142px){
    .box-adress .match-with-leader{
        font-size: 10px;
        padding-left: 0;
        margin-top: 6px !important;
    }
    .box-adress .match-with-leader .checker{
        margin-right: 5px !important;
    }
}
.edit-profile__info .label-width{
	width: 320px;
}
.edit-profile__info .type-radio{
	width: 58%
}
.edit-profile__info .type-radio .col-md-4{ 
	width: 100px;
	padding-left: 0;
	padding-right: 0;
}
.edit-profile__info .type-radio .col-md-4 .radio-inline{ 
	padding-left: 0;
}
.align-center{
	text-align: center;
}
.promo-org{
	margin-left: 20px;
	font-size: 14px !important;
}
.info-list{
    color: #5b9bd1;
    font-size: 16px;
}
.info-page .pager a{
    width: 240px;
}
.box-fio .label-width{
    width: 110px;
}
.box-fio .field-width{
    width: 200px;
}
.box-fio .column{
    width: 300px;
    float: left;
    padding-left: 15px;
}
.box-fio .initial-label{
    width: 185px;
}
.box-fio .initial-field{
    width: 70px;
}
.tools .expand{
    transform: rotate(-90deg);
}
.out-invoice .customer-info{
    min-height: 118px;
}
.good-service table td{
    text-align: left;
}
.payment-order .data-block{
    margin-right: 50px;
    text-align: center;
    line-height: 30px;
}
.payment-order .data-block__data{
    width: 100px;
    height: 30px;
    border-bottom: 1px solid #cecece;
}
.payment-order .summery{
    line-height: 30px;
}
.payment-order .summery__sum{
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid #cecece;
}
.payment-order .portlet-body{
/*    padding-left: 5px;*/
}
.height-30{
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.height-60{
    height: 60px;
    padding-left: 5px;
    padding-top: 5px;
}
.height-90{
    height: 90px;
    padding-left: 5px;
    padding-top: 5px;
}
.payment-order__table{
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
}
.table .left-block{
/*    border-right: 2px solid #cecece;*/
}
.payment-order .customer-info .caption{
    width: 70%;
}
.payment-order .enter-data{
    width: 62px;
    height: 35px;
    margin-right: 30px;
    border: 2px solid #cecece;
    border-top: none;
    text-align: center;
    padding-left: 0px;
}
.payment-order .border-bootom-right{
    border-bottom:2px solid #cecece;
    border-right:2px solid #cecece;
}
.payment-order .width-100{
    width: 100%;
}
.payment-order .width-70{
    width: 70%;
}
.payment-order .width-60{
    width: 60%;
}
.payment-order .width-50{
    width: 50%;
}
.payment-order .width-40{
    width: 40%;
}
.payment-order .width-30{
    width: 30%;
}
.payment-order .border-bootom{
    border-bottom:2px solid #cecece;
}
.payment-order .border-left{
    border-left:2px solid #cecece;
}
.payment-order .border-right{
    border-right:2px solid #cecece;
}
.payment-order .border-top{
    border-top:2px solid #cecece;
}
.created-by{
    margin-top: 20px;
}
.in-invoice{
    
}
.create-payment-order input{
    display: inline-block;
}
.title-buttons .btn{
    width: 130px;
}
.good-info{
    width: 238px;
}
.good-info td:first-child{
    width: 120px;
}
.load-in-invoice .label-width{
    width: 156px;
}
.load-in-invoice .form-group-type_account .type-radio .col-md-4{
    margin-left: -38px;
}
.page-content .control-panel-edit{
    width: auto;   
}
.invoice-download-btn{
    width: 242px !important;
}
.in-sfs .documents_table tr td:last-child,
.cash-movements-table tr td:nth-child(7),
.movements-table .account-mark{
    color: blue;
}
.cash-flow-table tr td:first-child,
.cash-flow-table tr:last-child{
    font-weight: bold;   
}
.cash-flow-table tr td:first-child{
    font-size: 14px;
}
.bank-widget {
    padding-right: 0;
}
.bank-widget .details{
    padding-right: 0;
}
.bank-widget .details .number{
    padding-top: 10px;
    font-size: 24px;
}
.bank-movements-table tr td:last-child{
    text-align: center;
}
.bank-movements-table tr td:last-child span{
    cursor: pointer;
}
.btn-group>.btn:hover{
    z-index: auto;
}
.cash-order-type{
    float: left;
    width: 130px;
    margin-right: 10px;
    font-weight: bold;
    
}
.create-cash-order .label-width{
    width: 160px;
}
.cash-order .control-panel{
    width: 190px;
    margin-top: 5px;
}
.cash-order form#edit-cash-order{
    border: 1px solid #2d5f8b;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 25px;
}
.cash-order form#edit-cash-order .label-width{
    width: 158px;
    font-weight: bold;
}
.edit-emloyee .label-width{
    width: 205px !important;
    font-weight: bold;
}
.cash-order form#edit-cash-order .caption{
    font-weight: bold;
}
#fire-date{
    position: relativere;
}
.reports table td{
    padding-bottom: 5px !important;
}
.reports .icon{
    margin-right: 5px;
    cursor: pointer;
}
.reports .action-add{
    margin-left: 10px;
}
.reports #report-head{
    margin-left: 3px;
}
.reports .action-buttons{
    padding: 11px;
}
/*html {*/
/*position: relative;*/
/*min-height: 100%;*/
/*}*/
/*body {*/
/* Margin bottom by footer height */
/*margin-bottom: 35px;*/
/*background-color: #fff;*/
/*height: auto;*/
/*min-height: 100%;*/
/*}*/
/*.page-footer {*/
/*position: absolute;*/
/*bottom: 0;*/
/*width: 100%;*/
/* Set the fixed height of the footer here */
/*height: 35px;*/
/*background-color: #4276a4;*/
/*}*/
/*.page-sidebar.navbar-collapse {*/
/*background: none repeat scroll 0 0 #4276a4;*/
/*bottom: 0;*/
/*left: 0;*/
/*position: absolute;*/
/*top: 0;*/
/*}*/