body, div, p, span, a, hr, b, ul, li, table, tr, th, td {
    list-style: none;
    padding: 0;
    margin: 0;
    font: 9px Arial;
    box-sizing: border-box;
}

.wrapper {
    width: 1170px;
}

.first_table {
    width: 100%;
}

.left_wrap {
    width: 70px;
    padding: 0 10px 10px 0;
}

.left_1 {

}

.left_2 {

}

.left_3 li {
    font-size: 7px;
}

.right_wrap {
    padding: 0 0 10px 10px;
    width: 100%;
    text-align: left;
    border-left: 2px solid #000;
}

.right_1:after {
}

.right_left {
    text-align: left;
}

.right_right {
    text-align: right;
    font-size: 7px;
}

.right2 {
}

.right2 .right2_line_first {
    width: 16%;
}

.w-82 {
    width: 82%;
}

.right2_wrap {
    width: 100%;
}

.right2_inside {
    width: 50%;
    vertical-align: bottom;
    padding-right: 10px;
}

.right2_line {
    width: 100%;
    padding-bottom: 3px;
}

.right2_line div {
}

.right2_line_first {
    border-bottom: none;
}

.right2_line_last {
    width: 2%;
    text-align: left;
}

.right3_line {
    width: 100%;
}

.right3_line div {
    border-bottom: 1px solid #000;
}

.line {
    border-bottom: 1px solid #000;
}

.two_table {

}

.two_table table {
    width: 100%;
}

.two_table td {
    text-align: center;
}

.line_mini {
    width: 20px;
    padding: 0 5px;
    border-bottom: 1px solid #000;
}

.line_middle {
    width: 60px;
    padding: 0 5px;
    border-bottom: 1px solid #000;
}

.right4_line {
    width: 100%;
}

.right4_line div {
    text-align: center;
}

.right5 {
    margin-top: 10px;
}

.right5_inside {
    width: 50%;
}