/* BREAK EVEN POINT */
#break-even-table-2 input.form-control {
    min-height: unset;
    padding-top: 4px;
    padding-bottom: 4px;
}
#break-even-table-2 .table-collapse-btn {
    line-height: 1;
}
#break-even-table-2 tbody tr td > div {
    display: inline-block;
    vertical-align: middle;
}

.graph-break-even .part {
    margin-bottom:10px;
    line-height: 20px;
}
.graph-break-even .value {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.graph-break-even .caption {
    color:#999;
    font-size: 13px;
    text-transform: uppercase;
}
.graph-break-even .caption > i {
    font-size:16px;
    font-style: normal;
}
.graph-break-even .caption > a{
    font-size:11px;
    text-transform: none;
}
.graph-break-even-table {
    width:100%;
    height:36px;
}
.graph-break-even-table td {
    border-bottom:2px solid #999;

}
.graph-break-even-table td:first-child {
    width: 108px!important;
}
.graph-break-even-table td:nth-child(2n) {
    text-align: center;
    vertical-align: middle;
    font-size:22px;
    font-weight:bold;
}
.graph-break-even-table td:nth-child(2n+1) {
    color:#999;
    font-size: 12px;
    text-transform: uppercase;
}
.graph-break-even-table td i {
    font-style: normal;
}

#break-even-table-2 tr.text-italic td span.text-grey {
    font-style: italic;
    color: #212529!important;
}
.stocks-product-cell {
    max-width: 255px;
    min-width: 255px;
    width: 255px;
}

.button-debtor-filter {
    width: 100px;
}
#break-even-table-2 .td-custom-value {
    background-color: rgba(0, 151, 253, .1);
    padding:0!important;
}
#break-even-table-2 input[type="text"] {
    border: 2px solid rgba(0, 151, 253, 0);
    background-color: unset;
    opacity: 1;
    cursor: pointer;
    padding-right:10px!important;
    padding-left:6px!important;
}
#break-even-table-2 input[type="text"]:focus {
    border: 2px solid rgba(0, 151, 253, 1);
}




/** PRODUCT ANALYSIS ABC */
/*  orig table */
#cs-table-1x .table {
    margin-bottom: 0 !important;
}
#cs-table-1x .table thead tr th:first-child {
    opacity: 0;
    border-top: 0;
    border-bottom: 0;
}
#cs-table-1x.sticky .table thead tr th:first-child,
#cs-table-1x.sticky .table tbody tr td:first-child {
    display: block;
    position: absolute;
    left:0;
    width: 250px;
    background-color: #fff;
    z-index: 2;
    padding-top:8px!important;
}
#cs-table-1x.sticky .table-wrap {
    padding-left: 250px;
}
#cs-table-1x.hide-head {
    margin-top: -61px;
}
#cs-table-1x .table tbody tr td:first-child {
    height: 45px !important;
}
#cs-table-1x .table.table-compact tbody tr td:first-child {
    height: 34px !important;
}

/*  cloned head */
#cs-table-2x .table {
    margin-bottom:0;
    margin-left: -1px;
    border-left: 1px solid rgba(0,0,0,0);
}
#cs-table-2x {
    position: sticky;
    top: 91px;
    background: #fff;
    z-index: 3;
    overflow: hidden;
}
@-moz-document url-prefix() {
    #cs-table-2x {
        top: 84px;
    }
}

#cs-table-2x thead tr th:first-child {
    min-width: 250px;
    border: none;
}
#cs-table-2x thead th {
    height: 30px !important;
    white-space: nowrap;
    padding: 2px 5px 1px 10px;
    border-bottom: 1px solid #E5E5E5;
}
#cs-table-2x thead th {
    height: 30px !important;
}
/*  cloned first cell */
#cs-table-2x .fixed-first-cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 61px;
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    background: #fff;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #9198a0;
    z-index: 3;
}
/* top scrollbar */
#cs-table-11x {
    position: sticky;
    border-bottom: 1px solid #E5E5E5;
    top: 68px;
    z-index: 4;
    overflow-x: scroll;
    margin-top: -1px;
}
#cs-table-11x .table-wrap {
    width: 100%;
    height: 0!important;
}
/*  scrollbars */
#cs-table-1x::-webkit-scrollbar,
#cs-table-11x::-webkit-scrollbar {
    height: 23px;
}
#cs-table-1x::-webkit-scrollbar-thumb,
#cs-table-11x::-webkit-scrollbar-thumb {
    background: #bbc1c7;
    border: 6px solid #ffffff;
    border-radius: 12px;
}
#cs-table-1x,
#cs-table-11x {
    scrollbar-color: #bfbfbf #ffffff;
}

/* SIMPLE DOUBLE SCROLL */
.table-scroll-double {
    overflow-x: auto;
    max-width: 1015px;
}
.table-scroll-double {
    scrollbar-color: #bfbfbf #ffffff;
}
.table-scroll-double::-webkit-scrollbar-thumb {
    background: #bbc1c7;
    border: 6px solid #ffffff;
    border-radius: 12px;
}
.table-scroll-double::-webkit-scrollbar {
    height: 23px;
}
.table-scroll-double.top .table-wrap {
    width: 100%;
    height: 0.25px!important;
}
.table-scroll-double.top {
    border-bottom: 1px solid #E5E5E5;
}
/* STICKY COLUMN */


.table-scroll-double.sticky-column .table thead tr th:first-child,
.table-scroll-double.sticky-column .table tbody tr td:first-child {
    display: block;
    position: absolute;
    left:0;
    width: 250px;
    background-color: #fff;
    z-index: 3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2!important;
}
.table-scroll-double.sticky-column .table thead tr:first-child th:first-child {
    z-index: 3;
    min-height: 108px;
    padding-top: 40px!important;
}
.table-scroll-double.sticky-column .table-compact thead tr:first-child th:first-child {
    min-height: 55px;
    padding-top: 20px!important;
}
.table-scroll-double.sticky-column .table tbody tr td:first-child {
    min-height: 54px;
}
.table-scroll-double.sticky-column .table tbody tr:last-child td:first-child {
    min-height: 53px;
}
.table-scroll-double.sticky-column .table-compact tbody tr td:first-child {
    min-height: 30px;
}
.table-scroll-double.sticky-column .table-compact tbody tr:last-child td:first-child {
    min-height: 29px;
}
.table-scroll-double.sticky-column .table thead tr:last-child th:first-child {
    z-index: 2;
}
.table-scroll-double.sticky-column .table-wrap {
    padding-left: 250px;
}