/*  orig table */
#cs-table-1x .table {
    margin-bottom: 0 !important;
}
#cs-table-1x .table thead tr th:first-child {
    border-top: 0;
    border-bottom: 0;
}
#cs-table-1x.sticky .table thead tr th:first-child,
#cs-table-1x.sticky .table tbody tr td:first-child {
    position: absolute;
    display: flex;
    align-items: center;
    left:0;
    background-color: #fff;
    z-index: 2;
    overflow: hidden;
    width: unset; /* set by js! */
}
#cs-table-1x.sticky .table-wrap {
    padding-left: unset; /* set by js! */
}
#cs-table-1x.sticky .table tbody tr td:first-child > div {
    max-height: 30px;
}

#cs-table-1x .table tbody tr td,
#cs-table-1x .table thead tr th {
    height: 45px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
#cs-table-1x .table.table-compact tbody tr td,
#cs-table-1x .table.table-compact thead tr th {
    height: 28px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
#cs-table-1x .table td:not(:first-child) {
    text-align: right!important;
}
#cs-table-1x .table td.text-left {
    text-align: left!important;
}
#cs-table-1x .table tbody tr:last-child td:first-child {
    height: 46px !important;
}
#cs-table-1x .table.table-compact tbody tr:last-child td:first-child {
    height: 29px !important;
}

@-moz-document url-prefix() {
    #cs-table-1x .table tbody tr td,
    #cs-table-1x .table.table-compact tbody tr td {
        margin-top: -1px;
    }
}

/* top scrollbar */
#cs-table-11x {
    position: sticky;
    border-bottom: 1px solid #E5E5E5;
    top: 68px;
    z-index: 4;
    overflow-x: scroll;
    margin-top: -1px;
}
#cs-table-11x .table-wrap {
    width: 100%;
    height: 0!important;
}
/*  scrollbars */
#cs-table-1x::-webkit-scrollbar,
#cs-table-11x::-webkit-scrollbar {
    height: 23px;
}
#cs-table-1x::-webkit-scrollbar-thumb,
#cs-table-11x::-webkit-scrollbar-thumb {
    background: #bbc1c7;
    border: 6px solid #ffffff;
    border-radius: 12px;
}
#cs-table-1x,
#cs-table-11x {
    scrollbar-color: #bfbfbf #ffffff;
}