.cog-finance-dashboard-btn {
    font-size: 26px!important;
}
#cog-finance-dashboard-items {
    width: 250px;
    padding: 10px 15px;
}
#cog-finance-dashboard-items label {
    margin-bottom: 0;
}
#cog-finance-dashboard-items li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#cog-finance-dashboard-items li:first-child {
    padding-top: 0;
}
.analytics-index > .wrap {
    margin-top: -10px;
}
.row.wide-statistics .dashboard-card-column {
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}
.row.wide-statistics .dashboard-card-wide-column {
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
}
.dashboard-card.wrap {
    margin-bottom: 0;
    padding: 10px 15px;
    border: 1px solid #E5E5E5 !important;
}
.dashboard-card.sibling {
    margin-bottom: 12px;
}
.dashboard-card.z-index-3 {
    z-index: 3;
}
.dashboard-card.z-index-2 {
    z-index: 2;
}
.dashboard-card.z-index-1 {
    z-index: 1;
}
.dashboard-card-title {
    height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #9198a0;
    line-height: 1.3;
    margin-top: 3px;
    margin-bottom: auto;
    text-transform: none;
}
.dashboard-card-column .dashboard-card-main {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.dashboard-card-column .dashboard-card-main-description {
    font-size:14px;
    color:#9198a0;
    font-weight: normal;
}
@media (max-width: 1200px) {
    .dashboard-card-column .dashboard-card-main-description {
        display: none;
    }
}
.dashboard-card-column .dashboard-card-main-arrow {
    padding: 0 10px;
}
.dashboard-card-column .dashboard-card-main-arrow img {

}
.dashboard-card-column .dashboard-card-main-arrow .inverted {
    transform: scale(1, -1);
}
.dashboard-card {
    margin-bottom: 12px;
}
.dashboard-card > .wrap, .dashboard-card .wrap {
    padding:0;
    margin:0;
}
.dashboard-card .ht-table {
    width: 99.99%;
}
.dashboard-card.wrap.dashboard-card-currency {
    padding-bottom: 8px;
}
.dashboard-card-currency .ht-caption {
    padding-bottom: 10px;
}
.dashboard-card-currency tr td {
    padding-top: 8px;
    padding-bottom: 10px;
}
.dashboard-card-currency tr td:first-child {
    padding-bottom: 11px;
}