#dashboard_statistics_chart_1 {z-index: 3;}
#dashboard_statistics_chart_2 {z-index: 2;}
#dashboard_statistics_chart_3 {z-index: 1;}

#dashboard_statistics_chart_1 .highcharts-axis-labels,
#dashboard_statistics_chart_2 .highcharts-axis-labels,
#dashboard_statistics_chart_3 .highcharts-axis-labels {
    z-index: -1!important;
}
/* tooltip */
#dashboard_statistics_chart_1 , #dashboard_statistics_chart_1  .highcharts-container , #dashboard_statistics_chart_1 svg,
#dashboard_statistics_chart_2 , #dashboard_statistics_chart_2  .highcharts-container , #dashboard_statistics_chart_2 svg,
#dashboard_statistics_chart_3 , #dashboard_statistics_chart_3  .highcharts-container , #dashboard_statistics_chart_3 svg {
    overflow: visible!important;
    z-index: 1000!important;
}

.dashboard-card-chart .highcharts-tooltip .ht-in-table-wrap {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 300px;
    background: #fff!important;
}

.ht-caption {
    text-transform: inherit!important;
}

.dashboard-card-chart .highcharts-tooltip .ht-in-table-chart {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 300px;
    min-height: 170px;
    background: #fff!important;
}

.ht-in-title {
    font-size: 14px;
    font-weight: bold;
    font-family: "Corpid E3 SCd", sans-serif !important;
}