.finance-model-shop-month input[type="text"] {
    border: 2px solid rgba(0, 151, 253, 0);
    background-color: unset;
    opacity: 1;
    cursor: pointer;
    padding-right: 8px !important;
    padding-left: 6px !important;
}
.finance-model-shop-month input.form-control {
    min-height: unset;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
}
.finance-model-shop-month input[type="text"]:focus {
    border: 2px solid rgba(0, 151, 253, 1);
}
.finance-model-shop-month .td-custom-value {
    min-width: 120px;
    background-color: rgba(0, 151, 253, .1);
    padding: 0 !important;
}
#many-delete-label,
#copy-model-label,
#modal-delete-shop-label {
    text-align: center;
}
.finance-model-modeling-result .item-icon {
    color: #9198A0;
    font-size: 34px;
}
.field-datepicker.ico {
    padding-right: 30px;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="rgb(187, 193, 199)" d="M16.667 2.222h1.11c1.228 0 2.223.995 2.223 2.222v13.334A2.222 2.222 0 0 1 17.778 20H2.222A2.222 2.222 0 0 1 0 17.778V4.444c0-1.227.995-2.222 2.222-2.222h1.111v-1.11a1.111 1.111 0 0 1 2.223 0v1.11h8.888v-1.11a1.111 1.111 0 0 1 2.223 0v1.11zM2.222 4.444v13.334h15.556V4.444H2.222zM5 7.778h1.111c.307 0 .556.249.556.555v1.111A.556.556 0 0 1 6.11 10H5a.556.556 0 0 1-.556-.556v-1.11c0-.307.25-.556.556-.556zm0 4.444h1.111c.307 0 .556.249.556.556v1.11a.556.556 0 0 1-.556.556H5a.556.556 0 0 1-.556-.555v-1.111c0-.307.25-.556.556-.556zm4.444-4.444h1.112c.306 0 .555.249.555.555v1.111a.556.556 0 0 1-.555.556H9.444a.556.556 0 0 1-.555-.556v-1.11c0-.307.249-.556.555-.556zm0 4.444h1.112c.306 0 .555.249.555.556v1.11a.556.556 0 0 1-.555.556H9.444a.556.556 0 0 1-.555-.555v-1.111c0-.307.249-.556.555-.556zm4.445 0H15c.307 0 .556.249.556.556v1.11a.556.556 0 0 1-.556.556h-1.111a.556.556 0 0 1-.556-.555v-1.111c0-.307.25-.556.556-.556zm0-4.444H15c.307 0 .556.249.556.555v1.111A.556.556 0 0 1 15 10h-1.111a.556.556 0 0 1-.556-.556v-1.11c0-.307.25-.556.556-.556z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: right 10px center;
    background-color: transparent!important;
    cursor: pointer;
}
.ml-sub-row {
    margin-left: 23px;
}
.ml-sub-row-2 {
    margin-left: 45px;
}
#update-finance-model-item-panel {
    position: absolute;
    z-index: 9999;
    left:0;
    top:0;
    border: 2px solid #9198a0;
}
.edit-costs-js {
    cursor: pointer;
}

tr.white-text td,
tr.white-text td > div {
    color: #ffffff!important;
}

.finance-model-shop-month tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    padding-right: 10px!important;
}
.finance-model-shop-month tr td:first-child {
    text-align: left;
}
.finance-model-shop-month tr td div {
    padding-right: 0!important;
}


/** DOUBLE STICKED SCROLL */

/*  orig table */
#cs-table-1x .table {
    margin-bottom: 0 !important;
}
#cs-table-1x .table thead tr th:first-child {
    opacity: 0;
    border-top: 0;
    border-bottom: 0;
}
#cs-table-1x .table thead tr th:first-child,
#cs-table-1x .table tbody tr td:first-child {
    width: 300px!important;
}
#cs-table-1x.sticky .table thead tr th:first-child,
#cs-table-1x.sticky .table tbody tr td:first-child {
    display: block;
    position: absolute;
    left:0;
    background-color: #fff;
    z-index: 2;
    padding-top:6px!important;
}
#cs-table-1x.sticky .table-wrap {
    padding-left: 300px;
}
#cs-table-1x.hide-head {
    margin-top: -55px;
}
#cs-table-1x .table tbody tr td:first-child {
    height: 60px !important;
}
#cs-table-1x .table.table-compact tbody tr td:first-child {
    height: 28.25px !important;
}
.table tbody tr.empty-row td,
#cs-table-1x .table tbody tr.empty-row td:first-child,
#cs-table-1x .table tbody tr.empty-row td {
    background-color: #e9ebee!important;
    height: .5rem!important;
    max-height: .5rem!important;
    font-size: 0!important;
    padding: 0!important;
}
.table.table-compact tbody tr.empty-row td,
#cs-table-1x .table.table-compact tbody tr.empty-row td:first-child,
#cs-table-1x .table.table-compact tbody tr.empty-row td {
    background-color: #e9ebee!important;
    height: .5rem!important;
    max-height: .5rem!important;
    font-size: 0!important;
    padding: 0!important;
}

/*  cloned head */
#cs-table-2x .table {
    table-layout: auto;
    margin-bottom:0;
    margin-left: -1px;
    border-left: 1px solid rgba(0,0,0,0);
}
#cs-table-2x {
    position: sticky;
    top: 91px;
    margin-left: 1px;
    background: #fff;
    z-index: 3;
    overflow: hidden;
}

#cs-table-2x thead tr th:first-child {
    min-width: 300px;
    width: 300px;
    border: none;
}
#cs-table-2x thead th {
    height: 28px !important;
    padding: 4px 5px 4px 10px;
    border-bottom: 1px solid #E5E5E5;
}
#cs-table-2x thead th {
    height: 28px !important;
}
/*  cloned first cell */
#cs-table-2x .fixed-first-cell {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(300px - 1px);
    height: 57px;
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    background: #fff;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #9198a0;
    z-index: 3;
}
/* top scrollbar */
#cs-table-11x {
    position: sticky;
    border-bottom: 1px solid #E5E5E5;
    top: 68px;
    z-index: 4;
    margin-top: -1px;
}
#cs-table-11x .table-wrap {
    width: 100%;
    height: 0!important;
}
/*  scrollbars */
#cs-table-1x::-webkit-scrollbar,
#cs-table-11x::-webkit-scrollbar {
    height: 23px;
}
#cs-table-1x::-webkit-scrollbar-thumb,
#cs-table-11x::-webkit-scrollbar-thumb {
    background: #bbc1c7;
    border: 6px solid #ffffff;
    border-radius: 12px;
}
#cs-table-1x,
#cs-table-11x {
    overflow-x: scroll;
    scrollbar-color: #bfbfbf #ffffff;
}

/** FF only */
@-moz-document url-prefix() {
    #cs-table-2x {
        top: 86px;
        margin-left:0.5px;
        margin-top:-0.5px;
    }
    #cs-table-2x .fixed-first-cell {
        height: 56px;
    }
}

/** Two Simple Double Scrolls with Fixed first column */
#sds-bottom-1.sticky .table {
    margin-left: 200px;
    margin-top: -1px;
}
#sds-bottom-1.sticky .table th:first-child,
#sds-bottom-1.sticky .table td:first-child {
    display: block;
    position: absolute;
    left:0;
    background-color: #fff;
    z-index: 2;
    padding-top:6px!important;
    width: 200px!important;
    border-left: none!important;
    border-top: 1px solid #E5E5E5!important;
    border-bottom: 1px solid #E5E5E5!important;
    border-right: 1px solid #E5E5E5!important;
    text-align: left!important;
}
#sds-bottom-1 th {
    height: 57px!important;
}
#sds-bottom-1 td {
    height: 32px!important;
}
#sds-bottom-1.sticky .table th:first-child {
    height: 57.5px!important;
}
#sds-bottom-1.sticky .table td:first-child {
    height: 34px!important;
}

#sds-bottom-2.sticky .table {
    margin-left: 200px;
    margin-top: -1px;
}
#sds-bottom-2.sticky .table th:first-child,
#sds-bottom-2.sticky .table td:first-child {
    display: block;
    position: absolute;
    left:0;
    background-color: #fff;
    z-index: 2;
    padding-top:6px!important;
    width: 200px!important;
    border-left: none!important;
    border-top: 1px solid #E5E5E5!important;
    border-bottom: 1px solid #E5E5E5!important;
    border-right: 1px solid #E5E5E5!important;
    text-align: left!important;
}
#sds-bottom-2 th {
    height: 57px!important;
}
#sds-bottom-2 td {
    height: 32px!important;
}
#sds-bottom-2.sticky .table th:first-child {
    height: 57.5px!important;
}
#sds-bottom-2.sticky .table td:first-child {
    height: 34px!important;
}

/** Another Simple Double Scroll, with:275px */
#sds-bottom-3.sticky .table {
    margin-left: 275px;
    margin-top: -1px;
}
#sds-bottom-3.sticky .table th:first-child,
#sds-bottom-3.sticky .table td:first-child {
    display: block;
    position: absolute;
    left:0;
    background-color: #fff;
    z-index: 2;
    padding-top:6px!important;
    width: 275px!important;
    border-left: none!important;
    border-top: 1px solid #E5E5E5!important;
    border-bottom: 1px solid #E5E5E5!important;
    border-right: 1px solid #E5E5E5!important;
    text-align: left!important;
}
#sds-bottom-3 th {
    height: 57px!important;
}
#sds-bottom-3 td {
    height: 32px!important;
}
#sds-bottom-3.sticky .table th:first-child {
    height: 57.5px!important;
}
#sds-bottom-3.sticky .table td:first-child {
    height: 34px!important;
}

#sds-bottom-3 tr.empty-row td {
    height: 8px !important;
}

/** Fix Fixed First Column margin */
#sds-bottom-1.sticky .table tr:last-child td:first-child,
#sds-bottom-2.sticky .table tr:last-child td:first-child,
#sds-bottom-3.sticky .table tr:last-child td:first-child {
    height: 33px!important;
}
/** FF only */
@-moz-document url-prefix() {
    #sds-bottom-1.sticky .table td:first-child,
    #sds-bottom-2.sticky .table td:first-child,
    #sds-bottom-3.sticky .table td:first-child {
        margin-top: -1px;
    }
}