.scenario-analysis .chart-item-wrap {
    padding: 15px;
    /*border: 1px solid #dee2e6;*/
    /*border-radius: 4px;*/
}
.scenario-analysis text.highcharts-credits {
    display: none;
}
#scenario-analysis-form .form-control {
    min-height: unset;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 2px solid rgba(0, 151, 253, 0);
    background-color: unset;
    opacity: 1;
    cursor: pointer;
    padding-right: 10px!important;
    padding-left: 6px!important;
    text-align: right;
}
#scenario-analysis-form .form-control:focus {
    border: 2px solid rgba(0, 151, 253, 1);
}
#scenario-analysis-form td.custom-value {
    background-color: rgba(0, 151, 253, .1);
    padding: 0!important;
}
#scenario-analysis-form thead th:not(:first-child) {
    text-align: center;
}
#scenario-analysis-form tbody td:not(:first-child) {
    text-align: right;
}

.axis-label-wrap {
    position: relative;
    text-align: center;
}
.axis-label {
    font-family: "Corpid E3 SCd", sans-serif!important;
    font-size: 12px;
    color: #001424;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 4px!important;
    text-align: center;
}
.axis-label.current {
    color: #e30611;
    border-color: #e30611;
}
.axis-label-footer {
    padding-top: 5px !important;
}
.axis-label-separator {
    display: inline-block;
    border-right: 1px solid #dee2e6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
}
.pl-40px {
    padding-left: 40px !important;
}