/*
 * Range input style
 */
.what-if-modeling .kv-type-range input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
.what-if-modeling .kv-type-range input[type=range]:focus {
    outline: none;
}
.what-if-modeling .kv-type-range input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.what-if-modeling .kv-type-range input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid #4679AE;
    height: 24px;
    width: 14px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -10px;
    z-index: 10;
}
.what-if-modeling .kv-type-range input[type=range]::-moz-range-thumb {
    border: 3px solid #4679AE;
    height: 24px;
    width: 14px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    z-index: 10;
}
.what-if-modeling .kv-type-range input[type=range]::-ms-thumb {
    border: 3px solid #4679AE;
    height: 24px;
    width: 14px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    z-index: 10;
}
.what-if-modeling .kv-type-range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #e2e5eb;
    border-radius: 1.3px;
}
.what-if-modeling .kv-type-range input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
.what-if-modeling .kv-type-range input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #e2e5eb;
    border-radius: 1.3px;
}
.what-if-modeling .kv-type-range input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
.what-if-modeling .kv-type-range input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}
.what-if-modeling .kv-type-range input[type=range]:focus::-ms-fill-lower {
    background: #e2e5eb;
}
.what-if-modeling .kv-type-range input[type=range]::-ms-fill-upper {
    background: #e2e5eb;
    border-radius: 2.6px;
}
.what-if-modeling .kv-type-range input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
/*
 * End Range input style
 */

.what-if-modeling .input-group-prepend {
    flex-grow: 1;
    position: relative;
    margin-right: 10px;
}
.what-if-modeling .input-group-append .input-group-text {
    padding-left: 5px;
    padding-right: 0;
    border-color: transparent;
    background-color: transparent;
}
.what-if-modeling .input-group-prepend > .input-group-text {
    flex-grow: 1;
    padding-left: 0;
    padding-right: 0;
    border-color: transparent;
    background-color: transparent;
    z-index: 10;
}
.what-if-modeling .input-group-prepend::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 50%;
    left: 1px;
    top: 12px;
    bottom: 12px;
    border-right: 2px solid #e2e5eb;
    z-index: 0;
}
.what-if-modeling .kv-type-range > input.form-control {
    flex-grow: 0;
    width: 50px;
    text-align: center;
    border-radius: 4px !important;
    padding-left: 5px;
    padding-right: 5px;
}
.what-if [data-color=red] {
    color: #E30611;
}
.what-if [data-color=green] {
    color: #26CD58;
}

.what-if .chart-box-wrap {
    padding: 15px;
}

.what-if .chart-item-wrap {
    padding: 15px;
    /*border: 1px solid #dee2e6;*/
    border-radius: 4px;
}

.what-if-modeling-result .item-icon {
    color: #9198A0;
    font-size: 34px;
}
.what-if-modeling-result .changes-icon {
    margin-top: 4px;
    display: block;
    font-size: 13px;
}

text.highcharts-credits {
    display: none;
}

/*
 * Scrollbar style
 */
.what-if ::-webkit-scrollbar {
    height: 11px;
}

.what-if ::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    background-color: #fff;
}

.what-if ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: none;
    border: 0;
    background-color: #bbc1c7;
}

.what-if ::-webkit-scrollbar-thumb:hover {
    background-color: #bbc1c7;
}
/*
 * End Scrollbar style
 */

.axis-label-wrap {
    position: relative;
    text-align: center;
}
.axis-label {
    font-family: "Corpid E3 SCd", sans-serif!important;
    font-size: 12px;
    color: #001424;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 4px!important;
    text-align: center;
}
.axis-label.current {
    color: #e30611;
    border-color: #e30611;
}
.axis-label-footer {
    padding-top: 5px !important;
}
.axis-label-separator {
    display: inline-block;
    border-right: 1px solid #dee2e6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
}
.highcharts-container,
svg:not(:root),
#chart-changies,
#chart-product-profit {
    overflow: visible !important;
    position: relative;
}
