#taxrobot-start-modal.in {
    bottom: 6% !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
#taxrobot-start-modal.in > .modal-dialog  {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    margin: 0;
}
#taxrobot-start-modal.in > .modal-dialog > .modal-content {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    font-family: "Corpid E3 SCd", sans-serif;
}
#taxrobot-start-modal.in > .modal-dialog > .modal-content > .modal-body {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    color: #001424;
}
#taxrobot-start-modal h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    font-family: "Corpid E3 SCd", sans-serif;
    color: #001424;
}
#taxrobot-start-modal h5 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    font-family: "Corpid E3 SCd", sans-serif;
    color: #001424;
}
#taxrobot-start-modal .button-regular {
    padding-left: 20px;
    padding-right: 20px;
}
#taxrobot-start-modal .input-group-btn {
    display: -ms-flexbox !important;
    display: flex !important;
}
#taxrobot-start-modal .input-group-btn .btn {
    align-items: baseline;
}
#taxrobot-start-modal .input-group-btn .glyphicon {
    margin-right: 5px;
}
#taxrobot-start-modal .taxrobot-start-header {
    margin-bottom: 30px;
}
#taxrobot-start-modal .taxrobot-start-header h4 {
    margin: 0;
}
#taxrobot-start-modal .taxrobot-start-content {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}
#taxrobot-start-modal .taxrobot-start-content > hr {
    display: none;
}
#taxrobot-start-modal .return-button {
    margin: 30px 0 0 ;
}
#taxrobot-start-modal .return-button button {
    min-width: 130px;
}
#taxrobot-start-modal .min-w-130 {
    min-width: 130px;
}
#taxrobot-start-modal .items-form {
    display: inline-block;
    padding: 0 15px;
    margin: 0 0 20px;
}
#taxrobot-start-modal .taxrobot-start-btn {
    height: auto;
    display: block;
    width: 100%;
    font-weight: normal;
    cursor: pointer;
}
#taxrobot-start-modal #banking-module-pjax .modal-header,
#taxrobot-start-modal #banking-module-pjax .modal-title,
#taxrobot-start-modal #banking-module-pjax .modal-close,
#taxrobot-start-modal #banking-module-pjax .banking-cancel,
#taxrobot-start-modal #banking-module-pjax .taxrobot-start-header,
#taxrobot-start-modal #banking-module-pjax .return-button,
#taxrobot-start-modal #banking-module-pjax .hide-in-banking,
#taxrobot-start-modal #banking-module-pjax .cancel,
#taxrobot-start-modal #banking-module-pjax .back {
    display: none !important;
}
#taxrobot-start-modal #banking-module-pjax .modal-body {
    padding: 0 !important;
    overflow: hidden;
}
#taxrobot-start-modal .wait-image {
    position: relative;
    width: 100%;
    padding-top: 40%;
    margin: 0 auto;
    background-image: url(/images/declaration_for_10_min.png);
    background-position: center;
    background-size: 150%;
}
#taxrobot-start-modal .form-control {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    padding: 11px 15px 9px;
    color: #001424;
    height: auto;
    min-height: 44px;
    line-height: 1;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 2px #e2e5eb;
    background-color: #ffffff;
    resize: none;
    opacity: .6;
}
#taxrobot-start-modal .d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
#taxrobot-start-modal .d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}
#taxrobot-start-modal .justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
#taxrobot-start-modal .align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}
#taxrobot-start-modal .link {
  color: #0097fd;
  display: inline-block;
}
#taxrobot-start-modal .link:hover {
  color: #0048aa;
  text-decoration: none;
}
#taxrobot-start-modal .link:focus {
  outline: none;
}
#taxrobot-start-modal .h-100 {
  height: 100% !important;
}
#taxrobot-start-modal .btn {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 10px 12px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Corpid E3 SCd", sans-serif;
  line-height: 1.2;
  text-align: center;
  color: #001424;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #e2e5eb;
  background-color: #ffffff;
}
#taxrobot-start-modal .ladda-button[data-style="expand-right"][data-loading] {
  padding-right: 40px;
}