.inbox-sidebar .inbox-contacts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.inbox-sidebar .inbox-contacts li {
    padding: 0;
    margin: 0;
}

.inbox-sidebar .inbox-contacts li.active {
    background: #f1f4f7;
    text-decoration: none;
}

.inbox-sidebar .inbox-contacts li a {
    position: relative;
    display: block;
    padding: 8px 16px;
    color: #3f444a;
}

.inbox-sidebar .inbox-contacts li a img {
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
}

.inbox-sidebar .inbox-contacts li a .contact-name {
    display: inline-block;
    padding-left: 5px;
    line-height: 1.2;
    position: absolute;
    width: 73%;
}

.inbox-sidebar .inbox-contacts li a .contact-name > span {
    font-size: 10px;
}

.inbox-sidebar .inbox-contacts li a .contact-status {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50% !important;
    left: 38px;
    top: 30px;
}

.inbox-sidebar .inbox-contacts li a {
    height: 55px;
}

.inbox-sidebar .inbox-contacts li a .red {
    background: #e7505a !important;
}

.inbox-sidebar .inbox-contacts > li > a:hover {
    background: #f1f4f7;
    text-decoration: none;
}

.inbox-sidebar .inbox-contacts > li > a.active {
    background: #f1f4f7;
    text-decoration: none;
}

.portlet-body#chats {
    margin-bottom: 0;
}

.chat ul.chats {
    bottom: 0;
    width: 100%;
}

.chats li .body {
    word-wrap: break-word;
}

.chat .glyphicon-volume-up, .chat .glyphicon-volume-off {
    font-size: 25px;
    cursor: pointer;
}

.chat .profile a {
    text-decoration: none;
    height: 55px;
    position: relative;
    display: block;
    padding: 8px 16px 8px 0;
    color: #3f444a;
}

.chat .profile a img {
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
}

.chat .profile a .contact-name {
    display: inline-block;
    padding-left: 20px;
    line-height: 1.2;
    position: absolute;
    width: 100%;
}

.chat .profile a .contact-status {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50% !important;
    left: 23px;
    top: 30px;
}