.company-item {
    margin-bottom: 10px;
}

.company-item__title {
    font-size: 16px;
    margin: 15px 0 5px 0;
}

.company-item-info {

}

.company-item-info dl {
    margin-bottom: 5px;
}

.active-yes {
    font-weight: bold;
    color: green;
}

.active-no {
    font-weight: bold;
    color: red;
}

.tabs-line .btn-link,
.tabs-line .btn-link:first-child {
    padding-left: 0;
}

.tabs-line .btn-link:hover,
.tabs-line .btn-link:focus,
.tabs-line .btn-link:active {
    background-color: transparent;
}

.rely-rating-badge {
    font-weight: bold;
}

.rely-rating-badge span {
    padding: 0 4px;
    color: white;
}

.requisites-item__name {
    font-size: 16px;
    line-height: 19px;
}

.rely-short-negative {
    color: #c40000;
}

.rely-short-warning {
    color: #dca52a;
}

.rely-short-positive {
    color: #09c400;
}

.requisites-item {
    display: -webkit-flex;
    display: flex;
    padding: 5px 8px;
    margin: 0 0 0 -8px;
    -ms-align-items: flex-start;
    align-items: flex-start;
    line-height: 15px;
}

.requisites-item__name {
    flex: 0 0 364px;
    flex-basis: 364px;
    font-weight: 400;
    margin-right: 20px;
}

.requisites-item__value {
    flex: 1 1 auto;
    font-weight: 400;
}

.reliability-page .requisites-item {
    padding: 13px 8px 11px;
}

.finance-header {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.finance-list {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.fl-block {
    flex: 0 0 25%;
    padding: 0 8px 12px 0;
}

.fl-block .digit {
    padding-right: 4px;
    font-size: inherit;
}

.fl-text {
    font-size: 16px;
}

.fl-text .num {
    font-weight: 400;
}

.finance-changes {
    position: relative;
    color: #646e74;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
}

.finance-changes.lt, .finance-changes.mt.reverted {
    color: #f91d0a;
    padding: 0;
    font-size: 12px;
}

.finance-changes.lt.reverted, .finance-changes.mt {
    color: #61a517;
    padding: 0;
    font-size: 12px;
}

.okved-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.okved-item {
    display: -webkit-flex;
    display: flex;
    padding: 5px 8px;
    margin: 0 0 0 -8px;
}

.okved-item__num {
    flex: 0 0 80px;
    min-width: 80px;
    max-width: 80px;
    font-weight: 400;
}

.okved-item__text {
    flex: 1 1 auto;
    --font-weight: 300;
}

.okved-list + .okved-list-title {
    margin-top: 24px;
}

.okved-list-title {
    margin-bottom: 21px;
}

.tile-item__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.tile-item__title h2 {
    font-weight: inherit;
}

.rely-name {
    font-weight: bold;
}

.filter-block__wrap {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 8px 16px;
    flex-wrap: wrap;
}

.filter-block__frame {
    width: 946px;
    margin: 0 -36px 0 0;
}

.filter-block__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 8px 0;
    margin: 0 36px 0 0;
}

.filter-block__label {
    line-height: 29px;
    margin: 2px 5px 0 0;
    vertical-align: top;
    display: inline-block;
}

.filter-block__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 8px 0;
    margin: 0 36px 0 0;
}

.company-item-info dl {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    line-height: 15px;
}

.company-item-info dt {
    display: inline;
    margin: 0;
    padding: 0 4px 0 0;
    font-weight: 700;
}

.company-item-info dd {
    display: inline;
    line-height: 15px;
    margin: 0 16px 0 0;
    padding: 0;
}

.license-name {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin: 0 0 7px;
}

.license-name a {
    font-weight: normal;
}

.info-table--egrul {
    margin-top: 21px;
}

.info-table--egrul .empty {
    display: none;
}

.info-table--egrul tr td:nth-of-type(2) {
    padding-left: 0;
    font-weight: bold;
}

.info-table {
    width: 100%;
    table-layout: fixed;
    margin: 0;
    border-collapse: collapse;
    margin-top: 5px;
}

.info-table--egrul td:first-child {
    width: 1px;
    text-align: center;
    --font-weight: 300;
}

.info-table td {
    padding: 4px 8px;
    vertical-align: top;
    line-height: 16px;
}

.info-table--egrul td:nth-child(2) {
    width: 93px;
    --font-weight: 300;
    padding-left: 14px;
}

.accounting-header__title {
    float: left;
}

.accounting-description {
    margin: 0 0 16px;
    font-weight: 400;
}

.accounting-table {
    margin: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.accounting-table td:first-child, .accounting-table th:first-child {
    width: 220px;
}

.accounting-table th {
    text-align: left;
    padding: 5px 0;
    --font-weight: 300;
    background: rgba(234, 236, 237, .6);
    vertical-align: top;
}

.accounting-table td:nth-child(2), .accounting-table th:nth-child(2) {
    width: 107px;
}

.accounting-table td.has-value.table-desktop, .accounting-table th.has-value.table-desktop {
    display: table-cell;
}

.accounting-table td.has-value, .accounting-table th.has-value {
    text-align: right;
    display: none;
}

.accounting-table-wrap + .tile-item__title {
    margin-top: 36px;
}

.accounting-table tr:nth-child(2n) {
    background: rgba(234, 236, 237, .6);
}

.tile-item {
    background: #fff;
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
}

.anketa-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.anketa-bottom {
    margin-top: 20px;
    padding-top: 16px;
}

.anketa-bottom .anketa-actual {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
}

.clear::after {
    display: block;
    clear: both;
    content: "";
}

#anketa .leftcol {
    float: left;
    width: 58%;
}

#anketa .rightcol {
    float: right;
    width: 42%;
    padding-left: 24px;
    box-sizing: border-box;
}

.company-requisites .company-row:first-child, .rightcol .company-row:first-child {
    margin-top: 0;
}

.company-requisites .company-row {
    margin-top: 10px;
}

.company-row {
    margin: 16px 0 0;
}

.company-row::after {
    display: block;
    clear: both;
    content: "";
}

.company-col {
    width: calc(50% - 10px);
    float: left;
    margin: 0;
}

.company-info__text, .company-info__title {
    font-size: 14px;
    display: block;
}

.company-info__title {
    font-weight: bold;
    margin: 0 0 5px;
}

.company-info__text {
    font-weight: 300;
    padding: 0 11px;
    margin: 0 -11px;
    font-style: normal;
}

.company-col + .company-col {
    margin-left: 20px;
}

.rely-tile-badge {
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    margin: 1px 0 17px;
    display: inline-block;
}

.rely-positive::before {
    background: #09c400;
}

.connexion > .connexion-col {
    min-width: 27%;
}

.connexion-col {
    display: inline-block;
    vertical-align: top;
    padding: 6px 30px 0 0;
    min-width: 156px;
    box-sizing: border-box;
}

.connexion-col__title {
    display: flex;
    height: 41px;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.connexion-col__num, .connexion-col__num.tosmall .num {
    font-weight: 600;
    font-size: 24px;
}

.see-details {
    display: inline-block;
    margin: 5px 0 4px;
    padding-right: 14px;
    position: relative;
}

.text-dl dt {
    float: left;
    margin: 0 4px 0 0;
    padding: 0;
}

.text-dl dd {
    margin: 0;
    padding: 0;
}

.finance-columns {
    display: flex;
    margin: 0 -10px;
}

.finance-col {
    flex: 1 1 33.3%;
    box-sizing: border-box;
    padding: 0 10px;
}

.finance-link {
    margin: 0 0 12px;
}

.btn-link.active, .fake-tab-opener.active, .tab-opener.active {
    border-color: #3175af;
    color: #3175af;
}

.tile-area .fake-tab-opener, .tile-area .tab-opener {
    padding: 3.5px 8px 2.5px;
}

.btn-link, .fake-tab-opener, .tab-opener {
    border: 1px solid transparent;
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    padding: 2px 8px;
    color: #3175af;
    cursor: pointer;
    transition: border-color .2s;
    background: none;

}

.btn-link, .fake-tab-opener, .tab-control li, .tab-opener {
    display: inline-block;
    vertical-align: top;
}

.finance-data {
    font-weight: 300;
    font-size: 24px;
    font-weight: 500;
}

.finance-data .digit {
    font-size: 1em;
}


span.del, span.ins {
    display: table;
    width: auto;
    margin-bottom: 2px;
    padding: 0 5px;
    background: #eee;
}

span.del:before, span.ins:before {
    padding-right: 5px;
    font-size: 1.3em;
    font-weight: bold;
}

span.del:before {
    content: "-";
    color: red;
}

span.ins:before {
    content: "+";
    color: green;
}

.digit {
    font-size: 1.8em;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.founder-item {
    margin-bottom: 10px;
}

.founder-item dt, .founder-item dd {
    float: left;
}

.founder-item dt {
    clear: both;
    padding-right: 5px;
}

.disclaimer {
    margin-top: 16px;
    font-style: italic;
}

.recommendations ul {
    padding-left: 19px;
}


.tooltip-popup {
    position: relative;
}

.tooltip-popup:before {
    content: "?";
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    border-radius: 14px;
    font-size: 12px;
    line-height: 14px;
    background: #bbb;
    color: white;
}

.tooltip-popup > span {
    display: none;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 300px;
    padding: 6px;
    font-weight: normal;
    font-size: 0.85em;
    background: #ffffb4;
}

.tooltip-popup:hover > span {
    display: block;
}

.finance-title, .company-name, .content h3, .company-item__title, .statement-name {
    font-weight: bold;
}

#chart-revenue, #chart-profit, #chart-fixedAssets {
    height: 300px;
}

.company-item__text {
    margin-bottom: 10px;
}

.arrow {
    position: relative;
    top: -2px;
}

#finance .tile-item__text {
    margin-top: 3px;
}

#negative, #attention, #positive {
    visibility: hidden;
    position: relative;
    top: -22px;
}

.tabs-line {
    margin-top: 12px;
}

.tabs-line__wrap > label {
    float: left;
    display: block;
    width: 33%;
    color: #5b9bd1;
}

.tabs-line__wrap > label > select {
    min-width: 200px;
    color: black;
}

#arbitr {
    margin-top: 20px;
}

.contactor-name > span {
    line-height: 32px;
}

.reload {
    position: absolute;
    top: 10px;
    right: 0;
    width: 173px;
    margin-right: 2px;
    text-align: right;
    font-size: 0.7em;
}

.reload > a {
    display: inline-block;
    float: left;
    height: 100%;
    margin-right: 4px;
    font-size: 1.65em;
    line-height: 34px;
}

.reload > a:hover {
    color: #4185bf;
    text-decoration: none;
}

.reload > a:focus {
    color: #21659f;
    text-decoration: none;
}


/* TARIFFS PAGE */
/* grid */
.row-5ths {
    padding-left: 10px;
    padding-right: 10px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* blocks */
.t-subtitle {
    color: #666;
    font-size: 16px;
}

.t-tile {
}

.t-tile .title {
    min-height: 60px;
    font-size: 18px;
    color: #4679ae;
}

.t-tile .title > .img {
    float: left;
}

.img-width-1 {
    width: 53px;
}

.img-width-2 {
    width: 65px;
}

.t-tile .title > .txt {
}

.t-tile .title > span {
}

.t-tile .list {
}

.t-tile .list ul {
    padding-left: 0;
}

.t-tile .list ul li {
    margin-left: 15px;
}

.st-tile {
    border: 1px solid #ddd;
    padding: 20px;
}

.st-tile .title {
    font-size: 18px;
    color: #4679ae;
}

.st-tile .subtitle {
    width: 50%;
    font-size: 16px;
}

.tariff-block {
    margin-top: 20px;
    min-height: 250px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    position: relative;
    border-radius: 8px;
}

.tariff-block .header {
    padding: 20px;
    background-color: #eee;
    color: #999;
    font-size: 18px;
}

.tariff-block .body .price {
    padding: 15px 20px 0 20px;
    font-size: 32px;
    font-weight: bold;
}

.tariff-block .body .average_price {
    position: relative;
    padding: 0 20px 15px 20px;
    color: #9299a1;
    font-size: 24px;
}

.tariff-block .body .average_price > .small {
    font-size: 13px;
}

.tariff-block .body .average_price > .top-left {
    position: absolute;
    top: 0;
    left: 13px;
}

.tariff-block .footer {
    padding: 20px;
    text-align: center;
}

.tariff-block.hit {
    margin-top: 0;
}

.tariff-block.hit .header {
    background-color: #7098c0;
    color: #fff;
    padding-top: 38px;
}

.tariff-block.hit .body {
    background-color: #4679ae;
    color: #fff;
}

.tariff-block.hit .body .average_price {
    color: #d0d8e0;
}

.tariff-block.hit .footer {
    background-color: #4679ae;
}

.tariff-block.hit .hit {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    font-size: 18px;
}

.bg_opacity {
    background-color: #fff;
    opacity: .95;
}

.bg_man_in_lens {
    background-image: url(/img/dossier/man_in_lens.png);
    background-repeat: no-repeat;
    background-position: 99% 99%;
}

.bg_man_1 {
    min-height: 180px;
    background-image: url(/img/dossier/man_on_server.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.bg_woman_2 {
    min-height: 180px;
    background-image: url(/img/dossier/woman_by_board.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.bg_woman_3 {
    min-height: 180px;
    background-image: url(/img/dossier/womans_flying_papers.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.tabs-line__wrap > .btn-link {
    width: auto;
}

dl.debt {
    display: grid;
    grid-template-columns: 195px 1fr;
}

dl.debt dt, dl.debt dd {
    margin-bottom: 4px;
}

dl.debt > dd:last-of-type {
    grid-column: 1/3;
}
