
.product-comment-box {
    overflow: hidden;
    height: 18px;
}

.product-comment-box:before {
    content: "";
    float: left;
    width: 5px;
    height: 100%;
}

.product-comment-box > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.product-comment-box:after {
    content: "\02026";
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -18px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

.statistic-block {
    margin-top: 15px;
}

.statistic-block .statistic-cell {
    height: 120px;
    position: relative;
    margin-bottom: 15px;
    padding: 0;
    overflow: hidden;
    color: #fff;
}

.statistic-block .statistic-cell .stat-value {
    padding: 15px 20px 5px;
    text-align: right;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 300;
}

.statistic-block .statistic-cell .stat-label {
    padding: 0 20px;
    text-align: right;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 300;
}

.statistic-block .statistic-cell .stat-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    /*opacity: 0.9;*/
}

.statistic-block .statistic-cell > i {
    position: absolute;
    bottom: 2px;
    left: -19px;
    color: #fff;
    font-size: 110px;
    line-height: 110px;
    opacity: 0.1;
}

.pad0 {
    padding: 0;
}

#modal-loader-items .btn-video, #modal-loader-items .btn-start {
    display: inline-block !important;
    cursor: pointer;
    background-color: #00618e;
    padding: 6px 3px;
    width: 275px;
    font-size: 20px;
    vertical-align: middle;
}

#modal-loader-items .btn-video:hover, #modal-loader-items .btn-start:hover {
    opacity: 0.7;
}

#modal-loader-items .btn-video {
    float: left;
}

#modal-loader-items .btn-start {
    float: right;
}

#modal-loader-items .btn-start-work {
    cursor: pointer;
    background-color: #45b6af;
    padding: 14px 3px;
    width: 384px;
    font-size: 20px;
    display: table;
    vertical-align: middle;
    margin: 0 auto;
}

#modal-loader-items .btn-ok {
    cursor: pointer;
    height: 40px;
    width: 294px;
    font-size: 15px;
    background-color: #adadad;
    color: white;
    padding: 8px;
    margin: 0 auto;
}

#modal-loader-items .not-show {
    cursor: pointer;
    margin-top: 10px;
    text-decoration: underline;
}

#modal-loader-items .loadPage {
    cursor: pointer;
    display: inline-block;
    height: 42px;
    width: 42px;
    border: 2px solid #fab74f;
    border-radius: 100% !important;
}

#modal-loader-items .loadPage img {
    width: 25px;
}

#table-for-invoice th:last-child,
#table-for-invoice td:last-child {
    border-right-width: 1px;
}

#expenses-pjax table.expenses-payment-table {
    width: 100%;
    border-width: 0;
}

#expenses-pjax table.expenses-payment-table * {
    border-width: 0;
}

#expenses-pjax table.expenses-payment-table td {
    padding: 2px 8px;
}

#expenses-pjax table.expenses-payment-table td:first-child {
    width: 30px;
    padding: 1px;
}

div.employee-rating-bar {
    height: 12px;
    width: 0;
    margin: 0;
    margin-right: auto;
}

#employee-rating-dropdown.dropdown-menu {
    max-height: 240px;
    line-height: 18px;
    overflow-y: auto;
}

#employee-rating-dropdown.dropdown-menu li > a {
    padding: 3px 8px;
}

#employee-rating-dropdown.dropdown-menu li > a:hover,
#employee-rating-dropdown.dropdown-menu li > a.active {
    color: #fff;
    background-color: #6086F7;
}

#employee-rating-menu {
    width: 100%;
}

#employee-rating-menu li.all-employees {
    float: right;
}

#employee-rating-menu li.all-employees a {
    float: right;
    color: #5b9bd1;
    font-weight: normal;
}

#employee-rating-menu li.all-employees:hover {
    border-bottom-color: transparent;
}

#employee-rating-menu li.all-employees:hover a {
    text-decoration: underline;
}

#employee-rating-menu li a {
    padding: 5px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
}

table.employee-rating-total {
    width: auto;
}

table.employee-rating-total .total-month-wrap {
    width: 60px;
    height: 80px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}

table.employee-rating-total .total-month-value {
    height: 0;
    margin: 0 7px;
    position: relative;
}

table.employee-rating-total .total-month-tooltip {
    position: absolute;
    top: -17px;
    left: -20px;
    right: -20px;
    text-align: center;
    font-weight: bold;
}

table.employee-rating-total .total-month-mark {
    width: 10px;
    height: 10px;
    overflow: hidden;
}

#debt-report-menu li a {
    text-transform: uppercase;
    font-weight: bold;
}

#company-store_where_empty_products_type label:last-of-type {
    display: inline;
}

.balance-report tr.assets-row td {
    /*background-color: #FF9900;*/
    text-transform: uppercase;
}

.balance-report tr.liabilities-row td {
    /*background-color: #99CC00;*/
    text-transform: uppercase;
}

.balance-report tr td.value-cell {
    white-space: nowrap;
    text-align: right;
}

.overflow-hide {
    overflow: hidden;
}

.color-black {
    color: #000
}

.w_290 {
    width: 290px
}

.padd0x10 {
    padding: 0 10px
}

.padd5x0 {
    padding: 5px 0
}

.padd10x0 {
    padding: 10px 0
}

.padd15x0 {
    padding: 15px 0
}

.padd-l-3 {
    padding-left: 3px
}

.fs_10_pt {
    font-size: 10pt !important;
}

.mart-m-8 {
    margin-top: -8px
}

table.employee-report {
    width: auto;
}

table.employee-report > tbody > tr {
    border-width: 0;
    border-color: #ccd6eb;
    border-style: solid;
}

table.employee-report > tbody > tr > td {
    padding: 5px 10px;
    border-width: 0;
}

table.employee-report tr.name-row td {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #eee;
}

table.employee-report tr.param-headers td {
    text-align: right;
    font-weight: bold;
}

table.employee-report tr.param-chart td {
    padding: 0 10px;
}

table.employee-report td.param-label {
    font-weight: bold;
}

table.employee-report td.value-cell {
    text-align: right;
}

table.employee-report td .chart-collapse {
    width: 13px;
    height: 13px;
    text-align: center;
    font-size: 11px;
    line-height: 8px;
    display: inline-block;
    padding: 1px;
    margin: 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

table.employee-report td .param-chart-wrapper {
    width: 650px;
}

table.employee-report td table td.param-total-cell {
    vertical-align: top;
    padding-top: 15px;
    text-align: center;
}

table.employee-report td table td.param-total-cell > div:nth-child(2) {
    font-weight: bold;
    text-transform: uppercase;
}

.fs_20 {
    font-size: 20px
}

#employees-report-menu li a {
    font-weight: bold;
}

.over-hidden {
    overflow: hidden;
}

.over-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.response-controll-butt {
    position: absolute;
    top: 0;
    right: -2px;
}

.padd-b-30 {
    padding-bottom: 30px
}

@media (max-width: 767px) {
    .response-controll-butt {
        position: relative;
    }
}

/* xs */
@media (min-width: 768px) {
    .response-controll-butt {
        position: relative;
    }
}

/* sm */
@media (min-width: 992px) {
    .response-controll-butt {
        position: relative;
    }
}

/* md */
@media (min-width: 1200px) {
    .response-controll-butt { /* lg */
        position: absolute;
        top: 0;
        right: -2px;
    }
}

.currency-rate-type-label {
    position: relative;
    margin-right: -3px;
    padding-left: 20px;
    cursor: pointer;
}

.currency-rate-type-label:after {
    clear: both;
}

.currency-rate-type-label .label-part {
    float: left;
    padding: 0 3px;
}

.currency-rate-type-label:hover {
    color: #000;
}

.currency-rate-type-label > .radio {
    position: absolute;
    left: 0;
    top: 2px;
    padding: 0;
}

.invoice-currency_ratedate {
    display: inline-block;
    width: 85px;
    margin: -3px 0;
    padding: 1px 2px;
    text-align: center;
    cursor: pointer;
}

.currency-custom-input {
    display: inline-block;
    width: 70px;
    margin: -3px 0;
    padding: 1px 2px;
    text-align: right;
}

#user-bank-dropdown a.active {
    color: #31708f;
    background-color: #d9edf7;
}

#user-bank-dropdown a:hover {
    background-color: #337ab7;
    color: #fff;
}

#user-bank-dropdown a span.tooltip_rs {
    width: 94%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#user-bank-dropdown li.add-checking-accountant,
#user-bank-dropdown li.add-cashbox,
#user-bank-dropdown li.add-store {
    background: #ffb848;
    color: #fff;
    cursor: pointer;
    padding: 8px 14px;
    display: block;
    font-size: 14px;
    clear: both;
    font-weight: 300;
    line-height: 18px;
}

#user-bank-dropdown li span.update-account,
#user-bank-dropdown li span.update-cashbox,
#user-bank-dropdown li span.update-store {
    color: #5b9bd1;
    float: right;
    width: 6%;
}

#user-bank-dropdown li:hover span.update-account,
#user-bank-dropdown li:hover span.update-cashbox,
#user-bank-dropdown li:hover span.update-store {
    color: #fff;
}

.form-md-underline .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ label:after,
.form-md-underline .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .form-control-focus:after {
    visibility: visible;
    left: 0;
    width: 100%;
    background: transparent;
}

.input-underline {
    background: none;
    border: 0;
    border-bottom: 1px solid #c2cad8;
    border-radius: 0;
    color: #555555;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
}

.input-underline:focus {
    outline: none;
}

.input-underline::placeholder {
    color: #cecece;
    font-weight: normal;
    opacity: 1;
}

.form-md-underline textarea,
.form-md-underline input[type=text],
.form-md-underline input[type=number] {
    background: none;
    border: 0;
    border-bottom: 1px solid #c2cad8;
    border-radius: 0;
    color: #555555;
    box-shadow: none;
    padding: 1px 0;
    height: auto;
    font-size: 14px;
}

.form-md-underline textarea:focus,
.form-md-underline input[type=text]:focus,
.form-md-underline input[type=number]:focus {
    outline: none;
    padding-bottom: 0;
    border-bottom: 2px solid #000;
}

.form-md-underline .select2-container .select2-selection--single {
    height: 24px;
    padding: 1px 0;
}

.form-md-underline .select2-container .select2-selection--single .select2-selection__arrow {
    height: 24px;
}

.form-md-underline .form-group.form-md-line-input {
    margin-bottom: 5px;
}

.form-md-underline .form-control {
    width: 100%;
}

.form-md-underline .select2.select2-container.select2-container--krajee .select2-selection {
    border-width: 0;
    border-bottom-width: 1px;
    box-shadow: none;
}

.form-md-underline .select2.select2-container.select2-container--krajee .select2-selection .select2-selection__arrow {
    border: 0;
}

.form-md-underline .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm[readonly] ~ label,
.form-md-underline .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.form-control-static ~ label,
.form-md-underline .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.edited ~ label,
.form-md-underline .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm:focus:not([readonly]) ~ label,
.form-md-underline .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.focus:not([readonly]) ~ label {
    top: 5px;
}

.form-md-underline .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm[readonly] ~ label > .is-empty,
.form-md-underline .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.form-control-static ~ label > .is-empty,
.form-md-underline .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.edited ~ label > .is-empty,
.form-md-underline .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm:focus:not([readonly]) ~ label > .is-empty,
.form-md-underline .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.focus:not([readonly]) ~ label > .is-empty {
    display: none;
}

.form-md-underline table#table-for-invoice,
.form-md-underline table#table-for-invoice tr,
.form-md-underline table#table-for-invoice th,
.form-md-underline table#table-for-invoice td {
    border: 0;
    background-color: #fff !important;
    vertical-align: middle;
}

.form-md-underline .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ label:after,
.form-md-underline .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .form-control-focus:after {
    visibility: visible;
    left: 0;
    width: 100%;
    background: transparent;
}

.form-md-underline .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ label:after,
.form-md-underline .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .form-control-focus:after {
    visibility: visible;
    left: 0;
    width: 100%;
    background: #000;
}

.form-md-underline .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .help-block {
    color: transparent;
    opacity: 1;
    filter: alpha(opacity=100);
}

.form-md-underline .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .help-block {
    color: #000;
    opacity: 1;
    filter: alpha(opacity=100);
}

.form-md-underline label.control-label {
    font-weight: normal !important;
}

.form-md-underline label.control-label-group {
    margin: 15px 0 0;
    font-size: 16px;
    font-weight: bold;
}

#first-invoice-form .currency-select-block {
    max-width: 230px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-no-suggestion {
    font-size: 10px; color: red; padding: 2px 5px;
}
.form-first-line label,
.form-first-line input {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
.invoice-additional-check {
    max-width: 250px;
    margin-bottom: 15px;
}
#invoice-form .invoice-additional-check > .row {
    margin-bottom: 15px;
}
#invoice-form .currency-rate-link-wrap {
    padding: 6px 0;
}
#first-invoice-form .currency-rate-link-wrap {
    padding: 2px 0;
}
#first-invoice-form .currency-rate-link {
    padding: 2px 0;
}
#invoice-form .delete-column-left {
    text-align: center;
}
#first-invoice-form #product-table-invoice {
    margin-left: -8px;
}
#first-invoice-form .hint-block {
    font-size: 10px;
    color: #00c6ef;
    position: absolute;
}
#first-invoice-form .delete-column-left {
    display: none;
}
#first-invoice-form th.delete-column-right,
#first-invoice-form td.delete-column-right {
    width: 0.1%;
    padding: 0;
    text-align: right;
    vertical-align: middle;
}
#first-invoice-form td.delete-column-right .icon-close {
    margin: 0;
    color: #4276a4;
}
#first-invoice-form td .order-param-value {
    padding: 2px 0;
    border-bottom: 1px solid #c2cad8;
}
#first-invoice-form td .order-param-value:after {
    content: " ";
}
#first-invoice-form td.cell-invoice_total_block {
    padding-right: 21px;
}
.invoice-additional-check > .row .label-block {
    max-width: 180px;
    padding-right: 0;
}
.form-md-underline .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ label:after,
.form-md-underline .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .form-control-focus:after {
    visibility: visible;
    left: 0;
    width: 100%;
    background: #000;
}
.form-md-underline .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .help-block {
    color: transparent;
    opacity: 1 ;
    filter: alpha(opacity=100) ;
}
.form-md-underline .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .help-block {
    color: #000;
    opacity: 1 ;
    filter: alpha(opacity=100) ;
}

.form-md-underline label.control-label {
    font-weight: normal !important;
}
.form-md-underline label.control-label-group {
    margin: 15px 0 0;
    font-size: 16px;
    font-weight: bold;
}

#first-invoice-form .currency-select-block {
    max-width: 230px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-no-suggestion {
    font-size: 10px;
    color: red;
    padding: 2px 5px;
}

.form-first-line label,
.form-first-line input {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.invoice-additional-check {
    max-width: 250px;
    margin-bottom: 15px;
}

#invoice-form .invoice-additional-check > .row {
    margin-bottom: 15px;
}

#invoice-form .currency-rate-link-wrap {
    padding: 4px 0;
}

#first-invoice-form .currency-rate-link-wrap {
    padding: 2px 0;
}

#first-invoice-form .currency-rate-link {
    padding: 2px 0;
}

#invoice-form .delete-column-right, #invoice-form .delete-column-left {
    text-align: center;
}

#invoice-form .delete-column-right {
    display: none;
}

#first-invoice-form #product-table-invoice {
    margin-left: -8px;
}

#first-invoice-form .hint-block {
    font-size: 10px;
    color: #00c6ef;
    position: absolute;
}

#first-invoice-form .delete-column-left {
    display: none;
}

#first-invoice-form th.delete-column-right,
#first-invoice-form td.delete-column-right {
    width: 0.1%;
    padding: 0;
    text-align: right;
    vertical-align: middle;
}

#first-invoice-form td.delete-column-right .icon-close {
    margin: 0;
    color: #4276a4;
}

#first-invoice-form td .order-param-value {
    padding: 2px 0;
    border-bottom: 1px solid #c2cad8;
}

#first-invoice-form td .order-param-value:after {
    content: " ";
}

#first-invoice-form td.cell-invoice_total_block {
    padding-right: 21px;
}

.invoice-additional-check > .row .label-block {
    max-width: 180px;
    padding-right: 0;
}

.field-company-ip_certificate_number table {
    width: 100%;
}

.field-company-ip_certificate_number table td {
    position: relative;
    padding: 0;
    vertical-align: middle;
}

.field-company-ip_certificate_number table label {
    margin: 0;
    padding: 0;
    margin-right: 5px;
    font-weight: bold;
    line-height: 16px;
}

.field-company-ip_certificate_number table input {
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: transparent;
}

.field-company-ip_certificate_number table i {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 0;
}

#invoice-form .currency-select-block .select2.select2-container.select2-container--krajee .select2-selection {
    border-width: 0;
    border-bottom-width: 1px;
    box-shadow: none;
}

#invoice-form .currency-select-block .select2-container .select2-selection--single {
    height: 24px;
    padding: 1px 0;
}

#invoice-form .currency-select-block .select2.select2-container.select2-container--krajee .select2-selection .select2-selection__arrow {
    border: 0;
}

#invoice-form .currency-select-block .select2-container .select2-selection--single .select2-selection__arrow {
    height: 24px;
}

#move_to_store_modal,
#move_to_group_modal {
    width: 470px !important;
    margin-left: -235px;
}

#table-for-invoice > tbody td {
    border: 1px solid #ddd;
    vertical-align: middle;
    background-color: #fff;
}

#table-for-invoice > tfoot > tr > td {
    border: 0;
    border-top: 1px solid #ddd;
}

.sortable-row-icon {
    font-size: 20px;
    cursor: -webkit-grab;
    cursor: grab;
    color: #ddd;
}

.sortable-row-icon:active {
    cursor: move;
}

#buttons-bar-fixed {
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    left: 235px;
    right: 0;
    background-color: white;
    padding: 10px 20px;
}

.page-sidebar-closed #buttons-bar-fixed {
    left: 45px;
}

@media (max-width: 991px) {
    #buttons-bar-fixed,
    .page-sidebar-closed #buttons-bar-fixed {
        left: 0;
    }
}

#js-cash_flow_update_form .form-control {
    width: 100%;
}

.profit.btn-default {
    color: #333333;
    background-color: white;
    border: 1px solid #cccccc;
}
.profit.btn-default:not(.active):hover {
    color: #cccccc;
    z-index: 0;
}
.profit.btn-default.active,
.profit.btn-default.active:hover {
    color: #2e5f8b;
    background-color: white;
    border: 1px solid #2e5f8b !important;
    z-index: 3;
}
.mrg-b-14 {
    margin-bottom: 14px !important;
}

.irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider {
    background: url(../img/sprite-skin-flat.png) repeat-x;
}

.irs-bar {
    background-position: 0 -60px;
}

.irs-bar-edge {
    background-position: 0 -90px;
}

.irs-slider {
    background-position: 0 -120px;
}

.irs-from, .irs-to, .irs-single {
    background: #45b6af;
}

.irs-from:after, .irs-to:after, .irs-single:after {
    border-top-color: #45b6af;
}

.cabinet-payment .irs-with-grid, .link-payment .irs-with-grid {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.out-view-page {
    background-color: #fff;
}

.out-view-page .navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.out-view-page .page-content-in.p-center.pad-pdf-p {
    background-color: #fff;
    border: 1px solid #ccc;
}

.profit.btn-default {
    color: #333333;
    background-color: white;
    border: 1px solid #cccccc;
}

.profit.btn-default:not(.active):hover {
    color: #cccccc;
    z-index: 0;
}

.profit.btn-default.active,
.profit.btn-default.active:hover {
    color: #2e5f8b;
    background-color: white;
    border: 1px solid #2e5f8b !important;
    z-index: 3;
}

/* five columns layout */
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 16.66%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 16.66%;
        float: left;
    }
}
/* five columns layout */
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 16.66%;
        float: left;
    }
}

.price-list-view .header {
    background-color: #fff;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.price-list-view .header .header-text {
    margin-left: -15px;
    color: #777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    width: 25%;
    display: inline-block;
}

.price-list-view .header .main-text {
    width: 50%;
    display: inline-block;
    text-align: center;
    color: #777;
    font-size: 15px;
}

.price-list-view .container-fluid {
    padding-bottom: 10px;
    padding-top: 10px;
}

.price-list-view .header .company-logo {
    display: inline-block;
    width: 25%;
}

.price-list-view .header .company-logo > img {
    display: block;
    margin: 0 auto;
}

.price-list-view .document {
    box-sizing: content-box;
    min-height: 626px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-left: 60px !important;
    padding-right: 60px !important;
    overflow: hidden;
    zoom: 1;
    padding: 20px;
    padding-top: 40px !important;
    width: 675px;
    margin-left: auto;
    margin-right: auto;
}

.price-list-view .document table th,
.price-list-view .document table td {
    border: 1px solid #000000;
    padding: 2px 4px;
    font-size: 9pt;
}

#user-email-dropdown .search-contractors {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.field-auto-payment > .checkbox {
    margin: 0;
}

table.flow-of-funds tbody td.hover {
    background-color: rgba(0, 135, 255, 0.1);
}

table.flow-of-funds tbody td.hover-checked {
    background-color: rgba(0, 135, 255, 0.1);
}

.items-table-block .portlet-title .filter {
    display: inline-block;
    float: right;
    margin-right: 2px;
    padding-top: 4px;
}

.items-table-block .portlet-title .filter a {
    padding: 3px 9px;
    font-size: 13px;
    line-height: 1.5;
    background: 0 0 !important;
    border: 1px solid #def1ff;
    color: #def1ff;
    position: relative;
    top: 3px;
    margin: 0 5px;
}

.items-table-block .portlet-title .filter a.active {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.li-border .dropdown.open > .dropdown-toggle {
    background: none;
    color: #0d638f;
    border-color: transparent;
}

.li-border .dropdown.open > .dropdown-toggle:hover {
    color: #fff;
}

.pad-car .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 14px;
    left: auto;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.odds-report-header .li-border > li {
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    margin-right: 5px;
}

.odds-report-header .li-border > li > a:hover {
    cursor: pointer;
    background: #4276a4;
    color: #ffffff;
}

.odds-report-header .li-border > li:hover {
    background: #4276a4
}

.odds-report-header .li-border > .active > a {
    color: #ffffff !important;
    cursor: pointer !important;
    background-color: #4276a4 !important;
}

.odds-report-header .li-border > li {
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    margin-right: 5px;
}

.odds-report-header .li-border > .active > a:hover {
    color: #ffffff !important;
    cursor: pointer !important;
    background-color: #4276a4 !important;
    border: none !important;
}

.odds-report-header .li-border > li > a {
    padding: 7px 15px;
    border: none;
    text-align: center;
    min-width: 234px;
}

.odds-report-header .li-border > li {
    color: #4276a4;
    border: 1px solid #4276a4 !important;
    background-color: #fff;
}

.segmentation-tabs {
    border-bottom: none;
}

.min-w-190 {
    min-width: 190px !important;
}

.contract-essence-template_block {
    display: inline-block;
    margin-left: 50px;
}

.contract-essence-template_block .invoice-contract_essence_template > label {
    margin: 5px 10px;
}

.contract-essence-template-tooltip {
    font-size: 14px;
    margin-bottom: 10px;
}

.download-odds-xls,
.add-item-payment-calendar,
.auto-plan-items,
.settings-balance-panel-trigger,
.undo-auto-plan-items {
    padding: 3px 9px;
    font-size: 13px;
    line-height: 1.5;
    background: 0 0 !important;
    border: 1px solid #def1ff !important;
    color: #def1ff !important;
    position: relative;
    top: 3px;
    margin: 0 5px;
    text-decoration: none !important;
}

.undo-auto-plan-items {
    width: 144px;
}

.taxrobot-top-link {
    font-size: 14px;
}

.plan_item-form {
    margin-top: 30px;
}

#plancashflows-payment_type > label,
#plancashflows-flow_type > label {
    display: inline-block;
    min-width: 80px;
}

.field-plancashflows-payment_type {
    margin-bottom: 0;
}

.field-plancashflows-isrepeated label {
    vertical-align: top;
}

#plancashflows-contractor_id,
#plancashflows-expenditure_item_id,
#plancashflows-income_item_id,
#plancashflows-period {
    height: auto;
}

form#js-plan_cash_flow_form #select2-seller_contractor_id-container > .select2-selection__clear,
form#js-plan_cash_flow_form #select2-customer_contractor_id-container > .select2-selection__clear {
    top: -0.1em;
}

.plan_item-panel .form-actions {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: 10px 0 10px 15px;
    z-index: 10;
}

form#js-plan_cash_flow_form .form-group.has-error {
    margin-bottom: 25px;
}

form#js-plan_cash_flow_form .has-success .select2-container--krajee .select2-selection {
    border-bottom: 2px solid #27a4b0;
}

.field-plancashflows-income_item_id.has-success,
.field-customer_contractor_id .has-success {
    color: #27a4b0 !important;
}

.auto-plan-items.active {
    margin-right: 104px;
    width: 144px;
    text-align: center;
}

.range-deviation_block {
    width: 30%;
    display: inline-block;
    margin-top: 13px;
}

#range-deviation_input {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#range-deviation_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #033561;
    cursor: pointer;
}

#range-deviation_input::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #033561;
    cursor: pointer;
}

#deviation-text {
    display: inline-block;
    min-width: 33px;
    color: white;
    position: relative;
    top: -3px;
    margin-right: 10px;
    margin-left: 15px;
}

td.filter-deviation {
    background: #ffffff !important;
}

#payment-reminder-message-contractor-pjax .actions > button {
    padding: 3px 9px;
    font-size: 13px;
    line-height: 1.5;
    background: 0 0 !important;
    border: 1px solid #def1ff !important;
    color: #def1ff !important;
    position: relative;
    top: 3px;
    margin: 0 5px;
    text-decoration: none !important;
}

.payment-reminder-block #summary-container {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    background: #fff;
    margin-left: -20px;
}

.payment-reminder-block #summary-container .summary-info {
    font-weight: bold;
    width: calc(100% - 275px);
    border: 1px solid #4276a4;
    border-bottom-color: rgb(66, 118, 164);
    margin: 0 20px;
}

form#js-plan_cash_flow_form .form-group.field-plancashflows-payment_type.has-error {
    margin-bottom: 0;
}

form#js-plan_cash_flow_form .form-group.form-md-line-input .help-block {
    opacity: 1 !important;
}

#auto_plan_all-end-plan-date {
    display: inline-block;
    width: 210px;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    top: -115px;
    left: 77%;
    border: 1px solid #ddd;
    text-align: center;
}

.darkblue-invert {
    color: #4276a4 !important;
    border: 1px solid #4276a4 !important;
    background-color: #fff !important;
}

.darkblue-invert:hover {
    color: #426997 !important;
    border: 1px solid #426997 !important;
}

.darkblue-invert-hover-blue:active,
.darkblue-invert-hover-blue:hover {
    color: #fff !important;
    background: #4276a4 !important;
    transition: background-color 50ms linear;
}

.tariff-block-wrapper {
    cursor: default;
}

.price-list-checkout {
    display: block;
    height: 70px;
    border: 1px solid #4276a4;
    margin-bottom: 10px;
    text-decoration: none;
}

#buttons-bar-fixed-top-right {
    position: fixed;
    z-index: 9999;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    top: 0;
    width: calc(50% - 400px);
    text-align: center;
}
#buttons-bar-fixed-top-right a {
    display: block;
}

.price-list-checkout > table {
    height: 100%;
}

.price-list-checkout .image-block {
    width: 50px;
    height: 50px;
    border-radius: 25px !important;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #4276a4;
}

.price-list-checkout .text-block {
    vertical-align: middle;
    text-align: center;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

@media (max-width: 1280px) {
    #buttons-bar-fixed-top-right {
        width: auto;
    }
    .price-list-checkout .text-block {
        display: none;
    }
    .price-list-checkout {
        padding-right: 10px;
    }
}
@media (max-width: 1024px) {
    #buttons-bar-fixed-top-right {
        padding: 10px 10px 5px 5px;
    }
    #buttons-bar-fixed-top-right a {
        display: inline-block;
        width: 70px;
    }
}

.price-list-checkout .image-block > div {
    background-repeat: no-repeat;
    background-size: 70% !important;
}

.price-list-checkout:hover {
    background-color: #4276a4 !important;
    border: 1px solid #4276a4;
    border-right: 1px solid #fff !important;
    text-decoration: none;
}

.price-list-checkout:hover .text-block {
    color: #fff !important;
}

.price-list-checkout:hover .image-block {
    background-color: #fff !important;
}

.price-list-checkout .image-block > div {
    background-image: url('/img/icons/shopping-cart-w.png');
}

.price-list-checkout:hover .image-block > div {
    background-image: url('/img/icons/shopping-cart-b.png');
}

.banking-modal-scroll-down {
    cursor: pointer;
}

.auto-plan-items_portlet-title {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    padding: 6px 0 9px 0;
    color: #fff;
}
.banking-modal-scroll-down {
    cursor:pointer;
}
.deleted-auto-plan-item {
    position: absolute;
    height: 3px;
    width: 90%;
    border-bottom: 1px solid;
    margin-top: 7px;
    margin-right: 50px;
}

.duplicate-contractor.active {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

#change_status_modal {
    width: 690px !important;
}

.edit-company_rs-item {
    z-index: 1234555;
}

.select2-results__option.selected:not(.select2-results__option--highlighted) {
    color: rgb(49, 112, 143) !important;
    background-color: rgb(217, 237, 247) !important;
}

.balance-report-table tbody td {
    white-space: nowrap;
}

.update-balance-item-panel {
    position: absolute;
    top: 439px;
    left: 33px;
    width: 95%;
    background: #f9f9f9;
    padding: 10px 15px;
    box-shadow: 0 0 5px #848484;
    display: none;
    z-index: 100;
}

.update-balance-item-panel .month-block {
    width: 8%;
    display: inline-block;
}

.update-balance-item-panel .month-block .name {
    display: block;
    width: 100%;
}

.update-balance-item-panel .buttons {
    width: 100%;
    margin-top: 15px;
}

.update-balance-item-panel .buttons a,
.update-balance-item-panel .buttons button {
    color: #ffffff;
}

.balance-report-table tr.active-balance {
    background-color: #4276a41a !important;
}

.taxcom-banner {
    width: 100%;
    margin: 10px 0;
}

.field-cashbankflowsform-is_prepaid_expense .col-md-9,
.field-cashorderflows-is_prepaid_expense .col-md-9 {
    margin-left: 0;
    position: relative;
    top: -9px;
}

.gray-darkblue {
    background: #ccc;
    transition: background-color .1s;
}

.gray-darkblue:hover {
    background: #4276a4;
    transition: background-color .1s;
}

#debt-report-menu .dropdown-menu:before,
#debt-report-menu .dropdown-menu:after {
    left: 198px;
}

#debt-report-menu .dropdown-menu li:hover {
    border-bottom: none;
}

.charts-expenses .expenses-chart > div,
.charts-expenses .structure-chart > div {
    height: 250px;
}

#add-first-contractor .suggestions-hint {
    color: red;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .active {
    background-color: #3979b2;
}

.page-sidebar .page-sidebar-menu li > a.add-folder > .fa-plus,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a.add-folder > .fa-plus {
    float: right;
    margin-top: 4px;
}
#side-menu-dirs {
    background-color: #467eaf !important;
}
#side-menu-dirs .scrollable {
    overflow-y: auto;
    max-height: 510px;
}
#side-menu-dirs .img-doc-folder, #side-menu-dirs i {
    margin-top:-4px;
    margin-right:4px;
    font-size: 18px;
}
#side-menu-dirs .directory-wrapper {
    position: relative;
    border: 1px solid #467eaf;
}
#side-menu-dirs a.directory {
    display: block;
    position:relative;
    color:#fff;
    padding:8px 45px 8px 43px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow-x: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
#side-menu-dirs a.directory:hover,
#side-menu-dirs a.directory:focus,
#side-menu-dirs a.directory:active {
    text-decoration: none;
    background-color: #3c6c95 !important;
}
#side-menu-dirs a.directory.active {
    background-color: #3c6c95 !important;
}
#side-menu-dirs .directory-options {
    display: none;
    position: absolute;
    color:#fff;
    right: 12px;
    top:12px;
    cursor:pointer;
}
#side-menu-dirs .directory-wrapper:hover .directory {
    background-color: #3c6c95 !important;
}
#side-menu-dirs .directory-wrapper.active-opt .directory-options,
#side-menu-dirs .directory-wrapper:hover .directory-options {
    display: block;
}
.contractor-in-block .opposite-checkbox {
    text-align: right;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .active {
    background-color: #3979b2;
}
.page-sidebar .page-sidebar-menu li > a.add-folder > .fa-plus,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a.add-folder > .fa-plus {
    float:right;
    margin-top:4px;
}

/* Upload Manager */
.upload-manager .navbar {
    border-bottom: 2px solid #e7ecf1;
    margin-bottom: 15px;
}

.upload-manager .dropdown-menu > li > a {
    text-overflow: ellipsis;
    overflow: hidden;
}

.upload-manager .scroll-table-wrapper {
    padding-right: 2px;
}

.uploaded_files_table {
    border-top: 2px solid #e7ecf1;
    border-bottom: 1px solid #e7ecf1;
    border-left: none;
    border-right: none;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.uploaded_files_table td {
    font-size: 14px;
}

.uploaded_files_table tr.heading > th {
    background-color: #fff !important;
    border-bottom: 1px solid #e7ecf1;
    vertical-align: bottom;
}

.uploaded_files_table td {
    border-top: none !important;
    height: 34px;
}

.uploaded_files_table td .select2-container {
    display: none;
}

.uploaded_files_table tr:hover .select2-container,
.uploaded_files_table td .select2-container--open {
    display: block !important;
}

.uploaded_files_table .attached-document {
    width: 0;
    min-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.upload-manager .darkblue-gray {
    color: #999 !important;
    border: 1px solid #cecece !important;
    background-color: #fff !important;
}

.upload-manager .darkblue-gray i {
    color: #999 !important;
}

.upload-manager .darkblue-gray:hover,
.upload-manager .darkblue-gray:focus,
.upload-manager .darkblue-gray:active {
    color: #999 !important;
    border: 1px solid #cecece !important;
}

.upload-manager .joint-operations {
    padding-top: 0 !important;
}

.upload-manager .joint-operations .btn {
    height: 34px;
    padding: 6px 8px;
    font-size: 14px;
}

.joint-operations .dropdown-menu li > a.group-attach-files-to,
.joint-operations .dropdown-menu li > a.group-attach-files-to:hover,
.joint-operations .dropdown-menu li > a.group-attach-files-to:active,
.joint-operations .dropdown-menu li > a.group-attach-files-to:focus {
    cursor: default;
    font-weight: bold;
    color: #000 !important;
    border-left: none !important;
    border-right: none !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    background-color: #fff !important;
}

.joint-operations .dropdown-menu li > a.group-attach-files-to:first-child {
    border-top: none !important;
}

#update-repeated-operations label {
    display: block;
}

#update-repeated-operations label input {
    margin-left: -9px;
}

.badge-blue {
    background-color: #41b5ae;
}

.upload-manager .upload-header {
    margin-top: 30px;
}

.upload-manager .upload-block {
    border: 1px solid #999;
    padding: 10px;
    --margin: 10px;
}

.upload-block .ub-header {
    min-height: 80px;
    font-size: 18px;
    text-align: center;
}

.upload-block .ub-body {
    min-height: 160px;
    margin-top: 20px;
    text-align: center;
}

.upload-block .ub-footer {
    min-height: 100px;
    margin-top: 20px;
    text-align: center;
}

.upload-block .ub-footer .ub-download-permanent {
    margin: 42px 0 10px 0;
}

.upload-manager .ub-body .icon {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.upload-manager .darkblue {
    color: #fff;
}

#email-upload-modal .content-table {
    margin-bottom: 20px;
}

#email-upload-modal .content-table td.icon {
    width: 20%;
    text-align: center;
    vertical-align: middle;
}

.dz-upload-scan .dz-message {
    margin: 15px 0;
}

.close-confirm-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
}

#modal-attach-image .btn {
    width: auto !important;
}

/* --- */

.contractor-in-block .opposite-checkbox {
    text-align: right;
}

.field-contractor-opposite #uniform-contractor-opposite {
    margin-right: 0 !important;
}

.field-contractor-opposite .tooltip2-opposite {
    position: absolute;
    display: block;
    right: -15px;
    top: 3px;
}

@media (max-width: 992px) {
    .field-contractor-opposite .opposite-checkbox {
        text-align: left;
    }

    .field-contractor-opposite .tooltip2-opposite {
        position: relative;
        display: inline-block;
        margin: -6px 5px;
        vertical-align: middle;
        top: 0;
        right: 0;
    }
}

#contractor-menu li.dropdown.tab-label-dropdown {
    position: relative;
}

#contractor-menu li.dropdown.tab-label-dropdown a.dropdown-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    width: 25px;
    padding: 10px 0;
    text-align: center;
    border-left: 1px solid #4276a4;
    background: transparent;
}

#contractor-menu li.dropdown.tab-label-dropdown.active a.dropdown-toggle {
    border-left-color: #fff;
    color: #fff;
}

#contractor-menu li.dropdown.tab-label-dropdown ul.dropdown-menu {
    right: 10px;
    left: 10px;
    min-width: 100px;
}

#contractor-menu li.dropdown.tab-label-dropdown ul.dropdown-menu:before {
    right: 4px;
    left: auto;
}

#contractor-menu li.dropdown.tab-label-dropdown ul.dropdown-menu:after {
    right: 5px;
    left: auto;
}

.opt-contractor {
    position: relative;
    display: block;
    width: 100%;
}

.opt-contractor .name {
    padding: 0;
}

.opt-contractor .kpp {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    font-size: 11px;
    font-style: italic;
    color: #999;
}

#table-for-invoice .weight_column td,
#table-for-invoice .volume_column td {
    text-align: left;
    padding-left: 0;
    padding-top: 7px;
}

#table-for-invoice .weight_column td.val,
#table-for-invoice .volume_column td.val {
    text-align: right;
    padding-left: 8px;
}

/** AGENT **/
#select2-agent-buyer-results .select2-results__option:first-child {
    background: #ffb848;
    color: #fff;
}

#table-for-agent .icon-close {
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
}

#table-for-agent .buyer-name {
    max-width: 0px;
}

#table-for-agent .buyer-start-date {
    position: relative;
}

#table-for-agent .btn-add-line {
    width: 40px;
    padding: 5px 0;
}

#table-for-agent .btn-add-line i {
    font-size: 23px;
}

#table-for-agent .buyer-name .form-control {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col-agent-report {
    text-align: right;
    vertical-align: middle !important;
    font-size: 14px;
}

.btn.no-sum {
    background-color: #ccc !important;
}

#invoice-account-number {
    display: inline-block;
    width: 130px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    zoom: 1;
}

.new-document-invoice {
    display: inline-block;
}

@media (max-width: 1260px) {
    .new-document-invoice {
        display: block;
        width: 100%;
        margin-top: 15px;
    }
}

#invoice-under-date {
    width: 130px;
}

.select2-dropdown {
    border: 1px solid #4276a4 !important;
}

.portlet-title .status-inactive, .portlet-title .status-active {
    display: block;
    float: right;
    width: 24px;
    height: 24px;
    margin: 8px 3px 0 0;
    border-radius: 12px !important;
}

.portlet-title .status-active {
    background: #05b905;
}

.portlet-title .status-inactive {
    background: red;
}

#get-yandex-direct-report {
    display: inline-block;
    float: right;
}

#get-yandex-direct-report .form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#get-yandex-direct-report .yd-input {
    width: 85%;
    display: inline-block;
    float: right;
}

#get-yandex-direct-report label {
    padding-top: 5px;
    width: 20px;
    text-align: center !important;
}

.yd-title {
    display: inline-block;
    vertical-align: top;
}

select#invoice-nds_view_type_id {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 !important;
    display: inline-block !important;
    width: auto !important;
    border: 0;
    border-bottom: 1px dashed #000;
    line-height: 18px !important;
    background-color: transparent !important;
}

.red-haze.btn {
    color: white;
    background-color: #f3565d;
}

.red-haze.btn:hover,
.red-haze.btn:active {
    color: white;
    background-color: #dd4e54;
}

.red-haze.btn:focus {
    color: white;
    background-color: #d04d54;
}

#add-from-exists .store-dropdown {
    border: none;
    background-color: #fff;
    border-bottom: 1px dashed #666;
    font-size: 18px;
}

.refresh-banking-statements {
    padding-left: 10px;
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 1px;
}

.refresh-banking-statements:hover, .refresh-banking-statements:active, .refresh-banking-statements:focus {
    text-decoration: none !important;
}

.joint-operations .document-many-send-dropdown .dropdown-menu {
    right: 230px !important;
}

.field-articleform-customer .contractors-drop-down,
.field-articleform-seller .contractors-drop-down {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: white;
    border: 1px solid #cecece;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 100%;
}

.field-articleform-customer .contractors-drop-down .arrow-block,
.field-articleform-seller .contractors-drop-down .arrow-block {
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    height: 32px;
    top: 1px;
    right: 0;
    width: 20px;
}

.field-articleform-customer .dropdown.open .contractors-drop-down .arrow-block,
.field-articleform-seller .dropdown.open .contractors-drop-down .arrow-block {
    background: transparent;
    border: none;
}

.field-articleform-customer .contractors-drop-down .arrow-block .arrow,
.field-articleform-seller .contractors-drop-down .arrow-block .arrow {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.field-articleform-customer .dropdown.open .contractors-drop-down .arrow-block .arrow,
.field-articleform-seller .dropdown.open .contractors-drop-down .arrow-block .arrow {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}

.field-articleform-customer .dropdown-menu,
.field-articleform-seller .dropdown-menu {
    width: 100%;
    max-height: 150px;
    overflow-y: hidden;
    box-shadow: none;
    z-index: 10052;
    border-color: #cecece;
    border-bottom: 0;
    margin-top: -1px;
}

.field-articleform-customer .dropdown-menu::before,
.field-articleform-seller .dropdown-menu::before,
.field-articleform-customer .dropdown-menu::after,
.field-articleform-seller .dropdown-menu::after {
    content: none;
}

.field-articleform-customer .dropdown-menu li,
.field-articleform-seller .dropdown-menu li {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.field-articleform-customer .dropdown-menu li .contractor-name,
.field-articleform-seller .dropdown-menu li .contractor-name {
    margin-left: 10px;
}

.field-articleform-customer .dropdown-menu li.disabled,
.field-articleform-seller .dropdown-menu li.disabled {
    background: #e3e3e3;
}

.contractors-drop-down .clear {
    float: right;
    right: 15px;
    top: 2px;
    font-size: 12px;
    cursor: pointer;
}

.field-articleform-customer .dropdown-menu::-webkit-scrollbar,
.field-articleform-seller .dropdown-menu::-webkit-scrollbar {
    width: 5px;
}
#balancearticleform-useful_life_in_month,
#updatebalancearticleform-useful_life_in_month {
    display: inline-block;
    width: 78%;
}

.field-balancearticleform-useful_life_in_month .post-label,
.field-balancearticleform-amount .post-label,
.field-updatebalancearticleform-useful_life_in_month .post-label,
.field-updatebalancearticleform-amount .post-label {
    margin-left: 10px;
}

#balancearticleform-amount,
#updatebalancearticleform-amount {
    display: inline-block;
    width: 90%;
}
.swal-icon--success__hide-corners {
    display: none;
}

.swal-icon--success:after, .swal-icon--success:before {
    content: none;
}

.clear-search {
    color: #000;
    position: absolute;
    z-index: 1;
    right: 80px;
    top: 9px;
    font-size: 12px;
    cursor: pointer;
}

.item-border-top td {
    border-top: 1px solid #ababab!important;
}

.item-border-bottom td {
    border-bottom: 1px solid #ababab!important;
}
.price-list-index .total-amount-select {
    display: none;
}
.form-price-list .portlet > .portlet-title {
    border-bottom: none;
}
.form-price-list .caption table {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}
.form-price-list .help-block {
    color: #e73d4a!important;
    font-size: 13px!important;
    font-weight: normal!important;
}
.form-price-list .include-columns_list > label {
    display: block;
    margin: 10px 10px 10px 0;
}
.form-price-list #stockCollapse label,
.form-price-list #pricelist-sort_type > label {
    display: block;
    margin: 10px 10px 10px 0;
}
.form-price-list .include_type_id .form-md-line-input {
    padding-top: 0;
    margin-top: 10px;
}
.price-list-options label > label {
    margin-bottom: 0;
}
#price-list-form table#table-for-invoice .summ_column {
    display: none!important;
}
#price-list-form table#table-for-invoice {
    border: none;
}
#price-list-form table#table-for-invoice th {
    background-color: #eee!important;
}
#price-list-form table#table-for-invoice .col_article .order-param-value,
#price-list-form table#table-for-invoice .col_group .order-param-value,
#price-list-form table#table-for-invoice .col_quantity .order-param-value,
#price-list-form table#table-for-invoice .col_comment .order-param-value,
#price-list-form table#table-for-invoice .col_unit_name .order-param-value {
    border-bottom: 1px solid #c2cad8;
    color: #555555;
    box-shadow: none;
    padding: 1px 0;
    height: auto;
    font-size: 14px;
    min-height: 23px;
}

.form-price-list .main-caption {
    display: block;
    font-size:16px;
    font-weight: bold;
    margin-top:10px;
}

.table-price-list th {
    text-align: center;
}
.table-price-list th,
.table-price-list td {
    border: 1px solid #000 !important;
    padding: 2px 4px;
}
.main-text {
    font-size: 15px;
}
.form-price-list .select2-container .select2-selection--single {
    height: 34px!important;
    padding: 6px 24px 6px 12px!important;
    border: 1px solid #ccc!important;
}
.form-price-list .select2-container .select2-selection--single .select2-selection__arrow {
    height: 32px!important;
}
.order-param-value.product-discount,
.order-param-value.product-markup {
    font-size: 14px;
}

.out-order-document-form {
    width: 600px;
    padding-top: 25px;
}
.show-pricelist-modal {
    cursor: pointer;
}
#pricelist-image-modal .product-name {
    font-size: 33px;
    line-height: 1;
    margin-bottom: 10px;
}
#pricelist-image-modal .product-group {
    display: inline-block;
}
#pricelist-image-modal .product-price,
#pricelist-image-modal .product-price-r {
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
}
#pricelist-image-modal .product-description {

}
#pricelist-image-modal .product-caption {
    display: inline-block;
    font-weight: bold;
    width: 70px;
}
#pricelist-image-modal .image-small {
    width: 49%;
    padding: 1%;
    vertical-align: middle;
    display: inline-block;
}
#pricelist-image-modal .image > img,
#pricelist-image-modal .image-small > img {
    width: 100%;
}
.show-pricelist-modal:hover {
    background-color: #f5f5f5;
}
#produc-table_length > label {
    margin: 0;
    padding: 0;
}
#produc-table_length {
    margin-top: 4px;
}
#produc-table_length select {
    margin-bottom: 2px;
}

.button-regular {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 10px 12px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Corpid E3 SCd", sans-serif;
  line-height: 1.2;
  text-align: center;
  color: #001424;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #e2e5eb;
  background-color: #ffffff;
}

.button-regular .svg-icon {
  position: relative;
  font-size: 16px;
}

.button-regular .svg-icon + span {
  margin-left: 8px;
}

.button-regular .svg-icon_shevron {
  font-size: 12px;
}

.button-regular .svg-icon_absolute {
  font-size: 12px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.button-regular:hover {
  text-decoration: none;
  color: #001424;
}

.button-regular_red {
  border-color: #4679AE;
  background-color: #4679AE;
  color: #fff;
}

.button-regular_red:hover {
  background-color: #335A82;
  border-color: #335A82;
  color: #fff;
}

.button-regular_padding_medium {
  padding-left: 15px;
  padding-right: 15px;
}

.button-regular_padding_bigger {
  padding-left: 20px;
  padding-right: 20px;
}

.button-regular_padding_large {
  padding-left: 25px;
  padding-right: 25px;
}

.button-regular.text-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.button-regular_width_360 {
  width: 360px;
}

.button-regular_border_transparent {
  border-color: transparent;
}

.button-regular_border_width_1 {
  border-width: 1px;
}

.button-regular_border_bottom_grey {
  border: none;
  border-bottom: 2px solid #e2e5eb;
}

.button-hover-red:hover {
  background-color: #335A82;
  border-color: #335A82;
  color: #fff;
}

.button-hover-dark:hover {
  background-color: #001424;
  border-color: #001424;
  color: #fff;
}

.button-hover-content-red:hover {
  color: #335A82;
}

.button-hover-content-red:hover .svg-icon {
  color: #335A82;
}

.button-hover-transparent:hover {
  background-color: #f2f3f7;
}

.button-hover-grey:hover {
  border-color: #e2e5eb;
  background-color: #e2e5eb;
  color: #bac1c8;
}

.button-disabled {
  background-color: #e2e5eb;
  border-color: #e2e5eb;
  color: #bac1c8;
}

.button-disabled:hover {
  cursor: default;
  border-color: #e2e5eb;
  background-color: #e2e5eb;
  color: #bac1c8;
}

.button-red {
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  color: #fff;
  line-height: 1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #4679AE;
}

.button-red:hover {
  color: #fff;
  text-decoration: none;
}

.button-red_small {
  padding: 15px;
}

.button-grey-light {
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  color: #bac1c8;
  line-height: 1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e2e5eb;
}

.button-grey-light:hover {
  text-decoration: none;
  color: #bac1c8;
}

.button-edit {
  display: inline-block;
}

.button-regular-more .button-txt + .svg-icon {
  margin-left: 10px;
}

.button-regular-more .svg-icon {
  color: #bbc1c7;
  font-size: 12px;
}

.button-dotted {
  border: 2px dotted #0097fd;
}

.button-hover-dark:hover {
  background-color: #001424;
  border-color: #001424;
  color: #fff;
}


#update-repeated-operations label {
    display: block;
}

#update-repeated-operations label input {
    margin-left: -9px;
}
.uploaded_files_table td {
    height:34px;
}
.uploaded_files_table td .select2-container {
    display:none;
}
.uploaded_files_table tr:hover .select2-container,
.uploaded_files_table td .select2-container--open {
    display:block!important;
}
.uploaded_files_table .attached-document {
    width:97%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
.joint-operations .dropdown-menu li > a.group-attach-files-to,
.joint-operations .dropdown-menu li > a.group-attach-files-to:hover,
.joint-operations .dropdown-menu li > a.group-attach-files-to:active,
.joint-operations .dropdown-menu li > a.group-attach-files-to:focus
{
    cursor: default;
    font-weight: bold;
    color: #000 !important;
    border-left: none !important;
    border-right: none !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    background-color: #fff !important;
}
.badge-blue {
    background-color: #41b5ae;
}
#invoice-account-number {
    display: inline-block;
    width: 130px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    zoom: 1;
}
.new-document-invoice {
    display: inline-block;
}
@media (max-width:1260px) {
    .new-document-invoice {
        display:block;
        width:100%;
        margin-top:15px;
    }
}
#invoice-under-date {
    width:130px;
}

.unknown_product {
    padding-right: 15px;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

.loader span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 35px 5px;
    opacity: 0;
}

@keyframes opacitychange {
    0%, 100% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}

.loader span:nth-child(1) {
    animation: opacitychange 1s ease-in-out infinite;
}

.loader span:nth-child(2) {
    animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3) {
    animation: opacitychange 1s ease-in-out 0.66s infinite;
}

.page-header-theme {
    display: block;
    float: left;
    height: 46px;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    color: #ffffff;
}

@media (max-width: 1400px) {
    .page-header-theme {
        width: 50px;
        padding-left: 0px;
        padding-right: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 1064px) {
    .page-header-theme {
        display: none;
    }
}

@media (max-width: 1166px) and (min-width: 992px) {
    .page-header-theme {
        padding-left: 20px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 700px) {
    .page-header-theme {
        display: none;
    }
}

.taxrobot-pay-panel {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    width: 400px;
    height: 100%;
    filter: alpha(opacity=85);
    background-color: #ffffff;
}

.taxrobot-pay-panel {
    z-index: 10051;
}

.taxrobot-pay-panel {
    border-left: 1px solid #e4e4e4;
}

.taxrobot-pay-panel .main-block {
    padding: 20px 30px 10px 30px;
    position: absolute;
    width: 100%;
    height: 95%;
    overflow-y: scroll;
}

.taxrobot-pay-panel .header {
    text-align: left;
    font-size: 21px;
    font-weight: 700;
}

.taxrobot-pay-panel .side-panel-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    opacity: 1;
}

.tariff-price > del {
    font-size: 24px;
    color: red;
}

.taxrobot-pay-panel .main-content {
    padding-top: 14px;
}

.modal .job-header {
    margin: 0;
}

.modal .job-transaction-block {
    font-size: 16px;
    text-align: center;
}

.modal .form-actions {
    margin-top: 20px;
}

.modal .form-actions a {
    color: #ffffff !important;
}

.contractor-invoice-dossier {
    margin-left: 5px;
}

.pull-right .contractor-invoice-dossier {
    margin-left: 0;
}

.contractor-invoice-dossier, .contractor-invoice-dossier:hover,
.contractor-invoice-dossier:focus {
    padding-left: 36px;
    background: url(../img/dossier.svg) no-repeat 14px center !important;
    background-size: auto 50% !important;
}

.contractor-invoice-dossier.verified, .contractor-invoice-dossier.verified:hover {
    background: url(../img/clipboard.svg) no-repeat 10px center !important;
    background-size: auto 60% !important;
}

#w3 + .contractor-invoice-dossier {
    margin-left: 20px;
}

.dossier-bg {
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    background: url(../img/dossier.svg) no-repeat center center;
    background-size: 100%;
}

.form-group .contractor-invoice-dossier {
    width: 211px;
}
.upload-manager-index .filter-block {
    padding:0;
}
.upload-manager-index .filter-block a.darkblue-gray:hover,
.upload-manager-index .filter-block a.darkblue-gray:active,
.upload-manager-index .filter-block a.darkblue-gray:visited {
    color: #999 !important;
    border: 1px solid #cecece !important;
}
.upload-manager-index .filter-block a.darkblue-gray {
    height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    margin-right: 15px;
}

.field-articleform-customer .dropdown-menu .itemsBlock,
.field-articleform-seller .dropdown-menu .itemsBlock {
    overflow-y: auto;
    max-height: 100px;
    padding-left: 0;
    width: 100%;
}

#article-modal-container .modal-body {
    overflow-y: auto;
}

.field-articleform-customer .select2-selection li,
.field-articleform-seller .select2-selection li {
    max-width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field-articleform-customer .select2-search__field,
.field-articleform-seller .select2-search__field {
    width: 370px!important;
}

#select2-article-customers-results,
#select2-article-sellers-results {
    max-height: 180px!important;
}

.field-articleform-customer .select2-selection.select2-selection--multiple .select2-selection__rendered,
.field-articleform-seller .select2-selection.select2-selection--multiple .select2-selection__rendered {
    max-height: 85px;
    overflow-y: auto;
}

.swal-icon--success__hide-corners {
    display: none;
}

.swal-icon--success:after, .swal-icon--success:before {
    content: none;
}

.clear-search {
    color: #000;
    position: absolute;
    z-index: 1;
    right: 80px;
    top: 9px;
    font-size: 12px;
    cursor: pointer;
}

.item-border-top td {
    border-top: 1px solid #ababab!important;
}

.item-border-bottom td {
    border-bottom: 1px solid #ababab!important;
}