.select2-results__option form.expenditure-item-name-form .input-wrapper {
	position: relative;
	margin-right: 40px;
}
.select2-results__option form.expenditure-item-name-form input[type="text"] {
	display: inline-block;
	width: 100%;
	margin: -3px;
	color: #333;
}
.select2-results__option .item-name {
	margin-right: 40px;
}
