.export-form-wrap .load_button button {
    position: relative;
    float: left;
}
.export-form-wrap .load_button {
    overflow: hidden;
}
.progress-status {
    position: relative;
    float: left;
    width: 65%;
    margin-left: 20px;
    padding: 0 !important;
}
.dataTables_wrapper.horisontal-scroll {
    overflow-x: scroll;
}
.export-progressbar {
    padding: 0 !important;
}
.progress-status label {
    position: relative;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}
.addTemplate {
    float: right;
    padding-top: 10px;
}
.btn.yellow > i {
    padding-left: 10px;
}
.selectedDopColumns {
    display: none;
}
.upload-button.btn {
    margin-top: 5px;
}