.rightPanel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(51, 51, 51, 0.8);
    flex-direction: column;
    overflow: hidden;
    display: none;
}

.rightPanel .main-block {
    position: relative;
    top: 0;
    right: 0;
    margin-left: auto;
    width: 503px;
    padding: 25px 30px 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    background-color: #fff;
    transition: linear .6s;
    overflow-y: auto;
}

.rightPanel .loader {
    margin: auto;
}

.rightPanel .side-panel-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}

.side-panel-close:before, .side-panel-close:after {
    content: ' ';
    position: absolute;
    top: -3px;
    left: 10px;
    height: 30px;
    width: 2px;
    background-color: #333;
}

.side-panel-close:before {
    transform: rotate(45deg);
}

.side-panel-close:after {
    transform: rotate(-45deg);
}