.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.form-block {
    padding-top: 10px;
    border-bottom: 1px solid #e4e4e4;
}

.form-block .email-label {
    width: auto;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}

.form-block .form-group {
    display: inline-block;
    margin-bottom: 10px;
}

.form-block .form-control[readonly] {
    border: 0;
    background: transparent;
}

#sendMessageContent .btn-danger:first-child {
    padding-left: 10px; /*padding-right:5px;*/
}

.btn-danger[disabled] .ladda-label {
    margin-right: 5px;
}

#sendMessageContent .btn-danger:hover, #sendMessageContent .btn-danger:focus, #sendMessageContent .btn-danger:active, #sendMessageContent .btn-danger.active {
    background-color: #4276a4;
}

#sendMessageContent .dropdown-toggle-split {
    padding-left: 2px;
}

#sendMessageContent .dropdown-menu {
    border: 1px solid #ddd;
}

#sendMessageContent .dropup {
    display: inline-block !important;
}

.dropdown-menu a {
    display: block;
    margin: 5px;
    padding: 5px;
}


.send-message-panel .tagsinput #emailletterform-to_tag,
.send-message-panel .tagsinput #emailletterform-sendcopy_tag {
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.send-message-panel .tagsinput .tag,
.send-message-panel .tagsinput .tag {
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    background: #dbdbdb;
    border: 1px solid #dbdbdb;
    border-radius: 50px !important;
    color: #666666;
    padding: 3px 6px;
}

.send-message-panel .tagsinput .tag a,
.send-message-panel .tagsinput .tag a {
    color: #666666;
}

.send-message-panel .tagsinput {
    border: 0 !important;
    padding: 0 5px;
}

.send-message-panel .tagsinput {
    padding-top: 9px;
}

.tagsinput:hover #emailletterform-to_addTag input,
.tagsinput:hover #emailletterform-sendcopy_addTag input {
    display: block;
}

.tagsinput #emailletterform-to_addTag input:focus,
.tagsinput #emailletterform-sendcopy_addTag input:focus {
    display: block;
}

#emailletterform-to_addTag,
#emailletterform-to_tag,
#emailletterform-copy_addTag,
#emailletterform-copy_tag {
    width: 100% !important;
}

.integration-row .portlet-body {
    height: 205px;
    display: flex;
    flex-direction: column;
}

.integration-row .portlet-body > * {
    flex-grow: 1;
}

.integration-row .portlet-body > .btn {
    flex-grow: 0;
}

.amoCustom {
    padding-left: 16px;
}

.dataTable td img {
    max-height: 100px;
    max-width: 100px;
}
.dataTable td ul {
    padding-left:20px;
}
