
<style type="text/css">
    .out-view-page .navbar-default .navbar-brand {
        font-size: 11pt;
        text-transform: uppercase;
        font-weight: 700 !important;
        line-height: <?= $this->params['canSave'] ? 2.7 : 1.7 ?>;
        color: #4276a4!important;
    }
    .out-view-page .navbar-default .navbar-collapse {
        margin-left: 270px;
    }
    .out-view-page .navbar-default .navbar-nav > li > a:not(.document-pay-link) {
        font-size: 11pt;
        color: #4276a4!important;
        font-weight: 700 !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .out-view-page .navbar-default .navbar-nav > li > a > i.fa {
        top: <?= $this->params['canSave'] ? '2px' : '-5px'; ?>;
        position: relative;
        font-size: 2em!important;
    }
    .out-view-page .navbar-default .navbar-nav > li > a > span {
        bottom: <?= $this->params['canSave'] ? '3px' : '10px'; ?>;
        position: relative;
    }
    .out-view-page .navbar-nav {
        margin: 0 auto;
        width: 100%;
        float: none;
    }
    .out-view-page .navbar-nav > li {
        width: 24%;
        text-align: center;
    }
    .out-view-page .navbar-nav > li.out-view-item {
        max-width: 275px;
    }
    .out-view-page .navbar-nav > li.out-view-item-save {
        float: right;
    }
    .out-view-page .navbar-nav > li a.document-pay-link {
        width: 125px;
        margin: 15px auto auto;
        padding: 7px 14px;
        background: #4276a4;
        color: #ffffff !important;
    }
    .out-view-page .navbar-nav > li a.document-pay-link:hover {
        background: #4276a4;
    }

    @media (min-width: 1350px) {
        .out-view-page .navbar-default .navbar-collapse {
            margin-left: calc((100vw - 900px)/2);
        }
    }
    @media (max-width: 1119px) {
        .out-view-page .navbar-default .navbar-collapse {
            margin-left: 0;
        }
        .out-view-page .navbar-collapse.collapse {
            display: none !important;
        }
        .out-view-page .navbar-collapse.collapse.in {
            display: block !important;
        }
        .out-view-page .navbar-header .collapse, .navbar-toggle {
            display:block !important;
        }
        .out-view-page .navbar-header {
            float:none;
        }
        .out-view-page .navbar-nav,
        .out-view-page .navbar-nav.nav > li {
            width: 100%;
            float: none;
            text-align: left;
        }
        .out-view-page .navbar-nav.nav > li > a:not(.document-pay-link) {
            position: relative;
            display: block;
            margin: 10px 0;
            padding: 0;
        }
        .out-view-page .navbar-nav.nav > li a.document-pay-link {
            margin-top: 5px;
            margin-left: 5px;
        }
        .out-view-page .navbar-nav.nav > li:last-child {
            margin-bottom: 10px;
        }
    }

    @media (min-width: 1120px) {
        .out-view-page .navbar-nav > li.out-view-item-save {
            width: calc((100vw - 857px)/2);
        }
        .out-view-page .navbar-default .navbar-nav > li > a > span.save-link {
            bottom: 13px;
            position: relative;
            width: 160px;
            display: inline-table;
        }
    }

    #out-view-shading {
        z-index: 10050;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        opacity: 0;
    }

    #document-save-wrapper, #document-pay-wrapper {
        font-family: "Open Sans", sans-serif;
        z-index: 10051;
        position: fixed;
        top: 0;
        right: -400px;
        bottom: 0;
        left: auto;
        width: 400px;
        background-color: #fff;
        max-height: 100%;
        overflow-y: auto;
        box-shadow: rgba(51, 45, 179, 0.098) 0px 10px 30px, rgba(32, 46, 113, 0.1) 0px 5px 5px;
    }

    #document-save-header, #document-pay-header {
        position: relative;
        padding: 25px 15px 15px 15px;
        font-size: 21px;
        font-weight: 700;
        line-height: 27px;
    }

    #document-save-content {
        padding: 15px;
    }

    #document-save-content .form-header {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    #document-save-close, #document-pay-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background-size: 12px 12px;
        width: 12px;
        height: 12px;
        opacity: 1;
    }

    #invoiceoutviewform-taxationtype label {
        display: block;
    }

    input#invoiceoutviewform-password, input#invoiceoutviewform-username {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #document-pay-content .pay-block {
        padding: 10px 15px;
    }

    #document-pay-content .pay-block.pay-link {
        cursor: pointer;
    }

    #document-pay-content .pay-block table {
        width: 100%;
        vertical-align: middle;
    }
    #document-pay-content .pay-block table td {
        padding: 0;
        margin: 0;
        border-width: 0;
        vertical-align: middle;
    }
    #document-pay-content .pay-block .main-text {
        font-size: 14px;
        font-weight: 600;
    }

    #document-pay-content .pay-block .additional-text {
        font-size: 12px;
    }

    #document-pay-content .pay-block .hover-text {
        opacity: 0;
    }
    #document-pay-content .pay-block:hover .hover-text {
        opacity: 1;
    }

    #document-pay-content .pay-block.pay-link:hover {
        background-color: #a1e1e1;
    }
</style>