form[name=rentEntity] textarea {
    height: 112px;
}

div.field-categoryId {
    float: left;
    width: 48%;
}

div.field-ownerId {
    float: right;
    width: 48%;
}

#ajax-category {
    margin-bottom: 10px;
}

#ajax-category .loader {
    display: block;
    margin: auto;
    height: 25px;
}

#ajax-category select {
    height: 44px;
}

.form-group.left, .form-group.right{
    width: 48%;
}

.form-group.left {
    float: left;
}

.form-group.right {
    float: right;
}

#ajax-category .full-width,
#ajax-price .full-width{
    float: none;
    width: 100%;
}

.form-group > div > label {
    margin-right: 15px;
}

th.today {
    border-top: 1px solid green !important;
}

th.today, td.today {
    position: relative;
    border-right: 1px solid green !important;
}

th.today:before, td.today:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    padding-bottom: 1px;
    background: green;
    box-sizing: content-box;
}

tbody tr:last-child .today {
    border-bottom: 1px solid green !important;
}

td.rented {
    text-align: center !important;
    background: #b6f2b2;
}

td.rented a {
    white-space: nowrap;
}

.rent-popup {
    display: none;
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -112px;
    width: 224px;
    padding: 15px;
    text-align: left;
    background: white;
    border: 1px solid #aaa;
    z-index: 300000;
}

.rent-popup p {
    margin-bottom: 3px;
    color: black;
    font-size: 0.95em;
}

.triangle {
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -8px;
    fill: #fff;
    stroke: #ccc;
}

#rent-add .loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
}

#rent-add .loader img {
    width: 15%;
}

.row.info p {
    display: block;
    float: left;
    width: 50%;
}

.row.image img {
    margin-right: 2%;
}

.popup-dropdown {
    margin-right: 12px;
}

#summary-container .button-clr {
    vertical-align: bottom;
}

td.day {
    width: 53px;
    min-width: 53px;
}

.table-settings {
    margin-top: 0 !important;
}

#block-additional-fields {
    display: none;
}