#side-menu-dirs {
    background-color: #467eaf !important;
}
#side-menu-dirs .scrollable {
    overflow-y: auto;
    max-height: 510px;
}
#side-menu-dirs .img-doc-folder, #side-menu-dirs i {
    margin-top:-4px;
    margin-right:4px;
    font-size: 18px;
}
#side-menu-dirs .directory-wrapper {
    position: relative;
    border: 1px solid #467eaf;
}
#side-menu-dirs a.directory {
    display: block;
    position:relative;
    color:#fff;
    padding:8px 45px 8px 43px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
#side-menu-dirs a.directory:hover,
#side-menu-dirs a.directory:focus,
#side-menu-dirs a.directory:active {
    text-decoration: none;
    background-color: #3c6c95 !important;
}
#side-menu-dirs a.directory.active {
    background-color: #3c6c95 !important;
}
#side-menu-dirs .directory-options {
    display: none;
    position: absolute;
    color:#fff;
    right: 12px;
    top:12px;
    cursor:pointer;
}
#side-menu-dirs .directory-wrapper:hover .directory {
    background-color: #3c6c95 !important;
}
#side-menu-dirs .directory-wrapper.active-opt .directory-options,
#side-menu-dirs .directory-wrapper:hover .directory-options {
    display: block;
}
#side-menu-dirs .directory-wrapper.active-opt {
    border:1px solid #fff;
}

#side-menu-dirs .new-directory-wrapper {
    text-align: left;
    padding: 12px 0 12px 43px;
    font-style: italic;
}
#side-menu-dirs .new-directory-wrapper > span,
#side-menu-dirs .new-directory-wrapper > a {
    color: #fff;
}

#side-menu-dirs .directory-wrapper .badge {
    float: right;
    margin-top: 1px;
    margin-right: 0;
    position: absolute;
    right: 13px;
    top: 6px;
    background: none;
}
#side-menu-dirs .directory-wrapper:hover .badge,
#side-menu-dirs .directory-wrapper.active-opt .badge {
    display:none;
}

/* Add directory modal */

#select2-directory-employers-results .select2-search__field {
    width: auto!important;
}
#select2-directory-employers-results .select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
}
#s2-togall-directory-employers .s2-select-label i:before,
#s2-togall-directory-employers .s2-unselect-label i:before,
#select2-directory-employers-results .select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 18px;
    width: 18px;
    border: 1px solid #d9d9d9 !important;
    border-radius: 0;
    background-color: #fff;
    margin-right: 8px;
    margin-left: 1px;
    vertical-align: middle;
}
#s2-togall-directory-employers .s2-unselect-label i:before,
#select2-directory-employers-results .select2-results__option[aria-selected=true]:before {
    background-image: url('/img/documents/ico-check.png');
}

#s2-togall-directory-employers .s2-select-label i,
#s2-togall-directory-employers .s2-unselect-label i {
    margin-right: 0;
    margin-left: 1px;
}
#s2-togall-directory-employers .s2-select-label,
#s2-togall-directory-employers .s2-unselect-label {
    vertical-align: middle;
    color: #333;
}
#s2-togall-directory-employers {
    width: 97%;
    margin: 0 5px;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none !important;
}
#s2-togall-directory-employers + .select2-results {
    margin:0;
}
#unable-delete-folder-modal .btn {
    color:#fff;
}
.field-directory-employers .select2-search__field {
    width:185px!important;
    min-width:185px!important;
}
.field-directory-employers .select2-search__field[placeholder=""] {
    width:0!important;
    min-width:0!important;
}
.dropdown-attach-image {
    width: 272px!important;
    margin-left: -150px;
}