.page-header.navbar .page-logo {
    display: none;
}
.page-scan-preview {
    position:fixed;
    width:40%;
}
@media (max-width: 992px) {
    .page-scan-preview {
        position: relative;
        width:100%;
        max-height:480px!important;
    }
}
.page-content-wrapper .page-content {
    margin-left:40%
}
.page-sidebar {
    border-right:1px solid #999;
    background-color:#fff;
}
.page-scan-preview .slider-header {
    padding-top:10px;
    height: 45px!important;
}
.page-scan-preview .slider-body {
}
.page-scan-preview .nextPage,
.page-scan-preview .prevPage
{
    float:right;
    cursor: pointer;
    margin-left: 10px;
}
.page-scan-preview .num-page-wrap {
    float:right;
    margin-left: 10px;
}
.page-scan-preview .num-page-wrap,
.page-scan-preview .file-name {
    padding-top: 1px;
    line-height: 1.2;
}
.issuu-embed-container {
    position: relative;
    padding-bottom: 100%; /* set the aspect ratio here as (height / width) * 100% */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.issuu-embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.issuu-img-container {
    position: relative;
    overflow: auto;
}
.issuu-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.page-scan-preview .zoomIn,
.page-scan-preview .zoomOut {
    position: absolute;
    right:45px;
    width:50px;
    height:25px;
    text-align: center;
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    opacity: .75;
}
.page-scan-preview .zoomIn:hover,
.page-scan-preview .zoomOut:hover {
    background-color: #eee;
}
.page-scan-preview .zoomIn i,
.page-scan-preview .zoomOut i {
    font-size:18px;
    color:#aaa;
    padding-top:2px;
}
.page-scan-preview .zoomIn {
    bottom:80px;
    border-top-left-radius: 8px!important;
    border-top-right-radius: 8px!important;
}
.page-scan-preview .zoomOut {
    bottom:50px;
    border-bottom-left-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
}

.page-scan-preview .closePage {
    float: right;
    font-size: 22px;
    color: #999;
    margin-top: -8px;
    margin-left:40px;
    cursor: pointer;
}
.page-scan-preview .closePage > a {
    color:#999;
    text-decoration:none;
}
.page-scan-preview .closePage > a:hover,
.page-scan-preview .closePage > a:active,
.page-scan-preview .closePage > a:focus {
    color:#666;
    text-decoration:none;
}
.slider-header .dropdown,
.slider-header .btn {
    float:right;
    height:28px;
    margin:0 5px;
}
.slider-header .actions {
    text-align: center;
}
.page-scan-preview .file-name {
    font-weight: bold;
}
.page-scan-preview .file-name > span {
    font-size:10px;
    font-weight: normal;
}
.close-preview {
    display: block;
    position: relative;
    width: 12px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    transition: all 300ms ease;
    top:2px;
}
.close-preview:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background-color: #999;
    content: "";
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.close-preview:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background-color: #999;
    content: "";
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.close-attach-page {
    position: relative;
    margin-left:40%;
}
@media (max-width: 991px) {
    .close-attach-page {
        margin-left:0;
    }
}
.close-attach-page-left {
    position:absolute;
    margin-left:20px;
    top:10px;
    left:0;
    z-index:2;
}
.close-attach-page-right {
    position:absolute;
    top:0;
    right:0;
    margin-right:20px;
    z-index:2;
}


/** FIX */
#table-for-invoice > tbody td {
    vertical-align: top;
}
input[type=search]::-webkit-search-cancel-button {
    position:relative;
    right:0px;
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg style="fill:rgb(170,170,170)" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 47.971 47.971"><path d="M28.228 23.986L47.092 5.122a2.998 2.998 0 0 0 0-4.242 2.998 2.998 0 0 0-4.242 0L23.986 19.744 5.121.88a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l18.865 18.864L.879 42.85a2.998 2.998 0 1 0 4.242 4.241l18.865-18.864L42.85 47.091c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879a2.998 2.998 0 0 0 0-4.242L28.228 23.986z"></path></svg>');
}